{% extends "dashboard.html" %}

{% load humanize %}
{% load carton_tags %}

{% block extra_head_script %}

    {{ block.super }}

    <!-- Javascript -->
    <script type="text/javascript">
        function no_photo(image) {
            image.onerror = "";
            image.src = '{{STATIC_URL}}images/noimage.jpg';
            return true;
        }
    </script>
{% endblock extra_head_script %}


{% block body %}
    {{block.super}}

    <div class="tab-bg">
        <div class="container">
            <div class="bs-example bs-example-tabs">
                <ul id="myTab" class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="/product-search/" role="tab">Search</a>
                    </li>
                    <li class=""><a href="/order-history/" id="order_history">Product Order History</a>
                    </li>
                    <li class=""><a href="/history/" id="history">Search History</a>
                    </li>
                    <!--<li class=""><a href="{% url 'dashboard' %}" id="dealerexchange">Dealer Exchange</a>-->
                    <!--</li>-->
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div id="container">
        <div class="row checkout">
            <div class="col-sm-12 list">
                <div class="col-sm-8 item-list">
                    {% get_cart as cart %}
                    {% for manufacturer in item_list|dictsort:'name' %}
                    <div class="col-sm-12 mfr">
                    <p class="top">Order from <span>{{ manufacturer.name }}</span></p>

                        <div class="col-sm-8 details">
                        {% for item in manufacturer.items %}
                            <div class="item col-sm-12" id="{{ item.product.id }}">
                                <div class="col-sm-4">
                                <img src="
                                {% if item.product.distributor.name == 'Dealer Direct' or item.product.distributor.name == 'Dealer Exchange' %}
                                {{ item.product.productlistingimage_set.all.0.image.url}}
                                {% else %}
                                {{ item.product.get_thumb_grid_image_url }}
                                {% endif %}
                                " onerror='no_photo(this)' >
                            </div>
                                <div class="col-sm-7 listing-info">
                                <p class="nm">{{ item.product }}</p>
                                <p class="qty">
                                    Quantity:<label><input type="text" value="{{ item.quantity }}" disabled></label>
                                    <button class="edit">edit</button>
                                </p>
                                <p class="unit">Unit Price: <span>${{ item.price|floatformat:2|intcomma }}</span></p>
                                <p class="unit">Total Price: <span>${{ item.subtotal|floatformat:2|intcomma }}</span></p>
                                <button class="remove">Remove</button>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                        <div class=" col-sm-4 shipping">

                            <p class="total">Total Cost: <span>${{ manufacturer.subtotal|floatformat:2|intcomma }}</span></p>
                        </div>

                    </div>
                    {% empty %}
                    <div class="mfr">
                    <p class="top">Checkout cart is empty.</span></p>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-sm-4 order">
                    <p class="subtotal">Subtotal: <span>${{ cart.total|floatformat:2|intcomma }}</span></p>
                    <!--<p class="fees">Total Shipping Fees: <span>$0.00</span></p>
                    <p class="fees">Total Transaction Fees: <span>$0.00</span></p>
                    <p class="total">Grand Total: <span>${{ cart.total|floatformat:2|intcomma }}</span></p>-->
                    <a href="#processing-gif" class="checkout_button continue-btn" >Continue</a>
                </div>
            </div>
            
        </div>
        <div class="processing" id="processing-gif" style="opacity: 0.5">
            <style type='text/css'>@-webkit-keyframes uil-default-anim { 0% { opacity: 1} 100% {opacity: 0} }@keyframes uil-default-anim { 0% { opacity: 1} 100% {opacity: 0} }.uil-default-css > div:nth-of-type(1){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.5s;animation-delay: -0.5s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(2){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.4166666666666667s;animation-delay: -0.4166666666666667s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(3){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.33333333333333337s;animation-delay: -0.33333333333333337s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(4){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.25s;animation-delay: -0.25s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(5){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.16666666666666669s;animation-delay: -0.16666666666666669s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(6){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.08333333333333331s;animation-delay: -0.08333333333333331s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(7){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0s;animation-delay: 0s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(8){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.08333333333333337s;animation-delay: 0.08333333333333337s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(9){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.16666666666666663s;animation-delay: 0.16666666666666663s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(10){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.25s;animation-delay: 0.25s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(11){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.33333333333333337s;animation-delay: 0.33333333333333337s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(12){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.41666666666666663s;animation-delay: 0.41666666666666663s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}</style><div class='uil-default-css' style='transform:scale(1);'><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(0deg) translate(0,-60px);transform:rotate(0deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(30deg) translate(0,-60px);transform:rotate(30deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(60deg) translate(0,-60px);transform:rotate(60deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(90deg) translate(0,-60px);transform:rotate(90deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(120deg) translate(0,-60px);transform:rotate(120deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(150deg) translate(0,-60px);transform:rotate(150deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(180deg) translate(0,-60px);transform:rotate(180deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(210deg) translate(0,-60px);transform:rotate(210deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(240deg) translate(0,-60px);transform:rotate(240deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(270deg) translate(0,-60px);transform:rotate(270deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(300deg) translate(0,-60px);transform:rotate(300deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(330deg) translate(0,-60px);transform:rotate(330deg) translate(0,-60px);border-radius:10px;position:absolute;'></div></div>
            <p>Processing...Please Wait</p>
        </div>

        <div id="spacer"></div>

    </div>

{% endblock body %}

{% block body_script %}
{{ block.super }}
<script>
    var csrftoken = $.cookie('csrftoken');
    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    /*$('#shipping-options').ajaxForm();*/

    var r_attachListeners = null;
    r_attachListeners = function(){
        $(".checkout_button").click(function() {
           window.location.href = "{% url 'view_payment' %}";
            /*$('#shipping-options').ajaxSubmit({
                success: function(data) {
                    if(data['success']) {
                        window.location.href = "{% url 'view_payment' %}";
                    }
                },
                error: function(data) {
                    console.log(data);
                }
            });*/
        });

        $('.qty input').change(function() {
            var new_qty = $(this).val();
            var product_id = $(this).closest('.item').attr('id');
            var re = /^[0-9]+$/;
            if(re.test(new_qty) && new_qty > 0) {
                $.ajax({
                    type: "GET",
                    url: "/cart-update-product/",
                    data: {
                        product_id: product_id,
                        new_qty: new_qty,
                    },
                    returnType: 'text',
                    success: function(data) {
                        console.log(data);
                         $('.checkout').load(document.URL + ' .list', function() {
                            r_attachListeners();
                        });
                    }
                });
            }
        });

        $('.remove').click(function() {
            var product_id = $(this).closest('.item').attr('id');
            $.ajax({
                type: "GET",
                url: "/cart-remove-product/",
                data: {
                    product_id: product_id,
                },
                success: function(data) {
                    console.log(data);
                    $('.checkout').load(document.URL + ' .list', function() {
                        r_attachListeners();
                    });
                }
            });
        });

        $('.edit').click(function() {
            var input = $(this).siblings('label').find('input');
            $(input).prop('disabled', false);
            $(input).css({
                'border': 'thin silver solid',
                'width': '40px'
            });
            $(input).focus();
        })
    };
    $(document).ready(function() {
        r_attachListeners();
    });

    $("a.continue-btn").fancybox({
        padding: 0,
        modal : true,
        helpers : {
            overlay : {
                css : {
                    'background' : 'rgba(58, 42, 45, 0.1)'
                }
            }
        },
        css : {
            'background' : 'rgba(58, 42, 45, 0.2)','opacity':'1'
        },
        afterShow: function () {
            $('.fancybox-skin').css({'box-shadow' :'none','background':'rgba(255,255,255,0.5)'});
            $('.processing').css({'background' : 'rgba(204,204,204, 0.7)','opacity' : '1'});
        }


    });

</script>

{% endblock body_script %}
