<div id="current-page" data-page={{current_page}}>
</div>

{% if num_pages > 1 %}
    <ul class="pagination">
{% else %}
    <ul class="pagination" style="display:none">
{% endif %}
    <li>
        <a href="#" id="first-page" class="page-number" data-page=1>First</a>
    </li>
    <li>
        <a href="#" id="prev-page">&laquo; Previous</a>
    </li>
    {% for page in pagination_range %}
        <li>
            <a href="#" id="page-{{page}}" class="page-number {%if page == current_page%}current-page{% endif %}" data-page={{page}}>
                {{page}}
            </a>
        </li>
    {% endfor %}
    <li>
        <a href="#" id="next-page">Next &raquo;</a>
    </li>
    <li>
        <a href="#" id="last-page" class="page-number" data-page={{num_pages}}>Last</a>
    </li>
</ul>

<div class="clearfix">&nbsp;</div>
