{% extends "dashboard.html" %}

{% block extra_head_script %}

    {{ block.super }}
    
    <script src="{{ STATIC_URL }}js/jquery.creditCardValidator.js"></script>
{% endblock extra_head_script %}

{% block body %}
    {{block.super}}
<!--<link rel="stylesheet"
      type="text/css"
      href="{{ STATIC_URL }}css/shipping.css" />-->

    <div class="tab-bg">
        <div class="container ">
            <div class="bs-example bs-example-tabs">
                <ul id="myTab" class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="/product-search/" role="tab">Search</a>
                    </li>
                    <li class=""><a href="/order-history/" id="order_history">Product Order History</a>
                    </li>
                    <li class=""><a href="/history/" id="history">Search History</a>
                    </li>
                    <!-- <li class=""><a href="{% url 'dashboard' %}" id="dealerexchange">Dealer Exchange</a>
                    </li> -->
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    
    <div id="container" class="payment-container">
        <div id="alert-success" class="alert alert-success hidden" role="alert">
            <span class="message"></span>
            <button type="button" class="btn-hide close"><span>&times;</span></button>
        </div>
        <div id="alert-error" class="alert alert-danger hidden" role="alert">
            <span class="message"></span>
            <button type="button" class="btn-hide close"><span>&times;</span></button>
        </div>

        <div id="shipping">

            <ul class="address">
                <li class="billing-address">
                    <p class="sb">Billing Address</p>
                    <p class="place">{{ userprofile.ffl_mailing_address|default:"[No specified address]" }}</p>
                    <!--<p>Second line here</p>-->
                    <button class="edit">edit</button>
                    <form id="edit_address" action="{% url 'update_billing_address' %}" method="post">
                        <label>{{ change_address_form.street_address }}</label>
                        <label>{{ change_address_form.city }}</label>
                        <label>{{ change_address_form.state }}</label>
                        <label>{{ change_address_form.zip }}</label>
                        <div>
                            <button type="button" class="up">Update</button>
                            <span class="loading hidden"><img src="{{ STATIC_URL }}images/loading.gif"></span>
                        </div>
                    </form>
                </li>
                <li class="shipping-address">
                    <p class="sb">Shipping Address</p>
                    <p class="place">{{ userprofile.ffl_premise_address|default:"[No specified address]" }}</p>
                    <!--<p>Second line here</p>-->
                    <p class="notice">The shipping address is the premise address from your FFL and cannot be edited.
                        Please get in contact with customer service if you have questions regarding this
                    </p>
                </li>
                <li class="proceed">
                        <p class="no-payment">To proceed, please add a payment method.</p>
                        <a href="#processing-gif" class="continue-btn">Continue</a>
                        <p>You can review this order before it is final</p>
                </li>
            </ul>

        </div>

        <div id="payment">
            <p class="shopping_cart">Select Payment Method</p>
    
            <ul class="payment-top-ul">
                <li>
                    <div class="form">
                    <div class="cards">
                        <form id="payment-method-form" action="{% url 'view_payment' %}" method="post">
                        <ul class="first_row">
                            <li class="dc">Your credit / debit cards</li>
                            <li>Name on card</li>
                            <li class="exp">Expires on</li>
                        </ul>
                        
                        {% for wallet in card_wallets %}
                            <div class="clearfix"></div>
                            <div class="card_row">
                                <div class="details">
                                    <a class="remove" href="#confirm-delete" data-id="{{ wallet.id }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                                    <label><input type="radio" class="selected_method has-cards" name="selected_method" value="{{ wallet.id }}" {% if forloop.first %}checked{% endif %}></label>
                                    <button>Credit</button>
                                    <span class="card_type">Credit Card</span>
                                    <span>ending in {{ wallet.masked_card_number }}</span>
                                </div>
                                <div>{{ wallet.account_name }}</div>
                                <div class="exp_date">{{ wallet.expiration_month }}/{{ wallet.expiration_year }}</div>

                            </div>
                        {% empty %}
                            <input type="hidden" class="selected_method" name="selected_method" value=""/>
                            <div class="card_row">
                                <p class="scroll-to" id="show-add-card">Add a card</p>
                            </div>
                        {% endfor %}
                        <div class="accounts">
                            <div class="clearfix"></div>
                            <ul class="first_row checking">
                                <li class="dc">Your checking accounts</li>
                                <li>Routing Number</li>
                                <li class="exp">Account number</li>
                            </ul>

                            {% for wallet in bank_wallets %}
                            <div class="card_row">
                                <div class="details">
                                <a class="remove" href="#confirm-delete" data-id="{{ wallet.id }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                                <label ><input type="radio" class="selected_method has-ac" name="selected_method" value="{{ wallet.id }}"></label>
                                    <button>Bank</button>
                                    <span class="card_type">Bank account</span>
                                    <span>{{ wallet.account_name }}</span>
                                </div>
                                <div>{{ wallet.routing_number }}</div>
                                <div class="exp_date">{{ wallet.account_number }}</div>

                            </div>
                            {% empty %}
                            <div class="card_row">
                                <input type="hidden" class="selected_method" name="selected_method" value=""/>
                                <p class="scroll-to" id="show-add-ac">Add Checking Account</p>
                            </div>
                            {% endfor %}
                            <div class="clearfix"></div>
                        </div>
                        </form>
                    </div>
                    </div>
                    <div class="add_payment">
                        <p class="first_p add-mtd">Add Payment Method</p>
                        <p class="cdc">Credit / Debit Cards<br /><button class="show_form" id="show_form">Add a card</button></p>
                        <form class="add_card_form" action="{% url 'add_wallet' %}" method="post">
                            <div>
                                <label>{{ card_form.name_on_card }}</label>
                                <label>{{ card_form.card_number }}</label>
                            </div>
                            <div>
                                <label>{{ card_form.zip_code }}</label>
                                <label>{{ card_form.cvv }}</label>
                                <label>{{ card_form.expiration_month }}</label>
                                <label>{{ card_form.expiration_year }}</label>
                            {% if userprofile.ffl_design_employee %}
                            </div>
                            <div>
                                <label>{{ card_form.represented_by_sales_rep }}Represented by Sales Rep</label>
                                <label>{{ card_form.salesforce_account_email }}</label>
                            {% endif %}
                                <div class="add_button">
                                    <button class="add_card button_gradient" type="button">Add your card</button>
                                    <span class="loading hidden"><img src="{{ STATIC_URL }}images/loading.gif"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="add_payment add_ac">
                        <p class="cdc">Bank Account<br /><button class="show_form" id="show-ac-form">Add a checking account</button></p>

                        <form class="add_ac_form" action="{% url 'add_wallet' %}" method="post">
                            <img src="{{ STATIC_URL }}images/show.png">
                            <div>
                                <label>{{ bankacct_form.name }}</label>
                                <label>{{ bankacct_form.routing_num }}</label>
                            </div>
                            
                            <div>
                                <label>{{ bankacct_form.account_num }}</label>
                                <p id="ac_help_text" class="help_text">{{ bankacct_form.account_num.help_text }}</p>
                                <label>{{ bankacct_form.account_num2 }}</label>
                                <p id="ac2_help_text" class="help_text">{{ bankacct_form.account_num2.help_text }}</p>
                            </div>
                            {% if userprofile.ffl_design_employee %}
                            <div>
                                <label>{{ bankacct_form.represented_by_sales_rep }}Represented by Sales Rep</label>
                                <label>{{ bankacct_form.salesforce_account_email }}</label>
                            </div>
                            {% endif %}
                            <div class="expandable">
                                <p class="toc_ac">
                                    By clicking on the continue button, i agree to the terms and conditions of
                                    using my checking account as a payment method, which are listed below and By clicking on the continue button, i agree to the terms and
                                    conditions of using my checking account as a payment method, which are listed below and By clicking on the continue button, i agree to
                                    the terms and conditions of using my checking account as a payment method, which are listed below and

                                </p>
                                <img src="{{ STATIC_URL }}images/expand.png">
                            </div>
                            <div class="add_button">
                                <button class="add_this_ac button_gradient add_card" type="button">Add this checking account</button>
                                <span class="loading hidden"><img src="{{ STATIC_URL }}images/loading.gif"></span>
                            </div>
                        </form>
                    </div>
                </li>
            </ul>
    
        </div>
        <div class="processing" id="confirm-delete" style="opacity: 0.5">
            <p>Remove this payment method?</p>
            <button id="confirm-btn">Confirm</button>
            <button id="cancel-btn">Cancel</button>
        </div>
        <div class="processing" id="processing-gif" style="opacity: 0.5">
            <style type='text/css'>@-webkit-keyframes uil-default-anim { 0% { opacity: 1} 100% {opacity: 0} }@keyframes uil-default-anim { 0% { opacity: 1} 100% {opacity: 0} }.uil-default-css > div:nth-of-type(1){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.5s;animation-delay: -0.5s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(2){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.4166666666666667s;animation-delay: -0.4166666666666667s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(3){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.33333333333333337s;animation-delay: -0.33333333333333337s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(4){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.25s;animation-delay: -0.25s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(5){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.16666666666666669s;animation-delay: -0.16666666666666669s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(6){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.08333333333333331s;animation-delay: -0.08333333333333331s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(7){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0s;animation-delay: 0s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(8){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.08333333333333337s;animation-delay: 0.08333333333333337s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(9){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.16666666666666663s;animation-delay: 0.16666666666666663s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(10){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.25s;animation-delay: 0.25s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(11){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.33333333333333337s;animation-delay: 0.33333333333333337s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(12){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.41666666666666663s;animation-delay: 0.41666666666666663s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}</style><div class='uil-default-css' style='transform:scale(1);'><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(0deg) translate(0,-60px);transform:rotate(0deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(30deg) translate(0,-60px);transform:rotate(30deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(60deg) translate(0,-60px);transform:rotate(60deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(90deg) translate(0,-60px);transform:rotate(90deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(120deg) translate(0,-60px);transform:rotate(120deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(150deg) translate(0,-60px);transform:rotate(150deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(180deg) translate(0,-60px);transform:rotate(180deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(210deg) translate(0,-60px);transform:rotate(210deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(240deg) translate(0,-60px);transform:rotate(240deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(270deg) translate(0,-60px);transform:rotate(270deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(300deg) translate(0,-60px);transform:rotate(300deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(330deg) translate(0,-60px);transform:rotate(330deg) translate(0,-60px);border-radius:10px;position:absolute;'></div></div>
            <p>Processing...Please Wait</p>
        </div>
        <div id="spacer"></div>
    </div>

{% endblock body %}

{% block body_script %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/payment.js"></script>
    <script src="{{ STATIC_URL }}js/shipping.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.form.min.js"></script>
{% endblock body_script %}