{% load humanize %}
{% for result in results %}


    <tr class="termData">
        <td>
            <a class="product-image"
               href="#detail_{{result.pk}}">

               <img id="{{ result.pk }}"
                class="product-image-thumb-list"
                src="{{ result.thumb_list_url }}"
                onerror='no_photo(this)' />

            </a>
            <div class="detail-popup container-fluid detail-ppp" id="detail_{{result.pk}}">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="main-img"><img></div>
                        <ul class="thumbs">
                            <li class="arrow-back arrow"><img src="/static/images/back-btn2.png"></li>
                            <li><div class="img-thumbs">
                        {% if result.detail_popup_urls %}
                                {% for image in result.detail_popup_urls %}
                                <div class="img_div" onclick="$('.carousel').carousel({{ forloop.counter0 }})"><img src="{{MEDIA_URL}}{{image}}"></div>
                                {% empty %}
                                <div class="img_div"><img src="{{MEDIA_URL}}{{image}}" onerror="no_photo(this)" width=63 height=63></div>
                                {% endfor %}
                                {% else %}
                                <div class="img_div"><img src="{{ result.detail_popup_url }}" onerror="no_photo(this)" width=63 height=63></div>
                                {% endif %}
                                <!--<img src="">-->
                            </div></li>
                            <li class="arrow-forward arrow"><img src="/static/images/next-btn2.png"></li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <button class="prod-info">Product Info</button><button class="prod-info">Details</button>
                        {% if result.video_url %}
                        <button class="prod-info">Video</button>
                        {% endif %}
                        <div class="info">
                            <p class="nm">{{result.product.unique_title}}</p>
                            <p class="upc"><span>UPC/ID:</span><a class="upc_link" href="/product-search/?{{result.upc_value}}">{{result.upc_value}}</a><span class="other">(click the UPC/ID to search other suppliers with this product)</span></p>
                            {% if result.is_dealer_direct %}
                            <p class="msrp"><span>MSRP: </span>{{ result.product.upc.msrp }}</p>
                            <p class="map"><span>MAP: </span>{{ result.product.upc.map }}</p>                          
                            <p class="overview">Quick Overview</p>
                            {% endif %}
                            <p class="desc">
                            {{result.short_description}}
                            </p>

                        </div>
                        <div class="info details">
                        {% if result.is_dealer_direct or result.is_dealer_exchange %}
                            <p class="firearm-details">{{ result.listing_type }} Details</p>
                            <p>Category:<span>{{ result.product.upc.listing_category }}</span></p>
                            <p class="desc">
                                {{result.description}}
                            </p>

                            {% if result.listing_type == 'Firearm' %}
                                <p >Caliber:<span>{{ result.caliber }}</span></p>
                                <p >Capacity:<span>{{ result.capacity }}</span></p>
                                <p >Weight:<span>{{ result.weight }}</span></p>
                                <p >Barrel Length:<span>{{ result.length_barrel }}</span></p>
                                <p >Overall Length:<span>{{ result.length_overall }}</span></p>
                                <p class="finish">Finish:<span>{{ result.finish }}</span></p>
                            {% elif result.listing_type == 'Ammo' %}
                                <p >Rounds per box:<span>{{ result.product.upc.rounds }}</span></p>
                                <p >Caliber/Gauge:<span>{{ result.caliber }}</span></p>
                                <p >Weight:<span>{{ result.weight }}</span></p>
                                <p >Muzzle Velocity:<span>{{ result.product.upc.muzzle_velocity }}</span></p>
                                <p >Length:<span>{{ result.product.upc.length }}</span></p>
                                <p >Type:<span></span></p>
                            {% elif result.listing_type == 'Optics' %}
                                <p >Magnification:<span>{{ result.product.upc.magnification }}</span></p>
                                <p >Field of View:<span>{{ result.product.upc.field_of_view }}</span></p>
                                <p >Reticle:<span>{{ result.product.upc.reticle }}</span></p>
                                <p >Objective Lens:<span>{{ result.product.upc.objective_lens }}</span></p>
                                <p >Eye Relief:<span>{{ result.product.upc.eye_relief }}</span></p>
                                <p >Max Elevation Adjustment:<span>{{ result.product.upc.max_elevation_adjustment }}</span></p>
                                <p >Max Windage Adjustment:<span>{{ result.product.upc.max_windage_adjustment }}</span></p>
                                <p >Length:<span>{{ result.product.upc.length }}</span></p>
                                <p >Weight:<span>{{ result.weight }}</span></p>
                                <p >Battery:<span>{{ result.product.upc.battery }}</span></p>
                                <p >DOT Size:<span>{{ result.product.upc.dot_size }}</span></p>
                                <p >Finish:<span>{{ result.finish }}</span></p>
                            {% elif result.listing_type == 'Apparel' %}
                                <p >Size:<span>{{ result.product.upc.shirt_size }}</span></p>
                                <p >Color:<span>{{ result.product.upc.shirt_color }}</span></p>
                            {% elif result.listing_type == 'Blades' %}
                                <p >Blade Type:<span>{{ result.product.upc.blade_type }}</span></p>
                                <p >Blade Length:<span>{{ result.product.upc.blade_length }}</span></p>
                                <p >Total Length:<span>{{ result.product.upc.blade_total_length }}</span></p>
                                <p >Steel:<span>{{ result.product.upc.blade_steel }}</span></p>
                                <p >Handle Material:<span>{{ result.product.upc.blade_handle_material }}</span></p>
                                <p >Weight:<span>{{ result.weight }}</span></p>
                                <p >Edge Type:<span>{{ result.product.upc.blade_edge }}</span></p>
                            {% endif %}
                        {% else %}
                            <p >Category:<span>{{ result.category_name }}</span></p>
                            <p >Gun Type:<span>{{ result.gun_type }}</span></p>
                            <p >Manufacturer:<span>{{ result.manufacturer }}</span></p>
                            <p >Model:<span>{{ result.model_value }}</span></p>
                            <p >Action:<span>{{ result.action }}</span></p>
                            <p >Finish:<span>{{ result.finish }}</span></p>
                            <p >Stock:<span>{{ result.stock }}</span></p>
                            <p >Sights:<span>{{ result.sights }}</span></p>
                            <p >Caliber:<span>{{ result.caliber }}</span></p>
                            <p >Capacity:<span>{{ result.capacity }}</span></p>
                            <p >Weight:<span>{{ result.weight }}</span></p>
                            <p >Barrel Length:<span>{{ result.length_barrel }}</span></p>
                            <p >Overall Length:<span>{{ result.length_overall }}</span></p>
                        {% endif %} 
                        </div>
                        {% if result.video_url %}
                        <div class="video">
                            <iframe width="456" height="347"
                            src="{{result.video_url}}" frameborder="0" allowfullscreen>
                            </iframe>
                        </div>
                        {% endif %}
                        {% if result.is_featured or result.is_dealer_direct or result.distributor_name == 'Dealer Exchange' %}
                        <div class="price">
                            <p class="stock">Quantity:<span>{{result.qty}}</span></p>
                            <p class="stock">Minimum Order:<span>{{result.product.minimum_order}}</span></p>
                            <p class="stock">Days to ship:<span>{{result.product.upc.estimated_ship_days}}</span></p>
                            <p class="amount">Price:<span>${{result.price|floatformat:2|intcomma}}</span></p>
                            {% if result.bulk_tier_prices %}
                            <div class="bulk">
                                Bulk Tier Prices:
                                {% for tier in result.bulk_tier_prices %}
                                    <p>{{ tier.start }} to  {{ tier.finish }}: <span>${{ tier.cost }}</span></p>
                                {% endfor %}
                            </div>
                            {% endif %}
                            <ul class="qty">
                                <li>Quantity:</li>
                                <li><label><input id="qty" type="text" placeholder="1"></label></li>
                                <li><button class="plus">+</button><button class="plus">&#45;</button></li>
                                <!--<li><button class="advance-filter submit-btn">Add to Cart</button></li>-->
                                <li>
                                    <button class="advance-filter submit-btn" id="{{result.pk}}"
                                            type="submit"
                                            value="Add"
                                            data-upc="{{result.upc_value}}"
                                            data-manu="{{result.manufacturer}}"
                                            data-dist="{% if result.distributor_name == 'Jerry\'s Sports Center'%}{% if show_ellet %}Ellet{% else %}{{result.distributor_name}}{% endif %}{% else %}{{result.distributor_name}}{% endif %}"
                                            data-db-qty="{{result.qty}}"
                                            data-min-order="{{result.product.minimum_order}}"
                                            data-price="{{result.price}}"
                                            data-model="{{result.model_value}}">Add to Cart</button>
                                </li>
                            </ul>
                        </div>
                        {% endif %}
                </div>
            </div>
        </td>

        <td>
            <a class="product-image"
                href="#detail_{{result.pk}}">
                {{result.product.unique_title}}
            </a>
        </td>

        <td>
            {{result.caliber}}
        </td>

        <td>
            {{result.manufacturer}}
        </td>

        <td>
            {% if result.is_dealer_direct %}
                {{result.manufacturer}}
            {% else %}
                {% if result.distributor_site_url %}
                    <a target="_blank" href="{{result.distributor_site_url}}">{{result.distributor_name}}</a>
                {% else %}
                    {{result.distributor_name}}
                {% endif %}
            {% endif %}
        </td>
        <td>
            {{result.qty}}
        </td>

        <td>
            ${{result.price|floatformat:2|intcomma}}
        </td>

        {% comment %}
        <td>
            <input type="text"
                   style="width:30px"
                   id="user_qty{{result.pk}}"/>
        </td>

        <td>
            {# Only GSA Products are allowed to add to cart #}
            {% if result.distributor_name == "GSA Direct" %}
                <input class="advance-filter btn btn-default " id="{{result.pk}}"
                       type="submit"
                       value="Add"
                       data-upc="{{result.upc_value}}"
                       data-manu="{{result.manufacturer}}"
                       data-dist="{% if result.distributor_name == 'Jerry\'s Sports Center'%}{% if show_ellet %}Ellet{% else %}{{result.distributor_name}}{% endif %}{% else %}{{result.distributor_name}}{% endif %}"
                       data-db-qty="{{result.qty}}"
                       data-price="{{result.price}}"
                       data-model="{{result.model_value}}"/>
            {% endif %}
        </td>
        {% endcomment %}
        <script>

           /* $('a.product-image').fancybox({
                scrolling : "auto",
                height: "520px",
                autoScale: false,
                afterShow: function () {

                    var a = document.getElementsByClassName('fancybox-inner')[0];
                    var b = a.getElementsByClassName('detail-popup')[0];
                    var arrows = b.getElementsByClassName('arrow');
                    var img_thumbs = b.getElementsByClassName('img-thumbs')[0].getElementsByTagName('img');
                    var main_img = b.getElementsByClassName('main-img')[0].getElementsByTagName('img')[0];

                    var prod_info_btns = b.getElementsByClassName('prod-info');
                    var info_div = b.getElementsByClassName('info')[0];
                    var details_div = b.getElementsByClassName('details')[0];

                    var qty_btns = b.getElementsByClassName('plus');
                    var qty_input = b.getElementsByTagName('input')[0];
                    var submit_btn =  b.getElementsByClassName('submit-btn')[0];
                    if(submit_btn){
                        submit_btn.onclick = function(){
                            parent.$.fancybox.close();
                        };
                    }

                    if(qty_input){
                        qty_btns[0].onclick = function(){
                            qty_input.value = Number(qty_input.value)+1;
                        };

                        qty_btns[1].onclick = function(){
                            if(Number(qty_input.value) > 1) {
                                qty_input.value = Number(qty_input.value)-1;
                            }
                        };
                        qty_input.value = 1;
                    }

                    prod_info_btns[0].onclick = function(){
                        info_div.style.cssText = "display: block;";
                        details_div.style.cssText = "display: none;";
                        prod_info_btns[1].style.cssText = "background: #cfcfcf;";
                        this.style.cssText = "background: #fff;";

                    };

                    prod_info_btns[1].onclick = function(){
                        info_div.style.cssText = "display: none;";
                        details_div.style.cssText = "display: block;";
                        this.style.cssText = "background: #fff;";
                        prod_info_btns[0].style.cssText = "background: #cfcfcf;";
                    };

                    if(img_thumbs[0]){
                        main_img.src = img_thumbs[0].src;
                    }

                    if(arrows){
                        arrows[0].onclick = function(){
                            var i;
                            for(i=0; i<img_thumbs.length; i++){
                                if(img_thumbs[i].src === main_img.src) {
                                    main_img.src = img_thumbs[i-1].src;
                                    break;
                                }
                            }
                        };

                        arrows[1].onclick = function(){
                            var i;
                            for(i=0; i<img_thumbs.length; i++){
                                if(img_thumbs[i].src === main_img.src) {
                                    main_img.src = img_thumbs[i+1].src;
                                    break;
                                }
                            }
                        }
                    }



                }

            });*/
            <!--var popups = $('#detail_{{result.pk}}');-->

            <!--for(var i=0; i<popups.length; i++){-->
                <!--popup = popups[i];-->
                /*var popup = $('#detail_{{result.pk}}');
                var arrows = $(popup).find('.arrow');
                var img_thumbs = $(popup).find('.img-thumbs')[0].getElementsByTagName('img');
                var main_img = $(popup).find('.main-img')[0];

                var prod_info_btns = $(popup).find('.prod-info');
                var info_div = $(popup).find('.info')[0];
                var details_div = $(popup).find('.details')[0];

                var qty_btns = $(popup).find('.plus');
                var qty_input = $(popup).find('input')[0];*/

</script>
    </tr>
{% endfor %}
        <script>
            var a = document.getElementsByClassName('grid-hover');
            //alert(a[0].innerHTML);


            /*$("div.grid-hover").fancybox({
                padding: 0,
                modal : true,
                helpers : {
                    overlay : {
                        css : {
                            'background' : 'rgba(58, 42, 45, 0.1)'
                        }
                    }
                },
                css : {
                    'background' : 'rgba(58, 42, 45, 0.2)','opacity':'1'
                },
                href: '#processing-gif',
                afterShow: function () {
                    $('.fancybox-skin').css({'box-shadow' :'none','background':'rgba(255,255,255,0.5)'});
                    $('.processing').css({'background' : 'rgba(204,204,204, 0.7)','opacity' : '1'});
                    //document.getElementsByClassName('listing-form')[0].submit();

                }


            });*/

            $('a.product-image').fancybox({
                height: "520px",
                autoScale: false,
                afterShow: function () {

                    var a = document.getElementsByClassName('fancybox-inner')[0];
                    var b = a.getElementsByClassName('detail-popup')[0];
                    var arrows = b.getElementsByClassName('arrow');
                    var img_thumbs = b.getElementsByClassName('img-thumbs')[0].getElementsByTagName('img');
                    var main_img = b.getElementsByClassName('main-img')[0].getElementsByTagName('img')[0];

                    var prod_info_btns = b.getElementsByClassName('prod-info');
                    var info_div = b.getElementsByClassName('info')[0];
                    var details_div = b.getElementsByClassName('details')[0];
                    var price_div =b.getElementsByClassName('price')[0];

                    var qty_stock = b.getElementsByClassName('stock')[0];
                    var qty_btns = b.getElementsByClassName('plus');
                    var qty_input = b.getElementsByTagName('input')[0];
                    var submit_btn =  b.getElementsByClassName('submit-btn')[0];

                    if (prod_info_btns[2]){
                        var video_div = b.getElementsByClassName('video')[0];
                    }

                    if(submit_btn){
                        submit_btn.onclick = function(){
                            parent.$.fancybox.close();
                        };
                    }

                    if(qty_input){
                        qty_btns[0].onclick = function(){
                            qty_input.value = Number(qty_input.value)+1;
                        };

                        qty_btns[1].onclick = function(){
                            if(Number(qty_input.value) > 1) {
                                qty_input.value = Number(qty_input.value)-1;
                            }
                        };
                        qty_input.value = 1;
                    }

                    prod_info_btns[0].onclick = function(){
                        info_div.style.cssText = "display: block;";
                        price_div.style.cssText = "display: block;";
                        qty_stock.style.cssText = "display: block;";
                        details_div.style.cssText = "display: none;";
                        this.style.cssText = "background: #fff;";
                        prod_info_btns[1].style.cssText = "background: #cfcfcf;";
                        if(prod_info_btns[2]){
                            prod_info_btns[2].style.cssText = "background: #cfcfcf;";
                            video_div.style.cssText = "display: none;";
                        }
                    };

                    prod_info_btns[1].onclick = function(){
                        info_div.style.cssText = "display: none;";
                        details_div.style.cssText = "display: block;";
                        price_div.style.cssText = "display: block;";
                        qty_stock.style.cssText = "display: block;";
                        this.style.cssText = "background: #fff;";
                        prod_info_btns[0].style.cssText = "background: #cfcfcf;";
                        if(prod_info_btns[2]){
                            prod_info_btns[2].style.cssText = "background: #cfcfcf;";
                            video_div.style.cssText = "display: none;";
                        }
                    };

                    if(prod_info_btns[2]){
                        prod_info_btns[2].onclick = function(){
                            info_div.style.cssText = "display: none;";
                            details_div.style.cssText = "display: none;";
                            price_div.style.cssText = "display: none;";
                            qty_stock.style.cssText = "display: none;";
                            video_div.style.cssText = "display: block;";
                            this.style.cssText = "background: #fff;";
                            prod_info_btns[0].style.cssText = "background: #cfcfcf;";
                            prod_info_btns[1].style.cssText = "background: #cfcfcf;";
                        };
                    }

                    if(img_thumbs[0]){
                        main_img.src = img_thumbs[0].src;
                    }

                    if(arrows){
                        arrows[0].onclick = function(){
                            var i;
                            for(i=0; i<img_thumbs.length; i++){
                                if(img_thumbs[i].src === main_img.src) {
                                    main_img.src = img_thumbs[i-1].src;
                                    break;
                                }
                            }
                        };

                        arrows[1].onclick = function(){
                            var i;
                            for(i=0; i<img_thumbs.length; i++){
                                if(img_thumbs[i].src === main_img.src) {
                                    main_img.src = img_thumbs[i+1].src;
                                    break;
                                }
                            }
                        }
                    }



                }

            });


        </script>
