{% load humanize %}
{% load grid_extras %}
{% for result in results %}
    <div class="col-xs-4 termGridData">
        <a class="product-image thumb"
           href="#detail_{{result.pk}}">
           <img id="{{ result.pk }}"
                class="product-image-thumb-grid"
                src="{{ result.thumb_grid_url }}"
                onerror='no_photo(this)' />
            <div class="grid-hover">
                <img src="{{STATIC_URL}}images/search.png" class="search_icon">
                <span class="view_details">view details</span>
            </div>
        </a>
        <hr>
        <div class="row">
            <div class="col-xs-8">
                <a class="grid-model" href="#detail_{{result.pk}}" data-toggle="tooltip" data-placement="bottom" title="{{result.product.unique_title}}">
                    {{result.product.unique_title|trunc:25}}{% if result.product.unique_title|length > 25 %}...{% endif %}
                </a><br>
                {% if not result.is_dealer_exchange %}
                <span class="grid-manufacturer" data-toggle="tooltip" data-placement="bottom" title="{{result.manufacturer}}">
                    {{result.manufacturer|trunc:20}}{% if result.manufacturer|length > 20 %}...{% endif %}
                </span>
                {% else %}
                <span class="grid-manufacturer" data-toggle="tooltip" data-placement="bottom" title="{{result.distributor_name}}">
                    {{result.distributor_name|trunc:20}}{% if result.distributor_name|length > 20 %}...{% endif %}
                </span>
                {% endif %}
            </div>
            <div class="col-xs-4 details">
                <span class="grid-price pull-right">${{result.price|floatformat:2|intcomma}}</span><br>
                {% if result.is_dealer_direct %}
                <span class="grid-manufacturer pull-right" data-toggle="tooltip" data-placement="bottom" title="{{result.manufacturer}}">{{result.manufacturer}}</span>
                {% else %}
                {% if not result.is_dealer_exchange %}
                <span class="grid-manufacturer pull-right" data-toggle="tooltip" data-placement="bottom" title="{{result.distributor_name}}">{{result.distributor_name}}</span>
                {% endif %}
                {% endif %}

            </div>
        </div>
    </div>
{% endfor %}
<div class="clearfix"></div>
        <script>
            var a = document.getElementsByClassName('grid-hover');
            //alert(a[0].innerHTML);


            /*$("div.grid-hover").fancybox({
                padding: 0,
                modal : true,
                helpers : {
                    overlay : {
                        css : {
                            'background' : 'rgba(58, 42, 45, 0.1)'
                        }
                    }
                },
                css : {
                    'background' : 'rgba(58, 42, 45, 0.2)','opacity':'1'
                },
                href: '#processing-gif',
                afterShow: function () {
                    $('.fancybox-skin').css({'box-shadow' :'none','background':'rgba(255,255,255,0.5)'});
                    $('.processing').css({'background' : 'rgba(204,204,204, 0.7)','opacity' : '1'});
                    //document.getElementsByClassName('listing-form')[0].submit();

                }


            });*/

            $('a.product-image').fancybox({
                height: "520px",
                autoScale: false,
                afterShow: function () {

                    var a = document.getElementsByClassName('fancybox-inner')[0];
                    var b = a.getElementsByClassName('detail-popup')[0];
                    var arrows = b.getElementsByClassName('arrow');
                    var img_thumbs = b.getElementsByClassName('img-thumbs')[0].getElementsByTagName('img');
                    var main_img = b.getElementsByClassName('main-img')[0].getElementsByTagName('img')[0];

                    var prod_info_btns = b.getElementsByClassName('prod-info');
                    var info_div = b.getElementsByClassName('info')[0];
                    var details_div = b.getElementsByClassName('details')[0];
                    var price_div =b.getElementsByClassName('price')[0];

                    var qty_stock = b.getElementsByClassName('stock')[0];
                    var qty_btns = b.getElementsByClassName('plus');
                    var qty_input = b.getElementsByTagName('input')[0];
                    var submit_btn =  b.getElementsByClassName('submit-btn')[0];
                    var i,j;

                    img_thumbs[0].style.cssText = "border-bottom: medium #1076bc solid;";

                    if (prod_info_btns[2]){
                        var video_div = b.getElementsByClassName('video')[0];
                    }

                    if(submit_btn){
                        submit_btn.onclick = function(){
                            parent.$.fancybox.close();
                        };
                    }

                    if(qty_input){
                        qty_btns[0].onclick = function(){
                            qty_input.value = Number(qty_input.value)+1;
                        };

                        qty_btns[1].onclick = function(){
                            if(Number(qty_input.value) > 1) {
                                qty_input.value = Number(qty_input.value)-1;
                            }
                        };
                        qty_input.value = 1;
                    }

                    prod_info_btns[0].onclick = function(){
                        info_div.style.cssText = "display: block;";
                        price_div.style.cssText = "display: block;";
                        qty_stock.style.cssText = "display: block;";
                        details_div.style.cssText = "display: none;";
                        this.style.cssText = "background: #fff;";
                        prod_info_btns[1].style.cssText = "background: #cfcfcf;";
                        if(prod_info_btns[2]){
                            prod_info_btns[2].style.cssText = "background: #cfcfcf;";
                            video_div.style.cssText = "display: none;";
                        }
                    };

                    prod_info_btns[1].onclick = function(){
                        info_div.style.cssText = "display: none;";
                        details_div.style.cssText = "display: block;";
                        price_div.style.cssText = "display: block;";
                        qty_stock.style.cssText = "display: block;";
                        this.style.cssText = "background: #fff;";
                        prod_info_btns[0].style.cssText = "background: #cfcfcf;";
                        if(prod_info_btns[2]){
                            prod_info_btns[2].style.cssText = "background: #cfcfcf;";
                            video_div.style.cssText = "display: none;";
                        }
                    };

                    if(prod_info_btns[2]){
                        prod_info_btns[2].onclick = function(){
                            info_div.style.cssText = "display: none;";
                            details_div.style.cssText = "display: none;";
                            price_div.style.cssText = "display: none;";
                            qty_stock.style.cssText = "display: none;";
                            video_div.style.cssText = "display: block;";
                            this.style.cssText = "background: #fff;";
                            prod_info_btns[0].style.cssText = "background: #cfcfcf;";
                            prod_info_btns[1].style.cssText = "background: #cfcfcf;";
                        };
                    }

                    if(img_thumbs[0]){
                        main_img.src = img_thumbs[0].src;
                    }

                    if(arrows){
                        arrows[0].onclick = function(){
                            var i;
                            for(i=0; i<img_thumbs.length; i++){
                                if(img_thumbs[i].src === main_img.src) {
                                    main_img.src = img_thumbs[i-1].src;
                                    clear_marks();
                                    img_thumbs[i-1].style.cssText = "border-bottom: medium #1076bc solid;";
                                    break;
                                }
                            }
                        };

                        arrows[1].onclick = function(){
                            var i;
                            for(i=0; i<img_thumbs.length; i++){
                                if(img_thumbs[i].src === main_img.src) {
                                    main_img.src = img_thumbs[i+1].src;
                                    clear_marks();
                                    img_thumbs[i+1].style.cssText = "border-bottom: medium #1076bc solid;";
                                    break;
                                }
                            }
                        }
                    }

                    function clear_marks(){
                        for(j=0;j<img_thumbs.length; j++){
                            img_thumbs[j].style.cssText = "border-bottom: thin #cfcfcf solid;"
                        }
                    }

                    for(i=0; i<img_thumbs.length; i++) {
                        img_thumbs[i].onclick = function() {
                            main_img.src = this.src;
                            clear_marks();
                            this.style.cssText = "border-bottom: medium #1076bc solid;";

                        }
                    }



                }

            });


        </script>
