{% extends "dashboard.html" %}

{% load carton_tags %}
{% load humanize %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}lib/box/box.css" />
    {{ block.super }}
{% endblock extra_css %}

{% block body %}
    {{ block.super }}
<div class="container">
    <div class="pagination">
        <p>
            {% if page_obj.has_previous %}
            <a href="?page={{ paginator.previous_page_number }}">Previous</a>&nbsp;
            {% else %}
            Previous&nbsp;
            {% endif %}
            {% for pg in paginator.page_range %}
            {% if page_obj.number == pg %}
            <u><b><a href="?page={{ pg }}">{{ pg }}</a></b></u>&nbsp;
            {% else %}
            <a href="?page={{ pg }}">{{ pg }}</a>&nbsp;
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <a href="?page={{ paginator.next_page_number }}">Next</a>&nbsp;
            {% else %}
            Next&nbsp;
            {% endif %}
        </p>
    </div>
    <ul>
        {% for product in object_list %}
        <li>UPC: {{ product.upc_value|default:"[NO UPC]" }} - {{ product.text|default:"[NO TEXT]" }}</li>
        {% endfor %}
    </ul>
    <div class="pagination">
        <p>
            {% if page_obj.has_previous %}
            <a href="?page={{ paginator.previous_page_number }}">Previous</a>&nbsp;
            {% else %}
            Previous&nbsp;
            {% endif %}
            {% for pg in paginator.page_range %}
            {% if page_obj.number == pg %}
            <u><b><a href="?page={{ pg }}">{{ pg }}</a></b></u>&nbsp;
            {% else %}
            <a href="?page={{ pg }}">{{ pg }}</a>&nbsp;
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <a href="?page={{ paginator.next_page_number }}">Next</a>&nbsp;
            {% else %}
            Next&nbsp;
            {% endif %}
        </p>
    </div>
</div>
<p>&nbsp;</p>
{% endblock body %}
