{% extends "base.html" %}

{% block extra_head_script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}lib/fancybox/jquery.fancybox.js"></script>
    <script src="{{ STATIC_URL }}lib/detail_popup/psd.js"></script>

    <script type="text/javascript">//<![CDATA[
    function toggler(divId) {
        $("#" + divId).toggle();
    }
    //]]>
    </script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-58682577-1', 'auto');
        ga('send', 'pageview');

    </script>
{% endblock extra_head_script %}

{% block extra_css %}
    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}lib/fancybox/jquery.fancybox.css" rel="stylesheet">
    <link rel="stylesheet" media="all" href="{{ STATIC_URL }}css/bootstrap.css">
    <link rel="stylesheet" media="all" href="{{ STATIC_URL }}css/style1.css">
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <style>
        .hidden {
            display: none;
        }
    </style>
{% endblock extra_css %}

{% block footer %}
    <footer id="footer">
        <div class="container">
            <p><a href="http://www.ffldesign.com/terms-and-conditions/">Terms &amp; Conditions</a>  |  <a href="http://www.ffldesign.com/privacy-policy/">Privacy Policy</a></p>
            <p class="copy">© Copyright 2015 - FFL Design, LLC. All Rights Reserved.</p>
        </div>
        <!-- / container -->
    </footer>
{% endblock footer %}

{% block body %}
    <div class="container">
	<div id="content">
            <h1>Reset Your Password</h1>
            <form action='{% url "reset-password" %}' method="post">
                {% csrf_token %}

                {% if form.errors.token %}
                    <div class="errors">
                        {{form.errors.token}}
                    </div>
                {% endif %}

                {{form.password}}

                {% if form.errors.password %}
                    <div class="errors">
                        {{form.errors.password}}
                    </div>
                {% endif %}

                {{form.token}}
                <input type="submit" value="Reset Password" id="reset_password_button"/>
            </form>
        </div>
    </div>
{% endblock body %}
