{% extends "dashboard.html" %}

{% load humanize %}
{% load carton_tags %}
{% load grid_extras %}

{% block extra_head_script %}

{{ block.super }}

<!-- Javascript -->
<script type="text/javascript">
    function no_photo(image) {
        image.onerror = "";
        image.src = '{{STATIC_URL}}images/noimage.jpg';
        return true;
    }
</script>
<script src="{{ STATIC_URL }}js/jquery.cookie.js"></script>

{% endblock extra_head_script %}

{% block extra_css %}
{% endblock extra_css %}


{% block body %}
{{block.super}}

<div class="tab-bg">
    <div class="container">
        <div class="bs-example bs-example-tabs">
            <ul id="myTab" class="nav nav-tabs" role="tablist">
                <li class=""><a href="/product-search/" role="tab">Search</a>
                </li>
                <li class=""><a href="/order-history/" id="order_history">Product Order History</a>
                </li>
                <li class=""><a href="/history/" id="history">Search History</a>
                </li>
                <!-- <li class=""><a href="{% url 'dashboard' %}" id="dealerexchange">Dealer Exchange</a>
                </li> -->
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div id="container">
    <div id="alert-error" class="alert alert-danger hidden" role="alert">
        <span class="message"></span>
        <button type="button" class="btn-hide close"><span>&times;</span></button>
    </div>
    <div id="review">
        <p class="shopping_cart">Review your order</p>
        <p class="tinytext">By placing an order, you agree to our <a href="http://www.ffldesign.com/terms-and-conditions/">Terms & Conditions</a></p>
        <ul class="address">
            <form id="order_form" action="{% url 'view_review' %}" method="POST">
            {% csrf_token %}
            <li>
                <ul class="top-line">
                    <!--<li>Billing Address</li>-->
                    <li class="shipping-address">Shipping Address</li>
                    <li>Payment Method</li>
                </ul>
                <ul class="details">

                    <li class="shipping-address-info">
                        <p>
                            {{userprofile.company_name}}<br />
                            {{userprofile.ffl_premise_address}}
                        </p>
                    </li>
                    <li>
                        <p>{% if wallet.wallet_type == 'credit card' %}Credit card *{{ wallet.masked_card_number}}{% else %}Bank account {{ wallet.account_number|endslice:-4 }}{% endif %}</p>
                    </li>
                </ul>

                <div class="items">
                    {% get_cart as cart %}
                    <p class="ordered">Products Ordered<span>Shipping Option</span></p>
                    {% for manufacturer in item_list %}
                    <p class="mfg">
                            {{ manufacturer.name }}
                            <span>Orders over $500 receive<br />free ground shipping.</span>
                    </p>
                    <div class="item-list">
                        {% for item in manufacturer.items %}
                        <div data-id="{{ item.product.id }}">
                            <img src="
                            {% if item.product.distributor.name == 'Dealer Direct' or item.product.distributor.name == 'Dealer Exchange' %}
                            {{ item.product.productlistingimage_set.all.0.image.url}}
                            {% else %}
                            {{ item.product.get_thumb_grid_image_url }}
                            {% endif %}
                            " onerror='no_photo(this)'>
                            <p class="nm">{{ item.product }}</p>
                            <p class="cost">${{ item.price|floatformat:2|intcomma }}</p>
                            <p class="qty">Quantity:<input type="text" value="{{ item.quantity }}" disabled></p>
                        </div>
                        <div class="clearfix"></div>
                        {% endfor %}
                    </div>
                    <div class="delivery">
                        <p class="choose">Choose shipping option:</p>
                        {% with formset|get_at_index:forloop.counter0 as form %}
                        <p class="errors">{{ form.shipping_fee.errors|striptags }}</p>
                        <input type="hidden" value="{{form.instance.id}}" name="form-{{forloop.counter0}}-id">
                        {% for choice in form.fields.shipping_fee.queryset %}
                        {% if choice.official %}
                        <p><label><input type="radio" value="{{choice.id}}" name="form-{{forloop.parentloop.counter0}}-shipping_fee" data-cost={{choice.cost}}>{{choice}} ${{ choice.cost }}</label></p>
                        {% endif %}
                        {% endfor %}
                        {% endwith %}
                        {{ formset.management_form }}
                    </div>
                    <div class="clearfix"></div>
                    {% endfor %}
                </div>
            </li>
            </form>

            <li class="place">
                <form id="coupon_form" action="{% url 'redeem_coupon' %}" method="POST">
                {% csrf_token %}
                <div class="coupon">
                    <p class="order">Have a coupon code?</p>
                    <button type="button" class="add-coupon">Click here</button>
                    <p class="success">Coupon successfully added!</p>
                    <p class="code"><span>SRM10percent</span><button type="button" class="rem">&#215</button></p>
                    <label class="code-input"><input type="text" placeholder="Enter it here" name="coupon_code"></label>
                    <button type="button" class="apply">Apply</button>
                </div>
                </form>
                <div class="summary">
                    <div class="costs">
                    <p class="order">Order Summary</p>
                    <p class="others">Total Items ({{cart.count}}):<span>${{cart.total|floatformat:2|intcomma}}</span></p>
                    <p id="shipping_cost" class="others">Shipping & Handling: <span>$0.00</span></p>
                    <p id="discount" class="others">Coupon Discount: <span>${% if discount %}{{ discount|floatformat:2|intcomma }}{% else %}0.00{% endif %}</span></p>
                    <p class="total">Order Total:<span>${{total|floatformat:2|intcomma}}</span></p>
                    <a href="#processing-gif" id="submit_order" class="continue-btn" type="submit">Place Order</a>
                    </div>
                </div>
            </li>

            
        </ul>
    </div>
    <div class="processing" id="processing-gif" style="opacity: 0.5">
        <style type='text/css'>@-webkit-keyframes uil-default-anim { 0% { opacity: 1} 100% {opacity: 0} }@keyframes uil-default-anim { 0% { opacity: 1} 100% {opacity: 0} }.uil-default-css > div:nth-of-type(1){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.5s;animation-delay: -0.5s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(2){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.4166666666666667s;animation-delay: -0.4166666666666667s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(3){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.33333333333333337s;animation-delay: -0.33333333333333337s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(4){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.25s;animation-delay: -0.25s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(5){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.16666666666666669s;animation-delay: -0.16666666666666669s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(6){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.08333333333333331s;animation-delay: -0.08333333333333331s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(7){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0s;animation-delay: 0s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(8){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.08333333333333337s;animation-delay: 0.08333333333333337s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(9){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.16666666666666663s;animation-delay: 0.16666666666666663s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(10){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.25s;animation-delay: 0.25s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(11){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.33333333333333337s;animation-delay: 0.33333333333333337s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(12){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.41666666666666663s;animation-delay: 0.41666666666666663s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}</style><div class='uil-default-css' style='transform:scale(1);'><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(0deg) translate(0,-60px);transform:rotate(0deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(30deg) translate(0,-60px);transform:rotate(30deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(60deg) translate(0,-60px);transform:rotate(60deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(90deg) translate(0,-60px);transform:rotate(90deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(120deg) translate(0,-60px);transform:rotate(120deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(150deg) translate(0,-60px);transform:rotate(150deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(180deg) translate(0,-60px);transform:rotate(180deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(210deg) translate(0,-60px);transform:rotate(210deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(240deg) translate(0,-60px);transform:rotate(240deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(270deg) translate(0,-60px);transform:rotate(270deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(300deg) translate(0,-60px);transform:rotate(300deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(330deg) translate(0,-60px);transform:rotate(330deg) translate(0,-60px);border-radius:10px;position:absolute;'></div></div>
        <p>Processing...Please Wait</p>
    </div>
    <div id="spacer"></div>
</div>

{% endblock body %}

{% block body_script %}
{% get_cart as cart %}
<script>
    var r_attachListeners = function() {
        $("a.continue-btn").fancybox({
            padding: 0,
            modal : true,
            helpers : {
                overlay : {
                    css : {
                        'background' : 'rgba(58, 42, 45, 0.1)'
                    }
                }
            },
            css : {
                'background' : 'rgba(58, 42, 45, 0.2)','opacity':'1'
            },
            afterShow: function () {
                $('.fancybox-skin').css({'box-shadow' :'none','background':'rgba(255,255,255,0.5)'});
                $('.processing').css({'background' : 'rgba(204,204,204, 0.7)','opacity' : '1'});
            }
        });
        var hide_alerts = function() {
            $('.alert').addClass('hidden');
        }
        $('.btn-hide').click(function() {
            $(this).parent().addClass('hidden');
        })
        $('.delivery input').click(function() {
            var order_cost = parseFloat({{total|floatformat:2}});
        var shipping_cost = 0.0;
        $('input[type=radio]:checked').each(function() {
            var cost = parseFloat($(this).data('cost'));
            shipping_cost += cost;
        });
        var total_cost = (shipping_cost+order_cost).toFixed(2);
        $('#shipping_cost span').html('$'+String(shipping_cost));
        $('.place .total span').html('$'+String(total_cost));
    });
    var coupon_handler = function() {
        $('#coupon_form').ajaxForm();
        $('#coupon_form').ajaxSubmit({
            success: function(data) {
                if(data['status']) {
                    r_attachListeners();
                    $('.coupon .success').html('Coupon successfully added!')
                    /*$('#container').load(document.URL + ' #review', function() {
                        r_attachListeners();
                     });*/
                }
                else {
                    $('.coupon .success').html('Invalid code.')
                }
            }
        });
    }
    var submit_handler = function() {
        hide_alerts();
        $('#order_form').ajaxForm();
        $('#order_form').ajaxSubmit({
            success: function(data) {
                if(data['status']) {
                    if(data['sot_needed']){
                        window.location.href = "{% url 'upload_sot' %}";
                        } else {
                        window.location.href = "{% url 'view_thank' %}";
                        }
                }
                else {
                    $.fancybox.close();
                    $('#alert-error').removeClass('hidden');
                    $('#alert-error .message').html(data['message']);
                }
            },
            error: function(data) {
                $('#alert-error').removeClass('hidden');
                $('#alert-error .message').html(data['message']);
            }
        });
    }
    $('#submit_order').click(submit_handler);
    $('.coupon .apply').click(coupon_handler);
    }
    $(document).ready(function() {
        var csrftoken = $.cookie('csrftoken');
        function csrfSafeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        r_attachListeners();
    });
    var order_button = document.getElementById('submit_order');
    /*order_button.onclick = function(){
     this.innerHTML = "Processing<span>.</span><span>.</span><span>.</span><span>.</span>";
     };*/

    var hide_coupon_success;

    $(".add-coupon").click( function() {
        $(".code-input").show();
        $(".apply").show();
        $(this).hide();
    });

    $(".apply").click( function() {
        var a = document.getElementsByClassName('code-input')[0].getElementsByTagName('input')[0].value;
        $(".code").show();
        $(".rem").show();
        document.getElementsByClassName('code')[0].getElementsByTagName('span')[0].innerHTML = a;
        $(".success").show();
        $(".code-input").hide();
        $(".add-coupon").hide();
        $(this).hide();
        hide_coupon_success = setInterval(function(){$(".success").hide(); }, 8000);
    });

    $(".rem").click( function() {
        $(".code").hide();
        $(this).hide();
        $(".add-coupon").show();
        $(".success").hide();
        clearInterval(hide_coupon_success);
    });
</script>
{% endblock body_script %}
