{% extends "dashboard.html" %}

{% load humanize %}
{% load carton_tags %}

{% block extra_head_script %}

    {{ block.super }}

    <!-- Javascript -->
    <script type="text/javascript">
        function no_photo(image) {
            image.onerror = "";
            image.src = '{{STATIC_URL}}images/noimage.jpg';
            return true;
        }
    </script>

    <script src="{{ STATIC_URL }}js/shipping.js"></script>
{% endblock extra_head_script %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet"
          type="text/css"
          href="{{ STATIC_URL }}css/shipping.css" />

{% endblock extra_css %}

{% block body %}
    {{block.super}}

    <div class="tab-bg">
        <div class="container">
            <div class="bs-example bs-example-tabs">
                <ul id="myTab" class="nav nav-tabs" role="tablist">
                    <li class=""><a href="/product-search/" role="tab" data-toggle="tab">Search</a>
                    </li>
                    <li class=""><a href="/history/" id="history">Search History</a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div id="container">
        <div id="alert-success" class="alert alert-success hidden" role="alert">
            <span class="message"></span>
            <button type="button" class="btn-hide"><span>&times;</span></button>
        </div>
        <div id="alert-error" class="alert alert-danger hidden" role="alert">
            <span class="message"></span>
            <button type="button" class="btn-hide"><span>&times;</span></button>
        </div>

        <div id="shipping">
            <p class="shopping_cart">Confirm Address Information</p>
            <ul class="address">
                <li>
                    <p class="sb">Shipping Address</p>
                    <p>{{ userprofile.ffl_mailing_address|default:"[No specified address]" }}</p>
                    <!--<p>Second line here</p>-->
                </li>
                <li>
                    <p class="sb">Billing Address</p>
                    <p>{{ userprofile.ffl_premise_address|default:"[No specified address]" }}</p>
                    <!--<p>Second line here</p>-->
                    <button class="edit">Edit</button>
                    <form id="edit_address" action="{% url 'update_billing_address' %}" method="post">
                        <label>{{ change_address_form.street_address }}</label>
                        <label>{{ change_address_form.city }}</label>
                        <label>{{ change_address_form.state }}</label>
                        <label>{{ change_address_form.zip }}</label>
                        <div>
                            <button type="button" class="up">Update</button>
                            <span class="loading hidden"><img src="{{ STATIC_URL }}/images/loading.gif"></span>
                        </div>
                    </form>
                </li>
                <li class="proceed">
                    <button>Proceed to checkout</button>
                </li>
            </ul>

        </div>

        <div id="spacer"></div>

    </div>
{% endblock body %}

{% block body_script %}
{{ block.super }}
<script src="{{ STATIC_URL }}/js/shipping.js"></script>
<script>
    $(document).ready(function() {
        $(".proceed").click(function() {
            window.location.href = "{% url 'view_payment' %}";
        });
    });
</script>
{% endblock body_script %}
