{% extends 'dashboard.html' %}

{% block extra_css %}
    {{ block.super }}

{% endblock extra_css %}

{% block body %}
{{ block.super }}
<div class="row">
    <div class="thank container">
        <p>Thank you for your order!</p>
        <p>
            {% if not order_numbers or order_numbers|length_is:"0" %}
            You have not placed any orders. Click on the button below to search products!
            {% else %}
            Your order number{{ order_numbers|length|pluralize:" is,s are" }}
            {% if order_numbers|length_is:"1" %}{{ order_numbers.0 }}
            {% elif order_numbers|length_is:"2" %}{{ order_numbers.0 }} and {{ order_numbers.1 }}
            {% else %}
            {% for number in order_numbers %}
            {% if not forloop.first %}, {% endif %}{% if forloop.last %}and {% endif %}{{ number }}
            {% endfor %}
            {% endif %}.
            A confirmation email has been sent to {{ user.email }}. For questions<br />about your order, <a href="#">contact us</a></p>
        {% endif %}
        <br>
        {% if sot_needed %}
        If you purchased an NFA product your purchase will complete once your SOT is approved.
        {% endif %}
        <form action="{% url 'product-search' %}">
            <button>Continue Searching</button>
        </form>
    </div>

</div>

{% endblock body %}
