{% extends "dashboard.html" %}

{% load humanize %}
{% load carton_tags %}

{% block extra_head_script %}

    {{ block.super }}

    <!-- Javascript -->
    <script type="text/javascript">
        function no_photo(image) {
            image.onerror = "";
            image.src = '{{STATIC_URL}}images/noimage.jpg';
            return true;
        }
    </script>
{% endblock extra_head_script %}


{% block body %}
    {{block.super}}
    {% if request.user.userprofile.sot_is_uploaded %}
    <div class="thank container">
        <p>Thank you for uploading your SOT.</p>
        <p>We are in the process of verifying your account.<br>
        A confirmation email will be sent to your email address once your account has been approved.</p>
        <p>You cannot proceed until your account is approved.</p>
    </div>
    {% else %}
    <div id="container">
        <div class=" row checkout upload-ffl">
            <div class="list">
                <div class="item-list">
                    <div class="mfr">
                    <p class="top">Please upload your SOT</p>
                        <div class="row">
                        <div class="details">
                        <form id="upload-sot-form" enctype="multipart/form-data" method="post" action="{% url 'upload_sot' %}">
                        
                        <div class="col-sm-6">
                        {% csrf_token %}
                        {{ form.sot_file }}
                        <div class="errors">{{ form.errors }}</div>
                        </div>


                        <div class="col-sm-6">
                        <a href="#processing-gif" class="continue-btn">Continue</a>
                        <!-- <button type="submit" class="submit-btn">Continue</button> -->
                        </a>

                        <p class="once">You will only have to upload your SOT once.</p>
                        </div>
                        </form>

                        </div>
                        </div>

                    </div>
                </div>

            </div>
            
        </div>
        <div class="processing" id="processing-gif" style="opacity: 0.5">
            <style type='text/css'>@-webkit-keyframes uil-default-anim { 0% { opacity: 1} 100% {opacity: 0} }@keyframes uil-default-anim { 0% { opacity: 1} 100% {opacity: 0} }.uil-default-css > div:nth-of-type(1){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.5s;animation-delay: -0.5s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(2){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.4166666666666667s;animation-delay: -0.4166666666666667s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(3){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.33333333333333337s;animation-delay: -0.33333333333333337s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(4){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.25s;animation-delay: -0.25s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(5){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.16666666666666669s;animation-delay: -0.16666666666666669s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(6){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.08333333333333331s;animation-delay: -0.08333333333333331s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(7){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0s;animation-delay: 0s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(8){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.08333333333333337s;animation-delay: 0.08333333333333337s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(9){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.16666666666666663s;animation-delay: 0.16666666666666663s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(10){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.25s;animation-delay: 0.25s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(11){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.33333333333333337s;animation-delay: 0.33333333333333337s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(12){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.41666666666666663s;animation-delay: 0.41666666666666663s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}</style><div class='uil-default-css' style='transform:scale(1);'><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(0deg) translate(0,-60px);transform:rotate(0deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(30deg) translate(0,-60px);transform:rotate(30deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(60deg) translate(0,-60px);transform:rotate(60deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(90deg) translate(0,-60px);transform:rotate(90deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(120deg) translate(0,-60px);transform:rotate(120deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(150deg) translate(0,-60px);transform:rotate(150deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(180deg) translate(0,-60px);transform:rotate(180deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(210deg) translate(0,-60px);transform:rotate(210deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(240deg) translate(0,-60px);transform:rotate(240deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(270deg) translate(0,-60px);transform:rotate(270deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(300deg) translate(0,-60px);transform:rotate(300deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(330deg) translate(0,-60px);transform:rotate(330deg) translate(0,-60px);border-radius:10px;position:absolute;'></div></div>
            <p>Processing...Please Wait</p>
        </div>

        <div id="spacer"></div>

    </div>
    {% endif %}
{% endblock body %}

{% block body_script %}
{{ block.super }}
<script>
    var csrftoken = $.cookie('csrftoken');
    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    var submit_handler = function() {
        $(document).off('click', "a.continue-btn", submit_handler);

        $('#upload-sot-form').ajaxForm();
        $('#upload-sot-form').ajaxSubmit({
            success: function(data) {
                if(data['status']) {
                    window.location.href = data['url'];
                }
                else {
                    $.fancybox.close();
                    $('.errors').html(data['message']);
                    console.log(data['message']);
                }
            },
            error: function(data) {
                $.fancybox.close();
            },
            complete: function() {
                $(document).on('click', "a.continue-btn", submit_handler);
            }
        });
    };
    $(document).on('click', "a.continue-btn", submit_handler);

    $("a.continue-btn").fancybox({
        padding: 0,
        modal : true,
        helpers : {
            overlay : {
                css : {
                    'background' : 'rgba(58, 42, 45, 0.1)'
                }
            }
        },
        css : {
            'background' : 'rgba(58, 42, 45, 0.2)','opacity':'1'
        },
        afterShow: function () {
            $('.fancybox-skin').css({'box-shadow' :'none','background':'rgba(255,255,255,0.5)'});
            $('.processing').css({'background' : 'rgba(204,204,204, 0.7)','opacity' : '1'});
        }


    });

</script>

{% endblock body_script %}
