{% extends "dashboard.html" %}

{% load humanize %}
{% load carton_tags %}

{% block extra_head_script %}

    {{ block.super }}

    <!-- Javascript -->
    <script type="text/javascript">
        function no_photo(image) {
            image.onerror = "";
            image.src = '{{STATIC_URL}}images/noimage.jpg';
            return true;
        }
    </script>
{% endblock extra_head_script %}


{% block body %}
    {{block.super}}
    <div class="thank container">
        <p>Thank you for uploading your FFL.</p>
        <p>We are in the process of verifying your account.<br>
        A confirmation email will be sent to your email address once your account has been approved.</p>
        <p>You cannot proceed until your account is approved.</p>
    </div>
{% endblock body %}

{% block body_script %}
{{ block.super }}

{% endblock body_script %}