/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126 License: none (public domain)*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    /* border: 0; */
    font-size: 99%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*Header starts here*/

@font-face {
    font-family: 'league_gothicregular';
    src: url('/static/fonts/leaguegothic-regular-webfont.eot');
    src: url('/static/fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
    url('/static/fonts/leaguegothic-regular-webfont.woff') format('woff'),
    url('/static/fonts/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'droid_sansregular';
    src: url('/static/fonts/DroidSans-webfont.eot');
    src: url('/static/fonts/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/DroidSans-webfont.woff') format('woff'),
    url('/static/fonts/DroidSans-webfont.ttf') format('truetype'),
    url('/static/fonts/DroidSans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.full-width-header-background {
    border: thin #33984D solid;
    width: 100%;
    height: 80px;
    background-color: #33984D;
}

.top-menu-full-width {
    /* border: thin #f4f4f4 solid; */
    width: 100%;
    height: 55px;
    background-color: #f4f4f4;
}

.full-width-header-background ul, .top-menu-full-width ul {
    margin: 0 auto 0 auto;
    /* display: none; */
}

#container {
    width: 1155px;
    margin: 0 auto 0 auto;
    /* overflow: hidden; */
    position: relative;
}

#header {
    border: thin #33984D solid;
    background-color: #33984D;
    color: #FFFFFF;
    min-width: 800px;
    width: 1155px;}

#logo {
    margin: 15px 3px 0 30px;

}

#header .arm .varm {
    display: block;
    width: 220px;
    margin: -55px 0 0 90px;

}

#header .arm {
    font-family: league_gothicregular, sans-serif;
    font-size: 40px;
    width: 50%;

}


#top_menu {
    width: 1155px;
    min-width: 800px;
    height: 55px;
    background-color: #F4F4F4;
    font-family: droid_sansregular, sans-serif;
    font-size: 15px;
    /* position: absolute; */
    /* top: 72px; */
}

#top_menu li {
    float: left;
    height: 35px;
    margin: 11px 10px 0 0;
    display: block;
    /* background-color: #C0C0C0; */
    padding: 0 10px;
    line-height: 35px;
    font-size: 14px;
}

#top_menu a {
    color: #000000;
}

#top_menu .search {
    margin-left: 30px;
}

#top_menu .pro {
    background-color: #FFFFFF;
}




/* General information*/

.dashboard {
    min-height: calc(100vh - 150px);
    font-family: Arial, sans-serif;
    margin-left: 35px;
    /* border: thin red solid; */
}


.dashboard .ffl {
    color: #0b0b79;
    font-size: 27px;
    margin: 46px 0 30px 0;
}

.dashboard ul {
    overflow: hidden;
}

.dashboard li {
    border: thin #afafaf solid;
    float: left;
    border-radius: 5px;

}

.dashboard .grey {
    background-color: #bcbcbc;
    border: thin transparent solid;
    width: 73px;
    height: 32px;
    border-radius: 5px;
    margin-right: 14px;
    color: #fff;
}

.dashboard .green {
    background-color: #0b0b79;
    border: thin transparent solid;
    width: 73px;
    height: 32px;
    border-radius: 5px;
    margin-right: 14px;
    color: #fff;
}

.dashboard li .top-line{
    border: thin transparent solid;
    background-color: #f5f5f1;
    height: 51px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding-left: 56px;
    font-size: 14px;
    line-height: 51px;
}

.dashboard .button-line{
    margin: auto;
    width: 335px;
    height: 36px;
    display: block;
    font-size: 14px;
}

.dashboard .button-line > :last-child{
   margin-right: 0;
}

.dashboard .orders {
    width: 534px;
    height: 349px;
    margin: 0 38px 41px 0;
}

.dashboard .orders .top-line{
    background: #F5F5EE url("/static/dealerexchange/images/orders.png") no-repeat 13px center;
}

.dashboard .sales .top-line{
    background: #F5F5EE url("/static/dealerexchange/images/sales.png") no-repeat 13px center;
}

.dashboard .products .top-line{
    background: #F5F5EE url("/static/dealerexchange/images/products.png") no-repeat 13px center;
}

.dashboard .top .top-line{
    background: #F5F5EE url("/static/dealerexchange/images/top.png") no-repeat 13px center;
}

.dashboard .announcements .top-line{
    background: #F5F5EE url("/static/dealerexchange/images/announcements.png") no-repeat 13px center;
}
.dashboard .orders .number{
    margin: 70px auto 42px auto;
    text-align: center;
    height: 68px;
    display: block;
    font-size: 90px;
}

.dashboard .sales .sales-graph{
    margin: 0 auto 24px auto;
    display: block;
    /* border: thin red solid; */
}

.dashboard .sales .number{
    float: right;
    margin: 21px 19px 0 0;
    display: block;
    font-size: 43px;
}

.dashboard .sales {
    width: 534px;
    height: 349px;
    margin: 0 0 41px 0;
}

.dashboard .products {
    width: 293px;
    height: 254px;
    margin: 0 35px 0 0;
}

.dashboard .products .number{
    margin: 21px auto 0 auto;
    text-align: center;
    height: 60px;
    display: block;
    font-size: 70px;
}

.dashboard .products .products-graph{
    margin: auto;
    display: block;
    height: 200px;
    width: 200px;
    position: relative;
    bottom: 50px;
}

.dashboard .products .gauge-value {
    position: relative;
    text-align: center;
    margin: auto;
    display: block;
    bottom: 47px;
    font-size: 30px;
}

.dashboard .products .gauge-label {
    position: relative;
    text-align: center;
    margin: auto;
    display: block;
    bottom: 47px;
    font-size: 12px;
    color: #858585;
}

.dashboard .products .left-label {
    position: relative;
    text-align: center;
    margin: auto;
    display: inline-block;
    bottom: 54px;
    left: 74px;
    font-size: 10px;
    color: #858585;
}

.dashboard .products .right-label {
    position: relative;
    text-align: center;
    margin: auto;
    display: inline-block;
    bottom: 54px;
    left: 178px;
    font-size: 10px;
    color: #858585;
}

.dashboard .top {
    width: 451px;
    height: 254px;
    margin: 0 35px 0 0;
}

.dashboard .top p span{
    display: inline-block;
}

.dashboard .top ul{
  margin: 28px 0 21px 21px;
}

.dashboard .top li {
    margin-right: 26px;
    border: thin transparent solid;
}

.dashboard .top li p{
    margin-top: 6px;
}

.dashboard .top li .marker{
    width: 12px;
    height: 11px;
    margin-right: 8px;
}

.dashboard .top li p:first-child .marker {
    background: url("/static/dealerexchange/images/marker1.png") no-repeat center;

}
.dashboard .top li p:nth-child(2) .marker {
    background: url("/static/dealerexchange/images/marker2.png") no-repeat center;

}

.dashboard .top li p:nth-child(3) .marker {
    background: url("/static/dealerexchange/images/marker3.png") no-repeat center;

}

.dashboard .top li p:nth-child(4) .marker {
    background: url("/static/dealerexchange/images/marker4.png") no-repeat center;

}

.dashboard .top li p:nth-child(5) .marker {
    background: url("/static/dealerexchange/images/marker5.png") no-repeat center;

}

.dashboard .top li .nm{
    color: #858585;
    width: auto;
    font-size: 12px;
}

.dashboard .top li .price{
    font-size: 14px;
    font-weight: bold;
    font-family: droid_sansregular,sans-serif;
    margin-left: 45px;
    float: right;
}

.dashboard .announcements{
    width: 293px;
    height: 254px;
}

.dashboard .announcements .date{
     font-weight: bold;
     margin: 0 0 6px 12px;
 
     font-size: 14px;
}

.dashboard .announcements p:nth-child(2){
    margin-top: 20px;
}

.dashboard .announcements .details{
    margin: 0 0 25px 12px;
    height: 47px;
    width: 220px;
    font-size: 13px;
    color: #767676;
    line-height: 15px;
    overflow: hidden;
}

.dashboard .period-buttons:hover {
    cursor: pointer;
}


/*  Footer starts here */

#spacer {
    height: 60px;
    width: 100%;
}

.full-width-footer {
    width: 100%;
    height: 30px;
    background-color: #33984D;
}

#footer {
    background-color: #33984D;
    width: 1155px;
    margin: auto;
    font-family: droid_sansregular, sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    padding-top: 3px;
}

#footer li {
    width: 300px;
}

#footer .toc{
    margin: 5px 0 0 10px;
}

#footer .copy {
    text-align: right;
    float: right;
    margin: -11px 0 0 0;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.no-data {
    display: none;
}
