/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126 License: none (public domain)*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    /* border: 0; */
    font-size: 99%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*Header starts here*/

@font-face {
    font-family: 'league_gothicregular';
    src: url('/static/fonts/leaguegothic-regular-webfont.eot');
    src: url('/static/fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
    url('/static/fonts/leaguegothic-regular-webfont.woff') format('woff'),
    url('/static/fonts/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'droid_sansregular';
    src: url('/static/fonts/DroidSans-webfont.eot');
    src: url('/static/fonts/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/DroidSans-webfont.woff') format('woff'),
    url('/static/fonts/DroidSans-webfont.ttf') format('truetype'),
    url('/static/fonts/DroidSans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.full-width-header-background {
    border: thin #33984D solid;
    width: 100%;
    height: 80px;
    background-color: #33984D;
}

.top-menu-full-width {
    /*border: thin #fff solid;*/
    width: 100%;
    height: 55px;
    background-color: #fff;
}

.full-width-header-background ul, .top-menu-full-width ul {
    margin: 0 auto 0 auto;
    /* display: none; */
}

#container {
    width: 1155px;
    margin: 0 auto 0 auto;
    /* overflow: hidden; */
    position: relative;
}

#header {
    border: thin #33984D solid;
    background-color: #33984D;
    color: #FFFFFF;
    min-width: 800px;
    width: 1155px;}

#logo {
    margin: 15px 3px 0 30px;

}

#header .arm .varm {
    display: block;
    width: 220px;
    margin: -55px 0 0 90px;

}

#header .arm {
    font-family: league_gothicregular, sans-serif;
    font-size: 40px;
    width: 50%;

}


#top_menu {
    width: 1155px;
    min-width: 800px;
    height: 55px;
    background-color: #fff;
    font-family: droid_sansregular, sans-serif;
    font-size: 15px;
    /* position: absolute; */
    /* top: 72px; */
}

#top_menu li {
    float: left;
    height: 35px;
    margin: 11px 10px 0 0;
    display: block;
    /* background-color: #C0C0C0; */
    padding: 0 10px;
    line-height: 35px;
    font-size: 14px;
}

#top_menu a {
    color: #000000;
}

#top_menu .search {
    margin-left: 30px;
}

#top_menu .pro {
    background-color: #FFFFFF;
}


/* General information*/


.listing {
    min-height: calc(100vh - 150px);
    font-family: Arial, sans-serif;
    margin-left: 35px;

}

.listing .photos, .listing .select-type, .listing .details,
.listing .variations, .listing .search, .listing .shipping{
    width: 1099px;
    height: 198px;
    border: thin #afafaf solid;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 28px;
    background-color: #fff;
}

.listing .photos li {
    float: left;
    width: 149px;
    height: 134px;
    border: thin transparent solid;
    margin: 0 13px 0 0;
    background-color: #eeeded;
    padding: 1px 0 0 1px;
}

.listing .photos li img{
    display: block;
    margin: 1px auto 0 auto;
}

.listing .photos li .image-input {
    position: relative;
    bottom: 106px;
    width: 152px;
    height: 137px;
    opacity: 0;
    cursor: pointer;
}

.listing .default-img {
    font-size: 13px;
    position: relative;
    top: -2px;
    margin-left: 5px;
}

.listing .default-img input[type='radio'] {
    width: 15px;
    margin: 0 0 0 5px;
    height: 16px;
}

.listing .ffl, .listing .ffl-small {
    color: #0b0b79;
    font-size: 21px;
    margin: 34px 0 35px 0;
}

.listing .ffl-small {
    font-size: 18px;
    margin: 0 0 11px 0;
}

.listing .desc {
    color: #767676;
    font-size: 13px;
    line-height: 15px;
}

.listing .ffl button{
    margin: 0 0 0 12px;
    display: inline-block;
    color: #fff;
    width: 56px;
    height: 16px;
    position: relative;
    top: -3px;
    font-size: 11px;
    background-color: #9a9999;
    border-radius: 5px;
    border: thin transparent solid;
}

.listing .photos ul {
    margin-top: 20px;
}

.listing .photos ul .desc{
    width: 190px;
    margin: 19px 0 0 61px;
    line-height: 15px;
    background-color: transparent;
    border: thin #fff solid;
}

.listing .photos li button{
   background-color: transparent;
    border: thin transparent solid;
}

.listing .photos li .remove-zoom {
    width: 20px;
    height: 20px;
    margin: 3px 0 0 6px;
    padding: 0;
}

.listing .photos li button img{
    margin: 0;
}

.listing .photos li button:nth-child(2){
    margin-left: 90px;
    display: inline-block;
    padding: 0;
}

.listing .photos li .add-photo {
    margin-top: 41px;
}

.listing .photos li p {
    /* border: thin red solid; */
    font-size: 12px;
    margin: 4px auto 0 auto;
    text-align: center;
}

.listing .select-type {
    height: 91px;
}

.listing .select-type .ffl-small {
    margin-bottom: 22px;
}

.listing .select-type label {
    display: inline-block;
    /* border: thin red solid; */
    margin: 0 45px 0 0;
    color: #767676;
    font-size: 13px;
}

.listing input[type='radio'] {
    width: 18px;
    height: 18px;
    padding: 0;
    margin: 0 10px 0 0;
    position: relative;
    top: 4px;
    overflow: hidden;
}

.listing .details {
    height: 1164px;
}

.listing .optics {
    height: 857px;
    display: none;
}

.listing .type-blades {
    height: 514px;
    display: none;
}

.listing .apparel {
    height: 189px;
    display: none;
}

.listing .details label {
    display: inline-block;
    width: 167px;
    color: #767676;
    font-size: 13px;
}

.listing .details input,  .listing .details select{
     height: 46px;
     border: thin silver solid;
     border-radius: 5px;
     margin-bottom: 22px;
    padding-left: 10px;
 }

.listing .details .title-listing{
    width: 525px;
}

.listing .details .upc{
    width: 346px;
}

.listing .details .category{
    width: 280px;
}

.listing .details .price{
    width: 161px;
}

.listing .details .qty{
    width: 133px;
}

.listing .details .description{
    width: 525px;
    height: 239px;
    border-radius: 5px;
    margin-bottom: 22px;
}

.listing .details p .desc{
    display: inline-block;
    width: 276px;
    margin-left: 61px;
    line-height: 15px;
}

.listing .details p label, .listing .tags{
    color: #000;
    font-size: 15px;
}

.listing .tags-wrapper{
    font-size: 12px;
    color: #767676;
    height: 15px;
    margin: -8px 0 0 0;
}

.listing .details p label span{
    color: #0b0b79;
    display: inline-block;
    margin-left: 7px;
    font-weight: bold;
}

textarea {
    vertical-align: top;
    border: thin silver solid;
}

.listing .textarea-label {
    line-height: 65px;
}

.listing .details .ffl-small {
    margin-bottom: 36px;
}

.listing .ammo {
    height: 433px;
}

.listing .ammo input, .listing .ammo select{
    padding-left: 4px;
    width: 192px;
}

.listing .variations {
    height: auto;
}

.listing .tags {
    margin-top: 28px;
    display: inline-block;
    vertical-align: top;
}

.listing .add-color {
    border: thin #afafaf solid;
    width: 978px;
    display: inline-block;
    border-radius: 5px;
    margin: 23px 0 0 40px;
    padding-bottom: 17px;
}

.listing .variations li {
    float: left;
    width: 210px;
    font-size: 13px;
    line-height: 37px;
    padding-left: 70px;
    margin-left: 46px;
}

.listing .variations .add-color .color-menu {
    background-color: #f5f5f1;
    overflow: hidden;
    height: 37px;
}

.listing .variations .add-color .color-menu > :first-child{
    padding: 0;
}

.listing .variations .add-color .item-color {
    overflow: hidden;
    height: 50px;
    border-bottom: thin #afafaf solid;
    /* border-top: thin #afafaf solid; */
    cursor: move;
}

.listing .variations .add-color .item-color li{
     line-height: 50px;
     padding: 0;
     width: 275px;
}

.listing .variations .add-color .item-color > :first-child{
    margin-left: 8px;
    background: url("/static/dealerexchange/images/marker.png") no-repeat center left;
    padding-left: 40px;
}

.listing .variations .add-color .item-color li input[type=text]{
    width: 98px;
    height: 33px;
    border-radius: 5px;
    border: thin silver solid;
}

.listing .variations .add-color .item-color li input[type=checkbox]{
    margin-left: 20px;
    width: 19px;
    height: 19px;
}

.listing .add-color select{
    display: block;
    width: 160px;
    height: 36px;
    margin: 15px 0 0 7px;
    border-radius: 5px;
    color: #767676;
    border: thin silver solid;
}

.listing .title-error {
    color: red;
    font-size: 13px;
    margin: -18px 0 0 170px;
    
    padding-bottom: 4px;
    display: none;
}

.listing .search {
    height: auto;
}

.listing .search li {
    float: left;
    margin-top: 28px;
}

.listing .search  ul > :first-child .desc {
    display: block;
}

.listing .search  ul > :first-child {
   width: 167px;
}

.listing .search li:nth-child(2) {
    width: 601px;
}

.listing .search li input{
     width: 287px;
     height: 45px;
     border-radius: 5px;
     border: thin silver solid;
     padding-left: 4px;
 }

.listing .search li button{
    width: 58px;
    height: 49px;
    border-radius: 5px;
    border: thin silver solid;
    padding-left: 4px;
    font-size: 15px;
    background-color: #fff;
}

.listing .search li .add{
    margin: 0 0 0 -5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
}

.listing .search li label .desc {
    margin-left: 20px;
    display: inline-block;
}

.listing .search li label {
   margin-bottom: 14px;
   display: inline-block;
}

.listing .search li:nth-child(2) > :last-child{
    display: block;
}

.listing .search  ul > :last-child .desc {
    width: 278px;
    display: inline-block;
}

.listing .search  .tags {
    margin: 0 0 3px 0;
}

.listing .tag-name {
    margin-right: 5px;
}

.listing .search li p .tag-remove {
    border: thin silver solid;
    font-weight: bold;
    font-size: 40px;
    background: url("../images/remove2.png") no-repeat 8px center;
    width: 39px;
    position: relative;
    z-index: 500;
}

.listing .search li .tags label {
    margin-bottom: 0;
}

.listing .search li p .tag-name {
    border: thin silver solid;
    font-size: 15px;
    width: 100px;
    display: inline-block;
    border-radius: 5px;
    vertical-align: top;
    text-align: center;
    position: relative;
    z-index: 1000;
    overflow: hidden;
    line-height: 47px;
    margin-right: 15px;
    margin-bottom: 5px;
}

.listing .submit-btn {
    width: 200px;
    height: 50px;
    display: block;
    margin: 30px -10px 0 0;
    float: right;
    background-color: #fb9e4c;
    border: thin #afafaf solid;
    border-radius: 5px;
    color: #fff;
    font-size: 21px;
}

.listing .active-button:hover {
    cursor: pointer;
}

.listing .details .weight {
    padding-left: 4px;
    width: 134px;
}

.listing .details .weight-label {
    width: 21px;
}

.listing .type-ammo {
    display: none;
}

.listing .details .dollar {
    background: url("../images/dollar-sign.png") no-repeat 10px center;
    padding-left: 30px;
}
.listing .details .list_price_input {
    display: none;
}

.listing .details #list_price_value {
    position: relative;
    left: -3px;
    color: #767676;
    display: inline-block;
    /*width: 180px;*/
}

.listing .details .list_price_text {
    color: #767676;
    padding-left: 30px;
    border: none;
}

.listing .details p .list_price_desc{
    color: #767676;
    display: inline-block;
    width: 276px;
    margin-left: 34px;
    line-height: 15px;
    vertical-align: middle;
    font-size: 13px;
}

.listing #ammoMuzzleVelocity {
    background: url("../images/fps.png") no-repeat 90% center;
}


.listing .wrapper {
    background-color: #333333;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1001;
    display: none;
}

.listing .wrapper div {
    border: thin transparent solid;
    width: 600px;
    height: 500px;
    margin: 50px auto 0 auto;
}

.listing .wrapper img {
    display: block;
    margin: 50px auto 0 auto;
}

.listing .wrapper button {
    display: block;
    float: right;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

.errors {
    text-align: center;
    font-weight: bold;
    color: red;
    margin-bottom: 10px;
}

.listing .search-ul {
    overflow: hidden;
}


.hidden {
    display: none;
}

#tag-list {
    margin-top: 7px;
}

.listing .shipping {
    height: 316px;
}

.listing .shipping .ffl-small {
    margin: 0 0 11px 0;
}

.listing .shipping .desc {
    margin: 0 0 28px 0;
}
.listing .shipping .zip input {
   width: 188px;
}

.listing .shipping .shipping-weight input {
    width: 150px;
}

.listing .shipping .shipping-weight :nth-child(2){
    background: url("../images/lbs-icon.png") no-repeat 126px 22px;
}

.listing .shipping .shipping-weight :nth-child(3){
    width: 15px;
}

.listing .shipping .shipping-weight :nth-child(4){
    background: url("../images/oz-icon.png") no-repeat 126px 22px;
}

.listing .shipping .dimensions input {
    width: 85px;
    padding-left: 30px;
}

.listing .shipping .dimensions :nth-child(2) {
    background: url("../images/length-icon.png") no-repeat center 14px;
}

.listing .shipping .dimensions :nth-child(3) {
    width: 15px;
}

.listing .shipping .dimensions :nth-child(4) {
    background: url("../images/width-icon.png") no-repeat center 14px;
}

.listing .shipping .dimensions :nth-child(5) {
    width: 15px;
}

.listing .shipping .dimensions :nth-child(6) {
    background: url("../images/height-icon.png") no-repeat center 14px;
}

.listing .shipping .dimensions span {
    color: red;
    margin-left: 20px;
    display: none;
}

/*tooltip*/

span.question {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #2A2A87;
    line-height: 16px;
    color: White;
    font-size: 13px;
    font-weight: bold;
    border-radius: 8px;
    text-align: center;
    position: relative;
    top: -5px;
    left: 6px;
}
span.question:hover { background-color: #2A2A87; }
div.tooltip {
    background-color: #2A2A87;
    color: White;
    position: absolute;
    left: 25px;
    top: -25px;
    z-index: 1000000;
    width: 250px;
    border-radius: 5px;
}
div.tooltip:before {
    border-color: transparent #2A2A87 transparent transparent;
    border-right: 6px solid #2A2A87;
    border-style: solid;
    border-width: 6px 6px 6px 0px;
    content: "";
    display: block;
    height: 0;
    width: 0;
    line-height: 0;
    position: absolute;
    top: 40%;
    left: -6px;
}
div.tooltip p {
    padding: 6px 3px 6px 3px;
    color: White;
}

.processing {
    max-width: 593px;
    min-width: 290px;
    height: 288px;
    background: #333;
    border-radius: 5px;
    /*position: fixed;
    top: 24%;
    left: 26%;*/
    display: none;
}

.processing .uil-default-css {
    margin: 0 auto 0 auto;
}

.processing p {
    font-size: 25px;
    margin: 20px 0 0 0;
    text-align: center;
    color: rgba(0,0,0,1.0);
    padding: 0 10px 0 10px;
    line-height: 1.2;
    font-family: Arial, sans-serif;
}

.errorlist{
    color: red;
}
