/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126 License: none (public domain)*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 99%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: 'league_gothicregular';
    src: url('/static/fonts/leaguegothic-regular-webfont.eot');
    src: url('/static/fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
    url('/static/fonts/leaguegothic-regular-webfont.woff') format('woff'),
    url('/static/fonts/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'droid_sansregular';
    src: url('fonts/DroidSans-webfont.eot');
    src: url('fonts/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/DroidSans-webfont.woff') format('woff'),
    url('fonts/DroidSans-webfont.ttf') format('truetype'),
    url('fonts/DroidSans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ms_gothicregular';
    src: url('fonts/MS Gothic-webfont.eot');
    src: url('fonts/MS Gothic-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/MS Gothic-webfont.woff2') format('woff2'),
    url('fonts/MS Gothic-webfont.woff') format('woff'),
    url('fonts/MS Gothic-webfont.ttf') format('truetype'),
    url('fonts/MS Gothic-webfont.svg#ms_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* header and menu*/

.full-width-header-background {
    border: thin #33984D solid;
    width: 100%;
    height: 80px;
    background-color: #33984D;
}


.top-menu-full-width {
    width: 100%;
    height: 55px;
    background-color: #f4f4f4;
}

.full-width-header-background ul, .top-menu-full-width ul {
    margin: 0 auto 0 auto;
}

#container {
    width: 1155px;
    margin: 0 auto 0 auto;
    position: relative;
}

#header {
    border: thin #33984D solid;
    background-color: #33984D;
    color: #FFFFFF;
    min-width: 800px;
    width: 1155px;}

#logo {
    margin: 15px 3px 0 30px;

}

#header .arm .varm {
    display: block;
    width: 220px;
    margin: -55px 0 0 90px;

}

#header .arm {
    font-family: league_gothicregular, sans-serif;
    font-size: 40px;
    width: 50%;

}


#top_menu {
    width: 1155px;
    min-width: 800px;
    height: 55px;
    background-color: #F4F4F4;
    font-family: droid_sansregular, sans-serif;
    font-size: 15px;
}

#top_menu li {
    float: left;
    height: 35px;
    margin: 11px 10px 0 0;
    display: block;
    padding: 0 10px;
    line-height: 35px;
    font-size: 14px;
}

#top_menu a {
    color: #000000;
}

#top_menu .search {
    margin-left: 30px;
}

#top_menu .pro {
    background-color: #FFFFFF;
}

/* General Information page*/

#add_p {
    width: 162px;
    height: 42px;
    margin: 0 0 20px 0;
    border: thin #FB9E4C solid;
    text-align: center;
    line-height: 40px;
    font-size: 15px;
    background-color: #FB9E4C;
    color: #ffffff;
    font-family: droid_sansregular, sans-serif;
    display: block;
}

*	{
    transition: all 0.5s;
}

#add_p:hover {
    background-color: #707070;
    border: thin #707070 solid;
}

input {
    width: 286px;
    height: 35px;
    margin: 20px 0 0 15px;
    border: thin silver solid;
    background: #e2e2e2; /* Old browsers */
    background: -moz-linear-gradient(top,  #e2e2e2 0%, #d1d1d1 0%, #dbdbdb 0%, #fefefe 21%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(0%,#d1d1d1), color-stop(0%,#dbdbdb), color-stop(21%,#fefefe)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e2e2e2 0%,#d1d1d1 0%,#dbdbdb 0%,#fefefe 21%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e2e2e2 0%,#d1d1d1 0%,#dbdbdb 0%,#fefefe 21%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e2e2e2 0%,#d1d1d1 0%,#dbdbdb 0%,#fefefe 21%); /* IE10+ */
    background: linear-gradient(to bottom,  #e2e2e2 0%,#d1d1d1 0%,#dbdbdb 0%,#fefefe 21%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */

}

.gt {
    float: right;
    margin: 0 10px 0 0;
    font-family: ms_gothicregular, sans-serif;
}

#top_col {
    width: 1155px;
    height: 465px;
    margin: 50px 0 0 30px;
}

#top_col li {
    float: left;
    margin: 0 25px 0 0;
}

#side_menu {
    background-color: #f7f7f7;
    border: thin #d4d4d4 solid;
    border-bottom: none;
    width: 162px;
    height: 123px;
}

#side_menu li {
    height: 40px;
    border-bottom: thin #d4d4d4 solid;
    font-size: 15px;
    font-family: droid_sansregular,sans-serif;
    line-height: 40px;
    display: block;
    padding-left: 18px;
    float: none;
    margin: 0;
}

#side_menu li:hover {
    background-color: #1076BC;
    color: #ffffff;
}

.save {
    width: 123px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background: #FB9E4C;
    color: #ffffff;
    font-family: league_gothicregular, sans-serif;
    font-size: 25px;
    border: thin #FB9E4C solid;
}

#top_col #top_col_second_li {
    margin: -64px 0 0 0;
}

.order_details {
    width: 166px;
    font-family: Arial, sans-serif;
    color: #0B0B79;
    font-size: 28px;
    margin: 42px 0 27px 0;
}

.back {
    font-family: droid_sansregular, sans-serif;
    font-size: 13px;
    color: #787878;
    text-decoration: underline;
    margin: 0 0 18px 0;
    background-color: #ffffff;
    border: thin transparent solid;
}

.customer_info {
    width: 543px;
    height: 229px;
    border: thin #d4d4d4 solid;
    margin: 0 0 30px 0;
    border-radius: 4px;
}

#top_col_second_li .top_p, #item_details .top_p, #order_total .top_p {
    width: 526px;
    height: 44px;
    padding-left: 17px;
    background: #f5f5f1;
    line-height: 44px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0 0 24px 0;
    font-weight: normal;
    border-radius: 4px;
}

#top_col_second_li li p, #firearm_details li p, #order_total p {
    width: 361px;
    margin: 0 0 23px 18px;
    font-family: droid_sansregular, sans-serif;
    font-size: 13px;
}

#top_col_second_li span, #firearm_details span, #order_total span {
    margin: 0 0 0 0;
    width: 142px;
    display: inline-block;
    font-weight: bold;
}

.shipping_info {
    width: 543px;
    height: 163px;
    border-radius: 4px;
    border: thin #d4d4d4 solid;
}

#top_col_second_li .shipping_info li p {
    width: 190px;
}

#top_col_second_li .shipping_info li {
    width: 150px;
}

#top_col_second_li .schedule {
    margin: 0 0 0 40px;
    width: 171px;
    height: 54px;
    text-align: center;
    line-height: 41px;
    color: #ffffff;
    font-family: droid_sansregular, sans-serif;
    font-size: 15px;
    border: thin #afafaf solid;
    border-radius: 5px;
    background: #50ac68;
    background: -moz-linear-gradient(top,  #50ac68 0%, #369a4f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#50ac68), color-stop(100%,#369a4f));
    background: -webkit-linear-gradient(top,  #50ac68 0%,#369a4f 100%);
    background: -o-linear-gradient(top,  #50ac68 0%,#369a4f 100%);
    background: -ms-linear-gradient(top,  #50ac68 0%,#369a4f 100%);
    background: linear-gradient(to bottom,  #50ac68 0%,#369a4f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50ac68', endColorstr='#369a4f',GradientType=0 ); 

}

#top_col_second_li .schedule:hover {
    background-color: #707070;
    border: thin #707070 solid;
}

#top_col_second_li .attachments {
    width: 534px;
    height: 424px;
    border-radius: 4px;
    border: thin #d4d4d4 solid;
    margin: 0 0 0 0;
}

#top_col_second_li .attachments li {
    float: none;
    height: 55px;
    margin: 0 0 0 18px;
    display: inline-block;
    width: 450px;
    text-decoration: underline;
    padding-left: 56px;
    line-height: 55px;
    font-family: droid_sansregular,san-serif;
    font-size: 13px;
    background: url('/static/dealerexchange/images/attachment.png') no-repeat 0 6px;
    font-weight: normal;
}

#top_col_second_li .attachments .top_p {
    width: 517px;
}

#top_col_second_li .attachments .button-li {
   background: none;
}

#top_col_second_li .attachments li .doc-btn {
    background: none;
    border: thin transparent solid;
    text-decoration: underline;
}

button:focus {
    outline: 0 !important;
}

button {
    cursor: pointer;
}


#top_col_second_li .print {
    margin: 10px 16px 0 0;
    float: right;
}

#item_details {
    width: 1105px;
    border: thin #d4d4d4 solid;
    float: none;
    border-radius: 4px;
    margin: 32px 0 30px 30px;
}

#item_details .top_p {
    width: 1088px;
    margin-bottom: 0;
    border-bottom: thin #afafaf solid;
}

#item_details ul {
    width: 1105px;
    height: 45px;
}

#item_details li {
    float: left;
    width: 116px;
    font-size: 12px;
    font-family: droid_sansregular, sans-serif;
    margin: 0 5px 0 72px;
    text-align: center;
    line-height: 45px;
    color: #838383;
}

#item_details .item_labels {
    height: 35px;
    line-height: 35px;
    font-weight: bold;
}

#item_details .item_labels li{
    line-height: 34px;
}

#item_details .f4 {
    border-bottom: thin #afafaf solid;
}

#item_details .f4 li:first-child{
    text-align: left;
    margin-left: 17px;
}


#order_total {
    width: 361px;
    height: 111px;
    border: thin #d4d4d4 solid;
    margin: 0 0 50px 773px;
    border-radius: 4px;
}

#order_total .top_p {
    width: 344px;
}

#order_total .first_p {
    font-size: 15px;
}

#order_total .first_p span{
    width: 60px;
}

/* footer */

.full-width-footer {
    width: 100%;
    height: 30px;
    background-color: #33984D;
}

#spacer {
    height: 60px;
    width: 100%;
}

#footer {
    background-color: #33984D;
    width: 1155px;
    margin: auto;
    font-family: droid_sansregular, sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    padding-top: 3px;
}

#footer li {
    width: 500px;
}

#footer .toc{
    margin: 5px 0 0 10px;
}

#footer .copy {
    text-align: right;
    float: right;
    margin: -11px 0 0 0;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}


