/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126 License: none (public domain)*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 99%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



/* General Information page*/

#container {
    min-height: calc(100vh - 150px);
}

#add_p {
    width: 162px;
    height: 42px;
    margin: 0 0 20px 0;
    border: thin #FB9E4C solid;
    text-align: center;
    line-height: 40px;
    font-size: 15px;
    background-color: #FB9E4C;
    color: #ffffff;
    font-family: droid_sansregular, sans-serif;
    display: block;
}

*   {
    transition: all 0.5s;
}

.order_details {
    width: 166px;
    font-family: Arial, sans-serif;
    color: #0b0b79;
    font-size: 28px;
    margin: 0 0 27px 0;
}

#add_p:hover {
    background-color: #707070;
    border: thin #707070 solid;
}

input {
    width: 286px;
    height: 35px;
    margin: 20px 0 0 15px;
    border: thin silver solid;
    background: #e2e2e2; /* Old browsers */
    background: -moz-linear-gradient(top,  #e2e2e2 0%, #d1d1d1 0%, #dbdbdb 0%, #fefefe 21%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(0%,#d1d1d1), color-stop(0%,#dbdbdb), color-stop(21%,#fefefe)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e2e2e2 0%,#d1d1d1 0%,#dbdbdb 0%,#fefefe 21%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e2e2e2 0%,#d1d1d1 0%,#dbdbdb 0%,#fefefe 21%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e2e2e2 0%,#d1d1d1 0%,#dbdbdb 0%,#fefefe 21%); /* IE10+ */
    background: linear-gradient(to bottom,  #e2e2e2 0%,#d1d1d1 0%,#dbdbdb 0%,#fefefe 21%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */

}

.gt {
    float: right;
    margin: 0 10px 0 0;
    font-family: ms_gothicregular, sans-serif;
}

#top_col {
    width: 1150px;
    height: 500px;
    margin: 44px 0 0 30px;
}

#top_col li {
    float: left;
    margin: 0 43px 0 0;
}

#side_menu {
    background-color: #f7f7f7;
    border: thin #d4d4d4 solid;
    border-bottom: none;
    width: 162px;
    height: 123px;
}

#side_menu li {
    height: 40px;
    border-bottom: thin #d4d4d4 solid;
    font-size: 15px;
    font-family: droid_sansregular,sans-serif;
    line-height: 40px;
    display: block;
    padding-left: 18px;
    float: none;
    margin: 0;
}

#side_menu li:hover {
    background-color: #1076BC;
    color: #ffffff;
}

.save {
    width: 123px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background: #FB9E4C;
    color: #ffffff;
    font-family: league_gothicregular, sans-serif;
    font-size: 25px;
    border: thin #FB9E4C solid;
}

/* Inventory Page */

#inventory {
    border: thin #afafaf solid;
    width: 1103px;
    border-radius: 4px;
    /* margin-top: -64px; */
}

#product_name {
    background: #f5f5f1;
    height: 51px;
    width: 1103px;
}

#product_name li {
    width: 100px;
    margin: 0 136px 0 20px;
    line-height: 51px;
    font-family: droid_sansregular, sans-serif;
    color: #000;
    font-size: 14px;
    text-align: center;
}

#inventory .items .img_li {
    margin: 0;
    width: 90px;
}

.order-no a{
    text-decoration: underline;
    color: #1076bc;
}

.items {
    width: 1103px;
    height: 58px;
    background: #f0efef;
    /* border: thin red solid; */
}

#inventory .items li {
    height: 58px;
    width: 100px;
    line-height: 58px;
    /* color: #1076BC; */
    font-family: droid_sansregular, sans-serif;
    font-size: 14px;
    margin: 0 136px 0 20px;
    text-align: center;
}


.item_1 {
    border-bottom: thin #afafaf solid;
    background: #fff;
}

.ship {
    width: 114px;
    height: 38px;
    border: thin #0b0b79;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 14px;
    color: #fff;
    background: #0b0b79;
    cursor: pointer;
}

.shipped {
    background: url("/static/dealerexchange/images/shipped.png") no-repeat 4px center;
}


/* footer */

.full-width-footer {
    width: 100%;
    height: 30px;
    background-color: #33984D;
}

#spacer {
    height: 60px;
    width: 100%;
}

#footer {
    background-color: #33984D;
    width: 1155px;
    margin: auto;
    font-family: droid_sansregular, sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    padding-top: 3px;
}

#footer li {
    width: 500px;
}

#footer .toc{
    margin: 5px 0 0 10px;
}

#footer .copy {
    text-align: right;
    float: right;
    margin: -11px 0 0 0;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

