/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126 License: none (public domain)*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    /* border: 0; */
    font-size: 99%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*Header starts here*/


/* General information*/

.store {
    min-height: calc(100vh - 150px);
    font-family: Arial, sans-serif;
    margin-left: 35px;
    /* border: thin red solid; */
}

.store .ffl {
    color: #0b0b79;
    font-size: 21px;
    margin: 46px 0 12px 0;
}

.store .desc {
    color: #767676;
    font-size: 12px;
    line-height: 15px;
}

.store .listings {
    /* border: thin red solid; */
    overflow: hidden;
    width: 1155px;
    margin-top: 35px;
}

.store .listings li {
    float: left;
    border: thin #cbccc9 solid;
    width: 264px;
    height: 288px;
    margin: 0 20px 37px 0;
    border-radius: 3px;
    /* padding: 2px; */
}

.store .add-item button {
    background-color: #0b0b79;
    border: thin transparent solid;
    width: 257px;
    height: 181px;
    margin: 3px auto 3px auto;
    display: block;
    color: #fff;
}

.store .add-item button span {
    font-size: 32px;
}

.store .item-img{
    margin: auto;
    display: block;
}

.store .add-item div {
    width: 264px;
    height: 101px;
    border-top: thin #cbccc9 solid;
}

.store .item div {
    border-top: thin #cbccc9 solid;
    border-bottom: thin #cbccc9 solid;
    height: 58px;
}

.store .item p {
    font-size: 14px;
    margin-left: 7px;
    /* border: thin red solid; */
}

.store .item p:first-child {
    margin: 12px 0 0 7px;
}

.store .item p:last-child {
    margin: 10px 0 0 7px;
    color: #0b0b79;
    font-size: 13px;
}

.store .item span button {
    border: thin transparent solid;
    background-color: #fff;
    width: 82px;
    height: 47px;
    font-size: 15px;
    color: #747373;
}

.store .empty .up {
    background-color: #f5f5f1;
    border: thin transparent solid;
    width: 257px;
    height: 181px;
    margin: 3px auto 3px auto;
}

.store .empty .down {
    width: 264px;
    height: 101px;
    border-top: thin #cbccc9 solid;
}

.store .active-button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

#wrapper, #wrapper-delete-popup {
    background-color: rgba(230,230,230,0.8);
    width: 100%;
    height: 100%;
    position:fixed;
    left:0px;
    top: 0;
}

#wrapper-delete-popup {
    display: none;
}

#delete-popup p.error {
    padding-top: 4px;
    color:red;
}

#processing, #delete-popup{
    padding: 45px 0 0 42px;
    background-color: #ffffff;
    width: 564px;
    height: 276px;
    margin: 150px auto 0 auto;
    -webkit-box-shadow: 3px 3px 6px 0px rgba(197,197,197,1);
    -moz-box-shadow: 3px 3px 6px 0px rgba(197,197,197,1);
    box-shadow: 3px 3px 6px 0px rgba(197,197,197,1);
    font-family: Arial, sans-serif;
}

 #wrapper .first_p {
    color: #33984d;
    font-size: 38px;
    margin: 0 0 18px 0;
    line-height: 1;
    font-weight: bold;
}

#wrapper .first_p span {
     float: right;
     font-weight: normal;
     font-size: 18px;
     margin: 0 18px 0 0;
     font-family: droid_sansregular, sans-serif;
 }

#wrapper .top_p {
     margin: 33px 0 0 22px;
 }

 #wrapper p {
     font-family: droid_sansregular, sans-serif;
     margin: 0 0 0 22px;
     line-height: 25px;
     color: #787878;
     font-weight: bold;
     font-size: 15px;
 }

#wrapper .last, #wrapper-delete-popup .last {
    font-family: droid_sansregular, sans-serif;
    font-size: 17px;
    color: #787878;
    margin: 10px 0 0 0;
    font-weight: normal;
}

#wrapper #processing button, #delete-popup button {
    width: 250px;
    height: 50px;
    margin: 26px 0 0 0;
    background: #fb9e4c;
    border: thin #afafaf solid;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

#wrapper #processing .add-listing-btn {
    margin-left: 20px;
}

.store .edit-icon {
    width: 60px;
    height: 60px;
    display: none;
    position: relative;
    margin-top: -60px;
    margin-left: 99px;
    top: -59px;
    z-index: 1000;
    background: url("/static/account/images/edit-icon.png") no-repeat;
    background-size: 100%;
}
