/* Fonts
------------------------------------------------------------------------------*/

@font-face {
    font-family: 'Google Droid Sans';
    src: url('../fonts/Droid_Sans/DroidSans.ttf');
    font-weight: normal;
    font-style: normal;
}

html, body {
    font-family: 'Google Droid Sans';
    background: #f4f4f4;
}

a.page-number.current-page {
    text-decoration: underline;
}

#myTab {
    float: left;
    background: #044a7a;
}

#myTab li a {
    background-color: #044a7a;
    color: #fff;
    text-transform: uppercase;
    border: thin #04aa7a;
    margin-top: 5px;
    font-size: 15px;
    font-family: Arial, sans-serif;
}

#myTab li a:hover {
    background-color: #1d5c87;
}

#customer-view {
    text-align: center;
}

#customer-view .customer-view-label {
    color: #1076BC;
    margin: 0 auto;
}

.customer-view .CheckboxLabel {
    text-align: left;
}

.varmory-btn-off {
    background: transparent url("../images/off.png") no-repeat center;
    width: 84px;
    height: 30px;
    border: thin transparent solid;
    color: #4e4e4e;
}

.varmory-btn-on {
    background: transparent url("../images/on.png") no-repeat center;
    width: 84px;
    height: 30px;
    border: thin transparent solid;
    color: #4e4e4e;
}

.search-box {
    background: #fff;
    border: thin #e2e2e2 solid;
    border-radius: 5px;
    height: 80px;
    width: 100%;
}

#search_name {
    height: 40px;
    background: #eee;
    border: thin #fff solid;
    width: 341px;
    margin-left: 5px;
    font-size: 15px;
    font-style: italic;
}

.nav-search {
    margin: 19px 0 0 0;
    padding: 0;
}

#search_button{
    background: url("/static/images/search-arrow.png") no-repeat;
    width: 118px;
    height: 38px;
    margin-left: -10px;
    font-size: 16px;
}

.search-org {
    margin-top: 22px;
}

.dashboard-header-dropdown {
    border: thin #e8e8e8 solid;
    width: 178px;
    height: 150px;
    background-color: #fff;
    list-style: none;
    padding: 0;
    margin: 38px 0 0 961px;
    position: relative;
    z-index: 1000;
    display: none;
}

.dashboard-header-dropdown li{
    border-bottom: thin #e8e8e8 solid;
}

.dashboard-header-dropdown li span {
    display: inline-block;
    height: 37px;
    line-height: 37px;
    padding-left: 8px;
    color: #044a7a;
}

.dashboard-header-dropdown li a{
    display: inline-block;
    height: 37px;
    line-height: 37px;
    padding-left: 36px;
    color: #044a7a;
}

.dashboard-header-dropdown li span {
    display: inline-block;
    height: 37px;
    line-height: 37px;
    padding-left: 8px;
    color: #044a7a;
}

.dashboard-header-dropdown li a:hover{
    text-decoration: none;
    color: #1076BC;
}

.dashboard-header-dropdown li:nth-child(1){

}

.dashboard-header-dropdown li:nth-child(1) a{
    padding: 0;
    margin-left: 7px;
}

.dashboard-header-dropdown li:nth-child(1) button{
    width: 50px;
    height: 22px;
    background-color: transparent;
    margin: 0 0 0 8px;
    font-size: 9px;
    font-weight: bold;
    border: thin transparent solid;
    vertical-align: middle;
    border-radius: 6px;
}

.dashboard-header-dropdown li:nth-child(1) .cv-on{
    background: transparent url("/static/images/customer-view-on.png") no-repeat center left;
    padding: 0 0 0 15px;
}

.dashboard-header-dropdown li:nth-child(1) .cv-off{
    background: transparent url("/static/images/customer-view-off.png") no-repeat center left;
    padding: 0 12px 0 0;
    display: none;
}

.dashboard-header-dropdown li:nth-child(2){
    background: url("/static/images/gears.png") no-repeat 6px center;
}

.dashboard-header-dropdown li:nth-child(3){
    background: url("/static/images/home.png") no-repeat 6px center;
}

.dashboard-header-dropdown li:nth-child(4){
    background: url("/static/images/support.png") no-repeat 6px center;
}

.dashboard-header-dropdown li:nth-child(5){
    background: url("/static/images/logout.png") no-repeat 6px center;
    border-bottom: thin transparent solid;
}

.navbar-collapse.collapse {
   overflow: visible !important;
    height: 78px !important;
}

.dropdown-menu-button {
    padding: 0;
    border: thin transparent solid;
    width: 30px;
    height: 30px;
    margin-top: 11px;
    background: url("/static/images/hamburger.png") no-repeat;
}

.menu-dd:hover ul {
    display: block;
}

.menu-dd:hover .dropdown-menu-button{
    background: url("/static/images/hamburger-active.png") no-repeat;
}

.menu-dd .dashboard-header-dropdown {
    position: fixed;
    margin: -5px 0 0 -152px;
    display: none;
}

.header-user {
    height: 10px;
}

button:focus {outline:0 !important;}

footer p {
    margin-bottom: 10px;
}

footer a:hover, footer a:focus {
    color: #fff;
    text-decoration: none;
}

/*
 * Alert boxes
 */
.alert {
    position: fixed;
    top: 0;
    left: 50%;
    margin: 5px 0 0 -300px;
    margin-left:-150px;
    z-index: 99999;
    width: 300px;
}
.alert .message {
    float: left;
}
.btn-hide {
    display: inline-block;
    position: absolute;
    top: 3px;
    right: 3px;
}

/*
 * Cart Styles
 */
.cart-icon-container {
    float: right;
    width: 153px;
    padding: 3px;
    background-color: #044a7a;
    margin-top: 5px;
}
.cart-icon-container a {
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 128px;
    margin: auto;
}
.cart-icon-container a:hover {
    text-decoration: none;
}
.cart-icon-container a>*{
    display: inline-block;
}
.cart-image {
    margin-right: 11px;
}
span.cart-item-count {
    position: absolute;
    top: 85px;
    left: 1160px;
    font-size: 16px;
}
table.cart-details {
    width: 100%;
    text-align: center;
}
table.cart-details thead {
    background: #1076bc;
    color:#FFF;
    padding:0px 0px;
    line-height:50px;
}
table.cart-details tbody tr:nth-child(odd) {
    background: #f4f4f4;
}
table.cart-details td {
    padding: 0 2px;
}
table.cart-details tfoot {
    background: #1076bc;
    line-height:50px;
    padding:14px;
    color:#FFF;
}

#container {
    position: relative;
    height: 100%;
    margin: 0 auto -30px auto;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

#container *, #container *:before, #container *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#cart article, #cart aside, #cart details,
#cart figcaption, #cart figure, #cart footer,
#cart header, #cart hgroup, #cart menu,
#cart nav, #cart section {
    display: block;
}

#cart select {
    font-weight: normal;
}

#cart ol, #cart ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#cart blockquote, #cart q {
    quotes: none;
}
#cart table {
    border-collapse: collapse;
    border-spacing: 0;
}

#cart {
    margin: 50px 0 0 30px;
    width: 1190px;
    font-family: Arial, sans-serif;
}

#cart .shopping_cart {
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    margin: 0 0 30px 0;
}

#cart li {
    float: left;
    vertical-align: baseline;
}

#cart .listing {
    width: 1190px;

}

#cart .subtotal{
    width: 232px;
    border: thin #e2e2e2 solid;
    height: 98px;
    font-size: 14px;
    font-weight: bold;
    padding: 26px 0 0 0;
    text-align: center;
}

#cart .subtotal span{
   color: #FF9B39;
    font-size: 17px;
}

#cart .listing .subtotal button{
    margin: 22px 0 0 0;
    width: 215px;
    height: 27px;
    border-radius: 2px;
    border: thin transparent solid;
    background: #ffc578; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffc578 53%, #fb9d23 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(53%,#ffc578), color-stop(100%,#fb9d23)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffc578 53%,#fb9d23 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffc578 53%,#fb9d23 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffc578 53%,#fb9d23 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffc578 53%,#fb9d23 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc578', endColorstr='#fb9d23',GradientType=0 ); /* IE6-9 */
    font-family: Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#cart .update {
    width: 75px;
    font-size: 11px;
    height: 20px;
    border-radius: 2px;
    border: thin transparent solid;
    margin: 10px 0 0 100px;
    display: none;
    background: #ffc578; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffc578 53%, #fb9d23 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(53%,#ffc578), color-stop(100%,#fb9d23)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffc578 53%,#fb9d23 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffc578 53%,#fb9d23 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffc578 53%,#fb9d23 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffc578 53%,#fb9d23 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc578', endColorstr='#fb9d23',GradientType=0 ); /* IE6-9 */
}

#cart .down {
    clear: both;
    float: right;
    width: 830px;
    height: 37px;
    border: thin transparent;
    border-top: thin #e2e2e2 solid;
    margin: 0 60px 0 0;
    text-align: right;
}

#cart .disclaimer {
    clear: both;
    font-size: 11px;
}


#cart .pq {
    width: 500px;
    height: 20px;
    margin: 0 0 0 400px;
}

#cart .pq li {
    display: block;

    width: 230px;
    text-align: center;
    font-size: 12px;
    color: #787878;
}

#cart .pq .price {
    text-align: left;
    margin: 0 0 0 15px;
}

.item {
    border-bottom: thin #e2e2e2 solid;
    width: 830px;
}

#cart .item li {
     padding-top: 8px;

}

#cart .item .desc {
    width: 258px;
}

#cart .item .desc .item_name {
    font-weight: bold;
    font-size: 18px;
    color: #1076BC;
    margin: 20px 0 10px 0;
}

#cart .item .desc .mfg_by {
    font-size: 11px;
    color: #787878;
}

#cart .item .desc .stock {
    font-size: 12px;
    color: #13AC03;
}

#cart .item .desc .del button {
    border: thin transparent solid;
    background-color: #fff;
    color: #1076BC;
    font-size: 12px;
    line-height: 9px;
}

#cart .item .desc .del .del_button {
   border-right: thin silver solid;
   padding-left: 0;
}


#cart .item .cost {
    width: 230px;
    font-weight: bold;
    color: #FF9B39;
    margin-top: 20px;

}

#cart .item .amount {
    width: 80px;
    margin-top: 20px;
  }

#cart .item .amount select{
    display: block;
    margin: 0 0 0 100px;
    height: 22px;
    width: 75px;
}

#cart .item .amount input{
    display: block;
    width: 75px;
    height: 20px;
    margin: 0 0 0 100px;
}


#cart .item .item_img {
    width: 116px;
    margin: 0 22px 0 0;

}

#cart .item .item_img img {
    max-height: 117px;
}

#spacer {
    height: 30px;
    width: 100%;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.checkout {
    width: 1200px;
    margin: 40px auto 0 auto;
    overflow: hidden;
}

.checkout .list {
    width: 1200px;
}

.checkout .list li {
    float: left;
    list-style: none;
}

.checkout .list li.item-list {
    width: 851px;
    margin-right: 27px;
}

.checkout .list li.item-list > div.mfr {
    border: thin #e2e2e2 solid;
    border-radius: 8px;
    margin-bottom: 25px;
}

.checkout .list li.item-list > div.mfr .top{
    background: #044a7a;
    height: 45px;
    padding: 0 0 0 16px;
    color: #fff;
    line-height: 45px;
    font-size: 18px;
    margin: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.checkout .list li.item-list > div.mfr img{
    float: left;
    margin-right: 50px;
}

.checkout .list li.item-list > div.mfr .top span{
    color: #3583b8;
}

.checkout .list li.item-list > div.mfr >ul {
    overflow: hidden;
    padding: 0;
    background: #fff;
    border-radius: 8px;
}

.checkout .list li.item-list > div.mfr .item .nm{
   color: #56a9e2;
    width: 400px;

    display: inline-block;
    margin: 24px 0 0 0;
}

.checkout .list li.item-list > div.mfr .item .qty{
    width: 465px;
    display: block;
    margin: 0
    font-size: 13px;
    padding: 0;
}

.checkout .list li.item-list > div.mfr .item .qty input{
   width: 20px;
    margin-left: 8px;
    border: thin transparent solid;
    background: #fff;
}

.checkout .list li.item-list > div.mfr .item .qty button{
    border: thin transparent solid;
    color: #56a9e2;
    background: #fff;
    text-decoration: underline;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.checkout .list li.item-list > div.mfr .item .unit{
    font-weight: bold;
    margin: 0 0 11px 0;
    color: #666;
    padding: 0;
    line-height: 1;
}

.checkout .list li.item-list > div.mfr .item .remove{
    border: thin transparent solid;
    background: #fff;
    font-size: 13px;
    margin: 0 0 20px 0;
    padding: 0;
}


.checkout .list li.item-list .details {
    display: block;
    width: 575px;
    overflow: hidden;
}

.checkout .list li.item-list .shipping {
    padding-left: 25px;
    width: 244px;
    /*border-left: thin #e2e2e2 solid;*/
}

.checkout .list li.item-list .shipping label{
   display: block;
    color: #7a7a7a;
    width: 203px;
}

.checkout .list li.item-list .shipping label span{
    float: right;
}

.checkout .list li.item-list .shipping .choose{
    width: 165px;
    font-weight: bold;
    padding: 0;
    margin: 16px 0 15px 0;
}

.checkout .list li.item-list .shipping input[type="radio"] {
    width: 19px;
    height: 19px;
    padding: 0;
    margin: 0 7px 0 0;
    vertical-align: bottom;
    overflow: hidden;
}

.checkout .subtotal{
    width: 183px;
    font-weight: bold;
    padding: 0;
    margin: 50px 0 20px 0;
    font-size: 19px;
}

.checkout .subtotal span{
    float: right;
    color: #8a8a8a;
}

.checkout .fees{
    padding: 0;
    line-height: 1;
    margin: 0 0 8px 0;
    width: 183px;
}

.checkout .shipping .fees {
    margin-top: 30px;
}

.checkout .fees span{
   float: right;
    color: #8a8a8a;
}

.checkout .total{
    width: 219px;
    font-weight: bold;
    padding: 15px 32px 0 0;
    margin: 20px 0 30px 0;
    font-size: 19px;
    border-top: thin #e2e2e2 solid;
    color: #048a01;
}

.checkout .total span{
    float: right;
    color: #8a8a8a;
}

.checkout .order {
    width: 265px;
    border: thin #e2e2e2 solid;
    border-radius: 8px;
    background: #fff;
}

.checkout .order .subtotal {
    margin-top: 28px;
}

.checkout .order p {
   margin-left: 22px;
    width: 220px;
}

.checkout .order .total {
   padding-right: 0;
}

.checkout .order button {
    width: 240px;
    height: 50px;
    background: #f35600;
    border: thin #f35600 solid;
    margin: 47px auto 27px auto;
    border-radius: 5px;
    display: block;
    color: #fff;
    font-size: 20px;
}

/*
 * Payments
 */
#payment {
    border: 0;
    font-size: 99%;
    font: inherit;
    vertical-align: baseline;
    margin: 50px 0 0 25px;
    width: 850px;
    font-family: Arial, sans-serif;
    min-height: calc(100vh - 150px);
    font-weight: normal;
    font-style: normal;
    line-height: normal;
}

#payment article, #payment aside, #payment details,
#payment figcaption, #payment figure, #payment footer,
#payment header, #payment hgroup, #payment menu,
#payment nav, #payment section {
    display: block;
}

#payment button {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#payment input, #payment select {
    font-size: 13px;
}

#payment p {
    margin: 0 0 0 0;
}

#payment label {
    display: inline;
    max-width: none;
    font-weight: normal;
    margin-bottom: 0px;
}

#payment ol, #payment ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#payment blockquote, #payment q {
    quotes: none;
}
#payment table {
    border-collapse: collapse;
    border-spacing: 0;
}
#payment .shopping_cart {
    font-family: Arial, sans-serif;
    clear: left;
    color: #fff;
    font-size: 15px;
    background: #04417a;
    height: 45px;
    padding-left: 17px;
    line-height: 45px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#payment .cards {
    border: thin #e2e2e2 solid;
    border-radius: 5px;
    padding: 0 0 30px 0;
    width: 850px;
}



#payment li {
    float: left;
}

#payment .first_row {
    height: 40px;
    margin: 0 15px 0 16px;
    border-bottom: thin #e2e2e2 solid;
}

#payment .first_row li {
    width: 220px;
    text-align: center;
    height: 40px;
    line-height: 50px;
    font-size: 13px;
    color: #787878;
}

#payment .first_row .dc {
    color: #1076BC;
    font-size: 15px;
    text-align: left;
    width: 370px;
    font-weight: bold;
}

#payment .first_row .exp  {
    text-align: right;
    padding: 0 10px 0 0;
}

#payment .card_row {
    /* background-color: #d2ebfc; */
    /* border:  thin #a2cce9 solid; */
    border-radius: 5px;
    height: 40px;
    margin: 12px 15px 0 16px;
}

#payment .card_row div {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    width: 220px;
    text-align: center;
}

#payment .payment-top-ul {
    width: 850px;
    overflow: hidden;
}



#payment .card_row input[type="radio"] {
    margin: -1px 0 0 10px;
    vertical-align: middle;
}

#payment .card_row button {
    font-size: 8px;
    color: #1076BC;
    margin: -1px 13px 0 15px;    
    vertical-align: middle;
    display: inline-block;
    width: 30px;
    height: 20px;
    text-align: center;
    padding: 0;
    font-weight: bold;
    line-height: normal;
}

#payment .card_row .details {
    width: 370px;
    text-align: left;
    font-size: 12px;
    color: #787878;
}

#payment .card_row .exp_date  {
    text-align: right;
    padding: 0 10px 0 0;
    margin-left: -10px;
}

span.card_type {
    color: #000;
    font-size: 13px;
}

#payment .checking {
     margin-top: 44px;
 }

#payment .ac_row input[type="radio"]{
   margin-right: 17px;
}

span.account{
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 11px;
}

#payment ul.card_row.ac_row {
    border: thin transparent solid;
    background-color: transparent;

}

#payment ul.card_row.ac_row .details{
   width: 400px;
}

#payment ul.card_row.ac_row li{
    width: 215px;
}

#payment .add_payment {
    margin: 50px 0 0 0;
    padding-bottom: 50px;
}

#payment .add_payment p {
    padding: 0 0 0 16px;
}

#payment .first_p {
    color: #1076BC;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    border-bottom: thin #e2e2e2 solid;
}

#payment .add_payment .cdc {
    height: 51px;
    background: url("../images/cards.png") no-repeat right center;
    padding-top: 15px;
    margin: 0 0 30px 0;
    font-size: 16px;
    width: 770px;
}

input {
    padding-left: 10px;
}

#payment .add_payment .cdc button {
    margin: 13px 0 0 0;
    background-color: transparent;    border: thin transparent solid;
    color: #1076BC;
    font-size: 15px;    padding: 0;

}

#payment .add_payment input {
    width: 187px;
    height: 37px;
    border-radius: 5px;
    border: thin silver solid;
    margin: 0 13px 15px 17px;
}

#payment .add_payment select {
    /* width: 187px; */
    height: 37px;
    border-radius: 5px;
    border: thin silver solid;
    margin: 0 13px 15px 0;
}

#payment .add_payment .zip {
    width: 157px;
}

#payment .add_payment .cvv {
     width: 82px;
 }

#payment .add_payment .add_card {
    /*display: block;*/
    width: 100px;
    height: 30px;
    font-size: 13px;
    margin-left: 17px;
}

#payment .add_payment .add-mtd {
    width: 816px;
    padding: 0;
    margin-left: 16px;
}

#payment .add_ac_form, #payment .add_card_form {
    display: none;
}

#payment .add_ac_form .add_button, #payment .add_card_form .add_button {
    position:relative;
}

#payment .add_ac_form .loading img, #payment .add_card_form .loading img {
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    height: 30px;
}

#payment .add_ac  {
    margin-top: 15px;
    border-bottom: transparent;
}

#payment .add_ac .cdc{
    background: url("../images/check.png") no-repeat right center;
}

#payment .add_ac input {
     width: 267px;
     display: block;
 }

#payment .add_ac .add_this_ac {
    width: 170px;
    margin-left: 16px;
}

#payment .add_ac .toc_ac {
    width: 569px;
    height: 45px;
    overflow: scroll;
    text-transform: uppercase;
    margin: 24px 0 10px 16px;
    border: thin silver solid;
    font-size: 13px;
    line-height: 18px;
    text-indent: 0;
}

#payment .expandable {
    margin: 0;
    padding: 0;
}

#payment .expandable img {
    margin: 0;
    position: relative;
    top: -29px;
    left: 584px;
}


#payment .proceed {
    width: 234px;
    height: 92px;
    margin: 0 0 0 30px;
    border: thin #dcdcdc solid;
    background-color: #f4f4f4;
    border-radius: 1px;
    font-family: Arial;
}

#payment .proceed button {
    display: block;
    margin: 22px auto 0 auto;
    width: 215px;
    height: 27px;
    font-size: 13px;
}

#payment .proceed p {
   font-size: 11px;
   margin: 15px 0 0 20px;
}

#payment a {
    text-decoration: none;
    color: #FFFFFF;
}

#payment .button_gradient {
    background: #ffc578; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffc578 53%, #fb9d23 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(53%,#ffc578), color-stop(100%,#fb9d23)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffc578 53%,#fb9d23 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffc578 53%,#fb9d23 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffc578 53%,#fb9d23 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffc578 53%,#fb9d23 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc578', endColorstr='#fb9d23',GradientType=0 ); /* IE6-9 */
    border-radius: 2px;
    border: thin transparent solid;
}

/*
 * Tablist styles
 */
#myTab li>a{
    color: #fff;
}

/*Sign Up Screens*/


.wrap {
    padding: 0;
    width: 750px;
    /* height: 615px; */
    background: #fff;
    margin: auto;
    border-radius: 5px;
}


.feat_mfr img {
    width: 100%;
}


/*Responsiveness*/

@media screen and (max-width: 767px) {
    .navbar-brand img {
        width: 100%;
        max-width: 86px;
    }

    #search_name {
        float: left;
    }

    #search_button {
        margin-top: -4px;
    }

    .feat_mfr img {
        width: 100%;
    }

    .feat_mfr .feat_bold {
        font-size: 1em !important;
    }

    .feat_mfr li {
        height: 431px;
    }

    .error_message img {
        width: 100%;
    }

    .dropdown-menu-button {

        display: none;
    }

    .menu-dd .dashboard-header-dropdown {
        display: block;
        float: right;
        margin: -27px 13px 0 0;
        position: relative;
    }

    #gridData .col-xs-4 .details {
        padding-left: 5px;
        display: block;
        float: none;
        margin-left: -8px;
        width: 100px;
    }
}
@media screen and (max-width: 515px) {

    #search_name {
        width: 152px;
    }

    #search_button {
        width: 78px;
    }
}



