@import url(http://fonts.googleapis.com/css?family=Oswald);

html {
    overflow-y: scroll;
}

footer{background:#1076bc; padding:5px 0 0 0 ; width:100%; float:left ; color:#FFF; position: fixed;
bottom: 0px; }
footer a{ color:#FFF;}
.online{ background:#0C0; height:10px; width:10px; float:left;}

.tab-bg{ background:#044a7a; margin-top: -20px; }
.tab-pane p{ margin-top:15px;}
.bg-tranceparent{ background:none !important; border:none !important; color:#FFF;}
.bg-tranceparent{ color:#FFF !important;}
.box-shadows{ box-shadow:0px 2px 2px 0px rgba(50, 50, 50, 0.24);}
.emailrepbutton{width:262px;height:40px;color:#fff;background-color:#fb9e4c;font-size:18px;border:1px solid transparent;}

.heading1{ font-size:30px; color:#b0b0b0; font-family: 'Oswald', sans-serif; border-left:3px #CCC solid; padding-left:10px;}
.grey-bg{ background:#f4f4f4;  float: left; width: 100%;padding-bottom:15px;}
.light-grey-bg{ background:#f4f4f4;  float: left; width: 100%; padding:14px;font-size:16px;}
.light1-grey-bg{ background:#F0F0F0;  float: left; width: 100%; padding:14px !important;}
.light2-grey-bg{ background:#FFFFFF;  float: left; width: 100%; padding:14px !important;}
.dark-grey-bg{ background:#a0a0a0;  float: left; width: 100%; padding:14px; color:#FFF;}
.dark-blue-bg{ background:#1076bc;  float: left; width: 100%; padding:14px; color:#FFF;}

.grey-border{clear:both; overflow:hidden;}
.grey-border p{ padding:10px 7px; float:left; }
.mic{margin-left: -28px;margin-right: 25px;}
.width250{width:250px;}

.grey-bg table thead{ background:#a0a0a0; text-align:center; padding:0px 0px; line-height:50px; color:#FFF;}
.grey-bg table tbody{ background:#f4f4f4; text-align:center; padding:0px 0px; line-height:normal; color:#333;}
.grey-bg table tbody td{padding:15px 0px; line-height:normal; color:#333; text-align:center; border:#d5d5d5 solid 1px;}
.grey-bg table tbody tr.tr1{ background:#f4f4f4;}
.grey-bg table tbody tr.tr2{ background:#FFF;}
.grey-bg table tbody td .form-control { width:auto; margin: 0 auto;}

.setup-bg{ background: #f2f2f2; float: left; width: 100%; margin-bottom:10px;}
.setup-menu{ !important; float:right; background:none !important;}
.heading2{ font-size:22px; color:#FFFFFF; font-family: 'Oswald', sans-serif; border-bottom:1px #CCC solid; padding:12px 0px 12px 12px; margin:30px 0; width:100%; float:left;  background:#1076bc;}

.form-group2{ width:100%; margin-bottom: 17px; float:left;}
.form-group2 label{ font-weight:normal; width:73px;}
.form-group2 input[type="text"]{ width:70% !important;  float: left; margin-right: 11px;}
.form-group2 select{ width:55% !important; }
.font12px{ font-size:12px !important; margin-top: -23px; margin-right: 18px; font-family:Verdana, Geneva, sans-serif;}

.small-list{width:auto !important; float: left !important; margin-right: 5px; padding: 0px 6px; height: 24px;}
.calender-icon{ width:auto; float:left; font-size: 26px; color: #7E7E7E;}

.margin-top8{ margin-top:7px;}
.margin-top8 ul li{ margin-right:5px;}

/*.home-bg{ background:url(../images/home-bg.png) top center repeat-y; text-align:center; padding:40px 0px 70px 0px; margin:110px 0px; height:auto;}*/
/*.home-bg{ text-align:center; padding:40px 0px 70px 0px; margin:110px 0px; height:auto;}*/
.home-bg{ text-align:center; padding:0px 0px 70px 0px; margin:0px 0px; height:auto;}
.home-bg h1{  font-size: 30px; font-weight: bold; color:#000000;  text-align:center; color: #1076bc; margin-right: 174px;}
.home-bg button{  font-size:60px; font-weight: bold; color:#FFF;  text-align:center; padding:12px 96px; margin-top:20px; font-size:20px; font-weight:normal; background:#428bca; color:#FFF; text-align:center; border:0px;}
.home-bg .signup_button{  font-size:60px; font-weight: bold; color:#FFF; margin-top: 30px;  text-align:center; padding:7px 60px; margin-top:20px; font-size:30px; font-weight:normal; background-color:#428bca; color:#FFF; text-align:center; border:0px;}


.home-bg table tr td{ padding:10px;  color:#000000;}
.margin-pading0{ margin:0px !important; padding:0px 0px 0px 5px !important; }

/*
 * Header styles
 */
.navbar-nav > li > a.visit-link {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 0px;
}


/*==== mobile divice ====*/

@media (min-width: 320px) and (max-width: 640px) {
.home-bg table{ width:90% !important; }

}

.margin-top70{ margin-top: 30px;}
#myContent .col-lg-2{ padding:0px 2px !important; }
#myContent .col-lg-3{ padding:0px 2px !important; }

.right-0{right: -21px;position: relative;
}
.rounded { border-radius: 8px; }

table.cart thead { background: #1076bc; color:#FFF; padding:0px 0px; line-height:50px; }
table.cart tbody tr:nth-child(odd) { background: #f4f4f4;}
table.cart td { padding: 0 2px; }
table.cart tfoot { background: #1076bc; line-height:50px; padding:14px; color:#FFF; }

.update_qty span { cursor: pointer; }
.update_qty input { width: 50%; }

#gridData {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #ffffff;
    border-left: thin #e6e6e6 solid;
}

#gridData input {
    width: 52px;
    height: 27px;
    margin: 6px 0 0 6px;
    background-color: #ffffff;
    text-align: center;
}

#gridData li {
    float: left;
}

#gridData .termGridData {
    margin: 0 0 -1px;
    border-right: thin #e6e6e6 solid;
    border-top: thin #e6e6e6 solid;
    border-bottom: thin #e6e6e6 solid;
}

.termGridData .thumb > img {
    padding: 5px;
    max-height: 230px;
    min-height: 230px;
    width: 100%;
    margin: 0 auto;
    display: block;
}

.termGridData a.thumb {
    height: 230px;
}
.termGridData a.thumb .grid-hover {
    display: none;
    background-color: rgba(255, 255, 255, .8);
    width: 100%;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
}
.termGridData a.thumb:hover .grid-hover {
    display: block;
}

#gridData .grid-model {
    color: #000;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}

#gridData .col-xs-8 {
    padding-right: 5px;
}

#gridData .col-xs-4 .details{
    padding-left: 5px;
}

#gridData .grid-model-extra {
    display: none;
}

#gridData .grid-model:hover .grid-model-extra {
    display: inline;
}

#gridData .grid-model:hover .grid-extra {
    display: none;
}

#gridData .grid-manufacturer {
    color: #898989;
    font-size: 12px;
    padding-bottom: 10px;
    margin-top: 3px;
}

#gridData .grid-manufacturer-extra {
    display: none;
}

#gridData .grid-manufacturer:hover .grid-manufacturer-extra {
    display: inline;
}

#gridData .grid-manufacturer:hover .grid-extra {
    display: none;
}

#gridData .grid-price {
    color: #1ab700;
    font-size: 14px;
    font-weight: bold;
}

.advanced-filters {
    padding: 10px 10px 10px 0;
}

.search_icon {
    width: 64px;
    height: 64px;
    margin: -32px 0 0 -32px;
    top: 50%;
    left: 50%;
    position: absolute;
}

.view_details {
    margin-left: -32px;
    top: 65%;
    left: 50%;
    position: absolute;
    font-size: 12px;
}

.btn-view-toggle {
    padding: 3px 5px;
}

.product-image-thumb-grid {
    object-fit: contain;
    max-width: 230px;
    max-height: 230px;
}

.product-image-thumb-list{
    object-fit: contain;
    max-width: 63px;
    max-height: 63px;
    height: 63px;
}

.product-image-detail-popup {
    object-fit: contain;
    max-width: 460px;
    max-height: 400px;
}
