.MobileCheckboxContainer {
    display: inline-block;
    vertical-align: middle;

    position: relative;
    overflow: hidden;

    background: #fff;

    border-width: 1px;
    border-style: solid;
    border-color: #666 #666 #999 #333;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;

    /* this fixes the overflow:hidden in Chrome/Safari  -> Not in FF3 / Opera though :S */
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

.MobileCheckboxContainer + .MobileCheckboxContainer {
    margin-top: 5px;
}

.MobileCheckboxContainer.disabled {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
}

.MobileCheckboxContainer div.CheckboxLabel {
    position: absolute;
    display: block;

    width: 0;
    top: 0;
    height: 100%;

    margin: 0;
    padding: 0;

    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: normal;

    white-space: nowrap;
    overflow: hidden;
}

.MobileCheckboxContainer div.CheckboxLabel.Checked {
    left:0;
    color:#fff;
    text-shadow:0 0 2px rgba(0,0,0,0.6);
}

.MobileCheckboxContainer div.CheckboxLabel.Unchecked {
    width: 100%;
    color:#8b8b8b;
    text-shadow:0 0 2px rgba(255,255,255,0.6);
}

.MobileCheckboxContainer .CheckboxHandle {
    position: absolute;
    display: block;
    top: 0;
    left: 0;

    cursor: pointer;

    background: #cccccc; /* Old browsers */
    background: -moz-linear-gradient(top,  #cccccc 0%, #eeeeee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #cccccc 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #cccccc 0%,#eeeeee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #cccccc 0%,#eeeeee 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #cccccc 0%,#eeeeee 100%); /* W3C */

    border: 2px solid #f4f4f4;

    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);

    /* Its Easier If We Don't Need To Detect A Border. */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.MobileCheckboxContainer.disabled .CheckboxHandle {
    cursor: default;
}
