@import url(http://fonts.googleapis.com/css?family=Oswald);

footer{background:#303030; padding:5px 0 0 0 ; width:100%; float:left ; color:#FFF; position: fixed;
bottom: 0px; }
footer a{ color:#FFF;}
.online{ background:#0C0; height:10px; width:10px; float:left;}
.tab-bg{ background:#a0a0a0; margin-top: -20px; }
.tab-pane p{ margin-top:15px;}
.bg-tranceparent{ background:none !important; border:none !important; color:#FFF;}
.bg-tranceparent{ color:#FFF !important;}
.box-shadows{ box-shadow:0px 2px 2px 0px rgba(50, 50, 50, 0.24);}

.heading1{ font-size:30px; color:#b0b0b0; font-family: 'Oswald', sans-serif; border-left:3px #CCC solid; padding-left:10px;}
.grey-bg{ background:#f4f4f4;  float: left; width: 100%}
.light-grey-bg{ background:#f4f4f4;  float: left; width: 100%; padding:14px;}
.light1-grey-bg{ background:#F0F0F0;  float: left; width: 100%; padding:14px !important;}
.light2-grey-bg{ background:#FFFFFF;  float: left; width: 100%; padding:14px !important;}
.dark-grey-bg{ background:#a0a0a0;  float: left; width: 100%; padding:14px; color:#FFF;}

.grey-border{ border:#d7d7d7 solid 1px; clear:both; overflow:hidden;}
.grey-border p{ padding:10px 7px; float:left; }
.mic{margin-left: -28px;margin-right: 25px;}
.width250{width:250px;}

.grey-bg table thead{ background:#a0a0a0; text-align:center; padding:0px 0px; line-height:50px; color:#FFF;}
.grey-bg table tbody{ background:#f4f4f4; text-align:center; padding:0px 0px; line-height:normal; color:#333;}
.grey-bg table tbody td{padding:15px 0px; line-height:normal; color:#333; text-align:center; border:#d5d5d5 solid 1px;}
.grey-bg table tbody tr.tr1{ background:#f4f4f4;}
.grey-bg table tbody tr.tr2{ background:#FFF;}
.grey-bg table tbody td .form-control { width:auto; margin: 0 auto;}

.setup-bg{ background: #f2f2f2; float: left; width: 100%; margin-bottom:10px;}
.setup-menu{ !important; float:right; background:none !important;}
.heading2{ font-size:22px; color:#333333; font-family: 'Oswald', sans-serif; border-bottom:1px #CCC solid; padding:12px 0px 12px 12px; margin:30px 0; width:100%; float:left;  background:#f4f4f4;}

.form-group2{ width:100%; margin-bottom: 17px; float:left;}
.form-group2 label{ font-weight:normal; width:73px;}
.form-group2 input[type="text"]{ width:70% !important;  float: left; margin-right: 11px;}
.form-group2 select{ width:55% !important; }
.font12px{ font-size:12px !important; margin-top: -23px; margin-right: 18px; font-family:Verdana, Geneva, sans-serif;}

.small-list{width:auto !important; float: left !important; margin-right: 5px; padding: 0px 6px; height: 24px;}
.calender-icon{ width:auto; float:left; font-size: 26px; color: #7E7E7E;}

.margin-top8{ margin-top:7px;}
.margin-top8 ul li{ margin-right:5px;}

.home-bg{ background:url(../images/home-bg.png) top center repeat-y; text-align:center; padding:40px 0px 70px 0px; margin:110px 0px; height:auto;}
.home-bg h1{  font-size:50px; font-weight: bold; color:#FFF;  text-align:center; }
.home-bg button{  font-size:60px; font-weight: bold; color:#FFF;  text-align:center; padding:7px 60px; margin-top:20px; font-size:18px; font-weight:normal; background:#5cb633; color:#FFF; text-align:center; border:0px;}
.home-bg .signup_button{  font-size:60px; font-weight: bold; color:#FFF; margin-top: 30px;  text-align:center; padding:7px 60px; margin-top:20px; font-size:18px; font-weight:normal; background:#5cb633; color:#FFF; text-align:center; border:0px;}

.index-bg{ background:url(../images/bg.png) top left repeat;}
.home-bg table tr td{ padding:10px;  color:#FFF;}
.margin-pading0{ margin:0px !important; padding:0px 0px 0px 5px !important; }


/*==== mobile divice ====*/

@media (min-width: 320px) and (max-width: 640px) {
.home-bg table{ width:90% !important; }
	
}