
/* HTML5 display-role reset for older browsers */
#review article, #review aside, #review details,
#review figcaption, #review  figure,
#review footer, #review  header, #review hgroup,
#review menu, #review nav, #review section {
    display: block;
}

#review button {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#review input, #review select {
    font-size: 13px;
}

#review p {
    margin: 0 0 0 0;
}

#review label {
    display: inline;
    max-width: none;
    font-weight: normal;
    margin-bottom: 0px;
}

#review ol, #review ul {
    list-style: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
#review blockquote, #review q {
    quotes: none;
}
#review table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* General Information page*/

#review {
    margin: 50px auto 0 auto;
    width: 1190px;
    font-family: Arial, sans-serif;
    min-height: calc(100vh - 150px);
    padding-left: 40px;
}

#review .shopping_cart {
    font-size: 28px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    margin: 0 0 13px 0;
    line-height: 1;
}

#review .address {
    width: 1190px;
}

#review .tinytext {
    font-size: 12px;
    display: block;
    margin: -13px 0 18px 0;
}

#review .tinytext a{
    font-size: 12px;
    color: #1076BC;
}

#review li {
    float: left;
}

#review .address ul{
    border: thin #e2e2e2 solid;
    padding: 11px 14px;
    width: 850px;
    overflow: auto;
    background: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#review .address .details li{
    width: 260px;
}

#review .address .details p{
   font-size: 14px;
   line-height: 19px;
    font-weight: bold;
    margin-bottom: 55px;
}

#review .address .details > :last-child p{
   margin-left: 30px;
}



#review .address .top-line {
    background: #044a7a;
    padding: 0 0 0 14px;
    border-radius: 5px 5px 0 0;
}

#review .top-line li{
    color: #fff;
    line-height: 45px;
    width: 260px;
}



#review .top-line > :last-child{
   margin-left: 30px;
}

#review .address .items {
   margin-top: 30px;
    background: #fff;
    border-radius: 5px;
}

#review .items .ordered {
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: #044a7a;
    padding-left: 14px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#review .items .ordered span{
    margin-left: 440px;
}

#review .items .mfg {
    margin: 17px 0 0 14px;
    line-height: 1;
    color: #044a7a;
    font-weight: bold;
}

#review .address .items li{
    width: 400px;
    /* border: thin red solid; */
}

#review .address .items img{
    float: left;
    margin: 0 10px 30px 0;
    max-width: 81px;
}

#review .items {
    border: thin #e2e2e2 solid;
    margin-bottom: 50px;
}

#review .items p {
    line-height: 20px;
}

#review .nm {
    margin: 18px 0 0 0;
    font-size: 16px;
    font-weight: bold;
}

#review .cost {
    color: #FF9B39;
    font-size: 16px;
}

#review .qty {
    font-size: 13px;
}

#review .qty button{
    border: thin transparent solid;
    background-color: transparent;
    color: #1076BC;
    font-size: 12px;
}

#review .item-list {
    float: left;
    padding: 11px 14px;
    width: 400px;
}

#review .sold {
    color: #787878;
    font-size: 12px;
}

#review .address .items .delivery {
    width: 200px;
    margin: 16px 80px 0 100px;
    float: right;
}

#review .address .items .delivery p {
    font-weight: bold;
}

#review .address .items .delivery input[type="radio"] {
    width: 19px;
    height: 19px;
    padding: 0;
    margin: 0 7px 0 0;
    vertical-align: bottom;
    overflow: hidden;
}

#review .address .items .delivery label {
    display: block;
    color: #7a7a7a;
    width: 203px;
    font-weight: bold;
    margin-bottom: 5px;
}

#review .address .items .delivery .choose {
    width: 165px;
    font-weight: bold;
    padding: 0;
    margin: 16px 0 15px 0;
}

#review .address .items .delivery label span {
    float: right;
}

#review .address .items .delivery p span{
    margin-left: 5px;
    color: #8a8a8a;
}

#review .place {
    width: 266px;
    height: 237px;
    border: thin #e2e2e2 solid;
    background: #fff;
    margin: 0 0 0 35px;
    border-radius: 5px;
}

#review .place p span{
    float: right;
    margin-right: 40px;
    color: #8a8a8a;
}

#review .place button {
    display: block;
    margin: 10px auto 15px auto;
    width: 242px;
    height: 50px;
    border-radius: 5px;
    border: thin transparent solid;
    padding: 1px 6px;
    font-size: 20px;
    background: #f35600;
    color: #fff;
}

#review .order {
    margin: 20px 0 22px 10px;
    font-size: 22px;
    line-height: 20px;
    width: 176px;
}

#review .others {
    margin: 0 0 0 10px;
    font-size: 13px;
    line-height: 20px;
}

#review .total {
    color:  #36a134;
    margin: 15px 0 5px 10px;
    font-size: 16px;
    font-weight: bold;
    display: block;
    width: 214px;
    line-height: 40px;
    border-top: thin #e2e2e2 solid;
}

#review .place .total span {
    margin-right: 15px;
    color: #000;
}

#review a {
    text-decoration: none;
    color: #FFFFFF;
}

#review .qty input {
    width: 20px;
    margin-left: 8px;
    border: thin transparent solid;
    background: #FFF;
}

@-webkit-keyframes opacity {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
@-moz-keyframes opacity {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

#submit_order span {
     -webkit-animation: opacity 1s infinite;
     -moz-animation: opacity 1s infinite;
     animation: opacity 1s infinite;
 }


#submit_order span:nth-child(2) {
    -webkit-animation-delay: 100ms;
    -moz-animation-delay: 100ms;
    animation-delay: 100ms;
}

#submit_order span:nth-child(3) {
    -webkit-animation-delay: 300ms;
    -moz-animation-delay: 300ms;
    animation-delay: 300ms;
}

/*
 * Thank You message
 */
.thank {
    width: 80%;
    margin: auto;
    font-family: Arial,sans-serif;
}

.thank > :first-child {
    width: 433px;
    line-height: 1;
    margin: 40px 0 18px 0;
    font-family: Arial, sans-serif;
    font-size: 38px;
}

.thank > :nth-child(2) {
    line-height: 1;
    font-family: Arial, sans-serif;
    color: #797979;
    margin-bottom: 44px;
}

.thank > :nth-child(2) a{
   color: #1076bc;
}

.thank > :last-child button {
    width: 242px;
    height: 50px;
    background: #f35600;
    color: #fff;
    border: thin transparent solid;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}