#settings{
  color: #787878;
}

#settings h1 {
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  margin: 0 0 30px 0;
  color: #000;
  line-height: 35px;
}

#settings h2 {
  color: #1076BC;
  font-size: 15px;
  font-weight: normal;
  line-height: 20px;
  margin-top: 0;
}

#settings .info-container {
  border: thin #e2e2e2 solid;
  padding: 15px 0 15px 15px;
  clear: both;
  margin-bottom: 33px;
  border-radius: 4px;
    background: #fff;
}

#settings .info-container .info-sub-container {
  padding-left: 0px;
  line-height: 35px;
  font-size: 14px;
  color: #787878;
}

#settings .info-container .info-sub-container .info-label{
  font-weight: bold;
}

#settings .settings-form label{
  display: none;
}

#settings .errorlist {
  color: red;
  list-style-type: none;
  padding: 0;
}

#settings #verified-suppliers{
  list-style-type: none;
  padding: 0;
}

#settings #verified-suppliers li{
  margin-top: 10px;
}

#settings #verified-suppliers li .tick{
  background: url("/static/images/green-tick.png") no-repeat left center;
  width: 25px;
  height: 15px;
  display: inline-block;
}

#settings #verified-suppliers li .delete-supplier{
  font-size: 11px;
  color: #1076BC;
  cursor: pointer;
  border: thin transparent solid;
  background-color: transparent;
  padding: 0;
}

#settings .settings-form .submit-button{
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 2px;
  border: thin transparent solid;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e94c1d+0,ea582c+4,e94c1d+96,ea582c+100 */
  background: #e94c1d; /* Old browsers */
  background: -moz-linear-gradient(top,  #e94c1d 0%, #ea582c 4%, #e94c1d 96%, #ea582c 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e94c1d), color-stop(4%,#ea582c), color-stop(96%,#e94c1d), color-stop(100%,#ea582c)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #e94c1d 0%,#ea582c 4%,#e94c1d 96%,#ea582c 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #e94c1d 0%,#ea582c 4%,#e94c1d 96%,#ea582c 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #e94c1d 0%,#ea582c 4%,#e94c1d 96%,#ea582c 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #e94c1d 0%,#ea582c 4%,#e94c1d 96%,#ea582c 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e94c1d', endColorstr='#ea582c',GradientType=0 ); /* IE6-9 */
}

#settings .password-form input[type="password"], #settings .password-form input[type="text"]{
  width: 80%;
  height: 36px;
  margin-bottom: 10px;
  padding-left: 15px;
  border-radius: 5px;
  border: thin silver solid;
  display: block;
}

#settings .password-form .submit-button{
  margin: 10px 0 15px 0;
  width: 50%;
  height: 30px;
}

#settings .toggle-form-button{
  font-size: 13px;
  color: #1076BC;
  cursor: pointer;
  border: thin transparent solid;
  background-color: transparent;
  padding: 0;
  margin-bottom: 10px;
}

#settings .user-info-form input[type="text"], #settings .user-info-form input[type="email"]{
  width: 60%;
  height: 36px;
  margin-bottom: 10px;
  padding-left: 15px;
  border-radius: 5px;
  border: thin silver solid;
  display: block;
}

#settings .user-info-form select{
  width: 60%;
  height: 36px;
  margin-bottom: 10px;
  padding-left: 15px;
  border-radius: 5px;
  border: thin silver solid;
  color: #000;
  display: block;
}

#settings .user-info-form .submit-button{
  margin: 10px 0 15px 0;
  width: 50%;
  height: 37px;
}

#settings .address-form input[type="text"]{
  width: 60%;
  height: 36px;
  margin-bottom: 10px;
  padding-left: 15px;
  border-radius: 5px;
  border: thin silver solid;
  display: block;
}

#settings .address-form select{
  width: 60%;
  height: 36px;
  margin-bottom: 10px;
  padding-left: 15px;
  border-radius: 5px;
  border: thin silver solid;
  color: #000;
  display: block;
}

#settings .address-form .submit-button{
  margin: 10px 0 15px 0;
  width: 50%;
  height: 37px;
}

/*#settings .ffl-form .errorlist{
  display: none;
}*/

#settings .ffl-form input[type="text"]{
  width: 20%;
  height: 36px;
  margin-bottom: 10px;
  padding-left: 15px;
  border-radius: 5px;
  border: thin silver solid;
}

#settings .ffl-form select{
  width: 10%;
  height: 36px;
  margin-bottom: 10px;
  padding-left: 15px;
  border-radius: 5px;
  border: thin silver solid;
  color: #000;
}

#settings .ffl-form .ffl-date-label{
  margin-bottom: 0;
  margin-left: 50%;
  display: block;
}

#settings .ffl-form #id_ffl-date_month{
  margin-left: 9%;
}

#settings .ffl-form .submit-button{
  margin: 10px 0 15px 0;
  width: 15%;
  height: 37px;
}

#settings .add-supplier-form input[type="password"], #settings .add-supplier-form input[type="text"]{
  width: 80%;
  height: 36px;
  margin-bottom: 10px;
  padding-left: 15px;
  border-radius: 5px;
  border: thin silver solid;
  display: block;
}

#settings .add-supplier-form select{
  width: 80%;
  height: 36px;
  margin-bottom: 10px;
  padding-left: 15px;
  border-radius: 5px;
  border: thin silver solid;
  display: block;
  color: #000;
}

#settings .add-supplier-form .submit-button{
  margin: 10px 0 15px 0;
  width: 50%;
  height: 30px;
}

#settings .margin-form input[type="number"]{
  width: 30%;
  height: 36px;
  margin-bottom: 10px;
  padding-left: 15px;
  border-radius: 5px;
  border: thin silver solid;
}

#settings .margin-form .submit-button{
  display: inline;
  margin: 10px 0 15px 10px;
  width: 40%;
  height: 30px;
}

#settings .margin-form .margin-input {
  display:inline;
  position:relative;
}

#settings .margin-form input {
  padding-right:25px;
}

#settings .margin-form #margin-percent{
  position:absolute;
  right:10px;
  vertical-align:middle;
  top: -2px;
}

#settings #id_margin-margin {
  display:inline;
  width:35%;
}