/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126 License: none (public domain)*/
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 99%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: 'league_gothicregular';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
    url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
    url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'droid_sansregular';
    src: url('../fonts/DroidSans-webfont.eot');
    src: url('../fonts/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DroidSans-webfont.woff') format('woff'),
    url('../fonts/DroidSans-webfont.ttf') format('truetype'),
    url('../fonts/DroidSans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ms_gothicregular';
    src: url('../fonts/MS Gothic-webfont.eot');
    src: url('../fonts/MS Gothic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MS Gothic-webfont.woff2') format('woff2'),
    url('../fonts/MS Gothic-webfont.woff') format('woff'),
    url('../fonts/MS Gothic-webfont.ttf') format('truetype'),
    url('../fonts/MS Gothic-webfont.svg#ms_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body {
    height: 100%;
}

#container {
    position: relative;
    margin: 0 auto 0 auto;
    width: 1170px;
}

/* header and menu*/

#header {
    border: thin #1076BC solid;
    width: 100%;
    height: 70px;
    background-color: #1076BC;
    color: #FFFFFF;
    min-width: 800px;
}

#logo {
    margin: 0 3px 0 30px;
}

#header .arm .varm {
    display: block;
    width: 120px;
    margin: -55px 0 0 90px;

}

#header .arm {
    font-family: league_gothicregular, sans-serif;
    font-size: 40px;
    width: 50%;

}

#header .header_right {
    text-align: right;
    margin: -40px 200px 15px 0;
    font-family: droid_sansregular, sans-serif;
    font-size: 12px;
    width: 200px;
    float: right;
}

.header_right li {
    float: right;
    padding: 0 0 10px 2px;
}

.header_right .sign_out {
    padding: 0 0 0 20px;
}

.visit_ffl {
    float: right;
    margin: -35px 50px 0 0;
    font-family: droid_sansregular, sans-serif;
    font-size: 12px;
    color: #FFFFFF;
}

#top_menu {
    width: 100%;
    min-width: 800px;
    height: 46px;
    background-color: #F4F4F4;
    font-family: droid_sansregular, sans-serif;
    font-size: 15px;
}

#top_menu li {
    float: left;
    height: 35px;
    margin: 11px 10px 0 0;
    display: block;
    background-color: #C0C0C0;
    padding: 0 10px;
    line-height: 35px;
}

#top_menu a {
    color: #000000;
}

#top_menu .search {
    margin-left: 30px;
}

#top_menu .pro {
    background-color: #FFFFFF;
}

/* General Information page*/

#shipping {
    margin: 50px 0 33px 25px;
    width: 1170px;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

#shipping .shopping_cart {
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    margin: 0 0 30px 0;
}

#shipping .addresses {
    width: 1190px;
    border: thin red solid;

}

#shipping li {
    float: left;
    width: 400px;
    margin: 0;
    border: thin #e2e2e2 solid;
    border-radius: 5px;
}

#shipping .billing-address {
    margin: 0 50px 0 0;
}

#shipping .place {
    font-weight: bold;
    padding-left: 17px;
    width: 200px;
}

#shipping .notice {
    margin: 24px 0 44px 17px;
    color: #7a7a7a;
    line-height: 17px;
}

#shipping li input, #shipping li select {
    width: 247px;
    height: 32px;
    margin: 10px 0 0 0;
    border-radius: 5px;
    border: thin silver solid;
    display: block;
}

#shipping form {
    padding: 20px 0 20px 13px;
    display: none;
}

#shipping li select {
    height: 38px;
}

#shipping .short_input {
    width: 116px;
}

#shipping .sb {
    color: #fff;
    font-size: 15px;
    background: #04417a;
    height: 45px;
    padding-left: 17px;
    line-height: 45px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-bottom: 17px;
}

#shipping p {
    line-height: 25px;
    font-size: 13px;
}

#shipping .edit {
    width: auto;
    height: 20px;
    font-size: 13px;
    background: transparent;
    border: thin transparent;
    text-decoration: underline;
    color: #1076bc;
    padding: 0;
    margin: 24px 0 75px 17px;
}

#shipping .up {
    width: 126px;
    height: 43px;
    margin: 10px 0 0 0;
    border-radius: 5px;
    border: thin transparent solid;
    background: #ffc578; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffc578 53%, #fb9d23 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(53%,#ffc578), color-stop(100%,#fb9d23)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffc578 53%,#fb9d23 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffc578 53%,#fb9d23 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffc578 53%,#fb9d23 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffc578 53%,#fb9d23 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc578', endColorstr='#fb9d23',GradientType=0 ); /* IE6-9 */
    box-sizing: border-box;
}

#shipping .proceed {
    width: 265px;
    height: 122px;
    margin: 0 0 0 26px;
    border: thin #dcdcdc solid;
    background-color: #f4f4f4;
    border-radius: 5px;
}

#shipping .proceed button {
    display: block;
    margin: 25px auto 0 auto;
    width: 242px;
    height: 50px;
    border: thin #f35600 solid;
    box-sizing: border-box;
    color: #fff;
    background: #f35600;
    border-radius: 5px;
    font-size: 20px;
}

#shipping .proceed p {
    margin: 14px auto 0 auto;
    width: 228px;
    font-size: 12px;
    line-height: 1;
    color: #7a7a7a;
}

label {
    display: block;
}

footer {
    padding-top: 8px;
    padding-bottom: 3px;
}
