html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

.placeholder {
	color: #777;
}

img {
	vertical-align: middle;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a[href], label[for], select,
input[type=checkbox], input[type=radio] {
	cursor: pointer;
}

button, input[type=button], input[type=image],
input[type=reset], input[type=submit] {
	padding: 0;
	overflow: visible;
	cursor: pointer;
}

button span:last-child,
button[disabled] span:first-child{
    display:none;
}
button[disabled] span:last-child,
button span:first-child {
    display: inline;
}

button[disabled] {
	background: #999!important;
}

button::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
input[type=image]::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner {
	border: 0;
}

.login-sidebar ul {
	list-style: none;
	padding: 0px;
    margin: 0px;
}

.login-sidebar ul li {
	background: #1076bc;
}

.hide {
	position: absolute !important;
	left: -9999em !important;
}

.hidden {
    visibility: hidden;
}

.login-close {
	display: none;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

del {
	text-decoration: line-through;
}

th, td {
	vertical-align: top;
}

th {
	font-weight: normal;
	text-align: left;
}

address, cite, dfn {
	font-style: normal;
}

abbr, acronym {
	border-bottom: 1px dotted #999;
	cursor: help;
}

sub,
sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

textarea {
	 overflow: auto;
}


/* Normalized Styles
------------------------------------------------------------------------------*/

html {
	height:100%;
}

body {
	font: 13px/18px 'Droid Sans', sans-serif;
	/*color: #454545;*/
	background: #fff;
	min-width: 320px;
	height:100%;
}

#wrapper {
	position: relative;
	min-height: 100%;
    background: #edeeee;
}

* html #wrapper {
	height: 100%;
}

#container {
	padding-bottom: 39px;
	background-color: #edeeee;
}

input, textarea, select, button {
	outline: none;
	font-family: 'Droid Sans', sans-serif;
}

a, a:visited, a:focus, a:active {
	text-decoration: none;
	/*color: #1076bc;*/
}

a:hover {
	text-decoration: underline;
}


/* Header
------------------------------------------------------------------------------*/

#header {
	background: #1076bc;
	height: 78px;
	padding-top: 15px;
	padding-left: 5px;
    margin: auto;
    width: 1170px;
}

.full-width-header {
    background: #1076BC;
}

#header form {
	float: right;
	padding: 25px 0 0 0;
	margin-right: -2px;
}

#header input  {
	float: left;
	border: 1px solid #afafaf;
	margin-right: 9px;
	padding: 5px 10px 5px 34px;
	box-shadow: inset 11px 18px 21px rgba(0,0,0,.11);
	height: 36px;
	width: 191px;
	letter-spacing: -0.5px;
}

#logo {
	display: inline-block;
	height: 70px;
	margin-left: 10px;
	cursor: pointer;
}

#logo div {
	display: inline-block;
}

#logo-image {
	position:relative;
	top:1px;
	left:1px;
}

#varmoury {
	color: #FFF;
	font-size: 40px;
	font-family: 'LeagueGothic-Regular', sans-serif;
	position:relative;
	top:13px;
	left:2px;
}

#form-errors {
	display: none;
	font-weight: bold;
	opacity: 0.9;
	position: absolute;
	top: 10px;
	right: 10px;
	width: 30%;
	margin: auto;
	z-index: 5;
}

#form-errors:hover {
	opacity: 1.0;
}

#signup-login {
    width: 828px;
    height: 587px;
    margin: 84px auto 0px auto;
    font-family: Arial, sans-serif;
}

#signup-login span button {
    width: 245px;
    height: 57px;
    border: thin silver solid;
    background-color: #fff;
    border-radius: 5px;
    border-bottom: thin transparent solid;
    margin-right: 10px;
    z-index: 100;
    color: #1076BC;
    font-size: 15px;
}

#signup-login span button:hover {
    cursor: pointer;
}

#signup-login span button.have_ac{
    color: #fff;
    background-color: #1076BC;
}

#signup-login .signup, #signup-login .signin {
	box-sizing:border-box;
    width: 825px;
    height: 487px;
    border: thin silver solid;
    border-radius: 3px;
    margin-top: -5px;
    background-color: #fff;
    position: relative;
    border-top: thin transparent;
}


#signup-login .signup>div {
    float: left;
}

#signup-info {
	width: 367px;
    padding-left: 34px;
}

#signup-fieldset {
    width: 398px;
    padding-left: 94px;
}

#signup-login .signup .haveac {
	background-color: #1076BC;
}


#signup-login .signup .free {
    color: #1076BC;
    background: none;
    margin: 32px 0 25px 0px;
    font-size: 26px;
    line-height: 28px;
}

#signup-login .signup .points {
	color: #000;
    padding-left: 36px;
    margin: 0 0 23px 0;
    line-height: 25px;
    font-size: 17px;
    background: #fff url("images/tick1.png") no-repeat 0 6px;
}

#signup-login .signup form:first-child{
    margin: 32px 0 0 0;
}

#signup-login .signup label{
    display: block;
}

#signup-login .signup #label_ffl_number_first_three {
	display: inline;
}

#signup-login .signup #label_ffl_number_last_five {
	display: inline;
}

#signup-login .signup #ffl_number_first_three {
	width: 136px;
	margin-right: 8px;
}

#signup-login .signup #ffl_number_last_five {
	width: 149px;
}

#signup-login .signup input[type="text"], #signup-login .sign-in input[type="text"],
#signup-login .signup input[type="password"], #signup-login .sign-in input[type="password"] {
    border: thin silver solid;
    width: 298px;
    height: 51px;
    margin: 0 0 10px 0;
    border-radius: 5px;
    font-size: 15px;
    padding-left: 18px;
}


#signup-login .sign-in input[type='text'], #signup-login .sign-in input[type='password']{
    padding-left: 47px;
}

#signup-login .signup button, #signup-login .sign-in button {
    border: thin silver solid;
    width: 298px;
    height: 47px;
    margin: 0 0 10px 0;
    border-radius: 5px;
    color: #fff;
    font-size: 19px;
    font-family: droid_sansregular, sans-serif;
    font-stretch: condensed;
    font-weight: bold;
    background-color: #fb9e4c;
}


#signup-login .signup button:hover, #signup-login .sign-in button:hover{
    cursor: pointer;
    background-color: #FCB170;

}

#signup-login .ffl {
	color: #000;
    text-align:  center;
    display: block;
    font-size: 12px;
    padding: 0;
    margin: 10px 0 0 0;
    width: 825px;
    line-height: 12px;
}

#signup-login .ffl a{
    color: #1076BC;
}

#signup-login .sign-in {
    width: 825px;
    height: 487px;
    border: thin silver solid;
    border-radius: 3px;
    margin-top: -5px;
    background-color: #fff;
    position: relative;
    border-top: thin transparent;
    display: none;
}

#signup-login .holder {
   margin: auto;
   width: 280px;
   padding-top: 125px;
}

#signup-login .holder input[type='checkbox']{
    position: relative;
    left:0;
}

#signup-login .holder .rem {
	color: #000;
    font-size: 13px;
}

#signup-login .holder .email {
     background: #fff url("images/email.png") no-repeat 11px center;
 }

#signup-login .holder .pwd {
    background: #fff url("images/pwd.png") no-repeat 11px center;
}


#signup-login .holder p{
     margin: 30px 0 0 0;
 }

#signup-login .holder p > :first-child{
  border-right: thin #787878 solid;
    padding-right: 11px;

}

#signup-login .holder p a{
   color: #1076BC;
   font-size: 13px;
    display: inline-block;
}

#signup-login .holder p button{
    border: thin transparent solid;
    width: 111px;
    height: 18px;
    margin: 0 0 0 0;
    color: #1076BC;
    font-size: 13px;
    font-weight: normal;
    background-color: #fff;
    border-radius: 0;
    padding: 0;
}

#signup-login .sign-in p button:hover{
    cursor: pointer;
    background-color: #fff;

}

#signup-login .input-error {
	border: thin red solid;
}

.sign-in .sign-in-links {
	text-align: center;
	height:30px;
	padding:20px;
}

.forgot-password-container {
	float: right;
	margin-right: 383px;
}

a.forgot-password-link {
	color: #f6f6f6;
}

.forgot-password-fields {
	width: 362px;
	margin: 0 auto;
}

/* Content
------------------------------------------------------------------------------*/

#content {
	width: 100%;
	max-width: 394px;
	margin: auto;
	padding: 133px 0 182px 0;
}

#content .alerts {
	max-width: 25px;
	left: 680px;
}

.popup {
	position: absolute;
	top: 115px;
	left: 50%;
	padding: 44px 30px 93px 30px;
	max-width: 526px;
	width: 100%;
	margin: 0 0 0 -263px;
	background: #1076bc;
	text-align: center;
	color: #fff;
	border-radius: 6px;
	box-shadow: 0 0 0 4px #e1e0e0;
	z-index: 99;
}

.popup img {
	padding-bottom: 53px;
}

.popup h2 {
	font-family: 'LeagueGothic-Regular';
	font-size: 38px;
	line-height: 36px;
	padding-bottom: 40px;
}

.popup .checked {
	font-size: 21px;
	line-height: 40px;
	padding: 0 20px 0 45px;
	background: url(../images/ico_check_2.png) no-repeat 0 3px;
	display: inline-block;
}

h1 {
	font-family: 'LeagueGothic-Regular';
	color: #1076bc;
	font-size: 43px;
	line-height: 44px;
	padding-bottom: 19px;
}

.checks h1 {
	font-size: 50px;
	line-height: 50px;
	text-align: center;
	padding-bottom: 33px;
	margin: -6px 0 0 0;
}

.checks .checkbox-hold {
	overflow: hidden;
	margin: 0 -118px 17px -71px;
}

.checks .checkbox {
	border-radius: 4px;
	background: #ececec;
	height: 61px;
	line-height: 61px;
	display: block;
	width: 254px;
	float: left;
	margin: 0 36px 25px 0;
	font-size: 21px;
	letter-spacing: -0.5px;
	padding: 0 0 0 56px;
	position: relative;
}

.checks .checkbox:after {
	position: absolute;
	background: url(../images/ico_checkbox.png) no-repeat 0 -23px;
	height: 23px;
	width: 23px;
	display: block;
	content: "";
	left: 18px;
	top: 20px;
}

.checks .checkbox.checked:after {
	background-position: 0 0;
}

#content fieldset {
	position: relative;
}

label.error {
	display: none !important;
}

#content .error:after {
	position: absolute;
	background: url(../images/ico_error.png) no-repeat;
	height: 23px;
	width: 22px;
	content: "";
	top: 19px;
	right: -40px;
}

#content .success:after {
	position: absolute;
	background: url(../images/ico_check.png) no-repeat;
	height: 22px;
	width: 27px;
	content: "";
	top: 20px;
	right: -42px;
}

#content input {
	height: 61px;
	padding: 0 20px;
	margin-bottom: 14px;
	font-size: 21px;
	border: none;
	background: #ececec;
	width: 90%;
}

#content .error input {
	box-shadow: 0 0 0 1px #d40000;
}

#content button, #content input#reset_password_button {
	box-shadow: 0 0 0 1px #e1e0e0;
	border: none;
	background-color: #0f75bb;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBmNzViYiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMzOTVkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
	background-image: -moz-linear-gradient(bottom, #0f75bb 0%, #3395d8 100%);
	background-image: -o-linear-gradient(bottom, #0f75bb 0%, #3395d8 100%);
	background-image: -webkit-linear-gradient(bottom, #0f75bb 0%, #3395d8 100%);
	background-image: linear-gradient(bottom, #0f75bb 0%, #3395d8 100%);
	height: 71px;
	display: block;
	margin: 6px 0 8px 0;
	width: 90%;
	font-family: 'LeagueGothic-Regular';
	color: #fff;
	font-size: 50px;
}

#content .note {
	letter-spacing: -0.5px;
	display: block;
	text-align: center;
	font-size:12px;
	width:355px;
}

#content .note.large {
	font-size: 18px;
	padding: 10px 0 0 0;
}


/* Footer
------------------------------------------------------------------------------*/

footer {
	position:fixed;
	bottom:0;
    height: 35px;
    margin: auto;
    background: #1076bc;
    padding: 6px 0 9px 0;
    overflow: hidden;
    font-size: 14px;
    color: #fff;
}

/* Fonts
------------------------------------------------------------------------------*/

@font-face {
	font-family: 'LeagueGothic-Regular';
    src: url('../fonts/LeagueGothic-Regular.eot');
    src: url('../fonts/LeagueGothic-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LeagueGothic-Regular.woff') format('woff'),
         url('../fonts/LeagueGothic-Regular.ttf') format('truetype'),
         url('../fonts/LeagueGothic-Regular.svg#LeagueGothic-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Media
------------------------------------------------------------------------------*/

@media screen and (max-width: 970px) {

	.container {
		width: 100%;
		padding: 0 20px;
	}

}

@media screen and (max-width: 767px) {

	.container {
		padding: 0 10px;
	}

	#header {
		height: auto;
		overflow: hidden;
	}

	#header form {
		padding: 0 0 5px 0;
		margin-right: 0;
		text-align: center;
		float: none;
		display: block;
	}

	#header input  {
		margin: 0 4px 9px;
		padding: 5px 10px 5px 10px;
		box-shadow: inset 11px 18px 21px rgba(0,0,0,.11);
		height: 30px;
		float: none;
		display: inline-block;
		width: 138px;
		vertical-align: top;
	}

	#header button  {
		height: 30px;
		font-size: 20px;
		padding: 0 22px;
		margin: 0 4px 5px 4px;
		display: inline-block;
		vertical-align: top;
	}

	#logo {
		width: 112px;
		height: 37px;
		background-size: 100% 100%;
		margin: 8px auto 8px auto;
		float: none;
		display: block;
	}

	#content {
		padding: 50px 35px 50px 35px;
		min-height: 380px;
	}

	.checks h1,
	h1 {
		font-size: 36px;
		line-height: 36px;
		padding-bottom: 12px;
	}

	#content .error:after {
		height: 20px;
		width: 20px;
		top: 13px;
		right: -35px;
		background-size: 100% 100%;
	}

	#content .success:after {
		background-size: 100% 100%;
		height: 20px;
		width: 24px;
		top: 14px;
		right: -37px;
	}

	#content input {
		height: 48px;
		padding: 0 15px;
		margin-bottom: 10px;
		font-size: 17px;
	}

	#content button {
		height: 55px;
		margin: 3px 0 6px 0;
		font-size: 40px;
	}

	#footer {
		height: 62px;
		margin-top: -62px;
		text-align: center;
		padding: 7px 0 7px 0;
	}

	#container {
		padding-bottom: 62px;
	}

	#footer p {
		float: none;
		display: block;
		padding: 0 0 6px 0;
	}

	.popup {
		top: 50px;
		padding: 20px 15px 40px 15px;
	}

	.popup img {
		padding-bottom: 25px;
		width: 80px;
	}

	.popup h2 {
		font-size: 34px;
		line-height: 36px;
		padding-bottom: 20px;
	}

	.popup .checked {
		font-size: 18px;
	}

.checks .checkbox-hold {
	overflow: hidden;
	margin: 0 -118px 17px -71px;
}

.checkbox-hold label {
	border-radius: 4px;
	background: #ececec;
	height: 61px;
	line-height: 61px;
	display: block;
	width: 254px;
	float: left;
	margin: 0 36px 25px 0;
	font-size: 21px;
	letter-spacing: -0.5px;
	padding: 0 0 0 56px;
	position: relative;
}

.checkbox-hold label:after {
	position: absolute;
	background: url(../images/ico_checkbox.png) no-repeat 0 -23px;
	height: 23px;
	width: 23px;
	display: block;
	content: "";
	left: 18px;
	top: 20px;
}

.checkbox-hold label.checked:after {
	background-position: 0 0;
}

.checkbox-hold label:after {
	position: absolute;
	background: url(../images/ico_checkbox.png) no-repeat 0 -23px;
	height: 23px;
	width: 23px;
	display: block;
	content: "";
	left: 18px;
	top: 20px;
}

#content.checks .note.large {
	font-size: 15px;
	padding-top: 10px;
}

#footer .copy {
	float: none;
}


}

@media screen and (max-width: 560px) {

	.popup {
		left: 20px;
		right: 20px;
		margin: 0;
		max-width: none;
		width: auto;
	}



}
