.thank {
    /*width: 80%;*/
    margin: auto;
    font-family: Arial,sans-serif;
}

.thank > :first-child {
    width: 433px;
    line-height: 1;
    margin: 40px 0 18px 0;
    font-family: Arial, sans-serif;
    font-size: 38px;
}

.thank > :nth-child(2) {
    line-height: 1;
    font-family: Arial, sans-serif;
    color: #797979;
    margin-bottom: 44px;
}

.thank > :nth-child(2) a{
   color: #1076bc;
}

.thank > :last-child button {
    width: 242px;
    height: 50px;
    background: #f35600;
    color: #fff;
    border: thin transparent solid;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}