<html>
    <head>
    </head>
    <body>
        <p>
            Sorry, your e-mail is not registered with vArmory.
        </p>
        <p>
            Sign-up now for free at <a>{{ url }}</a>.
        </p>
        
        <br/>
        
        <p>
            Thank you,
            <br/>
            FFL Design Staff 
        </p>
    </body>
</html>