<html>
    <head>
    </head>
    <body>
        <p>
            Click the link below to enter a new password:
        </p>
        
        <a href="{{reset_password_url}}">
            Reset Password
        </a>
        
        <br/>
        
        <p>
            Thank you,
            <br/>
            FFL Design Staff 
        </p>
    </body>
</html>