<html>
    <head>
	    <style>
			table {
				border: 1px solid black;
			}
			th, td {
				padding: 5px;
				text-align: center;
			}
			th {
				background-color: #044a7a;
				color: #FFFFFF;
			}
	    </style>
    </head>
    <body>
        {% if buyer %}
		<p>This is to notify you that you have placed orders on vArmory, containing the following items:</p>
        {% for order in orders %}
	        <p>Manufacturer: {{ order.manufacturer }}</p>
	        <table>
	        	<tr>
					<th>Item</th>
					<th>Quantity</th>
	        	</tr>
	        {% for history in order.purchasehistory_set.all %}
				<tr>
					<td>{{ history.upc }}: {{ history.model }}</td>
					<td>{{ history.qty }}</td>
				</tr>
	        {% endfor %}
	        </table>
        <br/>
        {% endfor %}	
        {% else %}
        <p>
        	<b>Congratulations!</b> You've received an order. For order details and to print your shipping label,<a href="https://dealerdirect.ffldesign.com/listing/order/{{ orders.0.id }}"> click here</a>. Once the item(s) have been shipped and the shipping carrier has scanned the label, we will deposit the funds directly into your account. Please allow 2-3 business days for funds to settle. 
        	<br/><br/>If you have any questions or need assistance, please call us at 888-269-1885.           
        </p>
        {% endif %}	        
        <p>
            Thank you, <br><br>
            FFL Design Sales Team <br>
            888-269-1885<br>
            sales@ffldesign.com
        </p>
    </body>
</html>