<html>
    <head>
        <style>
            table {
                border-collapse: collapse;
            }
            table, th, td {
                border: 1px solid black;
            }
            th, td {
                text-align: center;
                padding: 5px;
            }
        </style>
    </head>
    <body>
        <p>{{ mail_message }}</p>
        
        <table>
            <thead>
                <tr>
                    <th>
                        Item
                    </th>
                    <th>
                        UPC
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Unit Price
                    </th>
                    <th>
                        Distributor
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for order in order_info %}
                    <tr>
                        <td>
                            {{order.manufacture}} {{order.model}}
                        </td>
                        <td>
                            {{order.upc}}
                        </td>
                        <td>
                            {{order.qty}}
                        </td>
                        <td>
                            {{order.unit_price}}
                        </td>
                        <td>
                            {{order.supplier}}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <hr>
        Total Price : ${{ total_price }}
        <br>
        <br>
        
        {% if confirm_button_url and not account_id %}
            <p>
                Please click the "Confirm" button below to verify you've received this order.
            </p>
            
            <br>

            <form action="{{confirm_button_url}}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Confirm">
            </form>
        {% endif %}
        
        {% if confirm_button_url and account_id %}
            <p>
                Account Number:
                <a href="https://na9.salesforce.com/{{account_id}}">
                    {{account_name}}
                </a>
            </p>
        {% endif %}
            
        <p>{{ mail_footer }}</p>
    </body>
</html>