<html>
    <head>
        <style>
            table {
                border-collapse: collapse;
            }
            table, th, td {
                border: 1px solid black;
            }
            th, td {
                text-align: center;
                padding: 5px;
            }
            th {
                font-weight: bolder;
            }
            tr.even {
                background-color: #70bec9;
            }
            tr.odd {
                
            }
        </style>
    </head>
    <body>
        <h2>Search Result Report</h2>
        <table>
            <thead>
                <tr class="even">
                    <th>Keyword</th>
                    <th>Users</th>
                </tr>
            </thead>
            <tbody>
                {% for keyword,user_list in report_table.items %}
                    <tr class="'{% if forloop.counter|divisibleby:2 %} even {% else %} odd {% endif %}'">
                        <td rowspan="{{user_list|length}}">{{keyword}}</td>
                        <td>
                            {{user_list|first}}
                        </td>
                    </tr>
                    {% for user in user_list %}
                        {% if not forloop.first %}
                            <tr class='{% if forloop.parentloop.counter|divisibleby:2 %} even {% else %} odd {% endif %}'>
                                <td>{{user}}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>