{% extends "admin/change_form.html" %}

{% block after_field_sets %}
    {{ block.super }}
    <div class="inline-group">
        <div class="tabular inline-related">
            <fieldset class="module">
                <h2>Search Histories</h2>
                <table>
                    <thead>
                        <tr>
                            <th>
                                Searched Term
                            </th>
                            <th>
                                Date
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for search_item in original.user.searchhistory_set.all %}
                            <tr class="form-row {% cycle "row1" "row2" %}">
                                <td class="field-searched_term">
                                    {{ search_item.searched_term }}
                                </td>
                                <td class="field-date">
                                    {{ search_item.date }}
                                </td>
                            </tr>
                        {% empty %}
                            <tr></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>
    
    <div class="inline-group">
        <div class="tabular inline-related">
            <fieldset class="module">
                <h2>Orders</h2>
                <table>
                    <thead>
                        <tr>
                            <th>
                                Searched Term
                            </th>
                            <th>
                                Date
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in original.user.order_set.all %}
                            <tr class="form-row {% cycle "row1" "row2" %}">
                                <td class="field-order">
                                    <a href="{% url 'admin:saasapp_order_change' order.pk %}">
                                        {{ order }}
                                    </a>
                                </td>
                                <td class="field-date">
                                    {{ order.date }}
                                </td>
                            </tr>
                        {% empty %}
                            <tr></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>
    
{% endblock after_field_sets %}