/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126 License: none (public domain)*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    /* border: 0; */
    font-size: 99%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
    min-width: 1155px;
}

/*Header starts here*/

@font-face {
    font-family: 'league_gothicregular';
    src: url('/static/fonts/leaguegothic-regular-webfont.eot');
    src: url('/static/fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
    url('/static/fonts/leaguegothic-regular-webfont.woff') format('woff'),
    url('/static/fonts/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'droid_sansregular';
    src: url('/static/fonts/DroidSans-webfont.eot');
    src: url('/static/fonts/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/DroidSans-webfont.woff') format('woff'),
    url('/static/fonts/DroidSans-webfont.ttf') format('truetype'),
    url('/static/fonts/DroidSans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ms_gothicregular';
    src: url('/static/fonts/MS Gothic-webfont.eot');
    src: url('/static/fonts/MS Gothic-webfont.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/MS Gothic-webfont.woff2') format('woff2'),
    url('/static/fonts/MS Gothic-webfont.woff') format('woff'),
    url('/static/fonts/MS Gothic-webfont.ttf') format('truetype'),
    url('/static/fonts/MS Gothic-webfont.svg#ms_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.full-width-header-background {
    border: thin #1a2033 solid;
    width: auto;
    height: 80px;
    background-color: #1a2033;
}

.top-menu-full-width {
    /* border: thin #f4f4f4 solid; */
    width: auto;
    height: 55px;
    background-color: #282c3a;
}

.full-width-header-background ul, .top-menu-full-width ul {
    margin: 0 auto 0 auto;
    /* display: none; */
}

#container {
    width: 1155px;
    margin: 0 auto 0 auto;
    /* overflow: hidden; */
    position: relative;
}

#header {
    border: thin #1a2033 solid;
    background-color: #1a2033;
    color: #FFFFFF;
    min-width: 800px;
    width: 1150px;}

#logo {
    margin: 11px 3px 0 30px;
    cursor: pointer;
}

#header .arm .varm {
    display: block;
    width: 220px;
    margin: -55px 0 0 90px;

}

#header .arm {
    font-family: league_gothicregular, sans-serif;
    font-size: 40px;
    background: #1a2033;
}


#top_menu {
    width: 1155px;
    min-width: 800px;
    height: 55px;
    background-color:  #282c3a;
    font-family: droid_sansregular, sans-serif;
    font-size: 15px;
    /* position: absolute; */
    /* top: 72px; */
}

#top_menu li {
    float: left;
    height: 35px;
    margin: 11px 10px 0 0;
    display: block;
    /* background-color: #C0C0C0; */
    padding: 0 10px;
    line-height: 35px;
    font-size: 14px;
}

#top_menu a {
    color: #fff;
}

#top_menu .search {
    margin-left: 30px;
}

#top_menu .pro {
    background-color: #FFFFFF;
}

/* Header drop down */

.header_right .dashboard-header-dropdown {
    border: thin #e8e8e8 solid;
    width: 178px;
    background: #fff;
    list-style: none;
    padding: 0;
    z-index: 1000;
    font-size: 14px;
    overflow: hidden;
    display: none;
}

.header_right .dashboard-header-dropdown li{
    border-bottom: thin #e8e8e8 solid;
    float: left;
    padding: 0;
    margin: 0;
    width: 178px;
}


.dashboard-header-dropdown li a{
    display: inline-block;
    height: 37px;
    line-height: 37px;
    color: #1a2033;
    float: left;
    padding-left: 40px;
}

.dashboard-header-dropdown li span {
    display: inline-block;
    height: 37px;
    line-height: 37px;
    padding-left: 8px;
    color: #1a2033;
}

.dashboard-header-dropdown li a:hover{
    text-decoration: none;
    color: #282c3a;
}

.dashboard-header-dropdown li:nth-child(1){
    background: url("/static/dealerexchange/images/gears.png") no-repeat 6px center;
}

.dashboard-header-dropdown li:nth-child(2){
    background: url("/static/dealerexchange/images/home.png") no-repeat 6px center;
}

.dashboard-header-dropdown li:nth-child(3){
    background: url("/static/dealerexchange/images/support.png") no-repeat 6px center;
}

.dashboard-header-dropdown li:nth-child(4){
    background: url("/static/dealerexchange/images/logout.png") no-repeat 6px center;
    border-bottom: thin transparent solid;
}

.navbar-collapse.collapse {
    overflow: visible !important;
    height: 78px !important;
}

.dropdown-menu-button {
    padding: 0;
    background-color: transparent;
    border: thin transparent solid;
    height: 18px;
    margin-left: 15px;
    cursor: pointer;
}

.dropdown-menu-button {
    padding: 0;
    border: thin transparent solid;
    width: 30px;
    height: 30px;
    background: url("/static/dealerexchange/images/hamburger.png") no-repeat;
}

.menu-dd .close-btn {
    font-size: 38px;
    color: #fff;
}

.menu-dd .dashboard-header-dropdown {
    position: fixed;
    margin: -1px 0 0 -139px;
    display: none;
}

.header-user {
    height: 10px;
}

button:focus {outline:0 !important;}

#header .header_right {
    text-align: right;
   /* margin: -40px 200px 15px 0;*/
    font-family: droid_sansregular, sans-serif;
    font-size: 14px;
    width: 200px;
    float: right;
}

.header_right li {
    float: right;
    padding: 0 0 10px 10px;
}

.header_right .sign_out {
    padding: 0 0 0 20px;
}

.visit_ffl {
    float: right;
    margin: -35px 50px 0 0;
    font-family: droid_sansregular, sans-serif;
    font-size: 14px;
    color: #FFFFFF;
}

.header_right .header-right-ul{

    height: 20px;
}


/* Account Confirmation Dialogue*/

 .unconfirmed {
    width: 1109px;
    height: 42px;
    background-color: #FFFAC7;
    border: thin #e0cc00 solid;
    border-radius: 5px;
    margin: 17px 0 0 35px;
    padding: 22px 0 22px 7px;
    font-family: Arial, sans-serif;
}

 .unconfirmed > :first-child {
    font-weight: bold;
    display: block;
    /* border: thin red solid; */
    margin-bottom: 13px;
}

.unconfirmed > :not(:first-child) {
    font-size: 12px;
}

 .unconfirmed p a button{
    border: thin transparent solid;
    background-color: #FFFAC7;
    color: #1076BC;
    line-height: 10px;
    font-size: 12px;
}

 .unconfirmed p a button:hover{
    cursor: pointer;
}

 button:focus {
    outline: 0;
}

 .unconfirmed p > :first-child{
    border-right: thin #707070 solid;
    margin-left: 14px;
}

 /* Beta Note */

.beta {
    width: 1109px;
    height: 49px;
    color: #000;
    border: thin #CC0000 solid;
    border-radius: 5px;
    margin: 28px 0 0 35px;
    padding: 22px 0 22px 7px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 17px;
    background: #fff;
    display: none;
}

.beta button {
    display: block;
    float: right;
    margin: -19px 4px 0 0;
    color: red;
    cursor: pointer;
    font-size: 15px;
    border: thin transparent solid;
    background: #fff;
}


/*  Footer starts here */

.full-width-footer {
    width: 100%;
    height: 30px;
    background-color: #1a2033;
}

#spacer {
    height: 60px;
    width: 100%;
    clear: both;
}

#footer {
    background-color: #1a2033;
    width: 1155px;
    margin: auto;
    font-family: droid_sansregular, sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    padding-top: 3px;
}

#footer li {
    width: 500px;
}

#footer .toc{
    margin: 5px 0 0 10px;
}

#footer .copy {
    text-align: right;
    float: right;
    margin: -11px 0 0 0;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}