/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126 License: none (public domain)*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    /* border: 0; */
    font-size: 99%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*Header starts here*/

@font-face {
    font-family: 'league_gothicregular';
    src: url('/static/fonts/leaguegothic-regular-webfont.eot');
    src: url('/static/fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
    url('/static/fonts/leaguegothic-regular-webfont.woff') format('woff'),
    url('/static/fonts/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'droid_sansregular';
    src: url('/static/fonts/DroidSans-webfont.eot');
    src: url('/static/fonts/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/DroidSans-webfont.woff') format('woff'),
    url('/static/fonts/DroidSans-webfont.ttf') format('truetype'),
    url('/static/fonts/DroidSans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.full-width-header-background {
    border: thin #33984D solid;
    width: 100%;
    height: 70px;
    background-color: #33984D;
}

.top-menu-full-width {
    /* border: thin #f4f4f4 solid; */
    width: 100%;
    height: 55px;
    background-color: #fff;
}

.full-width-header-background ul, .top-menu-full-width ul {
    margin: 0 auto 0 auto;
    /* display: none; */
}

#container {
    width: 1155px;
    margin: 0 auto 0 auto;
    /* overflow: hidden; */
    position: relative;
}

#header {
    border: thin #33984D solid;
    height: 70px;
    background-color: #33984D;
    color: #FFFFFF;
    min-width: 800px;
    width: 1155px;}

#logo {
    margin: 0 3px 0 30px;

}

#header .arm .varm {
    display: block;
    width: 220px;
    margin: -55px 0 0 90px;

}

#header .arm {
    font-family: league_gothicregular, sans-serif;
    font-size: 40px;
    width: 50%;

}


#top_menu {
    width: 1155px;
    min-width: 800px;
    height: 55px;
    background-color: #fff;
    font-family: droid_sansregular, sans-serif;
    font-size: 15px;
    /* position: absolute; */
    /* top: 72px; */
}

#top_menu li {
    float: left;
    height: 35px;
    margin: 11px 10px 0 0;
    display: block;
    /* background-color: #C0C0C0; */
    padding: 0 10px;
    line-height: 35px;
    font-size: 14px;
}

#top_menu a {
    color: #000000;
}

#top_menu .search {
    margin-left: 30px;
}

#top_menu .pro {
    background-color: #FFFFFF;
}


/* General information*/


 .details {
    width: 1099px;
    border: thin #afafaf solid;
    border-radius: 5px;
    padding: 15px;
    margin: 20px 0 28px 35px;
    background-color: #fff;
     font-family: Arial, sans-serif;
}

 .ffl {
    color: #33984D;
    font-size: 21px;
    margin: 20px 0 37px 0;
}

 button:focus {
    outline: 0 !important;
}

 input,  select {
    padding-left: 10px;
    width: 194px;
    height: 46px;
    border-radius: 5px;
    border: thin silver solid;
    margin: 0 16px 6px 0;
}

 .details #id_title{
    width: 525px;
}

#id_listing_type, #id_company_profile {
    width: 205px;
}

 .details #id_upc{
    width: 346px;
}

 .details #id_category{
    width: 280px;
}

 .details #id_price{
    width: 161px;
}

 .details #id_quantity{
    width: 133px;
}

 .details #id_description{
    border: thin solid silver;
    border-radius: 5px;
    height: 239px;
    padding: 15px;
    vertical-align: top;
    width: 525px;
}

#id_photos-0-image, #id_photos-1-image {
     border: thin transparent solid;
     padding: 0;
 }

#id_photos-0-image {
    margin-left: 105px;
}

#id_photos-1-DELETE, #id_photos-0-DELETE, #id_photos-0-primary, #id_photos-1-primary {
    width: 18px;
    height: 18px;
    padding: 0;
    margin: 0 10px 0 0;
    position: relative;
    top: 4px;
    overflow: hidden;
}

 label {
    display: inline-block;
    margin:  0 0 17px 0;
    width: 167px;
    font-size: 15px;
}

 p label {
    display: inline-block;
}

 select {
    height: 53px;
}

 .submit-btn {
    width: 200px;
    height: 50px;
    margin: 30px 0 0 0;
    background-color: #fb9e4c;
    border: thin #afafaf solid;
    border-radius: 5px;
    color: #fff;
    font-size: 21px;

}

 .submit-btn:hover {
   cursor: pointer;

}

/*  Footer starts here */

#spacer {
    height: 60px;
    width: 100%;
}

#footer {
    background-color: #33984D;
    width: 100%;
    margin: 35px 0 0 0;
    font-family: droid_sansregular, sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    padding-top: 3px;
}

#footer li {
    width: 300px;
}

#footer .toc{
    margin: 5px 0 0 10px;
}

#footer .copy {
    text-align: right;
    float: right;
    margin: -11px 0 0 0;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

#ammo-fields {
    display: none;
}

#firearm-fields {
    display: none;
}

#optics-fields {
    display: none;
}

#apparel-fields {
    display: none;
}

#blade-fields {
    display: none;
}

.photo-options *{
  width: auto;
}

#current-price {
  color: green;
  font-size: 12px;
}

.tag-name {
    border: thin silver solid;
    font-size: 15px;
    width: 100px;
    display: inline-block;
    border-radius: 5px;
    vertical-align: top;
    text-align: center;
    position: relative;
    z-index: 1000;
    overflow: hidden;
    line-height: 47px;
    margin-right: 15px;
    margin-bottom: 5px;
}

.tags-wrapper{
   font-size: 12px;
    color: #767676;
    height: 15px;
    margin: -8px 0 0 167px;
}

.desc {
    color: #767676;
    font-size: 13px;
    line-height: 15px;
}

.errorlist{
    color: red;
}
