/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126 License: none (public domain)*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    /* border: 0; */
    font-size: 99%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*Header starts here*/


/* General information*/

.store {
    min-height: calc(100vh - 150px);
    font-family: Arial, sans-serif;
    margin-left: 35px;
    /* border: thin red solid; */
}

.store .ffl {
    color: #1a2033;
    font-size: 21px;
    margin: 46px 0 12px 0;
}

.store .desc {
    color: #767676;
    font-size: 12px;
    line-height: 15px;
}

.store .listings {
    /* border: thin red solid; */
    overflow: hidden;
    width: 1155px;
    margin-top: 35px;
}

.store .listings li {
    float: left;
    border: thin #cbccc9 solid;
    width: 264px;
    height: 289px;
    margin: 0 20px 37px 0;
    border-radius: 3px;
    /* padding: 2px; */
}

.store .add-item button {
    background-color: #1a2033;
    border: thin transparent solid;
    width: 257px;
    height: 181px;
    margin: 3px auto 3px auto;
    display: block;
    color: #fff;
}

.store .add-item button span {
    font-size: 32px;
}

.store .item-img{
    margin: auto;
    display: block;
}

.store .add-item div {
    width: 264px;
    height: 101px;
    border-top: thin #cbccc9 solid;
}

.store .item div {
    border-top: thin #cbccc9 solid;
    border-bottom: thin #cbccc9 solid;
    height: 58px;
}

.store .item p {
    font-size: 14px;
    margin-left: 7px;
    /* border: thin red solid; */
}

.store .item p:first-child {
    margin: 12px 0 0 7px;
}

.store .item p:first-child .nm{
    display: inline-block;
    width: 125px;
    height: 15px;
    overflow: hidden;
}

.store .item p:first-child .stock{
    float: right;
    width: 117px;
    text-align: right;
    margin-right: 8px;
    color: #1a2033;
}

.store .item p:first-child .stock span{
    margin-left: 6px;
    color: #767676;
    width: 40px;
    display: inline-block;
    height: 12px;
    overflow: hidden;
}

.store .item p:last-child {
    margin: 10px 0 0 7px;
    color: #1a2033;
    font-size: 13px;
}

.store .item p:last-child .price {
    display: inline-block;
    width: 106px;
}

.store .item p:last-child .sold {
    float: right;
    width: 118px;
    text-align: right;
    margin-right: 8px;
    color: #767676;
}

.store .item p:last-child .sold span {
    margin-left: 6px;
    color: #767676;
    width: 40px;
    display: inline-block;
    height: 12px;
    overflow: hidden;
}


.store .item span button {
    border: thin transparent solid;
    background-color: #fff;
    width: 72px;
    height: 47px;
    font-size: 15px;
    color: #747373;
}

.store .empty .up {
    background-color: #f5f5f1;
    border: thin transparent solid;
    width: 257px;
    height: 181px;
    margin: 3px auto 3px auto;
}

.store .empty .down {
    width: 264px;
    height: 101px;
    border-top: thin #cbccc9 solid;
}

.store .active-button:hover {
    cursor: pointer;
}

.store .active-loading {
    position: relative;
    top: 8px;
    left: 1px;
    display: none;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

#wrapper, #wrapper-delete-popup {
    background-color: rgba(230,230,230,0.8);
    width: 100%;
    height: 100%;
    position:fixed;
    left:0px;
    top: 0;
}

#wrapper-delete-popup {
    display: none;
}

#delete-popup p.error {
    padding-top: 4px;
    color:red;
}

#processing, #delete-popup {
    padding: 45px 0 26px 42px;
    background-color: #ffffff;
    width: 564px;
    margin: 150px auto 0 auto;
    -webkit-box-shadow: 3px 3px 6px 0px rgba(197,197,197,1);
    -moz-box-shadow: 3px 3px 6px 0px rgba(197,197,197,1);
    box-shadow: 3px 3px 6px 0px rgba(197,197,197,1);
    font-family: Arial, sans-serif;
}

#wrapper .first_p {
    color: #33984d;
    font-size: 38px;
    margin: 0 0 18px 0;
    line-height: 1;
    font-weight: bold;
}

#wrapper .first_p span {
    float: right;
    font-weight: normal;
    font-size: 18px;
    margin: 0 18px 0 0;
    font-family: droid_sansregular, sans-serif;
}

#wrapper .top_p {
    margin: 33px 0 0 22px;
}

#wrapper p {
    font-family: droid_sansregular, sans-serif;
    margin: 0 0 0 22px;
    line-height: 25px;
    color: #787878;
    font-weight: bold;
    font-size: 15px;
}

#wrapper .last, #wrapper-delete-popup .last {
    font-family: droid_sansregular, sans-serif;
    font-size: 17px;
    color: #787878;
    margin: 10px 0 0 0;
    font-weight: normal;
}

#wrapper #processing button, #delete-popup button {
    width: 250px;
    height: 50px;
    margin: 26px 0 0 0;
    background: #fb9e4c;
    border: thin #afafaf solid;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

#wrapper #processing .add-listing-btn {
    margin-left: 20px;
}

#wrapper #processing .close-popup {
    margin-left: 15px;
    color: #1076bc;
    text-decoration: underline;
    background: transparent;
    border: thin transparent solid;
    cursor: pointer;
    font-size: 15px;
    width: 100px;
}

#wrapper #processing .see-listing {
    margin: 47px 0 0 0;
    font-size: 18px;
}

#wrapper #processing .see-listing a {
    color: #1076bc;
    text-decoration: underline;
}

#listing-preview {
    display: none;
}

.store .edit-icon {
    width: 60px;
    height: 60px;
    display: none;
    position: relative;
    margin-top: -60px;
    margin-left: 99px;
    top: -59px;
    z-index: 1000;
    background: url("/static/dealerexchange/images/edit-icon.png") no-repeat;
    background-size: 100%;
}


.first-listing-popup {
    width: 500px;
    display: none;
    font-size: 12px;
}

.processing {
    max-width: 593px;
    min-width: 290px;
    height: 288px;
    background: #333;
    border-radius: 5px;
    display: none;
}

.processing .uil-default-css {
    margin: 0 auto 0 auto;
}

.processing p {
    font-size: 25px;
    margin: 20px 0 0 0;
    text-align: center;
    color: rgba(0,0,0,1.0);
    padding: 0 10px 0 10px;
    line-height: 1.2;
    font-family: Arial, sans-serif;
}
