<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="{{ STATIC_URL }}../../favicon.ico">
<title>Python SASS Project</title>

<!-- Bootstrap core CSS -->

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

<!-- Custom styles for this template -->
<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/customize.css" rel="stylesheet">
</head>
<!-- NAVBAR
================================================== -->
<body>
<div class="navbar-wrapper">
  <div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" href="#"><img src="{{ STATIC_URL }}images/logo.png"  alt=""></a> </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="#">Offline <span class="glyphicon glyphicon-record"></span></a></li>
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> John Smith</a></li>
          <li><a href="#">Sign Out</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="tab-bg">
  <div class="container">
    <div class="bs-example bs-example-tabs setup-menu">
      <ul id="myTab" class="nav nav-tabs" role="tablist">
        <li class=""><a href="#dashboard" role="tab" data-toggle="tab">Dashboard</a></li>
        <li class=""><a href="#Sell" role="tab" data-toggle="tab">Sell</a></li>
        <li class=""><a href="#Customer" role="tab" data-toggle="tab">Customers</a></li>
        <li class="active"><a href="#inventory" role="tab" data-toggle="tab">Inventory</a></li>
        <li class=""><a href="#reports" role="tab" data-toggle="tab">Reports</a></li>
        <li class=""><a href="#book" role="tab" data-toggle="tab">Bound Book</a></li>
        <li class="pull-right">
          <ul class="nav nav-tabs" >
            <li class=""><a class="bg-tranceparent" href="#" >Setup</a></li>
            <li class=""><a class="bg-tranceparent" href="#" >Forms</a></li>
            <li class=""><a href="#" class="bg-tranceparent" >Help</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="box-shadows">
    <p>
    <ul class="nav nav-pills">
      <li><a href="#">In-Store</a></li>
      <li><a href="#">Add Product</a></li>
      <li><a href="#"><strong>vArmory</strong></a></li>
    </ul>
    </p>
  </div>
  <h1 class="heading1">vArmoRy</h1>
  <div class="clearfix">&nbsp;</div>
  <div class="row">
    <div class="col-lg-9">
      <div class="grey-bg">
        <div class="col-lg-9">
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search products">
              <span class="mic"><img src="{{ STATIC_URL }}images/mic.png" alt=""></span> </div>
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
          </form>
        </div>
        <div class="col-lg-3">
          <form class="navbar-form navbar-left">
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span></button>
            1 to 64
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span></button>
          </form>
        </div>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <thead >
            <tr>
              <td>&nbsp;</td>
              <td>Item #</td>
              <td>Manufacturer</td>
              <td>Description</td>
              <td>Model</td>
              <td>Distributor</td>
              <td>Count</td>
              <td>Price</td>
              <td>Quantity</td>
            </tr>
          </thead>
          <tbody>
            <tr class="tr1">
              <td><img src="{{ STATIC_URL }}images/list-img1.png"  alt=""></td>
              <td>2235</td>
              <td>Glock</td>
              <td>Glock 17</td>
              <td>Glock 17<br>
                <em>9mm</em></td>
              <td>Davidsons</td>
              <td>13</td>
              <td> $619 .20</td>
              <td><select class="form-control" name="">
                  <option>1</option>
                </select></td>
            </tr>
            <tr class="tr2">
              <td><img src="{{ STATIC_URL }}images/list-img1.png"  alt=""></td>
              <td>2235</td>
              <td>Glock</td>
              <td>Glock 17</td>
              <td>Glock 17<br>
                <em>9mm</em></td>
              <td>Davidsons</td>
              <td>13</td>
              <td> $619 .20</td>
              <td><select class="form-control" name="">
                  <option>1</option>
                </select></td>
            </tr>
            <tr class="tr1">
              <td><img src="{{ STATIC_URL }}images/list-img1.png"  alt=""></td>
              <td>2235</td>
              <td>Glock</td>
              <td>Glock 17</td>
              <td>Glock 17<br>
                <em>9mm</em></td>
              <td>Davidsons</td>
              <td>13</td>
              <td> $619 .20</td>
              <td><select class="form-control" name="">
                  <option>1</option>
                </select></td>
            </tr>
            <tr class="tr2">
              <td><img src="{{ STATIC_URL }}images/list-img1.png"  alt=""></td>
              <td>2235</td>
              <td>Glock</td>
              <td>Glock 17</td>
              <td>Glock 17<br>
                <em>9mm</em></td>
              <td>Davidsons</td>
              <td>13</td>
              <td> $619 .20</td>
              <td><select class="form-control" name="">
                  <option>1</option>
                </select></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-3 ">
      <div class="grey-border">
        <div class="light-grey-bg">Purchase Order</div>
        <div class="dark-grey-bg">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td>Item</td>
              <td>Detail</td>
            </tr>
          </table>
        </div>
        <div class="light1-grey-bg">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="42%" align="left" valign="middle">Glock 17</td>
              <td width="12%" align="left" valign="middle">1</td>
              <td width="46%" align="left" valign="middle">$619.00</td>
            </tr>
            <tr>
              <td colspan="3" align="left" valign="middle">Distributor: Davidsons</td>
            </tr>
          </table>
        </div>
        <div class="light2-grey-bg">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="42%" align="left" valign="middle">Glock 17</td>
              <td width="12%" align="left" valign="middle">1</td>
              <td width="46%" align="left" valign="middle">$619.00</td>
            </tr>
            <tr>
              <td colspan="3" align="left" valign="middle">Distributor: Davidsons</td>
            </tr>
          </table>
        </div>
        <div class="light1-grey-bg">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="42%" align="left" valign="middle">Glock 17</td>
              <td width="12%" align="left" valign="middle">1</td>
              <td width="46%" align="left" valign="middle">$619.00</td>
            </tr>
            <tr>
              <td colspan="3" align="left" valign="middle">Distributor: Davidsons</td>
            </tr>
          </table>
        </div>
        <div class="light2-grey-bg">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="42%" align="left" valign="middle">Glock 17</td>
              <td width="12%" align="left" valign="middle">1</td>
              <td width="46%" align="left" valign="middle">$619.00</td>
            </tr>
            <tr>
              <td colspan="3" align="left" valign="middle">Distributor: Davidsons</td>
            </tr>
          </table>
        </div>
        <div class="light-grey-bg">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td>Subtotal</td>
              <td>$0.00</td>
            </tr>
          </table>
        </div>
        <p>By clicking the "Order" button, an email will be dispatched to your supplier account reps showing the items you ordered. Supplier shipping and applicable fees may be applied at the time of transaction</p>
      </div>
      <h5 class="pull-right">
        <button type="submit" class="btn btn-default">Order</button>
      </h5>
    </div>
  </div>
  <div class="clearfix">&nbsp;</div>
</div>
<footer>
  <div class="container">
    <p class="pull-left"><a href="#">Terms & Conditions</a> &middot; <a href="#">Privacy Policy</a></p>
    <p class="pull-right"> © Copyright 2015 - Primus Technology Solutions, LLC. All Rights Reserved.
  </div>
</footer>
<!-- Bootstrap core JavaScript
    ================================================== --> 
<!-- Placed at the end of the document so the pages load faster --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
<script src="{{ STATIC_URL }}js/bootstrap.js"></script>
</body>
</html>
