<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">
        <title>
            {% block title %}
                vArmory by FFL Design - Software for Firearm Dealers
            {% endblock title %}
        </title>
        
        <!-- Bootstrap core CSS -->
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        
        {% block extra_head_script %}
        {% endblock extra_head_script %}

        {% include 'session_security/all.html' %}
        
        <!-- Custom styles for this template -->
        <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
       <!-- <link href="{{ STATIC_URL }}css/customize.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/base.css" rel="stylesheet">-->
        <link href="{{ STATIC_URL }}css/one.css" rel="stylesheet" media="all">
        
        {% block extra_css %}
        {% endblock extra_css %}
    </head>

    <body {% block body_class %}{% endblock body_class %}>
        {% block body %}
        {% endblock body %}
        
        {% block footer %}
            <footer>
                <div class="container">
                    <p class="pull-left">
                        <a href="http://www.ffldesign.com/terms-and-conditions/">
                            Terms & Conditions
                        </a>
                        &middot;
                        <a href="http://www.ffldesign.com/privacy-policy/">Privacy Policy</a>
                    </p>
                    <p class="pull-right">
                        © Copyright 2015 - FFL Design, LLC. All Rights Reserved.
                    </p>
                </div>
            </footer>
        {% endblock footer %}
        
        {% block body_script %}
        {% endblock body_script %}
    </body>
</html>
