{% extends "base.html" %}

{% block extra_head_script %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{{ STATIC_URL }}lib/fancybox/jquery.fancybox.js"></script>
    <script src="{{ STATIC_URL }}lib/detail_popup/psd.js"></script>
    <script src="{{ STATIC_URL }}lib/detail_popup/popup.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.form.min.js"></script>

    <script type="text/javascript">//<![CDATA[
    function toggler(divId) {
        $("#" + divId).toggle();
    }
    //]]>
    </script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-58682577-1', 'auto');
        ga('send', 'pageview');

    </script>

    <!-- Start of ffldesign Zendesk Widget script -->
    <script>
    /*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(c){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("//assets.zendesk.com/embeddable_framework/main.js","ffldesign.zendesk.com");/*]]>*/
    </script>
    <!-- End of ffldesign Zendesk Widget script -->
{% endblock extra_head_script %}

{% block extra_css %}
    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}lib/fancybox/jquery.fancybox.css" rel="stylesheet">
    <!-- <link href="{{ STATIC_URL }}lib/detail_popup/psd.css" rel="stylesheet"> !-->
    <!--<link href="{{ STATIC_URL }}lib/detail_popup/popup.css" rel="stylesheet">-->
    <link href="{{ STATIC_URL }}css/supplier_popup.css" rel="stylesheet">
    <style>
        .hidden {
            display: none;
        }
        .loading {
            display: inline-block;
        }
    </style>
{% endblock extra_css %}

{% block body %}
    <div class="navbar-wrapper">
        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/product-search/">
                        <img src="{{ STATIC_URL }}images/logo.png"  alt="">
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/settings/" class="header-user">
                                <span class="glyphicon glyphicon-user"></span>
                                {{ user.first_name }}&nbsp;{{ user.last_name }}
                            </a>
                        </li>
                        <li class="menu-dd">
                            <button class="dropdown-menu-button close-btn"></button>
                            <ul class="dashboard-header-dropdown">
                                <li class="cv"><button type="button" class="cv-on" style="display: {% if request.session.cv %}inline-block{% else %}none{% endif %};"></button>
                                    <button type="button" class="cv-off" style="display: {% if request.session.cv %}none{% else %}inline-block{% endif %};"></button><span>Customer View</span></li>
                                <li><a href="/settings/">User Settings</a></li>
                                <li><a href="http://ffldesign.com" target="_blank">FFLDesign.com</a></li>
                                <li style="display: none"><a href="">Support Desk</a></li>
                                <li><a href="/logout/">Logout</a></li>
                                {% if request.user.userprofile.is_dealer_direct %}
                                <li><a href="{% url 'cas_login' %}?{{ DEALER_DIRECT }}">Dealer Direct</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                    <!--<ul class="dashboard-header-dropdown">
                        <li class="cv"><button type="button" class="cv-on" style="display: {% if request.session.cv != False %}inline-block{% else %}none{% endif %};"></button>
                        <button type="button" class="cv-off" style="display: {% if request.session.cv != False %}none{% else %}inline-block{% endif %};"></button><span>Customer View</span></li>
                        <li><a href="/settings/">User Settings</a></li>
                        <li><a href="http://ffldesign.com" target="_blank">FFLDesign.com</a></li>
                        <li style="display: none"><a href="">Support Desk</a></li>
                        <li><a href="/logout/">Logout</a></li>
                    </ul>-->
                    <div class="clearfix"></div>


                </div>
            </div>
        </div>
    </div>

    <div id="supplier_login_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">Confirm Supplier Login</h3>
                </div>
                <div class="modal-body">
                    <input type="hidden" id ="dist_id" name = "id" value="{{ profiledata.id }}" class="form-control">
                    <input type="hidden" id="setting_id" name = "settings" value="settings" class="form-control"/>
                    <div id="davidson_confirm" class="row supplier_confirm">
                        <div class="col-md-2">
                            Davidson's
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="davidson_login" name = "uname" class="form-control" placeholder="User Name" />
                        </div>
                        <div class="col-md-3">
                            <input type="Password" id="davidson_password" name="password" class="form-control" placeholder="Password" />
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary distributor-confirm" id="davidson_submit" data-distributor="davidson">Confirm</button>
                        </div>
                        <div class="col-md-2 message">
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div id="lipseys_confirm" class="row supplier_confirm">
                        <div class="col-md-2">
                            Lipsey's
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="lipseys_login" name = "uname" class="form-control" placeholder="User Name" />
                        </div>
                        <div class="col-md-3">
                            <input type="Password" id="lipseys_password" name="password" class="form-control" placeholder="Password" />
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary distributor-confirm" id="lipseys_submit" data-distributor="lipseys">Confirm</button>
                        </div>
                        <div class="col-md-2 message">
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div id="greens_confirm" class="row supplier_confirm">
                        <div class="col-md-2">
                            Green Supply
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="greens_login" name = "uname" class="form-control" placeholder="User Name" />
                        </div>
                        <div class="col-md-3">
                            <input type="Password" id="greens_password" name="password" class="form-control" placeholder="Password" />
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary distributor-confirm" id="greens_submit" data-distributor="greens">Confirm</button>
                        </div>
                        <div class="col-md-2 message">
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div id="rsr_confirm" class="row supplier_confirm">
                        <div class="col-md-2">
                            RSR Group
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="rsr_login" name = "uname" class="form-control" placeholder="User Name" />
                        </div>
                        <div class="col-md-3">
                            <input type="Password" id="rsr_password" name="password" class="form-control" placeholder="Password" />
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary distributor-confirm" id="rsr_submit" data-distributor="rsr">Confirm</button>
                        </div>
                        <div class="col-md-2 message">
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div id="sports_confirm" class="row supplier_confirm">
                        <div class="col-md-2">
                            Sport's South
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="sports_login" name = "uname" class="form-control" placeholder="User Name" />
                        </div>
                        <div class="col-md-3">
                            <input type="Password" id="sports_password" name="password" class="form-control" placeholder="Password" />
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary distributor-confirm" id="sports_submit" data-distributor="sports">Confirm</button>
                        </div>
                        <div class="col-md-2 message">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    
                    <div id="jerrys_confirm" class="row supplier_confirm">
                        <div class="col-md-2">
                            Jerry's Sports Center
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="jerrys_login" name = "uname" class="form-control" placeholder="User Name" />
                        </div>
                        <div class="col-md-3">
                            <input type="Password" id="jerrys_password" name="password" class="form-control" placeholder="Password" />
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary distributor-confirm" id="jerrys_submit" data-distributor="jerrys">Confirm</button>
                        </div>
                        <div class="col-md-2 message">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    
                    <div id="ellet_confirm" class="row supplier_confirm">
                        <div class="col-md-2">
                            Ellet
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="ellet_login" name = "uname" class="form-control" placeholder="User Name" />
                        </div>
                        <div class="col-md-3">
                            <input type="Password" id="ellet_password" name="password" class="form-control" placeholder="Password" />
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary distributor-confirm" id="ellet_submit" data-distributor="ellet">Confirm</button>
                        </div>
                        <div class="col-md-2 message">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block body_script %}
    {{block.super}}
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
    {% include 'saas_app/supplier_popup_script.html' %}
    <script type="text/javascript">
        var csrftoken = $.cookie('csrftoken');
        function csrfSafeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        var dropdown_menu_button = document.getElementsByClassName('dropdown-menu-button')[0];
        var dashboard_header_dropdown = document.getElementsByClassName('dashboard-header-dropdown')[0];
        var cv_toggle = document.getElementsByClassName('cv')[0].getElementsByTagName('button');
        //alert(dashboard_header_dropdown.length);

        function show_menu(){ //there's a hover rule in the stylesheet, this covers touch displays.

            if(getComputedStyle(dashboard_header_dropdown,null).display == "none"){
                //dashboard_header_dropdown.style.cssText = "display:block";
                //dropdown_menu_button.style.cssText = "background: url(/static/images/hamburger-active.png) no-repeat;";
                //alert(0);
                dropdown_menu_button.innerHTML = "&#215";
                dropdown_menu_button.style.cssText = "background: transparent;";
                $( ".dashboard-header-dropdown" ).eq(0).animate({
                    display: "block",
                    height: "toggle"
                }, 150);
            }
            else {
                //dashboard_header_dropdown.style.cssText = "display:none";
                $( ".dashboard-header-dropdown").eq(0).animate({
                    display: "none",
                    height: "toggle"
                }, 150);
                dropdown_menu_button.style.cssText = "background: url(/static/images/hamburger.png) no-repeat;";
                dropdown_menu_button.innerHTML = "";
                //alert(1);
            }
        }

        /*$('html').click(function() {
            $('.dashboard-header-dropdown').eq(0).css('display', 'none');
            dropdown_menu_button.style.cssText = "background: url(/static/images/hamburger.png) no-repeat;";
            dropdown_menu_button.innerHTML = "";
        });*/

        $('.menu-dd').click(function(event){
            event.stopPropagation();
        });



        dropdown_menu_button.addEventListener("click", show_menu, false);

        cv_toggle[0].onclick = function(){
            this.style.cssText = "display: none;";
            cv_toggle[1].style.cssText = "display: inline-block;";
            $.post("{% url 'set_customer_view' %}", {'cv': 'false'})
        };

        cv_toggle[1].onclick = function(){
            this.style.cssText = "display: none;";
            cv_toggle[0].style.cssText = "display: inline-block;";
            $.post("{% url 'set_customer_view' %}", {'cv': 'true'})
        };






    </script>
    <script type="text/javascript">
        piAId = '86212';
        piCId = '1026';
    
        (function() {
            function async_load(){
                var s = document.createElement('script'); s.type = 'text/javascript';
                s.src = ('https:' == document.location.protocol ? 'https://pi' : 'http://cdn') + '.pardot.com/pd.js';
                var c = document.getElementsByTagName('script')[0]; c.parentNode.insertBefore(s, c);
            }
            if(window.attachEvent) { window.attachEvent('onload', async_load); }
            else { window.addEventListener('load', async_load, false); }
        })();
    </script>
{% endblock body_script %}
