<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ STATIC_URL }}../../favicon.ico">
    <title>Python SASS Project</title>

    <!-- Bootstrap core CSS -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/customize.css" rel="stylesheet">
</head>
<!-- NAVBAR
================================================== -->
<body class="index-bg">
<div class="navbar-wrapper">
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <div class="header"><a class="navbar-brand" href="/index/"><img src="{{ STATIC_URL }}images/logo.png"
                                                                            alt=""></a>

                <div class="pull-right margin-top8">
                    <form name="index" action="/" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <ul class="nav navbar-nav">
                            <li>
                                <input type="text" name="email" class="form-control" placeholder="Email"
                                       required="True">
                            </li>
                            <li>
                                <input type="password" name="password" class="form-control" placeholder="Password"
                                       required="True">
                            </li>
                            <li>
                                <button type="submit" class="btn btn-default">Login</button>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container margin-top70">
<div class="home-bg">
<h1 style="margin-left: 100px;">&nbsp;Step 2 of 2 </h1>
<table width="50%" border="0" align="center" cellpadding="10" cellspacing="10">


    <tr>
        <td><p class="alert alert-danger  " style="display:none; width: 500px;
margin: 0 auto;"></p></td>
    </tr>

<tr>
    <td align="left" valign="top">
        {% if not dist_checks.davidson_success and dist_checks.lipseys_success and dist_checks.greens_success %}
            <p>Enter your distributor login information
                so we can verify</p>{% endif %}</td>
</tr>

<tr>
    <td>
        {% if davidson or dist_checks.davidson or error_dict.davidson %}

            <table width="100%" border="0" cellspacing="0" cellpadding="0">

                <tr>
                    <td colspan="4" align="left" style="color:
                                #1076bc;"><strong>Davidsons</strong></td>
                </tr>
                <tr>
                        <td><input type="hidden" id="davidson_id" name="id" value="{{ id }}" class="form-control"></td>


                        <td><input type="text" id="davidson_uname" name="uname" class="form-control" placeholder="User Name"
                                   required="True"></td>
                        <td><input type="password" id="davidson_pwd" name="password" class="form-control"
                                   placeholder="Password" required="True"></td>

                            <td><input type="button" id="davidson_button" class="btn btn-default"
                                       value="Verify"/></td>


                        <div class="davidson_loading pull-right " style="position: relative; left: 300px; top: 83px;"></div>



                </tr>

            </table>
        {% endif %}

    </td>
</tr>

<tr>
    <td>
        {% if lipseys or lipseys in dist_checks or dist_checks.lipseys or error_dict.lipseys %}

            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td colspan="4" align="left" style="color:
                                #1076bc;"><strong>Lipseys</strong></td>
                </tr>
                <tr>

                        <td><input type="hidden" id="lipseys_id" name="id" value="{{ id }}" class="form-control"></td>
                        <td><input type="text" id="lipseys_uname" name="uname" class="form-control" placeholder="User Name"
                                   value="{{ uname }}" required="True"></td>
                        <td><input type="password" id="lipseys_pwd" name="pwd" class="form-control"
                                   value="{{ password }}" placeholder="Password" required="True"></td>
                            <td><input type="button" id="lipseys_button" class="btn btn-default"
                                       value="Verify"/></td>


                    <div class="lipseys_loading pull-right " style="position: relative; left: 300px; top: 83px;"></div>
                </tr>
            </table>
        {% endif %}


    </td>
</tr>


<tr>
    <td>
        {% if rsr or rsr in dist_checks or dist_checks.rsr or error_dict.rsr %}

            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td colspan="4" align="left" style="color:
                                #1076bc;"><strong>RSR Group</strong></td>
                </tr>
                <tr>

                        <td><input type="hidden" id="rsr_id" name="id" value="{{ id }}" class="form-control"></td>
                        <td><input type="text" id="rsr_uname" name="uname" class="form-control" placeholder="User Name"
                                   required="True"></td>
                        <td><input type="password" id="rsr_pwd" name="password" class="form-control"
                                   placeholder="Password" required="True"></td>
{#                        {% if not dist_checks.rsr_success %}#}
                            <td><input type="button" id="rsr_button" class="btn btn-default"
                                       value="Verify"/></td>
{#                        {% endif %}#}


                    <div class="rsr_loading pull-right " style="position: relative; left: 300px; top: 83px;"></div>
                </tr>
            </table>
        {% endif %}
    </td>
</tr>

<tr>
    <td>
        {% if green or green in dist_checks or dist_checks.green or error_dict.greens %}

            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td colspan="4" align="left" style="color:
                                #1076bc;"><strong>Green Supply</strong></td>
                </tr>
                <tr>

                        <td><input type="hidden" id="green_id" name="id" value="{{ id }}" class="form-control"></td>
                        <td><input type="text" id="green_uname" name="uname" class="form-control" placeholder="User Name"
                                   required="True"></td>
                        <td><input type="password" id="green_pwd" name="password" class="form-control"
                                   placeholder="Password" required="True"></td>
{#                        {% if not dist_checks.greens_success %}#}
                            <td><input type="button" id="green_button" class="btn btn-default"
                                       value="Verify"/></td>
{#                        {% endif %}#}

{#<td class="green_loading " ></td>#}
                    <div class="green_loading pull-right " style="position: relative; left: 300px; top: 83px;"></div>

                </tr>
            </table>
        {% endif %}

    </td>
</tr>
{#{% if dist_checks.davidson_success or dist_checks.lipseys_success or dist_checks.rsr_success or dist_checks.greens_success %}#}
    <form name="start_trial" action="/start_trial/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <tr>


            <input type="hidden" name="id" value="{{ id }}"/>
            <td>
                <button type="submit" class="rounded" style="display: none;">CONTINUE</button>
            </td>


        </tr>
    </form>
{#{% endif %}#}
</table>
</div>
</div>
<footer>
    <div class="container">
        <p class="pull-left"><a href="#">Terms & Conditions</a> &middot; <a href="#">Privacy Policy</a></p>

        <p class="pull-right"> © Copyright 2015 - Primus Technology Solutions, LLC. All Rights Reserved.
    </div>
</footer>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.js"></script>
<script>


    $(document).ready(function () {


        $("#davidson_button").on("click", function () {
            $(".davidson_loading").html('<img src="{{ STATIC_URL }}images/loading.gif"/>One moment while we verify this supplier...');
            davidson_uname = $("#davidson_uname").val();
            davidson_pwd = $("#davidson_pwd").val();
            davidson_id = $("#davidson_id").val();

            $.ajax({
                type: "POST",
                url: "/davidson/",
                data: { uname: davidson_uname, password: davidson_pwd, id: davidson_id},
                returnType: 'text',
                success: function (data) {
                    console.log("success");
                    console.log(data);
                    if(data == 1){
                           $(".davidson_loading").html('');
                           $(".alert-danger").show();
                        $(".alert").show();
                           $(".alert-danger").html('Please Enter User Name and Password');

                    }
                    else if(data == 2){
                           $(".davidson_loading").html('');
                           $(".alert-danger").show();
                        $(".alert").show();
                           $(".alert-danger").html('Please enter the correct User Name or Password')
                    }
                    else
                    {
                        $(".alert-danger").html('');
                        $(".alert").remove();
                        $(".davidson_loading").html('<img src="{{ STATIC_URL }}images/right.png" alt="">');
                        $("#davidson_button").hide();
                        $(".rounded").show();
                    }


                }
            });
        });

        $("#lipseys_button").on("click", function () {
            $(".lipseys_loading").html('<img src="{{ STATIC_URL }}images/loading.gif"/>One moment while we verify this supplier...');
            lipseys_uname = $("#lipseys_uname").val();
            lipseys_pwd = $("#lipseys_pwd").val();
            lipseys_id = $("#lipseys_id").val();

            $.ajax({
                type: "POST",
                url: "/lipseys/",
                data: { uname: lipseys_uname, password: lipseys_pwd, id: lipseys_id},
                returnType: 'text',
                success: function (data) {
                    console.log("success");
                    console.log(data);
                    if(data == 1){
                           $(".lipseys_loading").html('');
                           $(".alert-danger").show();
                        $(".alert").show();
                           $(".alert-danger").html('Please Enter User Name and Password')
                    }
                    else if(data == 2){
                           $(".lipseys_loading").html('');
                           $(".alert-danger").show();
                        $(".alert").show();
                           $(".alert-danger").html('Please enter the correct User Name or Password')
                    }
                    else
                    {
                        $(".alert-danger").html('');
                        $(".alert").remove();
                        $(".lipseys_loading").html('<img src="{{ STATIC_URL }}images/right.png" alt="">');
                        $("#lipseys_button").hide();
                        $(".rounded").show();
                    }

                }
            });
        });

        $("#green_button").on("click", function () {
            $(".green_loading").html('<img src="{{ STATIC_URL }}images/loading.gif"/>One moment while we verify this supplier...');
            green_uname = $("#green_uname").val();
            green_pwd = $("#green_pwd").val();
            green_id = $("#green_id").val();

            $.ajax({
                type: "POST",
                url: "/greens/",
                data: { uname: green_uname, password: green_pwd, id: green_id},
                returnType: 'text',
                success: function (data) {
                    console.log("success");
                    console.log(data);
                    if(data == 1){
                          $(".green_loading").html('');
                           $(".alert-danger").show();
                        $(".alert").show();
                           $(".alert-danger").html('Please Enter User Name and Password')
                    }
                    else if(data == 2){
                        $(".green_loading").html('');
                           $(".alert-danger").show();
                        $(".alert").show();
                           $(".alert-danger").html('Please enter the correct User Name or Password')
                    }
                    else{
                        $(".alert-danger").html('');
                        $(".alert").remove();
                        $(".green_loading").html('<img src="{{ STATIC_URL }}images/right.png" alt="">');
                        $("#green_button").hide();
                        $(".rounded").show();
                    }

                }
            });
        });

        $("#rsr_button").on("click", function () {
            $(".rsr_loading").html('<img src="{{ STATIC_URL }}images/loading.gif"/>One moment while we verify this supplier...');
            rsr_uname = $("#rsr_uname").val();
            rsr_pwd = $("#rsr_pwd").val();
            rsr_id = $("#rsr_id").val();

            $.ajax({
                type: "POST",
                url: "/rsr/",
                data: { uname: rsr_uname, password: rsr_pwd, id: rsr_id},
                returnType: 'text',
                success: function (data) {
                    console.log("success");
                    console.log(data);
                    if(data == 1){
                           $(".rsr_loading").html('');
                           $(".alert-danger").show();
                        $(".alert").show();
                           $(".alert-danger").html('Please Enter User Name and Password')
                    }
                    else if(data == 2){
                           $(".rsr_loading").html('');
                           $(".alert-danger").show();
                        $(".alert").show();
                           $(".alert-danger").html('Please enter the correct User Name or Password')
                    }
                    else
                    {
                        $(".alert-danger").html('');
                        $(".alert").hide();
                        $(".rsr_loading").html('<img src="{{ STATIC_URL }}images/right.png" alt="">');
                        $("#rsr_button").hide();
                        $(".rounded").show();
                    }

                }
            });
        });

    });
</script>
</body>
</html>
