
<html>
<head>

</head>
<body>


            <p>&nbsp;&nbsp;&nbsp;{{ mail_message }}</p>



            <table cellspacing="0" cellpadding="8" width="100%" border="0">

            <th width="42%" style="padding: 0px 8px;" valign="middle" align="left"> Item </td>
                            <td width="12%" style="padding: 0px 8px;" valign="middle" align="center">Detail</td>
                            <td width="46%" style="padding: 0px 8px;" valign="middle" align="right"> Unit Price</td>

                            <tbody>
                            {% for order in order_info %}
                            <tr>
                            <td width="42%" style="padding: 0px 8px;" valign="middle" align="left"> {{order.manufacture}} {{order.model}} </td>
                            <td width="12%" style="padding: 0px 8px;" valign="middle" align="center">{{ order.Qty }}</td>
                            <td width="46%" style="padding: 0px 8px;" valign="middle" align="right"> ${{order.Unit_Price}}</td><br>
                            </tr>
                            <tr>
                            <td valign="middle" style="padding: 0px 8px;" align="left" colspan="3">Distributor: {{order.Supplier}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
            </table>
            <hr>
            Total Price : ${{ total_price }}
            <br>
            <br>
            <p>{{ mail_footer }}</p>

</body>
</html>