{% extends "base.html" %}

{% block body_class %}class="index-bg"{% endblock body_class %}

{% block body %}
<div class="navbar-wrapper">
        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
                <div class="header">
                    <a class="navbar-brand" href="/index/">
                        <img src="{{ STATIC_URL }}images/logo.png"  alt="">
                    </a>
                    <div class="pull-right margin-top8">
                        <form name="index" action="/" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <ul class="nav navbar-nav">
                                {% if error %}
                                    <li class="alert alert-danger  " style="width: 400px; height: 35px; text-align:center; padding:5px">
                                        {{ error }}
                                    </li>
                                {% endif %}
                                <li>
                                    <input type="text" name="email" class="form-control" placeholder="Email" required="True">
                                </li>
                                <li>
                                    <input type="password" name="password" class="form-control" placeholder="Password" required="True">
                                </li>
                                <li>
                                    <button type="submit" class="btn button btn-default">Login</button>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="home-bg" style="padding: 220px 0px 70px 0px;margin: 0px 0px;">
            <a  class="signup_button" href="/registration/" style="color:#ffffff;"> Click here to get started </a>
        </div>
    </div>
{% endblock body %}

{% block body_script %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
{% endblock body_script %}
