<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">
<title>Python SASS Project</title>

<!-- Bootstrap core CSS -->

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

<!-- Custom styles for this template -->
<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/customize.css" rel="stylesheet">
</head>
<!-- NAVBAR
================================================== -->
<body>
<div class="navbar-wrapper">
  <div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" href="/home/"><img src="{{ STATIC_URL }}images/logo.png"  alt=""></a> </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/settings/"><span class="glyphicon glyphicon-user"></span> {{ profiledata.first_name }} {{ profiledata.last_name }}</a></li>
          <li><a href="/logout">Sign Out</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="tab-bg">
  <div class="container">
    <div class="bs-example bs-example-tabs">
      <ul id="myTab" class="nav nav-tabs" role="tablist">
        <li class="active"><a href="/product-search/" role="tab" data-toggle="tab">Search</a></li>
        <li class=""><a href="/history/">History</a></li>
        <li class=""><a href="/settings/">Settings</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="clearfix">&nbsp;</div>
  <div class="row">

    <div class="col-lg-9">
<div class="grey-border">

        <form class="navbar-form">
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>


            <td>    <select id = "manu_select" style="height: 33px; ">
            <option class="active">Low to High</option>

            <option>5to 25</option>

          </select></td>


            <td>    <select id = "manu_select" style="margin-left: 25px; height: 33px;">
            <option class="active">Distributors</option>

            <option> Davidson's</option>
                <option> Green Supply</option>
                <option> Lipseys</option>
                <option> RSR Group</option>

          </select></td>


            <td>    <select id = "manu_select" style="width:70%; margin-left: 25px; height: 33px;">
            <option class="active">Manufactures</option>
            {% for name,id in manu_results %}
            <option id = "manufacture" class="manufacture" data_val="{{ name }}" value="{{ name }}">{{name}}</option>
              {% endfor %}
          </select></td>

            <td>    <select id = "manu_select" style="width: 70%;  height: 33px;">
            <option class="active">Category</option>
            {% for name,id in manu_results %}
            <option id = "manufacture" class="manufacture" data_val="{{ name }}" value="{{ name }}">{{name}}</option>
              {% endfor %}
          </select></td>

            <td>

            <td>    <select id = "manu_select" style=" height: 33px;">
            <option class="active">Caliber</option>

            <option>Caliber</option>

          </select>
            </td>


        </tr>

    </table>
        </form>
</div>

    <div class="grey-border">
        <div class="clearfix">&nbsp;</div>
        <form class="navbar-form">
          <input type="text" class="form-control" style="width:172px; float:left; " >
          <button type="submit" class="btn btn-default">Save</button>
          <p>
            <input name="" type="checkbox" value="">
            Set as Default</p>
        </form>
        <div class="clearfix">&nbsp;</div>
        <div class="col-lg-12">
          <h4>Filter</h4>
          <div class="light-grey-bg margin-pading0">
            <h5><strong>Manufactures</strong></h5>
          </div>
          <select id = "manu_select" style="width: 78%; height: 33px;">
            {% for name,id in manu_results %}
            <option id = "manufacture" class="manufacture" data_val="{{ name }}" value="{{ name }}">{{name}}</option>
              {% endfor %}
          </select>
            <button type="button" id ="search-menu" class="btn btn-default">Go</button>
          <div class="margin-pading0">
            <h5><strong>Distributors</strong></h5>
          </div>
          <ul class="nav nav-pills nav-stacked">
              {% for id,name in dist_results %}
            <li class="distributor" data_val="{{ name }}"><a href ="#">{{ name }}</a></li>
              {% endfor %}
{#            <li><a href="#">RSR Group</a></li>#}
{#            <li><a href="#">Greens</a></li>#}
          </ul>
          <div class="light-grey-bg margin-pading0">
            <h5><strong>Category</strong></h5>
          </div>
          <select id = "cat_select" style="width: 78%;height: 33px;">
            {% for name,id in cat_results %}
            <option id = "category" class="category" data_val="{{ name }}" value="{{ name }}">{{name}}</option>
              {% endfor %}
          </select>
            <button type="button" id ="search-cat" class="btn btn-default">Go</button>
        </div>
      </div>

     
      <div class="grey-bg">
        <div class="col-lg-12">
          <div class="navbar-form navbar-left" role="search">
              <div class="form-group">
              <input type="text" name="search_term" id="search_name" class="form-control" placeholder="Search products">
            </div>
            <button type="button" id ="search_button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
          </div>

 <div class=" navbar-form text-right pull-right">
        <button type="button" class="btn btn-default" id = "dealer_view">Dealer View</button>
        <button type="button" class="btn btn-default" id = "customer_view">Customer View</button>

      </div>
        </div>

      </div>
{#        {%  if results %}#}
	<div class="clearfix"></div>
      <div class="table-responsive" id="table_data" style="display: none">
        <table class="table table-striped table-hover" border="1" bordercolor="#B9B9B9">
          <tbody id ="data">
            <tr id = "title_data">
              <th>Image</th>
              <th>UPC</th>
              <th>Model</th> 
              <th>Caliber</th>
              <th>Manufacturer</th>
              <th>Distributor</th>
              <th>QTY</th>
              <th>Category</th>
              <th class="price">Price</th>
            </tr>


            {% if history_record %}

            {% for image,upc,model,caliber,manufacturer,distributor,qty,category,price,dist_id,is_pic_downloaded in results %}
            <tr class ="hist-data">
            {% if is_pic_downloaded %}
              <td><a href="image" data-lightbox="img-285804"> <img src="http://166.78.105.176/images/{{ dist_id }}/{{ image }}" height = "60px" width="80px" class="thumb" onerror="this.src='http://166.78.105.176/img/no_photo.png'"></a></td>
            {% else %}
                <td><a href="image" data-lightbox="img-285804"> <img src="http://166.78.105.176/images/{{ dist_id }}/{{ image }}" height = "60px" width="80px" class="thumb" onerror="this.src='http://166.78.105.176/img/no_photo.png'"></a></td>
            {%  endif %}
              <td>{{ upc }}</td>
              <td>{{ model }}</td>
              <td>{{ caliber }}</td>
              <td>{{ manufacturer }}</td>
              <td>{{ distributor }}</td>
              <td>{{ qty }}</td>
              <td>{{ category }}</td>
              <td class="text-right">{{ price }}</td>
            </tr>
            {%  endfor %}

            {% endif %}

{#            <tr id="data">#}
{##}
{#            </tr>#}

          </tbody>
        </table>
      </div>
    </div>

    <div class="col-lg-3 ">
      <div class="grey-border">
        <div class="clearfix">&nbsp;</div>
        <form class="navbar-form">
          <input type="text" class="form-control" style="width:172px; float:left; " >
          <button type="submit" class="btn btn-default">Save</button>
          <p>
            <input name="" type="checkbox" value="">
            Set as Default</p>
        </form>
        <div class="clearfix">&nbsp;</div>
        <div class="col-lg-12">
          <h4>Filter</h4>
          <div class="light-grey-bg margin-pading0">
            <h5><strong>Manufactures</strong></h5>
          </div>
          <select id = "manu_select" style="width: 78%; height: 33px;">
            {% for name,id in manu_results %}
            <option id = "manufacture" class="manufacture" data_val="{{ name }}" value="{{ name }}">{{name}}</option>
              {% endfor %}
          </select>
            <button type="button" id ="search-menu" class="btn btn-default">Go</button>
          <div class="margin-pading0">
            <h5><strong>Distributors</strong></h5>
          </div>
          <ul class="nav nav-pills nav-stacked">
              {% for id,name in dist_results %}
            <li class="distributor" data_val="{{ name }}"><a href ="#">{{ name }}</a></li>
              {% endfor %}
{#            <li><a href="#">RSR Group</a></li>#}
{#            <li><a href="#">Greens</a></li>#}
          </ul>
          <div class="light-grey-bg margin-pading0">
            <h5><strong>Category</strong></h5>
          </div>
          <select id = "cat_select" style="width: 78%;height: 33px;">
            {% for name,id in cat_results %}
            <option id = "category" class="category" data_val="{{ name }}" value="{{ name }}">{{name}}</option>
              {% endfor %}
          </select>
            <button type="button" id ="search-cat" class="btn btn-default">Go</button>
        </div>
      </div>
    </div>
{#  {%  endif %}#}
  </div>
  <div class="clearfix">&nbsp;</div>
</div>
<div class="col-lg-12" style="text-align:center; margin-left:-150px"> <a href="#" id = "prev-page">Previous</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="#" id = "next-page">Next</a></div>
<p>&nbsp;</p>
<p>&nbsp;</p>

<footer>
  <div class="container">
    <p class="pull-left"><a href="#">Terms & Conditions</a> &middot; <a href="#">Privacy Policy</a></p>
    <p class="pull-right"> © Copyright 2015 - Primus Technology Solutions, LLC. All Rights Reserved.
  </div>
</footer>
<!-- Bootstrap core JavaScript
    ================================================== --> 
<!-- Placed at the end of the document so the pages load faster --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
<script src="{{ STATIC_URL }}js/bootstrap.js"></script>
<script>


    $(document).ready(function(){
        var searched_term = null
        var history_check = "{{ history_record }}"

        if (history_check == "True"){
            $("#table_data").show();
            searched_term = "{{ searched_term }}"
        }


        var searched_dist = null
        var searched_menu = null
        var searched_cat = null
        var page = 1

        $("#customer_view").on("click",function(){
            $(this).addClass( "active-button" );
            $("#dealer_view").removeClass( "active-button" );

               searched_term = $("#search_name").val();

                $.ajax({
                    type: "POST",
                    url: "/product-search/",
                    data: {page:page,term: searched_term, dist: searched_dist, menu: searched_menu, cat: searched_cat},
                    returnType: 'text',
                    success: function (data) {
                        $(".termData").remove();

                        $("#table_data").show();
                        $(".hist-data").remove();
                        console.log(data);

                        if (data.length != 0) {

                            for (i = 0; i < data.length; i++) {

                                var price_increased = (data[i][8] * 30) / 100
                                var price = (data[i][8] + price_increased).toFixed(2);


                                $("#data").append('<tr class="termData"><td><img class="imgData" height = "60p" width ="80px"  src="http://166.78.105.176/images/' + data[i][9] + "/" + data[i][0] + '"></td><td>' + data[i][1] + '</td><td>' + data[i][2] + '</td><td>' + data[i][3] + '</td><td>' + data[i][4] + '</td><td>' + data[i][5] + '</td><td>' + data[i][6] + '</td><td>' + data[i][7] + '</td><td>' + price + '</td></tr>')


                            }
                        }
                        else
                        {
                            $("#title_data").remove();
                            $("#data").append('<div> There are no such products </div>')
                        }


                    },
                    error: function (data) {
                        alert("There are no such products");
                    }
                })


        });

        $("#dealer_view").on("click",function(){
            $(this).addClass( "active-button" );
            $("#customer_view").removeClass( "active-button" );

               searched_term = $("#search_name").val();

                $.ajax({
                    type: "POST",
                    url: "/product-search/",
                    data: {page:page,term: searched_term, dist: searched_dist, menu: searched_menu, cat: searched_cat},
                    returnType: 'text',
                    success: function (data) {
                        $(".termData").remove();

                        $("#table_data").show();
                        $(".hist-data").remove();
                        console.log(data);

                        if (data.length != 0)
                        {
                            for (i = 0; i < data.length; i++) {

                                $("#data").append('<tr class="termData"><td><img class="imgData" height = "60p" width ="80px"  src="http://166.78.105.176/images/' + data[i][9] + "/" + data[i][0] + '"></td><td>' + data[i][1] + '</td><td>' + data[i][2] + '</td><td>' + data[i][3] + '</td><td>' + data[i][4] + '</td><td>' + data[i][5] + '</td><td>' + data[i][6] + '</td><td>' + data[i][7] + '</td><td>' + data[i][8] + '</td></tr>')

                            }
                        }
                        else
                        {
                            $("#title_data").remove();
                            $("#data").append('<div> There are no such products </div>')
                        }

                    },
                    error: function (data) {
                        alert("There are no such products");
                    }
                })


        });



        $("#search_name").keydown(function(e) {
            if(e.keyCode == 13) {

                searched_term = $("#search_name").val();

                $.ajax({
                    type: "POST",
                    url: "/product-search/",
                    data: {term: searched_term, dist: searched_dist, menu: searched_menu, cat: searched_cat},
                    returnType: 'text',
                    success: function (data) {
                        $(".termData").remove();

                        $("#table_data").show();
                        $(".hist-data").remove();
                        console.log(data);

                        if (data.length != 0)
                        {
                            for (i = 0; i < data.length; i++) {

                                $("#data").append('<tr class="termData"><td><img class="imgData" height = "60p" width ="80px"  src="http://166.78.105.176/images/' + data[i][9] + "/" + data[i][0] + '"></td><td>' + data[i][1] + '</td><td>' + data[i][2] + '</td><td>' + data[i][3] + '</td><td>' + data[i][4] + '</td><td>' + data[i][5] + '</td><td>' + data[i][6] + '</td><td>' + data[i][7] + '</td><td>' + data[i][8] + '</td></tr>')

                            }
                        }
                        else
                        {
                            $("#title_data").remove();
                            $("#data").append('<div> There are no such products </div>')
                        }


                    },
                    error: function (data) {
                        alert("There are no such products");
                    }
                })
            }
        });


        $("#search_button").on("click",function(){

            searched_term = $("#search_name").val();

           $.ajax({
            type: "POST",
            url: "/product-search/",
            data: {term : searched_term,dist: searched_dist,menu:searched_menu,cat:searched_cat},
            returnType: 'text',
            success: function (data) {
                $(".termData").remove();

                $("#table_data").show();
                $(".hist-data").remove();
                console.log(data);

                if (data.length != 0)
                {
                    for (i = 0; i < data.length; i++) {

                        $("#data").append('<tr class="termData"><td><img class="imgData" height = "60p" width ="80px"  src="http://166.78.105.176/images/' + data[i][9] + "/" + data[i][0] + '"></td><td>' + data[i][1] + '</td><td>' + data[i][2] + '</td><td>' + data[i][3] + '</td><td>' + data[i][4] + '</td><td>' + data[i][5] + '</td><td>' + data[i][6] + '</td><td>' + data[i][7] + '</td><td>' + data[i][8] + '</td></tr>')

                    }
                }
                else
                {
                    $("#title_data").remove();
                    $("#data").append('<div> There are no such products </div>')
                }

            },
            error: function (data) {
                alert("There are no such products");
            }
        })
        });

        $("#search-menu").on("click",function(){
           var e = document.getElementById("manu_select");
            searched_menu = e.options[e.selectedIndex].value;
             $.ajax({
            type: "POST",
            url: "/product-search/",
            data: {term : searched_term,dist: searched_dist,menu:searched_menu,cat:searched_cat},
            returnType: 'text',
            success: function (data) {
                $(".termData").remove();
                $("#table_data").show();
                $(".hist-data").remove();
                console.log(data);
                if (data.length != 0)
                {
                    for (i = 0; i < data.length; i++) {

                        $("#data").append('<tr class="termData"><td><img class="imgData" height = "60p" width ="80px"  src="http://166.78.105.176/images/' + data[i][9] + "/" + data[i][0] + '"></td><td>' + data[i][1] + '</td><td>' + data[i][2] + '</td><td>' + data[i][3] + '</td><td>' + data[i][4] + '</td><td>' + data[i][5] + '</td><td>' + data[i][6] + '</td><td>' + data[i][7] + '</td><td>' + data[i][8] + '</td></tr>')

                    }
                }
                else
                {
                    $("#title_data").remove();
                    $("#data").append('<div> There are no such products </div>')
                }

            },
            error: function (data) {
                alert("There are no such products");
            }
        })
        });


        $("#next-page").on("click",function(){
            page = page + 1
            $.ajax({
            type: "POST",
            url: "/product-search/",
            data: {term : searched_term,dist: searched_dist,menu:searched_menu,cat:searched_cat,page:page},
            returnType: 'text',
            success: function (data) {

                $(".termData").remove();
                $("#table_data").show();
                $(".hist-data").remove();

                console.log(data);
                if (data.length != 0)
                {
                    for (i = 0; i < data.length; i++) {

                        $("#data").append('<tr class="termData"><td><img class="imgData" height = "60p" width ="80px"  src="http://166.78.105.176/images/' + data[i][9] + "/" + data[i][0] + '"></td><td>' + data[i][1] + '</td><td>' + data[i][2] + '</td><td>' + data[i][3] + '</td><td>' + data[i][4] + '</td><td>' + data[i][5] + '</td><td>' + data[i][6] + '</td><td>' + data[i][7] + '</td><td>' + data[i][8] + '</td></tr>')

                    }
                }
                else
                {
                    $("#title_data").remove();
                    $("#data").append('<div> There are no such products </div>')
                }

            },
            error: function (data) {
                alert("There are no such products");
            }
        })
        });


        $("#prev-page").on("click",function(){
            page = page - 1
            $.ajax({
            type: "POST",
            url: "/product-search/",
            data: {term : searched_term,dist: searched_dist,menu:searched_menu,cat:searched_cat,page:page},
            returnType: 'text',
            success: function (data) {
                $(".termData").remove();
                $("#table_data").show();
                $(".hist-data").remove();
                console.log(data);
                if (data.length != 0)
                {
                    for (i = 0; i < data.length; i++) {

                        $("#data").append('<tr class="termData"><td><img class="imgData" height = "60p" width ="80px"  src="http://166.78.105.176/images/' + data[i][9] + "/" + data[i][0] + '"></td><td>' + data[i][1] + '</td><td>' + data[i][2] + '</td><td>' + data[i][3] + '</td><td>' + data[i][4] + '</td><td>' + data[i][5] + '</td><td>' + data[i][6] + '</td><td>' + data[i][7] + '</td><td>' + data[i][8] + '</td></tr>')

                    }
                }
                else
                {
                    $("#title_data").remove();
                    $("#data").append('<div> There are no such products </div>')
                }

            },
            error: function (data) {
                alert("There are no such products");
            }
        })
        });


        $("#search-cat").on("click",function(){
           var e = document.getElementById("cat_select");
            searched_cat = e.options[e.selectedIndex].value;
             $.ajax({
            type: "POST",
            url: "/product-search/",
            data: {term : searched_term,dist: searched_dist,menu:searched_menu,cat:searched_cat},
            returnType: 'text',
            success: function (data) {
                $(".termData").remove();
                $("#table_data").show();
                $(".hist-data").remove();
                console.log(data);
                if (data.length != 0)
                {
                    for (i = 0; i < data.length; i++) {

                        $("#data").append('<tr class="termData"><td><img class="imgData" height = "60p" width ="80px"  src="http://166.78.105.176/images/' + data[i][9] + "/" + data[i][0] + '"></td><td>' + data[i][1] + '</td><td>' + data[i][2] + '</td><td>' + data[i][3] + '</td><td>' + data[i][4] + '</td><td>' + data[i][5] + '</td><td>' + data[i][6] + '</td><td>' + data[i][7] + '</td><td>' + data[i][8] + '</td></tr>')

                    }
                }
                else
                {
                    $("#title_data").remove();
                    $("#data").append('<div> There are no such products </div>')
                }

            },
            error: function (data) {
                alert("There are no such products");
            }
        })
        });

        $(".distributor").on("click",function(){
           searched_dist = $(this).attr('data_val');

{#            var searched_term = $("#search_name").val();#}

            $.ajax({
            type: "POST",
            url: "/product-search/",
            data: {term : searched_term,dist: searched_dist,menu:searched_menu,cat:searched_cat},
            returnType: 'text',
            success: function (data) {

                $(".termData").remove();
                $("#table_data").show();
                $(".hist-data").remove();
                console.log(data);
                if (data.length != 0)
                {
                    for (i = 0; i < data.length; i++) {

                        $("#data").append('<tr class="termData"><td><img class="imgData" height = "60p" width ="80px"  src="http://166.78.105.176/images/' + data[i][9] + "/" + data[i][0] + '"></td><td>' + data[i][1] + '</td><td>' + data[i][2] + '</td><td>' + data[i][3] + '</td><td>' + data[i][4] + '</td><td>' + data[i][5] + '</td><td>' + data[i][6] + '</td><td>' + data[i][7] + '</td><td>' + data[i][8] + '</td></tr>')

                    }
                }
                else
                {
                    $("#title_data").remove();
                    $("#data").append('<div> There are no such products </div>')
                }

            },
            error: function (data) {
                alert("There are no such products");
            }
        })
        });

    });



</script>
</body>
</html>
