{% extends "dashboard.html" %}
{% load humanize %}
{% load carton_tags %}

{% block body %}
      {{ block.super }}

      <div class="tab-bg">
        <div class="container">
          <div class="bs-example bs-example-tabs">
            <ul id="myTab" class="nav nav-tabs" role="tablist">
              <li class=""><a href="/product-search/">Search</a></li>
              <li class="active"><a href="#" id="order_history">Product Order History</a></li>
              <li class=""><a href="/history/" >Search History</a></li>
              {% comment %}
              <li class=""><a href="{% url 'dashboard' %}" id="dealerexchange">Dealer Exchange</a></li>
              {% endcomment %}
            </ul>
            {% get_cart as cart %}
              <div id="shopping-cart-header" class="cart-icon-container">
                <a id="shopping-cart-link" href="{% url 'view_cart' %}">
                  <img class="cart-image" src="{{ STATIC_URL }}images/cart.png"  alt="">
                  <span>({{ cart.count }}) item{{ cart.count|pluralize }}</span>
                </a>
              </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>

      <div class="container">
            <div class="clearfix">&nbsp;</div>
            <div class="row grey-border grey-bg">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <thead>
                        <tr style="background-color:#1076bc !important; color: #FFF;">
                              <td style="border-right: #ffffff solid 1px;" width="20%">Date</td>
                              <td style="border-right: #ffffff solid 1px;" width="20%">Order#</td>
                              <td style="border-right: #ffffff solid 1px;" width="20%">Tracking Number</td>
                              <td style="border-right: #ffffff solid 1px;" width="20%">Total Price</td>
                              <td style="border-right: #ffffff solid 1px;" width="20%">Invoice URL</td>
                              <!-- <td style="border-right: #ffffff solid 1px;" width="10%">Unit Price</td>
                              <td style="border-right: #ffffff solid 1px;" width="10%">Total Price</td> -->
                        </tr>
                      </thead>
                      <tbody>

                      {% for order in orders %}
                        <tr>
                          <td>{{ order.date|date:"d/M/Y H:i:s" }}</td>
                          <td>{{ order.order_number_c }}</td>
                          <td>{{ order.tracking_number|default:"" }}</td>
                          <td>{{ order.transaction_amount }}</td>
                          <td>{% if order.invoice_url %}<a href="{{ order.invoice_url }}">Click here</a>{% endif %}</td>
                        </tr>
                        <!-- {% if order.purchasehistory_set.count > 0 %}
                        <tr>
                              <td rowspan="{{ order.purchasehistory_set.count }}">
                                    {{order.date|date:"M d"}}
                              </td>
                              <td>{{ order.purchasehistory_set.first.upc }}</td>
                              <td>{{ order.purchasehistory_set.first.model }}</td>
                              <td>{{ order.purchasehistory_set.first.qty }}</td>
                              <td>{{ order.purchasehistory_set.first.manufacture }}</td>
                              <td>${{ order.purchasehistory_set.first.unit_price|floatformat:2|intcomma }}</td>
                              <td>${{ order.purchasehistory_set.first.total_price|floatformat:2|intcomma }}</td>
                        </tr>
                        {% for purchase_history in order.purchasehistory_set.all %}
                              {% if not forloop.first %}
                                    <tr>
                                          <td>{{ purchase_history.upc }}</td>
                                          <td>{{ purchase_history.model }}</td>
                                          <td>{{ purchase_history.qty }}</td>
                                          <td>{{ purchase_history.manufacture }}</td>
                                          <td>${{ purchase_history.unit_price|floatformat:2|intcomma }}</td>
                                          <td>${{ purchase_history.total_price|floatformat:2|intcomma }}</td>
                                    </tr>
                              {% endif %}
                        {% endfor %}
                        {% endif %} -->
                      {% endfor %}
                      
                      </tbody>
                  </table>
              </div>

              <div class="clearfix">&nbsp;</div>
              <div class="clearfix">&nbsp;</div>
      </div>
{% endblock body %}

{% block body_script %}
      {{block.super}}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
{% endblock body_script %}
