﻿{% load humanize %}
    <div style="display: none;" class="detail_modal" id="detail_{{result.pk}}">
        <ul class="product">
            <li class="product_details">Product Details</li>
            <li><a href="#" class="exit"></a></li>
        </ul>
<div class="container-fluid wrapper">
    <div class="row">
        <div class="col-sm-7">
            <div class="col-sm-12 img_slider">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">

                        {% if result.is_dealer_direct or result.is_dealer_exchange %}
                        {% for image in result.detail_popup_urls %}
                        <div class="item {% if forloop.first %}active{% endif %}"><img src="{{MEDIA_URL}}{{image}}"></div>
                        {% empty %}
                        <div class="item active"><img src="{{MEDIA_URL}}{{image}}" onerror="no_photo(this)" width=460 height=400></div>
                        {% endfor %}
                        {% else %}
                        <div class="item active"><img src="{{ result.detail_popup_url }}" onerror="no_photo(this)" width=460 height=400></div>
                        {% endif %}

                    </div>
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" onclick="$('.carousel').carousel('prev')">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next" onclick="$('.carousel').carousel('next')">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                <div class="thumbnail_wrapper">
                    <div class="thumbnail_carousel">
                        {% if result.is_dealer_direct %}
                        {% for image in result.detail_thumb_urls %}
                        <div class="img_div" onclick="$('.carousel').carousel({{ forloop.counter0 }})"><img src="{{MEDIA_URL}}{{image}}"></div>
                        {% empty %}
                        <div class="img_div"><img src="{{MEDIA_URL}}{{image}}" onerror="no_photo(this)" width=63 height=63></div>
                        {% endfor %}
                        {% else %}
                        <div class="img_div"><img src="{{ result.thumb_list_url }}" onerror="no_photo(this)" width=63 height=63></div>
                        {% endif %}
                    </div>
                </div>


            </div>
            <div class="col-sm-12">
                <h5 class="item-details">Item Details</h5>
                <p class="details">UPC:<span>{{ result.upc_value }}</span></p>
                <p class="details">Category:<span>{% if result.is_dealer_direct or result.is_dealer_exchange %}{{ result.listing_category }}{% else %}{{ result.category_name }}{% endif %}</span></p>
                <p class="details">Manufacturer:<span>{{ result.manufacturer }}</span></p>
                <p class="desc">{{ result.description }}</p>
                {% if result.is_dealer_direct or result.is_dealer_exchange %}
                    <p class="firearm-details">{{ result.listing_type }} Details</p>
                    {% if result.listing_type == 'Firearm' %}
                        <p class="details">Caliber:<span>{{ result.caliber }}</span></p>
                        <p class="details">Capacity:<span>{{ result.capacity }}</span></p>
                        <p class="details">Weight:<span>{{ result.weight }}</span></p>
                        <p class="details">Barrel Length:<span>{{ result.length_barrel }}</span></p>
                        <p class="details">Overall Length:<span>{{ result.length_overall }}</span></p>
                        <p class="details finish">Finish:<span>{{ result.finish }}</span></p>
                    {% elif result.listing_type == 'Ammo' %}
                        <p class="details">Rounds per box:<span>{{ result.product.upc.rounds }}</span></p>
                        <p class="details">Caliber/Gauge:<span>{{ result.caliber }}</span></p>
                        <p class="details">Weight:<span>{{ result.weight }}</span></p>
                        <p class="details">Muzzle Velocity:<span>{{ result.product.upc.muzzle_velocity }}</span></p>
                        <p class="details">Length:<span>{{ result.product.upc.length }}</span></p>
                        <p class="details">Type:<span></span></p>
                    {% elif result.listing_type == 'Optics' %}
                        <p class="details">Magnification:<span>{{ result.product.upc.magnification }}</span></p>
                        <p class="details">Field of View:<span>{{ result.product.upc.field_of_view }}</span></p>
                        <p class="details">Reticle:<span>{{ result.product.upc.reticle }}</span></p>
                        <p class="details">Objective Lens:<span>{{ result.product.upc.objective_lens }}</span></p>
                        <p class="details">Eye Relief:<span>{{ result.product.upc.eye_relief }}</span></p>
                        <p class="details">Max Elevation Adjustment:<span>{{ result.product.upc.max_elevation_adjustment }}</span></p>
                        <p class="details">Max Windage Adjustment:<span>{{ result.product.upc.max_windage_adjustment }}</span></p>
                        <p class="details">Length:<span>{{ result.product.upc.length }}</span></p>
                        <p class="details">Weight:<span>{{ result.weight }}</span></p>
                        <p class="details">Battery:<span>{{ result.product.upc.battery }}</span></p>
                        <p class="details">DOT Size:<span>{{ result.product.upc.dot_size }}</span></p>
                        <p class="details">Finish:<span>{{ result.finish }}</span></p>
                    {% elif result.listing_type == 'Apparel' %}
                        <p class="details">Size:<span>{{ result.product.upc.shirt_size }}</span></p>
                        <p class="details">Color:<span>{{ result.product.upc.shirt_color }}</span></p>
                    {% elif result.listing_type == 'Blades' %}
                        <p class="details">Blade Type:<span>{{ result.product.upc.blade_type }}</span></p>
                        <p class="details">Blade Length:<span>{{ result.product.upc.blade_length }}</span></p>
                        <p class="details">Total Length:<span>{{ result.product.upc.blade_total_length }}</span></p>
                        <p class="details">Steel:<span>{{ result.product.upc.blade_steel }}</span></p>
                        <p class="details">Handle Material:<span>{{ result.product.upc.blade_handle_material }}</span></p>
                        <p class="details">Weight:<span>{{ result.weight }}</span></p>
                        <p class="details">Edge Type:<span>{{ result.product.upc.blade_edge }}</span></p>
                    {% endif %}
                {% else %}
                    <p class="firearm-details">Firearm Details</p>
                    <p class="details">Caliber:<span>{{ result.product.upc.caliber }}</span></p>
                    <p class="details">Capacity:<span>{{ result.product.upc.capacity }}</span></p>
                    <p class="details">Weight:<span>{{ result.product.upc.weight }}</span></p>
                    <p class="details">Barrel Length:<span>{{ result.product.upc.length_barrel }}</span></p>
                    <p class="details">Overall Length:<span>{{ result.product.upc.length_overall }}</span></p>
                    <p class="details finish">Finish:<span>{{ result.product.upc.finish }}</span></p>
                {% endif %}
            </div>

        </div>
        {% if result.is_featured or result.is_dealer_direct or result.distributor_name == 'Dealer Exchange' %}
        <div class="col-sm-5">
            <div class="col-sm-12 add">
                <div class="col-sm-12 npq">
                    <p class="nm">{{ result.model_value }}</p>
                    <p class="price">${{ result.price|floatformat:2|intcomma }}</p>
                    <p class="qty"><label>Quantity:<input type="text" value="1"><span data-qty="{{result.qty}}">{{ result.qty }} available</span></label></p>
                </div>
                <button id="{{ result.pk }}" class="add-btn">Add to Cart</button>
            </div>
        </div>
        {% endif %}
    </div>
</div>
</div>
