{% extends "dashboard.html" %}

{% load carton_tags %}
{% load humanize %}

{% block extra_css %}
 <!--   <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}lib/box/box.css" />-->
    {{ block.super }}
{% endblock extra_css %}

{% block extra_head_script %}

{{ block.super }}

<!-- Javascript -->
<script type="text/javascript">
    function no_photo(image) {
        image.onerror = "";
        image.src = '{{STATIC_URL}}images/noimage.jpg';
        return true;
    }
    $(function() {
        products = []
        {% for cat in cat_results %}
            products.push("{{ cat }}");
        {% endfor %}

    });
    //<![CDATA[
    function toggler(divId) {
        $("#" + divId).toggle();
    }
    window.onhashchange = function() {
        if(window.location.hash === '') {
            $.fancybox.close();
            $('.feat_mfr').show(400);
            $("#table_data").hide();
            $('#grid_data').hide();
        }
    };
    //]]>
</script>
<script src="{{ STATIC_URL }}js/jquery.mCustomScrollbar.concat.min.js"></script>
{% endblock extra_head_script %}

{% block body %}
    {{ block.super }}

<div class="tab-bg">
    <div class="container">
        <div class="bs-example bs-example-tabs">
            <ul id="myTab" class="nav nav-tabs" role="tablist">
                <li class="active"><a href="/product-search/" role="tab" >Search</a>
                </li>
                <li class=""><a href="/order-history/" id="order_history">Product Order History</a>
                </li>
                <li class=""><a href="/history/" id="history">Search History</a>
                </li>
                {% comment %}
                <li class=""><a href="{% url 'dashboard' %}" id="dealerexchange">Dealer Exchange</a>
                </li>
                {% endcomment %}

            </ul>
            {% get_cart as cart %}
            <div id="shopping-cart-header" class="cart-icon-container">
              <a id="shopping-cart-link" href="{% url 'view_cart' %}">
              <img class="cart-image" src="{{ STATIC_URL }}images/cart.png"  alt="">
              <span>({{ cart.count }}) item{{ cart.count|pluralize }}</span>
              </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="clearfix">&nbsp;</div>


    <div class="row">

        <div class="col-lg-9">
            <div class="grey-border margin-top70">
                <div class="grey-bg search-box">
                    <div class="col-lg-12">
                        <div class="navbar-form navbar-left nav-search" role="search">
                            <div class="form-group">
                                <input type="text" name="search_term" id="search_name" class="form-control" value="{{ searched_term }}" placeholder="Search by UPC or product name">
                            </div>
                            <button type="button" id="search_button" class="btn btn-default">
                                SEARCH
                            </button>
                            <span id="search_loading"></span>
                        </div>
                        <div class="navbar-form text-right pull-right search-org">
                            <span class="btn-group" role="group">
                                <button type="button" class="btn btn-view-toggle" id="grid_view"><i class="glyphicon glyphicon-th"></i></button>
                                <button type="button" class="btn btn-view-toggle" id="list_view"><i class="glyphicon glyphicon-align-justify"></i></button>
                            </span>
                        </div>
                        <div class="col-lg-12" style="display: none;">
                            <a id="show_more_options">more search options</a>
                            {% comment %}
                            <!--<div class="col-lg-3 advanced-filters">
                                <select id="drpManufactures" name="drpManufactures" class="form-control">
                                    <option class="active" value="">Manufacturers</option>
                                    {% for name in manu_results %}
                                    <option id="manufacture" class="manufacture " data_val="{{ name }}" value="{{ name }}">{{ name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-lg-3 advanced-filters">
                                <select id="drpCategories" name="drpCategories" class="form-control">
                                    <option class="active" value="">Category</option>
                                    {% for name in cat_results %}
                                    <option id="category" class="category form-control" data_val="{{ name }}" value="{{ name }}">{{ name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-lg-2 advanced-filters">
                                <select id="drpCaliber" name="drpCaliber" class="form-control">
                                    <option class="active" value="">Caliber</option>
                                    {% for name in caliber_results %}
                                    <option id="caliber" class="caliber form-control" data_val="{{ name }}" value="{{ name }}">{{ name }}</option>
                                    {% endfor %}
                                </select>
                            </div>-->
                        {% endcomment %}
                            <div id="more_options" style="display:none;">
                                <div class="col-lg-2 advanced-filters">
                                    <select id="drpOrderByPrice" name="drpOrderByPrice" class="form-control">
                                        <option class="active" value="ASC">Low to High</option>
                                        <option class="active" value="DESC" selected>High to Low</option>
                                    </select>
                                </div>
                                {% comment %}
                                <div class="col-lg-2 advanced-filters">
                                    <select id="drpDistributors" name="drpDistributors" class="form-control">
                                        <option class="active" value="">Suppliers</option>
                                        {% if userprofile.davidson_verified %}
                                            <option id="davidsons" class="distrubutor form-control" data_val="Davidson's" value="Davidson's">Davidson's</option>
                                        {% endif %}
                                        {% if userprofile.lipseys_verified %}
                                            <option id="lipseys" class="distrubutor form-control" value="Lipseys">Lipsey's</option>
                                        {% endif %}
                                        {% if userprofile.rsr_verified %}
                                            <option id="rsr" class="distrubutor form-control" value="RSR Group">RSR Group</option>
                                        {% endif %}
                                        {% if userprofile.green_verified %}
                                            <option id="greens" class="distrubutor form-control" value="Green Supply">Green Supply</option>
                                        {% endif %}
                                        {% if userprofile.sports_verified %}
                                            <option id="greens" class="distrubutor form-control" value="Sport's South">Sport's South</option>
                                        {% endif %}
                                        {% if userprofile.jerrys_verified %}
                                            <option id="jerrys" class="distrubutor form-control" value="Jerry's Sports Center">Jerry's Sports Center</option>
                                        {% endif %}
                                        {% if userprofile.ellet_verified %}
                                            {# Use value of Jerrys for Ellet in search. #}
                                            <option id="ellet" class="distrubutor form-control" value="Ellet">Ellet</option>
                                        {% endif %}
                                    </select>
                                </div>
                                {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="feat_mfr" {% if history_record %}style="display:none"{% endif %}>
                <ul class="feat-list">
                    <li class="fm">
                        <p class="feat_bold">Featured Manufacturers</p>
                        <p class="desc">Buy directly from these manufacturers.</p>
                        <p class="desc want">Want to be a featured manufacturer? <a href="#dealer_popup" class="ppp">Click here</a></p>
                    </li>
                    {% for mfr in featured_manufacturers %}
                    <li>
                    <button data-company_id='{{mfr.user_id}}' title="{{mfr.company_name}}" class="img-button">
                            {% if mfr.logo_url %}
                            <img src="{{mfr.logo_url}}" alt="Company Logo">
                            {% else %}
                            <span>{{mfr.company_name}}</span>
                            {% endif %}
                        </button>
                    </li>
                    {% endfor %}
                </ul>
                <!--
                <button type="button" class="btn btn-default">
                    Want to be a featured manufacturer?<br/>
                    <span>Click to request more information</span>
                </button>
                -->

            </div>

                <div id="dealer_popup" style="display: none">
                    <p class="top">Want to be a Featured Manufacturer?</p>
                    <p class="desc">
                        Dealer Direct allows manufacturers to list their products for free, so they show here in vArmory to our network of
                        1000's of gun stores that are ready to buy.<br /><br />Click on the button below to sign-up for your free Dealer Direct account
                        and start adding your products.
                    </p>

                    <button>Create Dealer Direct Account</button>
                </div>

        <div class="clearfix"></div>

        <div id="representative_emails"
             class="hidden"
             data-davidson='{{userprofile.davidson_mail|default_if_none:""}}'
             data-lipseys='{{userprofile.davidson_mail|default_if_none:""}}'
             data-green='{{userprofile.green_mail|default_if_none:""}}'
             data-rsr='{{userprofile.rsr_mail|default_if_none:""}}'
             data-zanders='{{userprofile.zanders_mail|default_if_none:""}}'
             data-camfour='{{userprofile.camfour_mail|default_if_none:""}}'
             data-sports='{{userprofile.sports_mail|default_if_none:""}}'
             data-jerry='{{userprofile.jerrys_mail|default_if_none:""}}'
             data-ellet='{{userprofile.ellet_mail|default_if_none:""}}'
        >
        </div>
        <div class="table-responsive" id="table_data" style="display:none">
            <table class="table table-striped table-hover" border="1" bordercolor="#B9B9B9" style="text-align: center;">
                <tbody id="data">
                <tr id="title_data">
                    <th style="background-color:#1076bc !important; color: #FFF;">Image</th>
                    <th style="background-color:#1076bc !important; color: #FFF;">Model</th>
                    <th style="background-color:#1076bc !important; color: #FFF;">Caliber</th>
                    <th style="background-color:#1076bc !important; color: #FFF;">Manufacturer</th>
                    <th style="background-color:#1076bc !important; color: #FFF;">Supplier</th>
                    <th style="background-color:#1076bc !important; color: #FFF;">Stock</th>
                    <th class="price" style="background-color:#1076bc !important; color: #FFF;">Price</th>
                </tr>
                {% if history_record %}
                    {% include 'saas_app/product-search-result.html' %}
                {% endif %}


                </tbody>

              </table>
        </div>
        <div class="error_message"></div>
        <div class="grid-responsive" id="grid_data" style="display:none">
            <div id="gridData">
                {% if grid_html %}
                    {{ grid_html }}
                {% else %}
                <div class="termGridData">             
                </div>
                {% endif %}
            </div>
        </div>
      </div>
        <div class="col-lg-3">
            <div class=" navbar-form ">
                <!--<div id="customer-view" class="customer-view">
                    <span class="customer-view-label">Customer View&nbsp;</span>
                    <input type="checkbox" id="customer_view_checkbox" />
                </div>-->
            </div>
            {% comment %}
            <div class="clearfix">&nbsp;</div>
            <div class="grey-border" id="shopping-cart">
                <div class="light-grey-bg">Shopping Cart</div>
                <table class="cart" cellspacing="0" cellpadding="0" width="100%" border="0">
                    <thead>
                        <tr>
                            <td></td>
                            <td>Item</td>
                            <td>Detail</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart.items %}
                        <tr>
                            <td><span class="glyphicon glyphicon-remove" id="{{item.product.id}}"></span>
                            <span class="glyphicon glyphicon-pencil" id="edit_{{item.product.id}}" data_name="{{item.product}}"></span>
                            </td>
                            <td>{{ item.product }}</td>
                            <td>qty: {{ item.quantity }} <b>${{ item.subtotal|floatformat:2|intcomma }}</b>
                            </td>
                        </tr>
                        {% endfor %}
                        <tfoot>
                            <tr>
                                <td></td>
                                <td>Subtotal</td>
                                <td><b>${{cart.total|floatformat:2|intcomma}}</b>
                                </td>
                            </tr>
                        </tfoot>
                </table>
            </div>


            <table width="100%">
                <tr>
                    <td id="email-success" style="display: none; text-align: center; padding-bottom: 10px;
    color: #20A71A;"> Email has been sent successfully</td>
                </tr>
                <tr>
                    <td id="email-avail" style="display: none; text-align: center; padding-bottom: 10px;
    color: #20A71A;"> Please enter supplier email from User Settings tab to start order...</td>
                </tr>
                <tr>
                    <td class="email_loading" style="padding-left: 30px;"></td>
                </tr>
                <tr>


                    <td>
                       <button id="emailrepbutton" class="emailrepbutton">EMAIL MY REP</button>
                    </td>



                </tr>

            </table>
            {% endcomment %}
            <div class="feat-btn">
                <p class="feat-title">Featured Manufacturers</p>
                <p class="feat-desc">
                    Buy products directly from these Featured Manufacturers.
                </p>
                <button>Shop Featured Manufacturers</button>
            </div>
            <div class="supp-btn">
                <p class="supp-title"> Add Distributors</p>
                <p class="supp-desc"> 
                    Click below to add your Distributors
                </p>
                <a href="{% url 'step-2' %}"><button>Add Distributors</button></a>
            </div>
            <div id="sidebar_box" class="sidebar_box">
                <p id="feat">Refine By</p>
                <p class="refineheader">Availability</p>
                <div class="checkbox">
                    <label><input type="checkbox" id="sb_instock">In-stock only</label>
                </div>
                <p class="refineheader">Price</p>
                <div class="checkbox">
                    <label><input type="checkbox" id="sb_under50">Under $50</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" id="sb_50to199">$50 to $199</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" id="sb_200to499">$200 to $499</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" id="sb_500to999">$500 to $999</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" id="sb_1000andover">$1000 and Over</label>
                </div>
                <p class="refineheader">Distributor</p>
                    <div class="checkbox">
                        <label><input type="checkbox" id="sb_dealerexchange">Dealer Exchange</label>
                    </div>
                {% if userprofile.davidson_verified %}
                    <div class="checkbox">
                        <label><input type="checkbox" id="sb_davidsons">Davidson's</label>
                    </div>
                {% endif %}
                {% if userprofile.lipseys_verified %}
                    <div class="checkbox">
                        <label><input type="checkbox" id="sb_lipseys">Lipsey's</label>
                    </div>
                {% endif %}
                {% if userprofile.rsr_verified %}
                    <div class="checkbox">
                        <label><input type="checkbox" id="sb_rsrgroup">RSR Group</label>
                    </div>
                {% endif %}
                {% if userprofile.green_verified %}
                    <div class="checkbox">
                        <label><input type="checkbox" id="sb_greensupply">Green Supply</label>
                    </div>
                {% endif %}
                {% if userprofile.sports_verified %}
                    <div class="checkbox">
                        <label><input type="checkbox" id="sb_sportssouth">Sport's South</label>
                    </div>
                {% endif %}
                {% if userprofile.jerrys_verified %}
                    <div class="checkbox">
                        <label><input type="checkbox" id="sb_jerrys">Jerry's Sports Center</label>
                    </div>
                {% endif %}
                {% if userprofile.ellet_verified %}
                    {# Use value of Jerrys for Ellet in search. #}
                    <div class="checkbox">
                        <label><input type="checkbox" id="sb_ellet">Ellet</label>
                    </div>
                {% endif %}
                <p class="refineheader">Manufacturer</p>
                <select class="form-control" id="sb_manufacturer">
                    <option selected value="">Choose a manufacturer</option>
                    {% for name in manu_results %}
                    <option id="manufacture" class="manufacture " data_val="{{ name }}" value="{{ name }}">{{ name }}</option>
                    {% endfor %}
                </select>
                <p class="end-spacer">&nbsp;</p>
            </div>
        </div>
        <div class="col-lg-12 pagination-container" style="text-align:center; margin-left:-150px">
            <div id="current-page" data-page={{current_page}}>
            </div>
            {% if num_pages > 1 %}
                <ul class="pagination">
            {% else %}
                <ul class="pagination" style="display:none">
            {% endif %}
            </ul>

            <div class="clearfix">&nbsp;</div>
        </div>
        <p>&nbsp;</p>

        <p>&nbsp;</p>
        <div id="confirm_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel">Send Email to Rep</h3>
                    </div>
                    <div class="modal-body">
                        <p>By clicking the "Confirm" button, an email will be sent to your supplier's account rep showing the items you are ordering. Shipping and other transaction fees may be applied by your supplier. To ensure that your supplier has recieved this email, please follow-up directly with your account representative.</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                        <button class="btn btn-primary" id="order_email" data-dismiss="modal">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="update_qty_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel">Update Quantity</h3>
                    </div>
                    <div class="modal-body">
                        <p>Please enter new quantity for product <span id="update_name"></span><span id="update_upc" style="display:none;"></span>:</p>
                        <input type="numeric" id="new_qty">
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                        <button class="btn btn-primary" id="update_new_qty" data-dismiss="modal">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix">&nbsp;</div>
    <!--<a href="#detail-popup" style="color: #1076bc; position: absolute; top: 120%;" class="tt-btn">test button</a>-->
</div>

{% endblock body %}

{% block body_script %}
    {{block.super}}
    <script src="{{ STATIC_URL }}js/jquery.mobileCheckbox.js"></script>
    <script>
        window.search_func = function(mfr_id, searched) {
            console.log(mfr_id);
            console.log(typeof(mfr_id));
            if(searched){
                <!--window.location.href = window.location.search + "&searched=True";-->
            var q;
            if(typeof(mfr_id) == 'string'){
                q = mfr_id;
                mfr_id = undefined;
            }
            window.location = "#featured";

            $(".error_message").empty();
            $('.feat_mfr').hide(400);
            $("#title_data").show();
            search_term = $("#search_name").val();
            reset_search_params();

            var banner_prefix = "{{ STATIC_URL }}lib/box/images/banner_";
            var banner_suffix = ".jpg";
            var banner_url = banner_prefix.concat(mfr_id,banner_suffix);
            var OrderBy = $('#drpOrderByPrice').val();
            var Distributors = sb_getSupplierFilter();//$('#drpDistributors').val();
            var Manufactures = $('#sb_manufacturer').val();
            var Category = $('#drpCategories').val();
            var Caliber = $('#drpCaliber').val();
            var search_term = q || $('#search_name').val();
            var InStock = $('#sb_instock').is(":checked");
            var customerView = $('.cv .cv-on').css('display') !== 'none';
            var priceFilter = sb_getRefinePrice();
            mfr_id = mfr_id || 0;
            var page;

            $("#search_loading").html('<img src="{{ STATIC_URL }}images/loading.gif"/>');

            $.ajax({
                type: "POST",
                url: "/advance-search/",
                data: {
                    q: search_term,
                    order_by: OrderBy,
                    distributors: Distributors,
                    manufacturers: Manufactures,
                    category: Category,
                    caliber: Caliber,
                    in_stock: InStock,
                    page: page || 0,
                    is_customer_view: customerView,
                    price_filter: priceFilter,
                    mfr_id: mfr_id
                },
                returnType: 'text',
                success: function(data) {
                    $("#search_loading").html('');

                    $(".termData").remove();

                    $(".termGridData").remove();
                    if ($("#list_view").hasClass('active')){
                        $("#table_data").show();
                        $("#grid_data").hide();
                    } else {
                        $("#grid_data").show();
                        $('#table_data').hide();
                    }
                    // if (search_term == 'SRM' || search_term == 'Miltac'){
                    //     $("#table_data").hide();
                    //     $("#grid_data").show();
                    // } else {
                    //     $("#table_data").show();
                    //     $("#grid_data").hide();
                    // }
                    $(".hist-data").remove();

                    if (data.num_pages > 1) {
                        $(".pagination").show();
                    } else {
                        $(".pagination").hide();
                    }
                    console.log(data);
                    if (data['results_found']) {
                        $("#data").append(data.list_html);
                        if (search_term == 'SRM' || search_term == 'srm'|| mfr_id == '1303'){
                            $('#gridData').append('<img class="termGridData" style="width:100%; height:auto !important;" src="{{ STATIC_URL }}images/srm-store-image.png"/>');
                         } else if (search_term == 'Miltac' || search_term == 'miltac'|| mfr_id == '1302'){
                            $('#gridData').append('<img class="termGridData" style="width:100%; height:auto !important;" src="{{ STATIC_URL }}images/miltacstore.jpg"/>');
                        }

                        else if (mfr_id != ""){
                            $.get("/media/banners/" + mfr_id + ".jpg", function(data){
                                    var img_url = "/media/banners/" + String(mfr_id) + ".jpg";
                                    $('#gridData').prepend("<img class='termGridData' style='width:100%; height:auto !important;' src='" + img_url + "'/>");
                                    })
                            .fail(function(){
                                $('#gridData').prepend('<img class="termGridData" style="width:100%; height:auto !important;" src="{{ STATIC_URL }}images/placeholder.jpg"/>');
                                });
                        }
                        $("#gridData").append(data.grid_html);
                        set_image_lightbox();
                    } else {
                        console.log('no results');
                        $("#title_data").hide();
                        $('#grid_data').hide();
                        $(".error_message").append('<div> <img src="{{ STATIC_URL }}images/no-products-found.gif"/> </div>')
                    }
                    prepare_search_results();

                    //Update pagination
                    $(".pagination-container").html(data.pagination_html);
                    set_page_number();
                    $('.sidebar_box').css('display', 'block');
                },
                error: function(data) {
                  console.log('error');
                    $("#search_loading").html('');

                    $("#title_data").hide();
                    $('#grid_data').hide();
                    $(".error_message").append('<div> <img src="{{ STATIC_URL }}images/no-products-found.gif"/> </div>')
                }
            })
        };

        $(".cv-on").on("click", function() {
            var customerView = $('.cv .cv-on').css('display') !== 'none';
            var OrderBy = $('#drpOrderByPrice').val();
            var Distributors = sb_getSupplierFilter();//$('#drpDistributors').val();
            var Manufactures = $('#sb_manufacturer').val();
            var Category = $('#drpCategories').val();
            var Caliber = $('#drpCaliber').val();
            var search_term = $('#search_name').val();
            var InStock = $('#sb_instock').is(":checked");
            var priceFilter = sb_getRefinePrice();
            searched_term = $("#search_name").val();
            console.log("search_name = "+searched_term);
            if (searched_term == "" && typeof(mfr_id) == 'number'){
            $(".error_message").empty();
            $(this).css('display', 'none');
            $("#dealer_view").css('display', 'inline-block');



            $("#search_loading").html('<img src="{{ STATIC_URL }}images/loading.gif"/>');

            $.ajax({
                type: "POST",
                url: "/advance-search/",
                data: {
                    q: search_term,
                    order_by: OrderBy,
                    distributors: Distributors,
                    manufacturers: Manufactures,
                    category: Category,
                    caliber: Caliber,
                    in_stock: InStock,
                    page: page || 0,
                    is_customer_view: customerView,
                    price_filter: priceFilter,
                    mfr_id: mfr_id
                },
                returnType: 'text',
                success: function(data) {
                    $("#search_loading").html('');

                    $(".termData").remove();
                    $(".termGridData").remove();
                    if ($("#list_view").hasClass('active')){
                        $("#table_data").show();
                        $("#grid_data").hide();
                    } else {
                        $("#grid_data").show();
                        $('#table_data').hide();
                    }
                    // if (search_term == 'SRM' || search_term == 'Miltac'){
                    //     $("#table_data").hide();
                    //     $("#grid_data").show();
                    // } else {
                    //     $("#table_data").show();
                    //     $("#grid_data").hide();
                    // }
                    $(".hist-data").remove();

                    if (data.num_pages > 1) {
                        $(".pagination").show();
                    } else {
                        $(".pagination").hide();
                    }

                    if (data['results_found']) {
                        $("#data").append(data.list_html);
                        if (search_term == 'SRM' || search_term == 'srm'|| mfr_id == '1303'){
                            $('#gridData').append('<img class="termGridData" style="width:100%; height:auto !important;" src="{{ STATIC_URL }}images/srm-store-image.png"/>');
                        } else if (search_term == 'Miltac' || search_term == 'miltac'|| mfr_id == '1302'){
                            $('#gridData').append('<img class="termGridData" style="width:100%; height:auto !important;" src="{{ STATIC_URL }}images/miltacstore.jpg"/>');
                        }

                        else if (mfr_id != ''){
                            console.log(banner_url);
                            
                            $('#gridData').append('<img class="termGridData" style="width:100%; height:auto !important;" src="{{ STATIC_URL }}images/placeholder.jpg"/>');
                        }
                        $("#gridData").append(data.grid_html);
                        set_image_lightbox();
                    } else {
                        console.log('no results');
                        $("#title_data").hide();
                        $('#grid_data').hide();
                        $(".error_message").append('<div> <img src="{{ STATIC_URL }}images/no-products-found.gif"/> </div>')
                    }

                    prepare_search_results();

                    //Update pagination
                    $(".pagination-container").html(data.pagination_html);
                    set_page_number();
                    $('.sidebar_box').css('display', 'block');
                },
                error: function(data) {
                    $("#search_loading").html('');

                    $("#title_data").hide();
                    $('#grid_data').hide();
                    $(".error_message").append('<div> <img src="{{ STATIC_URL }}images/no-products-found.gif"/> </div>')
                }
            });

        }});

        $(".cv-off").on("click", function() {
            var customerView = $('.cv .cv-on').css('display') !== 'none';
            var OrderBy = $('#drpOrderByPrice').val();
            var Distributors = sb_getSupplierFilter();//$('#drpDistributors').val();
            var Manufactures = $('#sb_manufacturer').val();
            var Category = $('#drpCategories').val();
            var Caliber = $('#drpCaliber').val();
            var search_term = $('#search_name').val();
            var InStock = $('#sb_instock').is(":checked");
            var priceFilter = sb_getRefinePrice();
            searched_term = $("#search_name").val();
            if (searched_term == "" && typeof(mfr_id) == 'number') {
            console.log("search_name = "+searched_term);
            $(".error_message").empty();
            $(this).css('display', 'none');
            $("#dealer_view").css('display', 'inline-block');

            $("#search_loading").html('<img src="{{ STATIC_URL }}images/loading.gif"/>');

            $.ajax({
                type: "POST",
                url: "/advance-search/",
                data: {
                    q: search_term,
                    order_by: OrderBy,
                    distributors: Distributors,
                    manufacturers: Manufactures,
                    category: Category,
                    caliber: Caliber,
                    in_stock: InStock,
                    page: page || 0,
                    is_customer_view: customerView,
                    price_filter: priceFilter,
                    mfr_id: mfr_id
                },
                returnType: 'text',
                success: function(data) {
                    $("#search_loading").html('');

                    $(".termData").remove();
                    $(".termGridData").remove();
                    if ($("#list_view").hasClass('active')){
                        $("#table_data").show();
                        $("#grid_data").hide();
                    } else {
                        $("#grid_data").show();
                        $('#table_data').hide();
                    }
                    // if (search_term == 'SRM' || search_term == 'Miltac'){
                    //     $("#table_data").hide();
                    //     $("#grid_data").show();
                    // } else {
                    //     $("#table_data").show();
                    //     $("#grid_data").hide();
                    // }
                    $(".hist-data").remove();

                    if (data.num_pages > 1) {
                        $(".pagination").show();
                    } else {
                        $(".pagination").hide();
                    }
                    if (data['results_found']) {
                        $("#data").append(data.list_html);
                        if (search_term == 'SRM' || search_term == 'srm'|| mfr_id == '1303'){
                            $('#gridData').append('<img class="termGridData" style="width:100%; height:auto !important;" src="{{ STATIC_URL }}images/srm-store-image.png"/>');
                        } else if (search_term == 'Miltac' || search_term == 'miltac'|| mfr_id == '1302'){
                            $('#gridData').append('<img class="termGridData" style="width:100%; height:auto !important;" src="{{ STATIC_URL }}images/miltacstore.jpg"/>');
                        }

                        else if (mfr_id != ''){
                            console.log(banner_url);
                            
                            $('#gridData').append('<img class="termGridData" style="width:100%; height:auto !important;" src="{{ STATIC_URL }}images/placeholder.jpg"/>');
                        }
                        $("#gridData").append(data.grid_html);
                        set_image_lightbox();
                    } else {
                        console.log('no results');
                        $("#title_data").hide();
                        $('#grid_data').hide();
                        $(".error_message").append('<div> <img src="{{ STATIC_URL }}images/no-products-found.gif"/> </div>')
                    }
                    prepare_search_results();

                    //Update pagination
                    $(".pagination-container").html(data.pagination_html);
                    set_page_number();
                    $('.sidebar_box').css('display', 'block');
                },
                error: function(data) {
                    $("#search_loading").html('');

                    $("#title_data").hide();
                    $('#grid_data').hide();
                    $(".error_message").append('<div> <img src="{{ STATIC_URL }}images/no-products-found.gif"/> </div>')
                }
            });
       }});




            }
    //var dealer_popup_inputs = document.getElementById('dealer_popup').getElementsByTagName('input');
    var dealer_popup_submit_btn = document.getElementById('dealer_popup').getElementsByTagName('button')[0];

    function validateEmail(email) {
        var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
    }
   /* function check_dealer_popup_inputs(){
        var i,j;
        for(i=0; i<dealer_popup_inputs.length; i++ ){
            if(dealer_popup_inputs[i].value == ""){
                dealer_popup_inputs[i].style.cssText = "border: thin red solid;";
                return 1;
            }

            else if(i==1){
                if(validateEmail(dealer_popup_inputs[i].value) == false){
                    dealer_popup_inputs[i].style.cssText = "border: thin red solid;";
                    return 1;
                }
            }

            else {
                for(j=0; j<dealer_popup_inputs.length; j++ ){
                    dealer_popup_inputs[j].style.cssText="border: thin #e2e2e2 solid";
                }
            }
        }
    }*/
    dealer_popup_submit_btn.onclick = function(){
        window.location = "https://dealerdirect.ffldesign.com";
    };
    $("a.ppp").fancybox();
    $("a.tt-btn").fancybox();
    function set_image_lightbox() {/*
      $("a.product-image").fancybox({
        'autoSize': false,
        'width': 1050,
        'height': 600,
        afterShow: function () {
            var fancybox_inner = $(".fancybox-inner");
            fancybox_inner.addClass("mCustomScrollbar");
            fancybox_inner.attr( "data-mcs-theme", "dark-thick" );
            fancybox_inner.mCustomScrollbar();
          }
      });
      $("a.grid-model").fancybox({
        'autoSize': false,
        'width': 1050,
        'height': 600,
        afterShow: function () {
              var fancybox_inner = $(".fancybox-inner");
              fancybox_inner.addClass("mCustomScrollbar");
              fancybox_inner.attr( "data-mcs-theme", "dark" );
              fancybox_inner.mCustomScrollbar();
          }
      });
    */};

    $(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });

    function sb_getRefinePrice() {
        var ret = 0;
        if($('input[id="sb_under50"]').prop('checked')){
            ret += 1;
        }
        if($('input[id="sb_50to199"]').prop('checked')){
            ret += 2;
        }
        if($('input[id="sb_200to499"]').prop('checked')){
            ret += 4;
        }
        if($('input[id="sb_500to999"]').prop('checked')){
            ret += 8;
        }
        if($('input[id="sb_1000andover"]').prop('checked')){
            ret += 16;
        }
        return ret;
    }

    function sb_getSupplierFilter() {
        var supplierTable = [
            ['davidsons', "Davidson's"],
            ['lipseys', "Lipseys"],
            ['rsrgroup', "RSR Group"],
            ['greensupply', "Green Supply"],
            ['sportssouth', "Sport's South"],
            ['jerrys', "Jerry's Sports Center"],
            ['ellet', "Ellet"],
            ['dealerexchange', "Dealer Exchange"]
        ];
        var ret = "";
        for(var i=0; i < supplierTable.length; i++){
            var elem = $('input[id="sb_' + supplierTable[i][0] + '"]');
            if(elem.length && elem.prop('checked')){
                if(ret == ""){
                    ret = ret + supplierTable[i][1];
                }else{
                    ret = ret + "|" + supplierTable[i][1];
                }
            }
        }
        return ret;
    }

    function set_page_number() {
        $("a.page-number").on("click", function(){
            $(".error_message").empty();
            console.log('page number');
            page = $(this).data('page');
            $("#current-page").data('page', page);
            var OrderBy = $('#drpOrderByPrice').val();
            var Distributors = sb_getSupplierFilter();//$('#drpDistributors').val();
            var Manufactures = $('#sb_manufacturer').val();
            var Category = $('#drpCategories').val();
            var Caliber = $('#drpCaliber').val();
            var search_term = $('#search_name').val();
            var InStock = $('#sb_instock').is(":checked");
            var priceFilter = sb_getRefinePrice();

            $("#search_loading").html('<img src="{{ STATIC_URL }}images/loading.gif"/>');

            $.ajax({
                type: "POST",
                url: "/advance-search/",
                data: {
                    q: search_term,
                    order_by: OrderBy,
                    distributors: Distributors,
                    manufacturers: Manufactures,
                    category: Category,
                    caliber: Caliber,
                    in_stock: InStock,
                    page: page,
                    price_filter: priceFilter
                },
                returnType: 'text',
                success: function(data) {
                    console.log(data);
                    $("#search_loading").html('');

                    $(".termData").remove();
                    $(".termGridData").remove();
                    // $(".error_message").remove();
                    if ($("#list_view").hasClass('active')){
                        $("#table_data").show();
                        $("#grid_data").hide();
                    } else {
                        $("#grid_data").show();
                        $('#table_data').hide();
                    }
                    // if (search_term == 'SRM' || search_term == 'Miltac'){
                    //     $("#table_data").hide();
                    //     $("#grid_data").show();
                    // } else {
                    //     $("#table_data").show();
                    //     $("#grid_data").hide();
                    // }
                    $(".hist-data").remove();
                    if (data.num_pages > 1) {
                        $(".pagination").show();
                    } else {
                        $(".pagination").hide();
                    }
                    if (data['results_found']) {
                        $("#data").append(data.list_html);
                        if (search_term == 'SRM'){
                            $('#gridData').append('<img class="termGridData" style="width:100%; height:auto !important;" src="{{ STATIC_URL }}images/srm-store-image.png"/>');
                        } else if (search_term == 'Miltac'){
                            $('#gridData').append('<img class="termGridData" style="width:100%; height:auto !important;" src="{{ STATIC_URL }}images/miltacstore.jpg"/>');
                        }
                        $("#gridData").append(data.grid_html);
                        set_image_lightbox();
                    } else {
                        $("#title_data").remove();
                        $('#grid_data').hide();
                        $(".error_message").append('<div> <img src="{{ STATIC_URL }}images/no-products-found.gif"/> </div>')
                    }
                    prepare_search_results();

                    //Update pagination
                    $(".pagination-container").html(data.pagination_html);
                    set_page_number();
                    $('.sidebar_box').css('display', 'block');
                },
                error: function(data) {
                    $("#search_loading").html('');

                    $("#title_data").hide();
                    $('#grid_data').hide();
                    $(".error_message").append('<div> <img src="{{ STATIC_URL }}images/no-products-found.gif"/> </div>')
                }
            })
        });
    }
        <!--var search_func = function(mfr_id, searched) {-->
            <!--if(typeof(mfr_id) == 'string'){-->
                <!--q = mfr_id;-->
                <!--mfr_id = undefined;-->
            <!--}-->
            <!--page = $("#current-page").data('page');-->

            <!--$(".error_message").empty();-->
            <!--$('.feat_mfr').hide(400);-->
            <!--$("#title_data").show();-->
            <!--search_term = $("#search_name").val();-->
            <!--reset_search_params();-->

            <!--var OrderBy = $('#drpOrderByPrice').val();-->
            <!--var Distributors = sb_getSupplierFilter();//$('#drpDistributors').val();-->
            <!--var Manufactures = $('#sb_manufacturer').val();-->
            <!--var Category = $('#drpCategories').val();-->
            <!--var Caliber = $('#drpCaliber').val();-->
            <!--var search_term = q || $('#search_name').val();-->
            <!--var InStock = $('#sb_instock').is(":checked");-->
            <!--var customerView = $('.cv .cv-on').css('display') !== 'none';-->
            <!--var priceFilter = sb_getRefinePrice();-->
            <!--mfr_id = mfr_id || 0;-->

            <!--$("#search_loading").html('<img src="{{ STATIC_URL }}images/loading.gif"/>');-->

            <!--$.ajax({-->
                <!--type: "POST",-->
                <!--url: "/advance-search/",-->
                <!--data: {-->
                    <!--q: search_term,-->
                    <!--order_by: OrderBy,-->
                    <!--distributors: Distributors,-->
                    <!--manufacturers: Manufactures,-->
                    <!--category: Category,-->
                    <!--caliber: Caliber,-->
                    <!--in_stock: InStock,-->
                    <!--page: page || 0,-->
                    <!--is_customer_view: customerView,-->
                    <!--price_filter: priceFilter,-->
                    <!--mfr_id: mfr_id-->
                <!--},-->
                <!--returnType: 'text',-->
                <!--success: function(data) {-->
                    <!--$("#search_loading").html('');-->

                    <!--$(".termData").remove();-->

                    <!--$(".termGridData").remove();-->
                    <!--if ($("#list_view").hasClass('active')){-->
                        <!--$("#table_data").show();-->
                        <!--$("#grid_data").hide();-->
                    <!--} else {-->
                        <!--$("#grid_data").show();-->
                        <!--$('#table_data').hide();-->
                    <!--}-->
                    <!--// if (search_term == 'SRM' || search_term == 'Miltac'){-->
                    <!--//     $("#table_data").hide();-->
                    <!--//     $("#grid_data").show();-->
                    <!--// } else {-->
                    <!--//     $("#table_data").show();-->
                    <!--//     $("#grid_data").hide();-->
                    <!--// }-->
                    <!--$(".hist-data").remove();-->

                    <!--if (data.num_pages > 1) {-->
                        <!--$(".pagination").show();-->
                    <!--} else {-->
                        <!--$(".pagination").hide();-->
                    <!--}-->
                    <!--console.log(data);-->
                    <!--if (data['results_found']) {-->
                        <!--$("#data").append(data.list_html);-->
                        <!--if (search_term == 'SRM'){-->
                            <!--$('#gridData').append('<img class="termGridData" style="width:100%; height:auto !important;" src="{{ STATIC_URL }}images/srm-store-image.png"/>');-->
                        <!--} else if (search_term == 'Miltac'){-->
                            <!--$('#gridData').append('<img class="termGridData" style="width:100%; height:auto !important;" src="{{ STATIC_URL }}images/miltacstore.jpg"/>');-->
                        <!--}-->

                        <!--else {-->
                            <!--$('#gridData').append('<img class="termGridData" style="width:100%; height:auto !important;" src="{{ STATIC_URL }}images/placeholder.jpg"/>');-->
                        <!--}-->
                        <!--$("#gridData").append(data.grid_html);-->
                        <!--set_image_lightbox();-->
                    <!--} else {-->
                        <!--console.log('no results');-->
                        <!--$("#title_data").hide();-->
                        <!--$('#grid_data').hide();-->
                        <!--$(".error_message").append('<div> <img src="{{ STATIC_URL }}images/no-products-found.gif"/> </div>')-->
                    <!--}-->
                    <!--prepare_search_results();-->

                    <!--//Update pagination-->
                    <!--$(".pagination-container").html(data.pagination_html);-->
                    <!--set_page_number();-->
                    <!--$('.sidebar_box').css('display', 'block');-->
                <!--},-->
                <!--error: function(data) {-->
                  <!--console.log('error');-->
                    <!--$("#search_loading").html('');-->

                    <!--$("#title_data").hide();-->
                    <!--$('#grid_data').hide();-->
                    <!--$(".error_message").append('<div> <img src="{{ STATIC_URL }}images/no-products-found.gif"/> </div>')-->
                <!--}-->
            <!--})-->
        <!--};-->

$.urlParam = function(name){
        var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
            return results[1] || 0;
}

    $(document).ready(function() {
        var searched;
            try{
                searched = $.urlParam('searched');
                searched = true;
                }
                catch(e){
                searched = false;
                }
    if(location.search.length > 0 && !searched ){
        var search_term = location.search.split("&")[0].slice(1);
        window.search_func(search_term, true);
        <!--window.location.href = window.location.search + "&searched=True";-->

            }
        var searched_term = null;
        var order_flag = false;
        var history_check = "{{ history_record }}";

        if (history_check == "True") {
            $("#table_data").show();
            searched_term = "{{ searched_term }}";
            set_image_lightbox();
        }


        var searched_dist = null;
        var searched_menu = null;
        var searched_cat = null;
        var page = $("#current-page").data('page');
        var instock_checked = null;


        $("#list_view").on("click", function() {
            $("#grid_data").hide();
            var title_data = $("#title_data");
            console.log(title_data.siblings().length);
            if (title_data.siblings().length != 0) {
                $("#table_data").show();
                title_data.show();
            }
            $(this).addClass("active");
            $("#grid_view").removeClass("active");
        });
        $("#grid_view").on("click", function() {
            $("#table_data").hide();
            $("#grid_data").show();
            $("#title_data").hide();
            $(this).addClass("active");
            $("#list_view").removeClass("active");
        });

        $('#show_more_options').on('click', function() {
            $('#more_options').toggle();
        });


        $(".cv-on").on("click", function() {
            $(".error_message").empty();
            $(this).css('display', 'none');
            $("#dealer_view").css('display', 'inline-block');

            searched_term = $("#search_name").val();
            if (searched_term != ""){
            console.log("Inside search - on");
            var OrderBy = $('#drpOrderByPrice').val();
            var Distributors = sb_getSupplierFilter();//$('#drpDistributors').val();
            var Manufactures = $('#sb_manufacturer').val();
            var Category = $('#drpCategories').val();
            var Caliber = $('#drpCaliber').val();
            var search_term = $('#search_name').val();
            var InStock = $('#sb_instock').is(":checked");
            var priceFilter = sb_getRefinePrice();

            $("#search_loading").html('<img src="{{ STATIC_URL }}images/loading.gif"/>');

            $.ajax({
                type: "POST",
                url: "/advance-search/",
                data: {
                    q: search_term,
                    order_by: OrderBy,
                    distributors: Distributors,
                    manufacturers: Manufactures,
                    category: Category,
                    caliber: Caliber,
                    is_customer_view: false,
                    in_stock: InStock,
                    price_filter: priceFilter
                },
                returnType: 'text',
                success: function(data) {
                    $("#search_loading").html('');

                    $(".termData").remove();
                    $(".termGridData").remove();
                    if ($("#list_view").hasClass('active')){
                        $("#table_data").show();
                        $("#grid_data").hide();
                    } else {
                        $("#grid_data").show();
                        $('#table_data').hide();
                    }
                    // if (search_term == 'SRM' || search_term == 'Miltac'){
                    //     $("#table_data").hide();
                    //     $("#grid_data").show();
                    // } else {
                    //     $("#table_data").show();
                    //     $("#grid_data").hide();
                    // }
                    $(".hist-data").remove();

                    if (data.num_pages > 1) {
                        $(".pagination").show();
                    } else {
                        $(".pagination").hide();
                    }

                    if (data['results_found']) {
                        if (searched_term == 'SRM'){
                            $('#gridData').append('<img class="termGridData" style="width:100%; height:auto !important;" src="{{ STATIC_URL }}images/srm-store-image.png"/>');
                        }
                        $("#data").append(data.list_html);
                        $("#gridData").append(data.grid_html);
                        set_image_lightbox();
                    } else {
                        $("#title_data").remove();
                        $('#grid_data').hide();
                        $(".error_message").append('<div> <img src="{{ STATIC_URL }}images/no-products-found.gif"/> </div>')
                    }

                    prepare_search_results();

                    //Update pagination
                    $(".pagination-container").html(data.pagination_html);
                    set_page_number();
                    $('.sidebar_box').css('display', 'block');
                },
                error: function(data) {
                    $("#search_loading").html('');

                    $("#title_data").hide();
                    $('#grid_data').hide();
                    $(".error_message").append('<div> <img src="{{ STATIC_URL }}images/no-products-found.gif"/> </div>')
                }
            });

        }});

        $(".cv-off").on("click", function() {
            $(".error_message").empty();
            $(this).css('display', 'none');
            $("#customer_view").css('display', 'inline-block');

            searched_term = $("#search_name").val();
            if (searched_term != ""){
            console.log("Inside search - off");
            var OrderBy = $('#drpOrderByPrice').val();
            var Distributors = sb_getSupplierFilter();//$('#drpDistributors').val();
            var Manufactures = $('#sb_manufacturer').val();
            var Category = $('#drpCategories').val();
            var Caliber = $('#drpCaliber').val();
            var search_term = $('#search_name').val();
            var InStock = $('#sb_instock').is(":checked");
            var priceFilter = sb_getRefinePrice();

            $("#search_loading").html('<img src="{{ STATIC_URL }}images/loading.gif"/>');

            $.ajax({
                type: "POST",
                url: "/advance-search/",
                data: {
                    q: search_term,
                    order_by: OrderBy,
                    distributors: Distributors,
                    manufacturers: Manufactures,
                    category: Category,
                    caliber: Caliber,
                    in_stock: InStock,
                    page: page,
                    is_customer_view: true,
                    price_filter: priceFilter
                },
                returnType: 'text',
                success: function(data) {
                    $("#search_loading").html('');

                    $(".termData").remove();
                    $(".termGridData").remove();
                    if ($("#list_view").hasClass('active')){
                        $("#table_data").show();
                        $("#grid_data").hide();
                    } else {
                        $("#grid_data").show();
                        $('#table_data').hide();
                    }
                    // if (search_term == 'SRM' || search_term == 'Miltac'){
                    //     $("#table_data").hide();
                    //     $("#grid_data").show();
                    // } else {
                    //     $("#table_data").show();
                    //     $("#grid_data").hide();
                    // }
                    $(".hist-data").remove();

                    if (data.num_pages > 1) {
                        $(".pagination").show();
                    } else {
                        $(".pagination").hide();
                    }
                    if (data['results_found']) {
                        if (searched_term == 'SRM'){
                            $('#gridData').append('<img class="termGridData" style="width:100%; height:auto !important;" src="{{ STATIC_URL }}images/srm-store-image.png"/>');
                        } else if (search_term == 'Miltac'){
                            $('#gridData').append('<img class="termGridData" style="width:100%; height:auto !important;" src="{{ STATIC_URL }}images/miltacstore.jpg"/>');
                        }
                        $("#data").append(data.list_html);
                        $("#gridData").append(data.grid_html);
                        set_image_lightbox();
                    } else {
                        $("#title_data").remove();
                        $('#grid_data').hide();
                        $(".error_message").append('<div> <img src="{{ STATIC_URL }}images/no-products-found.gif"/> </div>')
                    }
                    prepare_search_results();

                    //Update pagination
                    $(".pagination-container").html(data.pagination_html);
                    set_page_number();
                    $('.sidebar_box').css('display', 'block');
                },
                error: function(data) {
                    $("#search_loading").html('');

                    $("#title_data").hide();
                    $('#grid_data').hide();
                    $(".error_message").append('<div> <img src="{{ STATIC_URL }}images/no-products-found.gif"/> </div>')
                }
            });
        }});




        $("#search_button").on("click", search_func);



        //On clicking featured manufacturer buttons
        function search_mfr(){
            var i, a,b;
            var feat_mfr_arr = ['SRM', 'Miltac', 'crossfire','founding fathers','odin','2a','WM']; //featured manufacturers array
            var feat_mfr_btn = document.getElementsByClassName('img-button');
            var feat_mfr_btn_arr = Array.prototype.slice.call(feat_mfr_btn);
            var search_input = document.getElementById('search_name');
            var search_btn = document.getElementById('search_button');

            for (i=0; i<feat_mfr_btn.length; i++){
                feat_mfr_btn[i].onclick = function(e){
                    var mfr_id = this.dataset.company_id;
                    $('#sb_manufacturer').val(this.title);
                    fnAdvanceSearch(mfr_id)

                }
            }
        }

        search_mfr();

        //Code block fix for the back button
        if ($("#search_name").val() != '' && history_check != "True"){
            $('#search_button').click();
        }

        $("#search_name").keydown(function(e) {

            if (e.keyCode == 13) {
                $(".error_message").empty();
                $('.feat_mfr').hide(400);
                $("#title_data").show();

                searched_term = $("#search_name").val();
                reset_search_params();


                var OrderBy = $('#drpOrderByPrice').val();
                var Distributors = sb_getSupplierFilter();//$('#drpDistributors').val();
                var Manufactures = $('#sb_manufacturer').val();
                var Category = $('#drpCategories').val();
                var Caliber = $('#drpCaliber').val();
                var search_term = $('#search_name').val();
                var InStock = $('#sb_instock').is(":checked");
                var customerView = $('.cv .cv-on').css('display') !== 'none';
                var priceFilter = sb_getRefinePrice();

                $("#search_loading").html('<img src="{{ STATIC_URL }}images/loading.gif"/>');

                $.ajax({
                    type: "POST",
                    url: "/advance-search/",
                    data: {
                        q: search_term,
                        order_by: OrderBy,
                        distributors: Distributors,
                        manufacturers: Manufactures,
                        category: Category,
                        caliber: Caliber,
                        in_stock: InStock,
                        page: page,
                        is_customer_view: customerView,
                        price_filter: priceFilter
                    },
                    returnType: 'text',
                    success: function(data) {
                        $("#search_loading").html('');

                        $(".termData").remove();

                        $(".termGridData").remove();
                        if ($("#list_view").hasClass('active')){
                            $("#table_data").show();
                            $("#grid_data").hide();
                        } else {
                            $("#grid_data").show();
                            $('#table_data').hide();
                        }
                        // if (search_term == 'SRM' || search_term == 'Miltac'){
                        //     $("#table_data").hide();
                        //     $("#grid_data").show();
                        // } else {
                        //     $("#table_data").show();
                        //     $("#grid_data").hide();
                        // }
                        $(".hist-data").remove();

                        if (data.num_pages > 1) {
                            $(".pagination").show();
                        } else {
                            $(".pagination").hide();
                        }

                        if (data['results_found']) {
                            $("#data").append(data.list_html);
                            if (search_term == 'SRM'){
                                $('#gridData').append('<img class="termGridData" style="width:100%; height:auto !important;" src="{{ STATIC_URL }}images/srm-store-image.png"/>');
                            } else if (search_term == 'Miltac'){
                                $('#gridData').append('<img class="termGridData" style="width:100%; height:auto !important;" src="{{ STATIC_URL }}images/miltacstore.jpg"/>');
                            }
                            $("#gridData").append(data.grid_html);
                            set_image_lightbox();
                        } else {
                            $("#title_data").hide();
                            $('#grid_data').hide();
                            $(".error_message").append('<div> <img src="{{ STATIC_URL }}images/no-products-found.gif"/> </div>')
                        }
                        prepare_search_results();

                        //Update pagination
                        $(".pagination-container").html(data.pagination_html);
                        set_page_number();
                        $('.sidebar_box').css('display', 'block');
                    },
                    error: function(data) {
                        $("#search_loading").html('');

                        $("#title_data").hide();
                        $('#grid_data').hide();
                        $(".error_message").append('<div> <img src="{{ STATIC_URL }}images/no-products-found.gif"/> </div>')
                    }
                })
            }
        });

        $("body").on("click", "#next-page", function(e) {
            $(".error_message").empty();

            e.preventDefault();
            console.log('next page');
            page = $("#current-page").data('page');
            page = page + 1;
            $("#current-page").data('page', page);
            var OrderBy = $('#drpOrderByPrice').val();
            var Distributors = sb_getSupplierFilter();//$('#drpDistributors').val();
            var Manufactures = $('#sb_manufacturer').val();
            var Category = $('#drpCategories').val();
            var Caliber = $('#drpCaliber').val();
            var search_term = $('#search_name').val();
            var InStock = $('#sb_instock').is(":checked");
            var customerView = $('.cv .cv-on').css('display') !== 'none';
            var priceFilter = sb_getRefinePrice();

            $("#search_loading").html('<img src="{{ STATIC_URL }}images/loading.gif"/>');

            $.ajax({
                type: "POST",
                url: "/advance-search/",
                data: {
                    q: search_term,
                    order_by: OrderBy,
                    distributors: Distributors,
                    manufacturers: Manufactures,
                    category: Category,
                    caliber: Caliber,
                    in_stock: InStock,
                    page: page,
                    is_customer_view: customerView,
                    price_filter: priceFilter
                },
                returnType: 'text',
                success: function(data) {
                    $("#search_loading").html('');

                    $(".termData").remove();
                    $(".termGridData").remove();
                    if ($("#list_view").hasClass('active')){
                        $("#table_data").show();
                        $("#grid_data").hide();
                    } else {
                        $("#grid_data").show();
                        $('#table_data').hide();
                    }
                    // if (search_term == 'SRM' || search_term == 'Miltac'){
                    //     $("#table_data").hide();
                    //     $("#grid_data").show();
                    // } else {
                    //     $("#table_data").show();
                    //     $("#grid_data").hide();
                    // }
                    $(".hist-data").remove();
                    if (data.num_pages > 1) {
                        $(".pagination").show();
                    } else {
                        $(".pagination").hide();
                    }
                    if (data['results_found']) {
                        $("#data").append(data.list_html);
                        if (search_term == 'SRM'){
                            $('#gridData').append('<img class="termGridData" style="width:100%; height:auto !important;" src="{{ STATIC_URL }}images/srm-store-image.png"/>');
                        } else if (search_term == 'Miltac'){
                            $('#gridData').append('<img class="termGridData" style="width:100%; height:auto !important;" src="{{ STATIC_URL }}images/miltacstore.jpg"/>');
                        }
                        $("#gridData").append(data.grid_html);
                        set_image_lightbox();
                    } else {
                        $("#title_data").remove();
                        $('#grid_data').hide();
                        $(".error_message").append('<div> <img src="{{ STATIC_URL }}images/no-products-found.gif"/> </div>')
                    }
                    prepare_search_results();

                    //Update pagination
                    $(".pagination-container").html(data.pagination_html);
                    set_page_number();
                    $('.sidebar_box').css('display', 'block');
                },
                error: function(data) {
                    $("#search_loading").html('');

                    $("#title_data").hide();
                    $('#grid_data').hide();
                    $(".error_message").append('<div> <img src="{{ STATIC_URL }}images/no-products-found.gif"/> </div>')
                }
            })
        });

        $("body").on("click", "#prev-page", function() {
            $(".error_message").empty();

            page = $("#current-page").data('page');
            page = page - 1;
            $("#current-page").data('page', page);
            var OrderBy = $('#drpOrderByPrice').val();
            var Distributors = sb_getSupplierFilter();//$('#drpDistributors').val();
            var Manufactures = $('#sb_manufacturer').val();
            var Category = $('#drpCategories').val();
            var Caliber = $('#drpCaliber').val();
            var search_term = $('#search_name').val();
            var InStock = $('#sb_instock').is(":checked");
            var customerView = $('.cv .cv-on').css('display') !== 'none';
            var priceFilter = sb_getRefinePrice();

            $("#search_loading").html('<img src="{{ STATIC_URL }}images/loading.gif"/>');

            $.ajax({
                type: "POST",
                url: "/advance-search/",
                data: {
                    q: search_term,
                    order_by: OrderBy,
                    distributors: Distributors,
                    manufacturers: Manufactures,
                    category: Category,
                    caliber: Caliber,
                    in_stock: InStock,
                    page: page,
                    is_customer_view: customerView,
                    price_filter: priceFilter
                },
                returnType: 'text',
                success: function(data) {
                    $("#search_loading").html('');

                    $(".termData").remove();
                    $(".termGridData").remove();
                    if ($("#list_view").hasClass('active')){
                        $("#table_data").show();
                        $("#grid_data").hide();
                    } else {
                        $("#grid_data").show();
                        $('#table_data').hide();
                    }
                    // if (search_term == 'SRM' || search_term == 'Miltac'){
                    //     $("#table_data").hide();
                    //     $("#grid_data").show();
                    // } else {
                    //     $("#table_data").show();
                    //     $("#grid_data").hide();
                    // }
                    $(".hist-data").remove();
                    if (data.num_pages > 1) {
                        $(".pagination").show();
                    } else {
                        $(".pagination").hide();
                    }
                    if (data['results_found']) {
                        $("#data").append(data.list_html);
                        if (search_term == 'SRM'){
                            $('#gridData').append('<img class="termGridData" style="width:100%; height:auto !important;" src="{{ STATIC_URL }}images/srm-store-image.png"/>');
                        } else if (search_term == 'Miltac'){
                            $('#gridData').append('<img class="termGridData" style="width:100%; height:auto !important;" src="{{ STATIC_URL }}images/miltacstore.jpg"/>');
                        }
                        $("#gridData").append(data.grid_html);
                        set_image_lightbox();
                    } else {
                        $("#title_data").remove();
                        $('#grid_data').hide();
                        $(".error_message").append('<div> <img src="{{ STATIC_URL }}images/no-products-found.gif"/> </div>')
                    }
                    prepare_search_results();


                    //Update pagination
                    $(".pagination-container").html(data.pagination_html);
                    set_page_number();
                    $('.sidebar_box').css('display', 'block');
                },
                error: function(data) {
                    $("#search_loading").html('');

                    $("#title_data").hide();
                    $('#grid_data').hide();
                    $(".error_message").append('<div> <img src="{{ STATIC_URL }}images/no-products-found.gif"/> </div>')
                }
            })
        });

        fnAdvanceSearch = function(mfr_id) {
            $(".error_message").empty();
            $('.feat_mfr').hide(400);

            var OrderBy = $('#drpOrderByPrice').val();
            var Distributors = sb_getSupplierFilter();//$('#drpDistributors').val();
            var Manufactures = $('#sb_manufacturer').val();
            var Category = $('#drpCategories').val();
            var Caliber = $('#drpCaliber').val();
            var search_term = $('#search_name').val();
            var InStock = $('#sb_instock').is(":checked");
            var customerView = $('.cv .cv-on').css('display') !== 'none';
            console.log(customerView);
            var priceFilter = sb_getRefinePrice();

            $("#search_loading").html('<img src="{{ STATIC_URL }}images/loading.gif"/>');

            $.ajax({
                type: "POST",
                url: "/advance-search/",
                data: {
                    q: search_term,
                    order_by: OrderBy,
                    distributors: Distributors,
                    manufacturers: Manufactures,
                    category: Category,
                    caliber: Caliber,
                    in_stock: InStock,
                    page: page,
                    is_customer_view: customerView,
                    price_filter: priceFilter
                },
                returnType: 'text',
                success: function(data) {
                    $("#search_loading").html('');

                    $(".termData").remove();
                    $(".termGridData").remove();
                    if ($("#list_view").hasClass('active')){
                        $("#table_data").show();
                        $("#title_data").show();
                        $("#grid_data").hide();
                    } else {
                        $("#grid_data").show();
                        $('#table_data').hide();
                        $('#title_data').hide();
                    }
                    // if (search_term == 'SRM' || search_term == 'Miltac'){
                    //     $("#table_data").hide();
                    //     $("#grid_data").show();
                    // } else {
                    //     $("#table_data").show();
                    //     $("#title_data").show();
                    //     $("#grid_data").hide();
                    // }
                    $(".hist-data").remove();

                    console.log(data);
                    if (data.num_pages > 1) {
                        $(".pagination").show();
                    } else {
                        $(".pagination").hide();
                    }

                    if (data['results_found']) {
                        $("#data").append(data.list_html);
                        if (search_term == 'SRM'){
                            $('#gridData').append('<img class="termGridData" style="width:100%; height:auto !important;" src="{{ STATIC_URL }}images/srm-store-image.png"/>');
                        } else if (search_term == 'Miltac'){
                            $('#gridData').append('<img class="termGridData" style="width:100%; height:auto !important;" src="{{ STATIC_URL }}images/miltacstore.jpg"/>');
                        }
                        $("#gridData").append(data.grid_html);
                        set_image_lightbox();
                    } else {
                        $("#title_data").hide();
                        $('#grid_data').hide();
                        $(".error_message").append('<div> <img src="{{ STATIC_URL }}images/no-products-found.gif"/> </div>')
                    }
                    prepare_search_results();
                    if(mfr_id){
                        $.get("/media/banners/" + mfr_id + ".jpg", function(data){
                            var img_url = "/media/banners/" + String(mfr_id) + ".jpg";
                            $('#gridData').prepend("<img class='termGridData' style='width:100%; height:auto !important;' src='" + img_url + "'/>");
                        })
                            .fail(function(){
                                $('#gridData').prepend('<img class="termGridData" style="width:100%; height:auto !important;" src="{{ STATIC_URL }}images/placeholder.jpg"/>');
                            });
                    }


                    //Update pagination
                    $(".pagination-container").html(data.pagination_html);
                    set_page_number();

                    $('.sidebar_box').css('display', 'block');
                },
                error: function(data) {
                    $("#search_loading").html('');

                    $("#title_data").hide();
                    $('#grid_data').hide();
                    $(".error_message").append('<div> <img src="{{ STATIC_URL }}images/no-products-found.gif"/> </div>')
                }
            });
        };

        $('#customer_view_checkbox').mobileCheckbox({
            borderRadius: 5
        });


        $("#search_button").on("click", fnAdvanceSearch); 

        $('#drpOrderByPrice').on("change", fnAdvanceSearch);
        //$('#drpDistributors').on("change", fnAdvanceSearch);
        $('#sb_manufacturer').on("change", fnAdvanceSearch);
        $('#drpCategories').on("change", fnAdvanceSearch);
        $('#drpCaliber').on("change", fnAdvanceSearch);

        $('input[id="instock"]').click(function() {
            // look for sb_instock and copy the checked status
            $('input[id="sb_instock"]').prop('checked', $(this).prop("checked"));
            fnAdvanceSearch();
        });
        $('input[id="sb_instock"]').click(function() {
            $('input[id="instock"]').prop('checked', $(this).prop("checked"));
        });
        $('input[id^="sb_"]').click(function() {
            fnAdvanceSearch();
        });

        // Setup the ajax indicator
        $('body').append('<div id="ajaxBusy"><p>HELLOOOOOOOOOO<img src="{{ STATIC_URL }}images/loading.gif"></p></div>');

        $('#ajaxBusy').css({
            display: "none",
            margin: "0px",
            paddingLeft: "0px",
            paddingRight: "0px",
            paddingTop: "0px",
            paddingBottom: "0px",
            position: "absolute",
            right: "3px",
            top: "3px",
            width: "auto"
        });


        // Ajax activity indicator bound to ajax start/stop document events
        $(document).ajaxStart(function() {
            $('#ajaxBusy').show();
        }).ajaxStop(function() {
            $('#ajaxBusy').hide();
        });

        $(document).on("click", ".glyphicon-remove", function() {
            var product_id = $(this).attr('id');
            $.ajax({
                type: "GET",
                url: "/cart-remove-product/",
                data: {
                    product_id: product_id
                },
                returnType: 'text',
                success: function(data) {
                    console.log(data);
                    $('#shopping-cart-header').load(document.URL + ' #shopping-cart-header');
                    $('#shopping-cart').load(document.URL + ' #shopping-cart');
                },
                error: function(data) {
                    alert("Something went wrong!");
                }
            });
        });

        $(document).on("click", ".glyphicon-pencil", function() {
            var product_id = $(this).attr('id').substring(5);
            var product_name = $(this).attr('data_name');
            $('#update_qty_modal #update_upc').text(product_id);
            $('#update_qty_modal #update_name').text(product_name)
            $('#update_qty_modal').modal('show');
        });

        $("#update_new_qty").on("click", function() {
            var new_qty = $('#new_qty').val();
            var product_id = $('#update_qty_modal #update_upc').text();
            if (new_qty >= 1){
                $.ajax({
                    type: "GET",
                    url: "/cart-update-product/",
                    data: {
                        product_id: product_id,
                        new_qty: new_qty
                    },
                    returnType: 'text',
                    success: function(data) {
                        console.log(data);
                        $('#shopping-cart-header').load(document.URL + ' #shopping-cart-header');
                        $('#shopping-cart').load(document.URL + ' #shopping-cart');
                    },
                    error: function(data) {
                        alert("Something went wrong!");
                    }
                });
            } else {
                alert('Please add a quantity greater than 0 to update. If you wish to delete this item, click the X.');
            }
        });

        var subtotal = 0.00;
        var dist_orders = [];
        var order_data = [];
        $(document).on("click", ".advance-filter", function(event) {
            event.preventDefault();

            var product_id = $(this).attr('id');
            console.log(product_id);
            <!--var user_quantity = $("#user_qty" + product_id).val();-->
            var user_quantity = $(this).parent().parent().find('#qty').val();
            console.log('qty');
            console.log(user_quantity);
            var db_quantity = $(this).data('db-qty');
            var min_order = $(this).data('min-order');
            var supplier = $(this).data('db-dist');
            var customerView = $('.cv .cv-on').css('display') !== 'none';

            if (db_quantity != 0 & user_quantity != '' & parseInt(user_quantity) > 0 & parseInt(user_quantity) <= parseInt(db_quantity) & parseInt(user_quantity) >= parseInt(min_order)) {
                $.ajax({
                    type: "GET",
                    url: "/cart-add-product/",
                    data: {
                        product_id: product_id,
                        user_quantity: user_quantity,
                        is_customer_view: customerView
                    },
                    returnType: 'text',
                    success: function(data) {
                        console.log("Data:", data);
                        $('#shopping-cart-header').load(document.URL + ' #shopping-cart-link');
                        $('#shopping-cart').load(document.URL + ' #shopping-cart');
                    },
                    error: function(data) {
                        console.log("Data:", data);
                        alert("Something went wrong!");
                    }
                });
            } else if (db_quantity == 0) {
                alert('Sorry, this product is out of stock.')
            } else if (parseInt(user_quantity) < 1) {
                alert('You cannot add a quantity of 0. Please enter 1 or more.')
            } else if (parseInt(user_quantity) > parseInt(db_quantity)) {
                alert('Number of Quantities you want to order are not available in the database')
            } else if (parseInt(user_quantity) < parseInt(min_order)){
                alert('You must meet the minimum order requirements.')
            } else {
                alert('Please type in Quantity field and then add into Purchase Order')
            }
        });

        $(document).on("click", ".advance-filter-grid", function(event) {
            event.preventDefault();

            var product_id = $(this).attr('id');
            console.log(product_id);
            var user_quantity = $("#user_qty_grid" + product_id).val();
            console.log($("#user_qty" + product_id));
            console.log(user_quantity);
            var db_quantity = $(this).data('db-qty');
            var supplier = $(this).data('db-dist');
            var customerView = $('.cv .cv-on').css('display') !== 'none';
            console.log(customerView);

            if (db_quantity != 0 & user_quantity != '' & parseInt(user_quantity) > 0 & parseInt(user_quantity) <= parseInt(db_quantity)) {
                $.ajax({
                    type: "GET",
                    url: "/cart-add-product/",
                    data: {
                        product_id: product_id,
                        user_quantity: user_quantity,
                        is_customer_view: customerView
                    },
                    returnType: 'text',
                    success: function(data) {
                        console.log("Data:", data);
                        $('#shopping-cart-header').load(document.URL + ' #shopping-cart-header');
                        $('#shopping-cart').load(document.URL + ' #shopping-cart');
                    },
                    error: function(data) {
                        console.log("Data:", data);
                        alert("Something went wrong!");
                    }
                });
            } else if (db_quantity == 0) {
                alert('Sorry, this product is out of stock.')
            } else if (parseInt(user_quantity) < 1) {
                alert('You cannot add a quantity of 0. Please enter 1 or more.')
            } else if (parseInt(user_quantity) > parseInt(db_quantity)) {
                alert('Number of Quantities you want to order are not available in the database')
            } else {
                alert('Please type in Quantity field and then add into Purchase Order')
            }
        });

        $(document).on("click", "#emailrepbutton", function() {
            var order_cart_count = $('.cart tbody tr').length;
            if (order_cart_count >= 1){
                $('#confirm_modal').modal('show');
            } else {
                alert("You have not added anything to your cart...Please add products, then order.");
            }
        });

        $(document).on("click", "#order_email", function() {
            $(".email_loading").html('<img src="{{ STATIC_URL }}images/loading.gif"/>Sending email');

            $.ajax({
                type: "POST",
                url: "/email-send/",
                data: {
                    emails: JSON.stringify(dist_orders),
                    order_data: JSON.stringify(order_data)
                },
                returnType: 'text',
                success: function(data) {
                    $("#email-success").show();
                    $(".email_loading").html('');
                    order_flag = false;
                    subtotal = 0.0;
                    dist_orders = [];
                    order_data = [];
                    $(".order_cart").html("");
                    $(".subtotal_value").text('$0');
                    $('#shopping-cart-header').load(document.URL + ' #shopping-cart-header');
                    $('#shopping-cart').load(document.URL + ' #shopping-cart');
                },
                error: function(data) {
                    console.log(data);
                    $(".email_loading").html('Email was not sent...');
                }
            });
        });
    });

    document.getElementsByClassName('feat-btn')[0].getElementsByTagName('button')[0].onclick = function(){
        window.location = "/product-search/";
    };

    var feat_btns = document.getElementsByClassName('feat-list')[0].getElementsByTagName('li');
    var i;

    </script>
{% endblock body_script %}
