<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">
<title>Python SASS Project</title>

<!-- Bootstrap core CSS -->

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

<!-- Custom styles for this template -->
<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/customize.css" rel="stylesheet">
</head>
<!-- NAVBAR
================================================== -->
<body>
<div class="navbar-wrapper">
  <div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" href="#"><img src="{{ STATIC_URL }}images/logo.png"  alt=""></a> </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> John Smith</a></li>
          <li><a href="#">Sign Out</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="tab-bg">
  <div class="container">
    <div class="bs-example bs-example-tabs">
      <ul id="myTab" class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#dashboard" role="tab" data-toggle="tab">Search</a></li>
        <li class=""><a href="#Sell" role="tab" data-toggle="tab">History</a></li>
        <li class=""><a href="#Customer" role="tab" data-toggle="tab">Settings</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="clearfix">&nbsp;</div>
  <div class="row">
    <div class="col-lg-3 ">
      <div class="grey-border">
        <div class="clearfix">&nbsp;</div>
        <form class="navbar-form">
          <input type="text" class="form-control" style="width:172px; float:left; " >
          <button type="submit" class="btn btn-default">Save</button>
          <p>
            <input name="" type="checkbox" value="">
            Set as Defoult</p>
        </form>
        <div class="clearfix">&nbsp;</div>
        <div class="col-lg-12">
          <h4>Filter</h4>
          <div class="light-grey-bg margin-pading0">
            <h5><strong>Category</strong></h5>
          </div>
          <ul class="nav nav-pills nav-stacked">
            <li><a href="#">Shotguns</a></li>
            <li><a href="#">Rifles</a></li>
            <li><a href="#">Accesseries</a></li>
          </ul>
          <div class="light-grey-bg margin-pading0">
            <h5><strong>Distributors</strong></h5>
          </div>
          <ul class="nav nav-pills nav-stacked">
            <li><a href="#">Dabidsons</a></li>
            <li><a href="#">RSR Group</a></li>
            <li><a href="#">Greens</a></li>
          </ul>
          <div class="light-grey-bg margin-pading0">
            <h5><strong>Manifactures</strong></h5>
          </div>
          <ul class="nav nav-pills nav-stacked">
            <li><a href="#">Clock</a></li>
            <li><a href="#">Miltace</a></li>
            <li><a href="#">Srm</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="col-lg-12 text-right pull-right">
        <button type="submit" class="btn btn-default">Customer View</button>
        <button type="submit" class="btn btn-default">Dealer View</button>
      </div>
      <div class="grey-bg">
        <div class="col-lg-12">
          <form action="/searhed-products/" method="post" class="navbar-form navbar-left" role="search">
              {% csrf_token  %}
            <div class="form-group">
              <input type="text" name="search_term" class="form-control" placeholder="Search products">
            </div>
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
          </form>
        </div>

      </div>
    </div>
  </div>
  <div class="clearfix">&nbsp;</div>
</div>
<footer>
  <div class="container">
    <p class="pull-left"><a href="#">Terms & Conditions</a> &middot; <a href="#">Privacy Policy</a></p>
    <p class="pull-right"> © Copyright 2015 - Primus Technology Solutions, LLC. All Rights Reserved.
  </div>
</footer>
<!-- Bootstrap core JavaScript
    ================================================== --> 
<!-- Placed at the end of the document so the pages load faster --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
<script src="{{ STATIC_URL }}js/bootstrap.js"></script>
</body>
</html>
