{% extends "dashboard.html" %}
{% load carton_tags %}

{% block body %}
      {{ block.super }}

      <div class="tab-bg">
        <div class="container">
          <div class="bs-example bs-example-tabs">
            <ul id="myTab" class="nav nav-tabs" role="tablist">
              <li class=""><a href="/product-search/">Search</a></li>
              <li class=""><a href="/order-history/" id="order_history">Product Order History</a></li>
              <li class="active"><a href="/history/" role="tab" data-toggle="tab">Search History</a></li>
              {% comment %}
              <li class=""><a href="{% url 'dashboard' %}" id="dealerexchange">Dealer Exchange</a></li>
              {% endcomment %}
            </ul>
            {% get_cart as cart %}
            <div id="shopping-cart-header" class="cart-icon-container">
              <a id="shopping-cart-link" href="{% url 'view_cart' %}">
                <img class="cart-image" src="{{ STATIC_URL }}images/cart.png"  alt="">
                <span>({{ cart.count }}) item{{ cart.count|pluralize }}</span>
              </a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="clearfix">&nbsp;</div>
        <div class="row grey-border grey-bg">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <thead>
                  <tr style="background-color:#1076bc !important; color: #FFF;">

      <td style="border-right: #ffffff solid 1px;" width="19%">Search Item</td>
          <td style="border-right: #ffffff solid 1px;" width="21%">Date</td>
          <td width="60%">View</td>
                  </tr>
                </thead>
                <tbody>

                {%  for hist in history %}
                    <form action="/advance-search/" method="post">

                        <tr class="{% cycle 'tr1' 'tr2' %}">
                              <td>
                                    <input type="hidden" name = "q" value="{{ hist.searched_term }}"/>
                                    {{ hist.searched_term }}
                              </td>
                              <td>{{ hist.date|date:"M. d, Y" }}</td>
                              <td><button type="submit" class="btn btn-default">View</button></td>
                        </tr>
                    </form>
                {% endfor %}
                            </tbody>
              </table>

        </div>
        <div class="clearfix">&nbsp;</div>
          <div class="clearfix">&nbsp;</div>
      </div>
{% endblock body %}
