{% extends "dashboard.html" %}
{% load carton_tags %}

{% block extra_css %}
    {{ block.super }}
    <!--<link href="{{ STATIC_URL }}css/settings.css" rel="stylesheet">-->
{% endblock extra_css %}

{% block body %}
      {{ block.super }}
      <div class="tab-bg">
            <div class="container">
                  <div class="bs-example bs-example-tabs">
                        <ul id="myTab" class="nav nav-tabs" role="tablist">
                              <li class=""><a href="/product-search/">Search</a></li>
                              <li class=""><a href="/order-history/" id="order_history">Product Order History</a></li>
                              <li class=""><a href="/history/">Search History</a></li>
                              {% comment %}
                              <li class=""><a href="{% url 'dashboard' %}" id="dealerexchange">Dealer Exchange</a></li>
                              {% endcomment %}
                        </ul>
                        {% get_cart as cart %}
                        <div id="shopping-cart-header" class="cart-icon-container">
                          <a id="shopping-cart-link" href="{% url 'view_cart' %}">
                            <img class="cart-image" src="{{ STATIC_URL }}images/cart.png"  alt="">
                            <span>({{ cart.count }}) item{{ cart.count|pluralize }}</span>
                          </a>
                        </div>
                        <div class="clearfix"></div>
                  </div>
            </div>
      </div>

      <div id="settings" class="container">
            <div class="clearfix">&nbsp;</div>
            <div class="row">
                  <div class="col-lg-12 row">
                    <h1>User Settings</h1>
                    <div class="col-lg-12">
                      {% if messages %}
                        {% for message in messages %}
                        <div {% if message.tags %} data-dismiss="alert" class="{{ message.tags }} alert {% if message.tags == "success"%}alert-success{% endif %} {% if message.tags == "error"%}alert-danger{% endif %}"{% endif %} >
                          {{ message }}
                          <button type="button" class="close" data-dismiss="alert">&times;</button>
                        </div>
                        {% endfor %}
                      {% endif %}
                    </div>
                    <div class="col-lg-8">
                      <div class="info-container row">
                        <h2>Basic Information</h2>
                        <div class="info-sub-container col-lg-6">
                          <span class="info-label">First Name:</span> {{ user.first_name }}
                          <br>
                          <span class="info-label">Last Name:</span> {{ user.last_name }}
                          <br>
                          <span class="info-label">Email Address:</span> {{ user.email }}

                        </div>

                        <div class="info-sub-container col-lg-6">
                          <span class="info-label">Company Name:</span> {{ user.userprofile.company_name }}
                          <br>
                          <span class="info-label">Phone Number:</span> {{ phone_number }}
                        </div>
                          <p class="change-info">To change the Basic Information on your account, please contact us at (877) 231-2777.</p>
                      </div>
                      
                      <div class="info-container row">
                        <h2>Addresses</h2>
                        <div class="info-sub-container col-lg-6">
                          <span class="info-label">Shipping</span>
                          <br>
                          {{ user.userprofile.ffl_premise_address|linebreaksbr }}
                        </div>
                        <div class="info-sub-container col-lg-6">
                          <span class="info-label">Billing</span>
                          <br>
                          {{ user.userprofile.ffl_mailing_address|linebreaksbr }}
                          <br>
                          <button type="button" class="edit-billing down toggle-form-button">Edit &#8595;</button>
                          <form class="settings-form address-form change-billing-address-form" method="POST">
                            {% csrf_token %}
                            {{change_billing_address_form}}
                            <button type="submit" class="submit-button" name="selected-form" value="billing">Update</button>
                          </form>
                        </div>
                      </div>

                      {% if user.userprofile.has_de_profile %}
                      <div class="info-container row">
                        <h2>Dealer Exchange Settings</h2>
                        <div class="info-sub-container col-lg-6">
                          <span class="info-label">Preferred Shipping Carrier</span>
                          <form class="settings-form de-carrier-form change-de-carrier-form" method="POST">
                              <h3>Pickups</h3>
                              {{carrier_form.ups }}{{ carrier_form.ups.label }}
                              {{carrier_form.usps }}{{ carrier_form.usps.label }}
                              {{carrier_form.fedex }}{{ carrier_form.fedex.label }}
                              <br>
                              <h3>Dropoffs</h3>
                              {{carrier_form.ups_drop }}{{ carrier_form.ups_drop.label }}
                              {{carrier_form.usps_drop }}{{ carrier_form.usps_drop.label }}
                              {{carrier_form.fedex_drop }}{{ carrier_form.fedex_drop.label }}
                            {% csrf_token %}
                            <br>
                            <button type="submit" class="submit-button" name="selected-form" value="de_carrier">Update</button>
                          <br>
                      </form>
                        </div>
                        <div class="info-sub-container col-lg-6">
                          <span class="info-label">Bank Information</span>
                          <br>
                          <br>
                          <button type="button" class="edit-banking down toggle-form-button">Edit &#8595;</button>
                          <form class="settings-form address-form change-de-bank-form" method="POST">
                            {% csrf_token %}
                            {{ bank_form.routing_number.label }}{{ bank_form.routing_number }}
                            {{ bank_form.routing_check.label }}{{ bank_form.routing_check }}
                            {{ bank_form.account_number.label }}{{ bank_form.account_number }}
                            {{ bank_form.account_check.label }}{{ bank_form.account_check }}
                            <button type="submit" class="submit-button" name="selected-form" value="de_bank">Update</button>
                          </form>
                        </div>
                      </div>
                      {% endif %}
                      
                      <div class="info-container row">
                        <h2>FFL</h2>
                        <div class="info-sub-container col-lg-6">
                          <span class="info-label">First 3 digits:</span> {{ user.userprofile.ffl_number_first_three }}
                          <br>
                          <span class="info-label">Expiration Date:</span> {{ user.userprofile.ffl_expiration_date|date:"n/j/Y" }}
                          <br>
                          <button type="button" class="edit-ffl down toggle-form-button">update FFL &#8595;</button>
                        </div>
                        <div class="info-sub-container col-lg-6">
                          <span class="info-label">Last 5 digits:</span> {{ user.userprofile.ffl_number_last_five }}
                          <br>
                        </div>
                        <div class="info-sub-container col-lg-12">
                          <form class="settings-form ffl-form" method="POST">
                          <label for="id_ffl-date_month" class="ffl-date-label">Expiration Date</label>
                          {% csrf_token %}
                          {{change_ffl_form}} <button type="submit" class="submit-button" name="selected-form" value="ffl">Update</button>
                          </form>
                        </div>
                      </div>
                    </div>
                    
                    <div class="col-lg-1">
                    </div>
                    
                    <div class="col-lg-3">
                      <div class="info-container row">
                        <h2>Set Dealer Margin</h2>
                        <form class="settings-form margin-form" method="POST">
                          {% csrf_token %}
                          {{margin_form.margin.errors}}
                          <div class="margin-input">
                          {{margin_form.margin}}
                          <span id="margin-percent">%</span>
                          </div>
                          <button type="submit" class="submit-button" name="selected-form" value="margin">Update</button>
                        </form>
                      </div>
                      <div class="info-container row">
                        <h2>Suppliers</h2>
                        You can search products from the following suppliers:
                        <form class="settings-form" method="POST">
                          {% csrf_token %}
                          <input type="hidden" name="selected-form" value="delete_supplier">
                          <ul id="verified-suppliers">
                            {% if user.userprofile.davidson_verified %}
                              <li>
                                <div class="tick"></div> Davidson's <button type="submit"  class="delete-supplier" name="supplier" value="davidson">delete</button>
                              </li>
                            {% endif %}
                            {% if user.userprofile.lipseys_verified %}
                              <li>
                                <div class="tick"></div> Lipsey's <button type="submit" class="delete-supplier" name="supplier" value="lipseys">delete</button>
                              </li>
                            {% endif %}
                            {% if user.userprofile.rsr_verified %}
                              <li>
                                <div class="tick"></div> RSR Group <button type="submit" class="delete-supplier" name="supplier" value="rsr">delete</button>
                              </li>
                            {% endif %}
                            {% if user.userprofile.green_verified %}
                              <li>
                                <div class="tick"></div> Green Supply <button type="submit" class="delete-supplier" name="supplier" value="green">delete</button>
                              </li>
                            {% endif %}
                            {% if user.userprofile.sports_verified %}
                              <li>
                                <div class="tick"></div> Sport's South <button type="submit" class="delete-supplier" name="supplier" value="sports">delete</button>
                              </li>
                            {% endif %}
                            {% if user.userprofile.jerrys_verified %}
                              <li>
                                <div class="tick"></div> Jerry's Sports Center <button type="submit" class="delete-supplier" name="supplier" value="jerrys">delete</button>
                              </li>
                            {% endif %}
                            {% if user.userprofile.ellet_verified %}
                              <li>
                                <div class="tick"></div> Ellet <button type="submit" class="delete-supplier" name="supplier" value="ellet">delete</button>
                              </li>
                            {% endif %}
                          </ul>
                        <button type="button" class="edit-supplier down toggle-form-button">add/remove supplier &#8595;</button>
                        </form>
                        <form class="settings-form add-supplier-form" method="POST">
                          {% csrf_token %}
                          {{add_supplier_form}}
                          <button type="submit" class="submit-button" name="selected-form" value="add_supplier">Add Supplier</button>
                        </form>
                      </div>
                      <div class="info-container row">
                        <h2>Change Password</h2>
                        <form class="settings-form password-form" method="POST">
                          {% csrf_token %}
                          {{change_password_form}}
                          <button type="submit" class="submit-button" name="selected-form" value="password">Update</button>
                        </form>
                      </div>
                    </div>
                  </div>
                  <p></p>
            </div>
      </div>
</div>

<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>
{% endblock body %}

{% block body_script %}
    {{block.super}}
    <script>
      function capitaliseFirstLetter(string) {
            return string.charAt(0).toUpperCase() + string.slice(1);
      }
        $(document).ready(function () {
            $(".edit-supplier").on('click', function(){
              $('.delete-supplier').toggle();
              $('.add-supplier-form').toggle();
              if($(this).hasClass('down')){
                $(this).html('add/remove supplier  &#8595;');
                $(this).removeClass('down');
              }
              else{
                $(this).html('add/remove supplier  &#8593;');
                $(this).addClass('down');
              }
            });
            
            $(".edit-supplier").click();
            
            $(".edit-ffl").on('click', function(){
              $('.ffl-form').toggle();
              if($(this).hasClass('down')){
                $(this).html('update FFL &#8595;');
                $(this).removeClass('down');
              }
              else{
                $(this).html('update FFL &#8593;');
                $(this).addClass('down');
              }
            });
            
            $(".edit-ffl").click();
            
            $(".edit-shipping").on('click', function(){
              $('.change-shipping-address-form').toggle();
              if($(this).hasClass('down')){
                $(this).html('Edit &#8595;');
                $(this).removeClass('down');
              }
              else{
                $(this).html('Edit &#8593;');
                $(this).addClass('down');
              }
            });
            
            $(".edit-shipping").click();
            
            $(".edit-billing").on('click', function(){
              $('.change-billing-address-form').toggle();
              if($(this).hasClass('down')){
                $(this).html('Edit &#8595;');
                $(this).removeClass('down');
              }
              else{
                $(this).html('Edit &#8593;');
                $(this).addClass('down');
              }
            });
            
            $(".edit-billing").click();

            $(".edit-banking").on('click', function(){
              $('.change-de-bank-form').toggle();
              if($(this).hasClass('down')){
                $(this).html('Edit &#8595;');
                $(this).removeClass('down');
              }
              else{
                $(this).html('Edit &#8593;');
                $(this).addClass('down');
              }
            });

            $(".edit-banking").click();
            
            $(".edit-user-info").on('click', function(){
              $('.user-info-form').toggle();
              if($(this).hasClass('down')){
                $(this).html('Edit &#8595;');
                $(this).removeClass('down');
              }
              else{
                $(this).html('Edit &#8593;');
                $(this).addClass('down');
              }
            });
            
            $(".edit-user-info").click();
            
            $("#dist_login").on("click", function (){
                var e = document.getElementById("distributor_id");
                distributor_name = e.options[e.selectedIndex].value;
                $("#login_loading").html('<img src="{{ STATIC_URL }}images/loading.gif"/>One moment while we verify this supplier...');
                uname = $("#dist_uname").val();
                pwd = $("#dist_pwd").val();
                id = $("#dist_id").val();
                setting_id = $("#setting_id").val();

                $.ajax({
                    type: "POST",
                    url: "/"+distributor_name+"/",
                    data: { uname: uname, password: pwd,id:id,setting_id:setting_id},
                    returnType: 'text',
                    success: function (data) {
                        console.log("success");
                        console.log(data);
                        if(data == 1){
                                $("#login_loading").html('');
                               $("#dist-login-error").show();
                            $("#dist-login-success").hide();
                               $("#dist-login-error").html('Please Enter User Name and Password')
                        }
                        else if(data == 2){
                               $("#login_loading").html('');
                               $("#dist-login-error").show();
                            $("#dist-login-success").hide();
                               $("#dist-login-error").html('Please enter the correct User Name or Password')
                        }
                        else
                        {
                            $("#login_loading").html('<img src="{{ STATIC_URL }}images/right.png" alt="">');
                            $("#dist-login-success").show();
                            $("#dist-login-error").hide();
                            $("#dist-login-success").html('Success!  You have added '+ capitaliseFirstLetter(distributor_name) + ' inventory.')
                            $("#verified_dist").append('<lable style="color:#1076bc;">&#10004;</lable> '+ capitaliseFirstLetter(distributor_name))
                            $("#"+distributor_name).remove();
                            var dist_count = document.getElementById("distributor_id").length;
                            console.log(dist_count);
                            if (dist_count == 0)
                            {
                                $("#additional_supplier").remove();
                            }

                        }


                    }
                });

            });

        });
    </script>

{% endblock body_script %}
