<!DOCTYPE html>
<!--[if IE 8]> <html class="ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>vArmory</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<!--<link rel="stylesheet" media="all" href="{{ STATIC_URL }}css/style1.css">-->
	<link href='//fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
<div id="wrapper">
	<div id="container">


	<!-- / header -->
        <div class="navbar-wrapper">
            <div class="navbar navbar-inverse navbar-static-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">

                        <a class="navbar-brand" href="/product-search/">
                            <img src="{{ STATIC_URL }}images/logo.png"  alt="">
                        </a>
                    </div>
                    <div class="navbar-collapse collapse">

                        <!--<ul class="dashboard-header-dropdown">
                            <li class="cv"><button type="button" class="cv-on" style="display: {% if request.session.cv != False %}inline-block{% else %}none{% endif %};"></button>
                            <button type="button" class="cv-off" style="display: {% if request.session.cv != False %}none{% else %}inline-block{% endif %};"></button><span>Customer View</span></li>
                            <li><a href="/settings/">User Settings</a></li>
                            <li><a href="http://ffldesign.com" target="_blank">FFLDesign.com</a></li>
                            <li style="display: none"><a href="">Support Desk</a></li>
                            <li><a href="/logout/">Logout</a></li>
                        </ul>-->
                        <div class="clearfix"></div>


                    </div>
                </div>
            </div>
        </div>
	<div class="container">
		<div id="content">

<!-- 			<div id="loadingMessage" class="popup hide">
				<img src="{{ STATIC_URL }}images/1.png" alt="">
				<h2>One moment while we verify your FFL</h2>
				<p class="checked">Thank you!</p>
			</div> -->

			<h1>FFL Verification</h1>
			{% if error_message %}
				<p>{{ error_message }}</p>
			{% endif %}
			<form id="fflVerification" action="/signup/" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<fieldset><input placeholder="First 3 Digits" type="text" value="{{ first3 }}" name="first3" id="first3"></fieldset>
				<fieldset><input placeholder="Last 5 Digits" type="text" value="{{ last5 }}" name="last5" id="last5"></fieldset>
				<fieldset><input placeholder="Premise Zip Code" type="text" value="{{ zipcode }}" name="zipcode"></fieldset>
				<input type="hidden" name="step_2" value="True">
				<button type="button" id="fflVerificationSubmit"><span>Verify</span><span>Loading <img src="{{STATIC_URL}}images/loading.gif"></span></button>
				<label class="note">We use the ATF FFL EZ Check to verify your license.</label>
			</form>

		</div>
		<!-- / content -->
	</div>
	<!-- / container -->

	</div>
	<footer id="footer">
		<div class="container">
			<p><a href="http://www.ffldesign.com/terms-and-conditions/">Terms &amp; Conditions</a>  |  <a href="http://www.ffldesign.com/privacy-policy/">Privacy Policy</a></p>
			<p class="copy">© Copyright 2015 - FFL Design, LLC. All Rights Reserved.</p>
		</div>
		<!-- / container -->
	</footer>
	<!-- / footer -->

</div>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script>window.jQuery || document.write("<script src='js/jquery-1.11.1.min.js'>\x3C/script>")</script>
	<script src="{{ STATIC_URL }}js/plugins.js"></script>
	<script src="{{ STATIC_URL }}js/main.js"></script>
	<script src="{{ STATIC_URL }}js/extras.js"></script>
	<script src="{{ STATIC_URL }}js/jquery-mask.js"></script>
	<script>
	jQuery(function($){
		$('#first3').mask("9-99");
		$('#last5').mask("99999");
	});
	</script>
</body>
</html>
