{% extends 'base.html' %}

{% block extra_css %}
	<!--<link rel="stylesheet" media="all" href="{{ STATIC_URL }}css/style1.css">-->
	<link href='//fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
{% endblock extra_css %}

{% block body %}
	<div id="wrapper">
		<div id="container">

		<!-- / header -->
            <div class="navbar-wrapper">
                <div class="navbar navbar-inverse navbar-static-top" role="navigation">
                    <div class="container">
                        <div class="navbar-header">

                            <a class="navbar-brand" href="/product-search/">
                                <img src="{{ STATIC_URL }}images/logo.png"  alt="">
                            </a>
                        </div>
                        <div class="navbar-collapse collapse">

                            <!--<ul class="dashboard-header-dropdown">
                                <li class="cv"><button type="button" class="cv-on" style="display: {% if request.session.cv != False %}inline-block{% else %}none{% endif %};"></button>
                                <button type="button" class="cv-off" style="display: {% if request.session.cv != False %}none{% else %}inline-block{% endif %};"></button><span>Customer View</span></li>
                                <li><a href="/settings/">User Settings</a></li>
                                <li><a href="http://ffldesign.com" target="_blank">FFLDesign.com</a></li>
                                <li style="display: none"><a href="">Support Desk</a></li>
                                <li><a href="/logout/">Logout</a></li>
                            </ul>-->
                            <div class="clearfix"></div>


                        </div>
                    </div>
                </div>
            </div>
		<div class="container">
            <div class="wrap">
			<div id="content" class="checks">

				<h1>Who are your Distributors?</h1>
				{% if error_message %}
					<p>{{ error_message }}</p>
				{% endif %}
				<form action="" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="checkbox-hold">
					{% for checkbox in form.distributors %}
						{{ checkbox.tag }}
						<label class="checkbox crf" for="crf-input-{{ forloop.counter0 }}">{{ checkbox.choice_label }}</label>
					{% endfor %}
					<button id='step3_button' type="submit">Add Distributors</button>
					</div>
					<label class="note"><a class="suppliers-skip" onclick="skip('none')">Return to Search Page</a></label>
				</form>

			</div>
            </div>
			<!-- / content -->
		</div>
		<!-- / container -->

		</div>
{% endblock body %}

{% block body_script %}
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script>window.jQuery || document.write("<script src='js/jquery-1.11.1.min.js'>\x3C/script>")</script>
	<script src="{{ STATIC_URL }}js/plugins.js"></script>
	<script src="{{ STATIC_URL }}js/main.js"></script>
	<script src="{{ STATIC_URL }}js/extras.js"></script>
    <script>
        var content_box = document.getElementById("content");
        var labels = content_box.getElementsByClassName('checkbox');
        var i;
        for(i=1; i<labels.length; i++){
            if(i%2 != 0){
                labels[i].style.cssText = "margin-right: 0;";
            }
        }

    </script>
{% endblock body_script %}