{% extends 'base.html' %}

{% block extra_css %}
	<link rel="stylesheet" media="all" href="{{ STATIC_URL }}css/style1.css">
	<link href='//fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
{% endblock extra_css %}

{% block body %}
	<div id="wrapper">
		<div id="container">

		<!-- / header -->
    <div class="navbar-wrapper">
        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">

                    <a class="navbar-brand" href="/product-search/">
                        <img src="{{ STATIC_URL }}images/logo.png"  alt="">
                    </a>
                </div>
                <div class="navbar-collapse collapse">

                    <!--<ul class="dashboard-header-dropdown">
                        <li class="cv"><button type="button" class="cv-on" style="display: {% if request.session.cv != False %}inline-block{% else %}none{% endif %};"></button>
                        <button type="button" class="cv-off" style="display: {% if request.session.cv != False %}none{% else %}inline-block{% endif %};"></button><span>Customer View</span></li>
                        <li><a href="/settings/">User Settings</a></li>
                        <li><a href="http://ffldesign.com" target="_blank">FFLDesign.com</a></li>
                        <li style="display: none"><a href="">Support Desk</a></li>
                        <li><a href="/logout/">Logout</a></li>
                    </ul>-->
                    <div class="clearfix"></div>


                </div>
            </div>
        </div>
    </div>
		<div class="container"><div class="wrap">
			<div id="green_login" class="login-close">
				<div id="content">
					<div id="loadingMessage" class="popup hide">
						<img src="{{ STATIC_URL }}images/1.png" alt="">
						<h2>One moment while we verify this supplier</h2>
						<p class="checked hidden">Successful!</p>
					</div>

					<h1>Green Supply login</h1>
					<p id="green_error"></p>
					<form action="#" >
						<fieldset><input placeholder="Username" type="text" id="green_uname"></fieldset>
						<fieldset><input placeholder="Password" type="password" id="green_pwd"></fieldset>
						<button id="green_button" type="button"><span>Next</span><span>Loading <img src="{{STATIC_URL}}images/loading.gif" class="register-loading"></span></button>
						<label class="note large"><a onclick="skip('green')">Skip this supplier</a></label>
					</form>
				</div>
			</div>
			<div id="davidson_login" class="login-close">
				<div id="content">
					<div id="loadingMessage" class="popup hide">
						<img src="{{ STATIC_URL }}images/1.png" alt="">
						<h2>One moment while we verify this supplier</h2>
						<p class="checked hidden">Successful!</p>
					</div>
					<h1>Davidson's login</h1>
					<p id="davidson_error"></p>
					<form action="#" >
						<fieldset><input placeholder="Username" type="text" id="davidson_uname"></fieldset>
						<fieldset><input placeholder="Password" type="password" id="davidson_pwd"></fieldset>
						<button id="davidson_button" type="button"><span>Next</span><span>Loading <img src="{{STATIC_URL}}images/loading.gif" class="register-loading"></span></button>
						<label class="note large"><a onclick="skip('davidson')">Skip this supplier</a></label>
					</form>
				</div>
			</div>
			<div id="rsr_login" class="login-close">
				<div id="content">
					<div id="loadingMessage" class="popup hide">
						<img src="{{ STATIC_URL }}images/1.png" alt="">
						<h2>One moment while we verify this supplier</h2>
						<p class="checked hidden">Successful!</p>
					</div>
					<h1>RSR Group login</h1>
					<p id="rsr_error"></p>
					<form action="#">
						<fieldset><input placeholder="Username" type="text" id="rsr_uname"></fieldset>
						<fieldset><input placeholder="Password" type="password" id="rsr_pwd"></fieldset>
						<button id="rsr_button" type="button"><span>Next</span><span>Loading <img src="{{STATIC_URL}}images/loading.gif" class="register-loading"></span></button>
						<label class="note large"><a onclick="skip('rsr')">Skip this supplier</a></label>
					</form>
				</div>
			</div>
			<div id="lipseys_login" class="login-close">
				<div id="content">
					<div id="loadingMessage" class="popup hide">
						<img src="{{ STATIC_URL }}images/1.png" alt="">
						<h2>One moment while we verify this supplier</h2>
						<p class="checked hidden">Successful!</p>
					</div>

					<h1>Lipsey's login</h1>
					<p id="lipseys_error"></p>
					<form action="#">
						<fieldset><input placeholder="Username" type="text" id="lipseys_uname"></fieldset>
						<fieldset><input placeholder="Password" type="password" id="lipseys_pwd"></fieldset>
						<button id="lipseys_button" type="button"><span>Next</span><span>Loading <img src="{{STATIC_URL}}images/loading.gif" class="register-loading"></span></button>
						<label class="note large"><a onclick="skip('lipseys')">Skip this supplier</a></label>
					</form>
				</div>
			</div>
			<div id="zanders_login" class="login-close">
				<div id="content">
					<div id="loadingMessage" class="popup hide">
						<img src="{{ STATIC_URL }}images/1.png" alt="">
						<h2>One moment while we verify this supplier</h2>
						<p class="checked hidden">Successful!</p>
					</div>

					<h1>Zanders login</h1>
					<p id="zanders_error"></p>
					<form action="#">
						<fieldset><input placeholder="Username" type="text" id="zanders_uname"></fieldset>
						<fieldset><input placeholder="Password" type="password" id="zanders_pwd"></fieldset>
						<button id="zanders_button" type="button"><span>Next</span><span>Loading <img src="{{STATIC_URL}}images/loading.gif" class="register-loading"></span></button>
						<label class="note large"><a onclick="skip('zanders')">Skip this supplier</a></label>
					</form>
				</div>
			</div>
			<div id="camfour_login" class="login-close">
				<div id="content">
					<div id="loadingMessage" class="popup hide">
						<img src="{{ STATIC_URL }}images/1.png" alt="">
						<h2>One moment while we verify this supplier</h2>
						<p class="checked hidden">Successful!</p>
					</div>

					<h1>Camfour login</h1>
					<p id="camfour_error"></p>
					<form action="#">
						<fieldset><input placeholder="Username" type="text" id="camfour_uname"></fieldset>
						<fieldset><input placeholder="Password" type="password" id="camfour_pwd"></fieldset>
						<button id="camfour_button" type="button"><span>Next</span><span>Loading <img src="{{STATIC_URL}}images/loading.gif" class="register-loading"></span></button>
						<label class="note large"><a onclick="skip('camfour')">Skip this supplier</a></label>
					</form>
				</div>
			</div>
			<div id="sports_login" class="login-close">
				<div id="content">
					<div id="loadingMessage" class="popup hide">
						<img src="{{ STATIC_URL }}images/1.png" alt="">
						<h2>One moment while we verify this supplier</h2>
						<p class="checked hidden">Successful!</p>
					</div>

					<h1>Sport's South login</h1>
					<p id="sports_error"></p>
					<form action="#">
						<fieldset><input placeholder="Username" type="text" id="sports_uname"></fieldset>
						<fieldset><input placeholder="Password" type="password" id="sports_pwd"></fieldset>
						<button id="sports_button" type="button"><span>Next</span><span>Loading <img src="{{STATIC_URL}}images/loading.gif" class="register-loading"></span></button>
						<label class="note large"><a onclick="skip('sports')">Skip this supplier</a></label>
					</form>
				</div>
			</div>
			<div id="jerrys_login" class="login-close">
				<div id="content">
					<div id="loadingMessage" class="popup hide">
						<img src="{{ STATIC_URL }}images/1.png" alt="">
						<h2>One moment while we verify this supplier</h2>
						<p class="checked hidden">Successful!</p>
					</div>

					<h1>Jerry's Sports Center</h1>
					<p id="jerrys_error"></p>
					<form action="#">
						<fieldset><input placeholder="Username" type="text" id="jerrys_uname"></fieldset>
						<fieldset><input placeholder="Password" type="password" id="jerrys_pwd"></fieldset>
						<button id="jerrys_button" type="button"><span>Next</span><span>Loading <img src="{{STATIC_URL}}images/loading.gif" class="register-loading"></span></button>
						<label class="note large"><a onclick="skip('jerrys')">Skip this supplier</a></label>
					</form>
				</div>
			</div>
			<div id="ellet_login" class="login-close">
				<div id="content">
					<div id="loadingMessage" class="popup hide">
						<img src="{{ STATIC_URL }}images/1.png" alt="">
						<h2>One moment while we verify this supplier</h2>
						<p class="checked hidden">Successful!</p>
					</div>

					<h1>Ellet</h1>
					<p id="ellet_error"></p>
					<form action="#">
						<fieldset><input placeholder="Username" type="text" id="ellet_uname"></fieldset>
						<fieldset><input placeholder="Password" type="password" id="ellet_pwd"></fieldset>
						<button id="ellet_button" type="button"><span>Next</span><span>Loading <img src="{{STATIC_URL}}images/loading.gif" class="register-loading"></span></button>
						<label class="note large"><a onclick="skip('ellet')">Skip this supplier</a></label>
					</form>
				</div>
			</div>
			<!-- / content -->
        </div>
		</div>
		<!-- / container -->

		</div>
		<footer>
	        <div class="container">
	            <p class="pull-left">
	                <a href="http://www.ffldesign.com/terms-and-conditions/">
	                    Terms & Conditions
	                </a>
	                &middot;
	                <a href="http://www.ffldesign.com/privacy-policy/">
	                    Privacy Policy
	                </a>
	            </p>
	            <p class="pull-right">
	                © Copyright 2015 - FFL Design, LLC. All Rights Reserved.
	            </p>
	        </div>
	    </footer>
		<!-- / footer -->

	</div>
{% endblock body %}

{% block body_script %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script>window.jQuery || document.write("<script src='js/jquery-1.11.1.min.js'>\x3C/script>")</script>
	<script src="{{ STATIC_URL }}js/plugins.js"></script>
	<script src="{{ STATIC_URL }}js/main.js"></script>
	<script src="{{ STATIC_URL }}js/extras.js"></script>
	<script>
	$(document).ready(function(data){
		var distributors = '{{ distributors }}';
		distributors = JSON.parse(distributors.replace(/&quot;/g,'"'));
		init_distributors(distributors);
	});
	</script>
{% endblock body_script %}