<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="{{ STATIC_URL }}../../favicon.ico">
<title>vArmory by FFL Design - Software for Firearm Dealers</title>

<style type="text/css">

#pass-info{
	width: 97.5%;
	height: 25px;
/*	border: 1px solid #DDD;*/
	border-radius: 4px;
	color: #829CBD;
	text-align: center;
	font: 12px/25px Arial, Helvetica, sans-serif;
}
#pass-info.weakpass{
	border: 1px solid #FF9191;
	background: #FFC7C7;
	color: #94546E;
	text-shadow: 1px 1px 1px #FFF;
}
#pass-info.stillweakpass {
	border: 1px solid #FBB;
	background: #FDD;
	color: #945870;
	text-shadow: 1px 1px 1px #FFF;
}
#pass-info.goodpass {
	border: 1px solid #C4EEC8;
	background: #E4FFE4;
	color: #51926E;
	text-shadow: 1px 1px 1px #FFF;
}
#pass-info.strongpass {
	border: 1px solid #6ED66E;
	background: #79F079;
	color: #348F34;
	text-shadow: 1px 1px 1px #FFF;
}
#pass-info.vrystrongpass {
	border: 1px solid #379137;
	background: #48B448;
	color: #CDFFCD;
	text-shadow: 1px 1px 1px #296429;
}
</style>

<!-- Bootstrap core CSS -->

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

<!-- Custom styles for this template -->
<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/customize.css" rel="stylesheet">
{#     <script src="/static/admin/js/jquery.min.js"></script>#}
</head>
<!-- NAVBAR
================================================== -->
<body class="index-bg">
<div class="navbar-wrapper">
  <div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
      <div class="header"> <a class="navbar-brand" href="/index/"><img src="{{ STATIC_URL }}images/logo.png"  alt=""></a>
        <div class="pull-right margin-top8">
            <form name="index" action="/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
          <ul class="nav navbar-nav">
            <li>
              <input type="text" name="email" class="form-control" placeholder="Email" required="True">
            </li>
            <li>
              <input type="password" name="password" class="form-control" placeholder="Password" required="True">
            </li>
            <li>
              <button type="submit" class="btn btn-default">Login</button>
            </li>
          </ul>
                </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container margin-top70">

  <div class="home-bg">
      <form name="signup" action="/distributors_login/" id="passwordTest" method="post" enctype="multipart/form-data">
          {% csrf_token  %}
          {% if error_message %}
    <p class="alert alert-danger  " style="width: 500px;
margin: 0 auto;"> {{ error_message }}</p>
          {% endif %}
    <h1>Step 1 of 2 </h1>
    <table width="30%" border="0" align="center" cellpadding="10" cellspacing="10">
      <tr>
        <td><input type="text" class="form-control" name = "fname" placeholder="First Name" value="{{ fname }}" required="True"></td>
      </tr>
      <tr>
        <td><input type="text" class="form-control" name = "lname" placeholder="Last Name" value="{{ lname }}" required="True"></td>
      </tr>
      <tr>
        <td><input type="text" class="form-control" name = company placeholder="Company" value="{{ company }}" required="True"></td>
      </tr>
      <tr>
        <td><input type="email" class="form-control" name="email" placeholder="Email" value="{{ email }}" required="True"></td>
      </tr>
      <tr>
        <td><input type="password" id="password1" class="form-control" name = "password" placeholder="Password" required="True"></td>
      </tr>
      <tr>
        <td><input type="password" id="password2" class="form-control" name = "cpassword" placeholder="Confirm Password" required="True"></td>
      </tr>
        <tr>
        <td align="left" valign="top" style="color: #1076bc;"><strong>Suppliers</strong>
          <h5 style="color: #000000;">Choose the suppliers you're signed up with. You will need your suppliers login info for the next step. </h5></td>
      </tr>
      <tr>
        <td align="left" valign="top"><input type="checkbox" name="box1" value="davidson"/>
          Davidsons &nbsp;&nbsp;

            <input type="checkbox" name="box2" value="lipseys"> Lipseys </td>
      </tr>
      <tr>
        <td align="left" valign="top"><input type="checkbox" name="box3" value="rsr">
          RSR Group &nbsp;

          <input type="checkbox" name="box4" value="greens"> Green Supply </td>
      </tr>
      <tr>
        <td><button type="submit" class="rounded" >NEXT STEP ></button></td>
      </tr>
    </table>

      </form>
  </div>
</div>

<footer>
  <div class="container">
    <p class="pull-left"><a href="http://www.ffldesign.com/terms-and-conditions/">Terms & Conditions</a> &middot; <a href="http://www.ffldesign.com/privacy-policy/">Privacy Policy</a></p>
    <p class="pull-right"> © Copyright 2015 - FFL Design, LLC. All Rights Reserved.
  </div>
</footer>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    var WeakPass = /(?=.{6,}).*/;
    //Must contain lower case letters and at least one digit.
    var MediumPass = /^(?=\S*?[a-z])(?=\S*?[0-9])\S{5,}$/;
    //Must contain at least one upper case letter, one lower case letter and one digit.
    var StrongPass = /^(?=\S*?[A-Z])(?=\S*?[a-z])(?=\S*?[0-9])\S{5,}$/;
    //Must contain at least one upper case letter, one lower case letter and one digit.
    var VryStrongPass = /^(?=\S*?[A-Z])(?=\S*?[a-z])(?=\S*?[0-9])(?=\S*?[^\w\*])\S{5,}$/;
    var passwordsInfo   = $('#pass-info');

    $("#password1").on('keyup', function () {

        var password1 = $('#password1').val();
        if (VryStrongPass.test(password1)) {
            passwordsInfo.removeClass().addClass('vrystrongpass').html("Very Strong!");
        }
        else if (StrongPass.test(password1)) {
            passwordsInfo.removeClass().addClass('strongpass').html("Strong! (Enter special chars to make even stronger");
        }
        else if (MediumPass.test(password1)) {
            passwordsInfo.removeClass().addClass('goodpass').html("Good! (Enter uppercase letter to make strong)");
        }
        else if (WeakPass.test(password1)) {
            passwordsInfo.removeClass().addClass('stillweakpass').html("Still Weak! (Enter digits to make good password)");
        }
        else {
            passwordsInfo.removeClass().addClass('weakpass').html("Very Weak! (Must be 5 or more chars)");
        }
    });

    $(password2).on('keyup', function(e) {
        var password1 = $('#password1').val();
        var password2 = $('#password2').val();

        if(password1 !== password2)
        {
            passwordsInfo.removeClass().addClass('weakpass').html("Passwords do not match!");
        }else{
            passwordsInfo.removeClass().addClass('goodpass').html("Passwords match!");
        }

    });

    });

</script>
</body>
</html>
