{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_css %}
	<!--<link rel="stylesheet" media="all" href="{% static 'css/style1.css' %}">-->
	<link href='//fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
	<link href="{% static 'lib/fancybox/jquery.fancybox.css' %}" rel="stylesheet">

{% endblock extra_css %}

{% block body %}
<div id="wrapper">
	<div id="form-errors" class="alert alert-danger alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		{% spaceless %}
		{% for field in sign_up_form %}
			{{ field.errors }}
		{% endfor %}
		{{ sign_up_form.non_field_errors }}
		{% for field in login_form %}
			{{ field.errors }}
		{% endfor %}
		{{ login_form.non_field_errors }}
		{% endspaceless %}
	</div>

	<div id="container">
        <div class="navbar-wrapper">
            <div class="navbar navbar-inverse navbar-static-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">

                        <a class="navbar-brand" href="/product-search/">
                            <img src="{{ STATIC_URL }}images/logo.png"  alt="">
                        </a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <div class="clearfix"></div>


                    </div>
                </div>
            </div>
        </div>
	<div class="container">
		<div id="signup-login">
			<span><button class="create_ac">Create a new account</button><button class="have_ac">Have an account? Click here</button></span>
	       	<div class="signup">
	           <div id="signup-info">
	               <p class="free">Create your FREE account today and start enjoying these benefits:</p>
	               <p class="points">Search all of your suppliers in one<br />easy-to-use dashboard.</p>
	               <p class="points">Find great deals from manufacturers<br />that don't use major distributors.</p>
	               <p class="points">Additional useful tools that will<br />help run your gun store efficiently.</p>
	           </div>
	           <div id="signup-fieldset">
	               <form name="signup" action="/" method="post" enctype="multipart/form-data">
	               {% csrf_token %}
	               {% for field in sign_up_form %}
					<label id="label_{{ field.name }}"{% if field.errors %} class="has-input-error" {% endif %}>{{ field }}</label>
	               {% endfor %}
	               <button type="submit">Start Searching</button>
	               </form>
	           </div>
	       </div>
	       <div class="sign-in">
	           <div class="holder">
					<form action="/login/" method="post">
					{% csrf_token %}
					<label>{{ login_form.username }}</label>
					<label>{{ login_form.password }}</label>
					<button type="submit">Login to vArmory</button>
					<label class="rem">{{ login_form.remember }} Remember Username</label>
					<div class="sign-in-links">
					   <a id="forgot-password-link" href="#forgot-password-modal">Forgot your password?</a> | 
					   <a class="small_sign">Sign up for free.</a>
					</div>
					</form>
	           </div>
	       </div>
	       <p class="ffl">Must have a valid Federal Firearms License to set up an account. We use the ATF EZ check to verify your FFL. <br>
	       Your information will only be used as described in our
	       <a href="http://www.ffldesign.com/privacy-policy/">Privacy Policy</a>.</p>
	    </div>
	    
	    <div id="forgot-password-modal" style="display: none;">
			<div class="forgot-password-header">
				<p class="forgot">
					Forgot your password?
				</p>
				<p>
                    Enter your email address and we'll email you a link to reset your password.<br />
				</p>
			</div>
			<div class="forgot-password-content">
				<form action="" method="post">
					{% csrf_token %}
					<div class="errors"></div>
					<div class="forgot-password-fields">
						{{ forgot_password_form }}
						<button id="forgot-password-button" type="submit">Send Reset Password Email</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	</div>

</div>
{% endblock body %}

{% block body_script %}
	<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'lib/fancybox/jquery.fancybox.js' %}"></script>
	<script src="{% static 'js/plugins.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'js/extras.js' %}"></script>
	<script type="text/javascript">
	$(document).ready(function() {
	    //Setup forgot-password-modal
	    $("a#forgot-password-link").fancybox({
			'hideOnOverlayClick': true
	    });

	    $("#forgot-password-button").click(function(event){
			event.preventDefault();
			$(this).attr("disabled", "disabled");
			var email = $("#id_email").val();
			var csrftoken = getCookie('csrftoken');
			$.ajax({
                type: "POST",
                url: '{% url "forgot-password" %}',
			    headers: {"X-CSRFToken": csrftoken},
                data: {
                    email: email
                },
                returnType: 'text',
                success: function(data) {
				$("#forgot-password-button").removeAttr("disabled");
				if (data.success == false) {
					//Check for form errors
					$('.forgot-password-content .errors').html("<ul class='error-list'></ul>");
					for (var error in data.errors.email) {
						$('.forgot-password-content .errors ul.error-list').append(
							"<li>" + data.errors.email[error] +"</li>"
						);

					}
				}
				else {
                    $('.forgot-password-header').hide();
                    $('.forgot-password-fields').hide();
					$('.forgot-password-content .errors').html("An email has been sent. Thank you.");
				}
	                    },
	            error: function(data) {
					$("#forgot-password-button").removeAttr("disabled");
					console.log('Error:', data);
	            }
	        });
	    });

		var form_inputs = $('#signup-fieldset input[type="text"]');
		var form_labels = $('#signup-fieldset label');
		var submit_btn = $('form button');
		var login_btn = $('holder button');
		var create_ac = $('.create_ac');
		var have_ac = $('.have_ac');
		var create_ac_form = $('#signup-login .signup');
		var sign_in_form = $('#signup-login .sign-in');
		var login_email = $('.sign-in .username');
		var login_pwd = $('.sign-in .password');
		var little_sign_up = $('.small_sign');
		var form_errors = $('#form-errors');

		var ffl = form_inputs[3];

		function add_dash() {
			var a = $(ffl).val();
			if($(ffl).val().length == 1) {
				$(ffl).val(a+"-");
			}
		};

		function validateEmail(email) {
	        var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
	        return re.test(email);
	    };

	    {% if login_form.errors or sign_up_form.errors %}
	    $(form_errors).css("display", "block");
	    $(form_errors).alert();
	    {% endif %}

	    for(var i = 0; i < form_labels.length; i+=1) {
	    	if($(form_labels[i]).hasClass('has-input-error')) {
	    		$(form_labels[i]).children('input').css('border', 'thin red solid');
	    	}
	    }

	    $(form_inputs).each(function() {
			$(this).change(function() {
				if($(this).attr('name') == 'username' && validateEmail($(this).val()) == false) {
		    		$(this).css('border', 'thin red solid');
		    	}
		    	else if($(this).val() == '') {
		    		$(this).css('border', 'thin red solid');
		    	}
		    	else {
		    		$(this).css('border', 'thin silver solid');
		    	}
			});
		});
		
		$(".points").css("background", "url('{% static 'images/tick1.png' %}') no-repeat 0 6px");
	    $(login_email).css("background", "url('{% static 'images/email.png' %}') no-repeat 11px center");
	    $(login_pwd).css("background", "url('{% static 'images/pwd.png' %}') no-repeat 11px center");

		$(ffl).keypress(function(e) {
			var a = 'which' in e ? e.which : e.keyCode;
			if(a == 8) {
				/* do nothing for backspace key */
			}
			else {
				add_dash();
			}
		});

		$('[placeholder]').parents('form').submit(function() {
			$(this).find('[placeholder]').each(function() {
				var input = $(this);
				if (input.val() == input.attr('placeholder')) {
				  input.val('');
				}
			})
		});

		$(create_ac).click(function() {
			$(this).css({color:"#1076BC", backgroundColor:"#FFF"});
			$(have_ac).css({color:"#FFF", backgroundColor:"#1076BC"});
			$(sign_in_form).css("display", "none");
			$(create_ac_form).css("display", "block");
		});

		$(create_ac).mouseover(function() {
			if($(this).css("background-color") === "rgb(16, 118, 188)"){
				$(this).css("background-color", "#4091C9");
			}
		});

		$(create_ac).mouseout(function() {
			if($(this).css("background-color") === "rgb(64, 145, 201)") {
				$(this).css("background-color", "#1076BC");
			}
		});

		$(have_ac).click(function() {
			$(this).css({color:"#1076BC", backgroundColor:"#FFF"});
			$(create_ac).css({color:"#FFF", backgroundColor:"#1076BC"});
			$(sign_in_form).css("display", "block");
			$(create_ac_form).css("display", "none");
		});

		$(have_ac).mouseover(function() {
			if($(this).css("background-color") === "rgb(16, 118, 188)"){
				$(this).css("background-color", "#4091C9");
			}
		});

		$(have_ac).mouseout(function() {
			if($(this).css("background-color") === "rgb(64, 145, 201)") {
				$(this).css("background-color", "#1076BC");
			}
		});

		$(submit_btn).click(function() {
			if(check() === 1) {
				return false;
			}
		});

		$(little_sign_up).click(function() {
	         $(create_ac).css({color:"#1076BC", backgroundColor:"#fff"});
	         $(have_ac).css({color:"#FFF", backgroundColor:"#1076BC"});
	         $(sign_in_form).css("display", "none");
	         $(create_ac_form).css("display", "block");
	     });

		$(login_btn).click(function(e) {
			var login_email = $(".email");
			var login_pwd = $(".pwd");
			if(validateEmail($(login_email).val()) === false) {
				$(login_email).addClass("input-error");
			}
			else if($(login_pwd).val() === "") {
				$(login_pwd).addClass("input-error");
				$(login_email).removeClass("input-error");
				return false;
			}
			else {
				$(login_pwd).removeClass("input-error");
			}
		});

		{% if login %} $(have_ac).click(); {% endif %}

	});
	function bad_alert(input){
		$('#'+input+'_alert').html('<img src="{{STATIC_URL}}images/ico_error.png">');
	}
	function good_alert(input){
		$('#'+input+'_alert').html('<img src="{{STATIC_URL}}images/ico_check_2.png">');
	}
	</script>
{% endblock body_script %}
