<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<table>
    <tr>{% for i in data %}
        <td>{{ i.company_name }} </td>
    {% endfor %}
    </tr>

    </table>
</body>
</html>