{% extends 'dashboard.html' %}

{% block body %}
{{ block.super }}
<form action="{% url 'testform' %}" method="post">
	{% csrf_token %}
	<h3 style="margin-left:10px; display:inline;">vArmory Test Checklist</h3>
	<input type="submit" value="Submit" style="display: inline;">
	<ul style="list-style-type:none;">
		<li><label for=""><input type="checkbox" name="login_check">
			Login to vArmory (varmory.ffldesign.com)<br>
			Login: david@gsadirect.com<br>
			Pass: gsadirect1<br>
		</label></li>
		<li><label for=""><input type="checkbox" name="tab_check" style="margin-right: 10px;">Click on tabs to make sure they're working (search history, user settings)</label></li>
		<li><label for=""><input type="checkbox" name="featured_products_check" style="margin-right: 10px;">Click on Featured Manufacturers (SRM, MILTAC) to make sure products show up</label></li>
		<li><label for=""><input type="checkbox" name="customer_view_check" style="margin-right: 10px;">Click on Customer View toggle button and make sure price changes (*when customer view is ON, the price should increase) </label></li>
		<li><label for=""><input type="checkbox" name="grid_list_check" style="margin-right: 10px;">Toggle between grid/list view</label></li>
		<li><label for=""><input type="checkbox" name="in_stock_check" style="margin-right: 10px;">Check in-stock only filter</label></li>
		<li><label for=""><input type="checkbox" name="price_filter_check" style="margin-right: 10px;">Check price filters</label></li>
		<li><label for=""><input type="checkbox" name="supplier_filter_check" style="margin-right: 10px;">Check supplier filter</label></li>
		<li><label for=""><input type="checkbox" name="manufacturer_filter_check" style="margin-right: 10px;">Check manufacturer filter</label></li>
		<li><label for=""><input type="checkbox" name="product_popup_check" style="margin-right: 10px;">Check product popup details</label></li>
	</ul>

	<div style="width:100%;">
		<div style="width:50%; float:left;">
		<h4> Credentials: </h4>
		<ul style="list-style-type:none;">
			<li>
				<p>Davidson's</p>
				<p>http://www11.davidsonsinc.com</p>
				<p>scott@gsadirect.com</p>
				<p>gsadirect1</p>
			</li>
			<hr>
			<li>
				<p>Green Supply</p>
				<p>www.greensupply.com</p>
				<p>scott@gsadirect.com</p>
				<p>gsadirect1</p>
			</li>
			<hr>
			<li>
				<p>Lipseys</p>
				<p>http://lipseys.com</p>
				<p>scott@gsadirect.com</p>
				<p>gsadirect1</p>
			</li>
			<hr>
			<li>
				<p>RSR Group</p>
				<p>rsrgroup.com</p>
				<p>89075</p>
				<p>gsadirect1</p>
			</li>
			<hr>
		</ul>
		</div>

		<div style="width:50%; float:left;">
			<div style="width:100%;">
				<p>Davidson's</p>
	
				<div style="width:33%; float:left;">
				<p>Product 1</p>
				<input id="id_form-0-upc" name="davidson-form-0-upc" placeholder="UPC" type="text" />
				<input id="id_form-0-supplier_cost" name="davidson-form-0-supplier_cost" placeholder="Supplier cost" type="text" />
				<input id="id_form-0-supplier_qty" name="davidson-form-0-supplier_qty" placeholder="Supplier qty" type="text" />
				<input id="id_form-0-varmory_cost" name="davidson-form-0-varmory_cost" placeholder="vArmory cost" type="text" />
				<input id="id_form-0-varmory_qty" name="davidson-form-0-varmory_qty" placeholder="vArmory qty" type="text" />
				</div>
			
				<div style="width:33%; float:left;">
				<p>Product 2</p>
				<input id="id_form-1-upc" name="davidson-form-1-upc" placeholder="UPC" type="text" />
				<input id="id_form-1-supplier_cost" name="davidson-form-1-supplier_cost" placeholder="Supplier cost" type="text" />
				<input id="id_form-1-supplier_qty" name="davidson-form-1-supplier_qty" placeholder="Supplier qty" type="text" />
				<input id="id_form-1-varmory_cost" name="davidson-form-1-varmory_cost" placeholder="vArmory cost" type="text" />
				<input id="id_form-1-varmory_qty" name="davidson-form-1-varmory_qty" placeholder="vArmory qty" type="text" />
				</div>
			
				<div style="width:33%; float:left;">
				<p>Product 3</p>
				<input id="id_form-2-upc" name="davidson-form-2-upc" placeholder="UPC" type="text" />
				<input id="id_form-2-supplier_cost" name="davidson-form-2-supplier_cost" placeholder="Supplier cost" type="text" />
				<input id="id_form-2-supplier_qty" name="davidson-form-2-supplier_qty" placeholder="Supplier qty" type="text" />
				<input id="id_form-2-varmory_cost" name="davidson-form-2-varmory_cost" placeholder="vArmory cost" type="text" />
				<input id="id_form-2-varmory_qty" name="davidson-form-2-varmory_qty" placeholder="vArmory qty" type="text" />
				</div>
			
		</div>
		<div style="width:100%;">
			<p>Green Supply</p>
			
				<div style="width:33%; float:left;">
				<p>Product 1</p>
				<input id="id_form-0-upc" name="green-form-0-upc" placeholder="UPC" type="text" />
				<input id="id_form-0-supplier_cost" name="green-form-0-supplier_cost" placeholder="Supplier cost" type="text" />
				<input id="id_form-0-supplier_qty" name="green-form-0-supplier_qty" placeholder="Supplier qty" type="text" />
				<input id="id_form-0-varmory_cost" name="green-form-0-varmory_cost" placeholder="vArmory cost" type="text" />
				<input id="id_form-0-varmory_qty" name="green-form-0-varmory_qty" placeholder="vArmory qty" type="text" />
				</div>
			
				<div style="width:33%; float:left;">
				<p>Product 2</p>
				<input id="id_form-1-upc" name="green-form-1-upc" placeholder="UPC" type="text" />
				<input id="id_form-1-supplier_cost" name="green-form-1-supplier_cost" placeholder="Supplier cost" type="text" />
				<input id="id_form-1-supplier_qty" name="green-form-1-supplier_qty" placeholder="Supplier qty" type="text" />
				<input id="id_form-1-varmory_cost" name="green-form-1-varmory_cost" placeholder="vArmory cost" type="text" />
				<input id="id_form-1-varmory_qty" name="green-form-1-varmory_qty" placeholder="vArmory qty" type="text" />
				</div>
			
				<div style="width:33%; float:left;">
				<p>Product 3</p>
				<input id="id_form-2-upc" name="green-form-2-upc" placeholder="UPC" type="text" />
				<input id="id_form-2-supplier_cost" name="green-form-2-supplier_cost" placeholder="Supplier cost" type="text" />
				<input id="id_form-2-supplier_qty" name="green-form-2-supplier_qty" placeholder="Supplier qty" type="text" />
				<input id="id_form-2-varmory_cost" name="green-form-2-varmory_cost" placeholder="vArmory cost" type="text" />
				<input id="id_form-2-varmory_qty" name="green-form-2-varmory_qty" placeholder="vArmory qty" type="text" />
				</div>
			
		</div>
		<div style="width:100%;">
			<p>Lipsey's</p>
			
				<div style="width:33%; float:left;">
				<p>Product 1</p>
				<input id="id_form-0-upc" name="lipseys-form-0-upc" placeholder="UPC" type="text" />
				<input id="id_form-0-supplier_cost" name="lipseys-form-0-supplier_cost" placeholder="Supplier cost" type="text" />
				<input id="id_form-0-supplier_qty" name="lipseys-form-0-supplier_qty" placeholder="Supplier qty" type="text" />
				<input id="id_form-0-varmory_cost" name="lipseys-form-0-varmory_cost" placeholder="vArmory cost" type="text" />
				<input id="id_form-0-varmory_qty" name="lipseys-form-0-varmory_qty" placeholder="vArmory qty" type="text" />
				</div>
			
				<div style="width:33%; float:left;">
				<p>Product 2</p>
				<input id="id_form-1-upc" name="lipseys-form-1-upc" placeholder="UPC" type="text" />
				<input id="id_form-1-supplier_cost" name="lipseys-form-1-supplier_cost" placeholder="Supplier cost" type="text" />
				<input id="id_form-1-supplier_qty" name="lipseys-form-1-supplier_qty" placeholder="Supplier qty" type="text" />
				<input id="id_form-1-varmory_cost" name="lipseys-form-1-varmory_cost" placeholder="vArmory cost" type="text" />
				<input id="id_form-1-varmory_qty" name="lipseys-form-1-varmory_qty" placeholder="vArmory qty" type="text" />
				</div>
			
				<div style="width:33%; float:left;">
				<p>Product 3</p>
				<input id="id_form-2-upc" name="lipseys-form-2-upc" placeholder="UPC" type="text" />
				<input id="id_form-2-supplier_cost" name="lipseys-form-2-supplier_cost" placeholder="Supplier cost" type="text" />
				<input id="id_form-2-supplier_qty" name="lipseys-form-2-supplier_qty" placeholder="Supplier qty" type="text" />
				<input id="id_form-2-varmory_cost" name="lipseys-form-2-varmory_cost" placeholder="vArmory cost" type="text" />
				<input id="id_form-2-varmory_qty" name="lipseys-form-2-varmory_qty" placeholder="vArmory qty" type="text" />
				</div>
			
		</div>
		<div style="width:100%; margin-bottom:500px;">
			<p>RSR Group</p>
			
				<div style="width:33%; float:left;">
				<p>Product 1</p>
				<input id="id_form-0-upc" name="rsr-form-0-upc" placeholder="UPC" type="text" />
				<input id="id_form-0-supplier_cost" name="rsr-form-0-supplier_cost" placeholder="Supplier cost" type="text" />
				<input id="id_form-0-supplier_qty" name="rsr-form-0-supplier_qty" placeholder="Supplier qty" type="text" />
				<input id="id_form-0-varmory_cost" name="rsr-form-0-varmory_cost" placeholder="vArmory cost" type="text" />
				<input id="id_form-0-varmory_qty" name="rsr-form-0-varmory_qty" placeholder="vArmory qty" type="text" />
				</div>
			
				<div style="width:33%; float:left;">
				<p>Product 2</p>
				<input id="id_form-1-upc" name="rsr-form-1-upc" placeholder="UPC" type="text" />
				<input id="id_form-1-supplier_cost" name="rsr-form-1-supplier_cost" placeholder="Supplier cost" type="text" />
				<input id="id_form-1-supplier_qty" name="rsr-form-1-supplier_qty" placeholder="Supplier qty" type="text" />
				<input id="id_form-1-varmory_cost" name="rsr-form-1-varmory_cost" placeholder="vArmory cost" type="text" />
				<input id="id_form-1-varmory_qty" name="rsr-form-1-varmory_qty" placeholder="vArmory qty" type="text" />
				</div>
			
				<div style="width:33%; float:left;">
				<p>Product 3</p>
				<input id="id_form-2-upc" name="rsr-form-2-upc" placeholder="UPC" type="text" />
				<input id="id_form-2-supplier_cost" name="rsr-form-2-supplier_cost" placeholder="Supplier cost" type="text" />
				<input id="id_form-2-supplier_qty" name="rsr-form-2-supplier_qty" placeholder="Supplier qty" type="text" />
				<input id="id_form-2-varmory_cost" name="rsr-form-2-varmory_cost" placeholder="vArmory cost" type="text" />
				<input id="id_form-2-varmory_qty" name="rsr-form-2-varmory_qty" placeholder="vArmory qty" type="text" />
				</div>
				
			</div>
		</div>
	</div>
</form>
{% endblock body %}