{% load staticfiles %}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/html">
<head>
{% block head %} {% endblock %}
<link rel="stylesheet"
              type="text/css"
              href="{% static 'dealerexchange/css/base.css' %}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.js"></script>
    <script src="{% static 'dealerexchange/js/jquery.cookie.js' %}"></script>
    <script src="{% static 'dealerexchange/js/base.js' %}"></script>

    {% include 'session_security/all.html' %}
</head>

<body>
<div class="full-width-header-background">
    <ul id="header">
        <li class="arm"><img id="logo" src="{% static 'dealerexchange/images/dealer-exchange-beta-logo.png' %}" alt="logo" width="" height=""><em class="varm"></em></li>
        <li class="header_right">
            <ul class="header-right-ul">
                <li class="menu-dd">
                    <button class="dropdown-menu-button close-btn">

                    </button>
                    <ul class="dashboard-header-dropdown">
                        <li><a href="{% url 'settings' %}">User Settings</a></li>
                        <li><a href="http://ffldesign.com" target="_blank">FFLDesign.com</a></li>
                        <li style="display: none"><a href="">Support Desk</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </li>
                <li>{{ request.user.get_full_name }}</li>
                <li><img src="{% static 'dealerexchange/images/shot.png' %}" width="12" height="12"></li>
            </ul>

        </li>
    </ul>
</div>
<div class="top-menu-full-width">
    <ul id="top_menu">
        <li class="search"><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'store' %}">Your Store</a></li>
        <li><a href="{% url 'listing_add' %}">Add Listing</a></li>
        <li><a href="{% url 'order_list' %}">Orders</a></li>
        <li><a href="{% url 'product-search' %}">vArmory</a></li>
    </ul>
</div>

<div id="container">
{% block body %} {% endblock %}
</div>

<div class="full-width-footer">
    <ul id="footer">
        <li class="toc"><a href="http://ffldesign.com/terms-and-conditions/">Terms and Conditions</a> &middot; <a href="http://ffldesign.com/privacy-policy/">Privacy policy</a></li>
        <li class="copy">&copy; Copyright 2015 - FFL Design, LLC. All Rights Reserved.</li>
    </ul>
</div>
</body>
