{% extends 'dealerexchange/base.html' %}
{% load staticfiles %}
{% block head %}

        <title>Dealer Exchange by FFL Design</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'dealerexchange/css/dashboard.css' %}">
        <script src="{% static 'dealerexchange/js/Chart.min.js' %}"></script>
        <script src="{% static 'dealerexchange/js/dashboard.js' %}"></script>
        <script src="{% static 'dealerexchange/js/raphael-2.1.4.min.js' %}"></script>
        <script src="{% static 'dealerexchange/js/justgage-1.1.0.min.js' %}"></script>

        <!-- Start of ffldesign Zendesk Widget script -->
        <script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(c){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("https://assets.zendesk.com/embeddable_framework/main.js","ffldesign.zendesk.com");/*]]>*/</script>
        <!-- End of ffldesign Zendesk Widget script --> 

{% endblock %}

{% block body %}
    <div class="dashboard">
        <p class="ffl">Dashboard</p>
        <ul>
            <li class="orders">
                <p class="top-line">Total Orders</p>
                <p id="total-orders" class="number">{{ total_orders }}</p>
                <p class="button-line"><button class="total-orders-buttons grey period-buttons">1 day</button><button class="total-orders-buttons grey period-buttons">7 days</button><button class="total-orders-buttons grey period-buttons">1 month</button><button class="total-orders-buttons green period-buttons" data-active="true">YTD</button></p>
            </li>
            <li class="sales">
                <p class="top-line">Total Sales</p>
                <p id="total-sales" class="number">${{ total_sales_amount|floatformat:2 }}</p>
                <canvas id="sales-line" width="410" height="168" class="sales-graph"></canvas>
                <p class="button-line"><button class="total-sales-buttons grey period-buttons">1 day</button><button class="total-sales-buttons grey period-buttons">7 days</button><button class="total-sales-buttons grey period-buttons">1 month</button><button class="total-sales-buttons green period-buttons" data-active="true">YTD</button></p>
            </li>
            <li class="products">
                <p class="top-line">Total Products</p>
                <p id="product-totals" class="number">{{ product_totals.total_products }}</p>
                <div id="gauge" class="products-graph"></div>
            </li>
            <li class="top">
                <p class="top-line">Top 5 Products</p>
                <ul>
                    <li>
                        <canvas id="top-pie" width="103" height="103"></canvas>
                    </li>
                    <li>
                        {% for listing in top_five %}
                        {% if listing != None %}
                            <p class="top-five-legend"><span class="marker"></span><span class="nm">{{ listing.model|truncatechars:20 }}</span><span class="price">${{ listing.total|floatformat:2 }}</span></p>
                        {% else %}
                            <p style="display: none" class="top-five-legend"><span class="marker"></span><span class="nm"></span><span class="price"></span></p>
                        {% endif %}
                        {% endfor %}
                        <p{% if list_size == 0 %} style="display: block"{% endif %} class="no-data">There is no data for this time period.</p>
                    </li>
                </ul>
                <p class="button-line"><button class="top-five-buttons grey period-buttons">1 day</button><button class="top-five-buttons grey period-buttons">7 days</button><button class="top-five-buttons grey period-buttons">1 month</button><button class="top-five-buttons green period-buttons" data-active="true">YTD</button></p>
            </li>
            <!-- <li class="announcements">
                <p class="top-line">Announcements</p>
                {% for announcement in announcements %}
                <p class="date">{{ announcement.time|date:"F j, Y" }}</p>
                <p class="details">{{ announcement.body }}</p>
                {% endfor %}
            </li> -->
        </ul>
    </div>
    <div id="spacer"></div>
<script>
    var top_five_ytd_data = [
        {% for listing in top_five %}
        {% if listing != None %}
        {model: "{{listing.model}}", total: {{ listing.total }}}{% if forloop.counter != list_size %},{% endif %}
        {% endif %}
        {% endfor %}
    ];

    var sales_ytd_data = [
        {% for data in total_sales.data %}
            {x: "{{ data.x }}", y: {{ data.y }}}{% if not forloop.last %},{% endif %}
        {% endfor %}
    ];

    var active_percent = {{ active_percent }};
</script>
{% endblock %}