{% extends 'dealerexchange/base.html' %}{% load staticfiles %}
{#<div class="full-width-header-background">#}
{#    <ul id="header">#}
{#        <li class="arm"><img id="logo" src="{% static 'account/images/green-logo.png' %}" alt="logo"><em class="varm"></em></li>#}
{#    </ul>#}
{#</div>#}
{% block head %}
    <title>Dealer Exchange by FFL Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          type="text/css"
          href="{{ STATIC_URL }}dealerexchange/css/company-info.css"/>
    <!--<script src="{% static 'account/js/company-info.js' %}"></script>-->
    <script src="{{ STATIC_URL dealerexchange/js/get-paid.js"></script>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- Start of ffldesign Zendesk Widget script -->
    <script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(c){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("https://assets.zendesk.com/embeddable_framework/main.js","ffldesign.zendesk.com");/*]]>*/</script>
    <!-- End of ffldesign Zendesk Widget script --> 
{% endblock %}
{% block body %}
    {% if request.user.has_company and not request.user.has_bank %}
    <div class="unconfirmed">
        <p>Banking details needed.</p>
        <p>Please enter your banking info before adding your products.
    </div>
    {% endif %}
    <div class="info">
        <ul class="arrow-menu">
            <li class="shipping"><button>Shipping Information</button></li>
            <li class="get"><button>Get Paid</button></li>
            <li class="proceed"><button>Proceed</button></li>
        </ul>
        <div class="get-paid">
            <form action="." method="post" novalidate>
            {% csrf_token %}
                <p class="ffl">Enter Banking Information</p>
                <p class="ffl-small">Enter the account information where your funds will be deposited when your products are purchased.</p>
                <label>{{ form.account_type }}</label>
                <label>{{ form.owner_name }}</label>
                <div class="errors">{{ form.routing_number.errors }}</div>
                <label>{{ form.routing_number }}{{ form.bank_name }}</label>
                <label>{{ form.account_number }}</label>
                <input type="submit" class="short-input submit-btn open-store" value="Open Store">
                <a class="skip" href="{% url 'dashboard' %}">Skip for now</a>
            </form>
        </div>
    </div>
{% endblock %}
