{% extends 'dealerexchange/base.html' %}
{% load staticfiles %}
{#<div class="full-width-header-background">#}
{#    <ul id="header">#}
{#        <li class="arm"><img id="logo" src="{% static 'account/images/green-logo.png' %}" alt="logo"><em class="varm"></em></li>#}
{#    </ul>#}
{#</div>#}
{% block head %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <title>Dealer Exchange by FFL Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          type="text/css"
          href="{{ STATIC_URL }}dealerexchange/css/info.css" />
          <script src="{{ STATIC_URL }}dealerexchange/js/info.js"></script>

    <!-- Start of ffldesign Zendesk Widget script -->
    <script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(c){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("https://assets.zendesk.com/embeddable_framework/main.js","ffldesign.zendesk.com");/*]]>*/</script>
    <!-- End of ffldesign Zendesk Widget script --> 
{% endblock %}
{% block body %}
    <div id="info-shipping">
        <div class="info">
            <ul class="arrow-menu">
                <li class="shipping"><button>Shipping Information</button></li>
                <li class="get"><button>Get Paid</button></li>
                <li class="proceed"><button>Proceed</button></li>
            </ul>
        </div>
        <div class="shipping-info">
            <p class="order-details">Shipping Detail Information</p>
            <form action="" method="post" novalidate>
                {% csrf_token %}
                <div class="pages page-1">
                    <p class="top">Do you currently have regularly scheduled pickups from any of the following carriers?</p>
                    <label><input type="checkbox" name="FedEx" class="ship_option">FedEx</label>
                    <label><input type="checkbox" name="UPS" class="ship_option">UPS</label>
                    <!--<label><input type="checkbox" name="USPS" class="ship_option">USPS</label>-->
                    <label><input type="checkbox" name="none" class="ship_option">None</label>
                    <button type="button" class="next">Next</button>
                </div>
                <div class="pages page-2">
                    <p class="top">Will you drop off your package at any of the following?</p>
                    <label><input type="checkbox" name="FedEx_drop" class="ship_option">FedEx</label>
                    <label><input type="checkbox" name="UPS_drop" class="ship_option">UPS</label>
                    <!--<label><input type="checkbox" name="USPS_drop" class="ship_option">USPS</label>-->
                    <label><input type="checkbox" name="none_drop" class="ship_option">None</label>
                    <button type="button" class="next">Go Back</button><button type="button" class="next">Next</button>
                </div>
                <div class="pages page-3">
                    <p class="top"><span>Attention!</span>Orders will ship via your selected carrier.</p>
                    <button type="button" class="next">Go Back</button><button type="submit" class="next">Continue</button>
                </div>
                <div class="pages page-4">
                    <p class="top"><span>Attention!</span>You have not selected a shipping carrier.</p> 
                    A carrier will be selected for each shipment and a pick-up will be scheduled.<br/>                   
                    <p>Fees charged by the carrier for scheduled pick-up will be charged to your account.</p>                                          
                    <button type="button" class="next">Go Back</button><button type="submit" class="next">Continue</button>
                </div>
            </form>
        </div>
        <div id="spacer"></div>
    </div>
{% endblock %}
