{% extends 'dealerexchange/base.html' %}
{% load staticfiles %}

{% block head %}

        <title>Dealer Exchange by FFL Design</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'dealerexchange/css/listing_detail.css' %}">
        <script src="{% static 'dealerexchange/js/listing_detail.js' %}"></script>

        <!-- Start of ffldesign Zendesk Widget script -->
        <script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(c){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("https://assets.zendesk.com/embeddable_framework/main.js","ffldesign.zendesk.com");/*]]>*/</script>
        <!-- End of ffldesign Zendesk Widget script -->

{% endblock %}

{% block body %}
    <div class="details">
        <p class="ffl">Listing Details</p>
        <form action="" method="post" enctype="multipart/form-data">
            {{ form.errors }}
            {% csrf_token %}
            <div>
                {{ form.title.errors }}
                {{ form.title.label_tag }}{{ form.title }}<br><br>
                {{ form.listing_type.errors }}
                {{ form.listing_type.label_tag }}{{ form.listing_type }}<br><br>
                {{ form.upc.errors }}
                {{ form.upc.label_tag }}{{ form.upc }}<br><br>
                {{ form.sku.errors }}
                {{ form.sku.label_tag }}{{ form.sku }}<br><br>
                {{ form.category.errors }}
                {{ form.category.label_tag }}{{ form.category }}<br><br>
                {{ form.price.errors }}
                <label for="id_price">What we pay you:</label>{{ form.price }}<p><span id='current-price'>List Price: $<span id='list_price_value'><input id='id_list_price' type='hidden'></span></p><br><br>
                {{ form.msrp.errors }}
                {{ form.msrp.label_tag }}{{ form.msrp }}<br><br>
                {{ form.map.errors }}
                {{ form.map.label_tag }}{{ form.map }}<br><br>
                <!--{{ form.list_price.errors }}-->
                <!--{{ form.list_price.label_tag }}{{ form.list_price }}<br><br>-->
                {{ form.qty.errors }}
                {{ form.qty.label_tag }}{{ form.qty }}<br>
                {{ form.minimum_order.errors }}
                {{ form.minimum_order.label_tag }}{{ form.minimum_order }}<br><br>
                {{ form.description.errors }}
                {{ form.description.label_tag }}{{ form.description }}<br><br>
                {{ form.estimated_ship_days.errors }}
                {{ form.estimated_ship_days.label_tag }}{{ form.estimated_ship_days }}<br><br>
                {{ form.video_url.errors }}
                {{ form.video_url.label_tag }}{{ form.video_url }}<br><br>
            </div>
            <div id="ammo-fields"{% if form.listing_type.value == 'Ammo' %} style="display: block"{% endif %}>
                {{ form.rounds.errors }}
                {{ form.rounds.label_tag }}{{ form.rounds }}<br><br>
                {{ form.caliber.errors }}
                <label for="id_caliber_ammo">Caliber:</label><input id="id_caliber_ammo" maxlength="20" name="caliber" type="text"  value="{{ form.caliber.value }}"/><br><br>
                {{ form.muzzle_velocity.errors }}
                {{ form.muzzle_velocity.label_tag }}{{ form.muzzle_velocity }}<br><br>
                {{ form.weight.errors }}
                {{ form.weight.label_tag }}{{ form.weight }}<br><br>
                {{ form.length.errors }}
                {{ form.length.label_tag }}{{ form.length }}<br><br>
                {{ form.ammo_type.errors }}
                {{ form.ammo_type.label_tag }}{{ form.ammo_type }}<br><br>
            </div>

            <div id="firearm-fields"{% if form.listing_type.value == 'Firearm' %} style="display: block"{% endif %}>
                {{ form.caliber.errors }}
                <label for="id_caliber_firearm">Caliber:</label><input id="id_caliber_firearm" maxlength="20" name="caliber" type="text"  value="{{ form.caliber.value }}"/><br><br>
                {{ form.capacity.errors }}
                {{ form.capacity.label_tag }}{{ form.capacity }}<br><br>
                {{ form.weight_pounds.errors }}
                {{ form.weight_pounds.label_tag }}{{ form.weight_pounds }}<br><br>
                {{ form.weight_ounces.errors }}
                {{ form.weight_ounces.label_tag }}{{ form.weight_ounces }}<br><br>
                {{ form.barrel_length.errors }}
                {{ form.barrel_length.label_tag }}{{ form.barrel_length }}<br><br>
                {{ form.overall_length.errors }}
                {{ form.overall_length.label_tag }}{{ form.overall_length }}<br><br>
                {{ form.finish.errors }}
                {{ form.finish.label_tag }}{{ form.finish }}<br><br>
            </div>

            <div id="optics-fields"{% if form.listing_type.value == 'Optics' %} style="display: block"{% endif %}>
                {{ form.magnification.errors }}
                {{ form.magnification.label_tag }}{{ form.magnification }}<br><br>
                {{ form.field_of_view.errors }}
                {{ form.field_of_view.label_tag }}{{ form.field_of_view }}<br><br>
                {{ form.reticle.errors }}
                {{ form.reticle.label_tag }}{{ form.reticle }}<br><br>
                {{ form.objective_lens.errors }}
                {{ form.objective_lens.label_tag }}{{ form.objective_lens }}<br><br>
                {{ form.eye_relief.errors }}
                {{ form.eye_relief.label_tag }}{{ form.eye_relief }}<br><br>
                {{ form.max_elevation_adjustment.errors }}
                {{ form.max_elevation_adjustment.label_tag }}{{ form.max_elevation_adjustment }}<br><br>
                {{ form.max_windage_adjustment.errors }}
                {{ form.max_windage_adjustment.label_tag }}{{ form.max_windage_adjustment }}<br><br>
                {{ form.weight.errors }}
                <label for="id_weight_optics">Weight:</label><input id="id_weight_optics" maxlength="55" name="weight" type="text"  value="{{ form.weight.value }}"/><br><br>
                {{ form.length.errors }}
                <label for="id_length_optics">Length:</label><input id="id_length_optics" maxlength="255" name="length" type="text"  value="{{ form.length.value }}"/><br><br>
                {{ form.battery.errors }}
                {{ form.battery.label_tag }}{{ form.battery }}<br><br>
                {{ form.dot_size.errors }}
                {{ form.dot_size.label_tag }}{{ form.dot_size }}<br><br>
            </div>

            <div id="apparel-fields"{% if form.listing_type.value == 'Apparel' %} style="display: block"{% endif %}>
                {{ form.shirt_size.errors }}
                {{ form.shirt_size.label_tag }}{{ form.shirt_size }}<br><br>
                {{ form.shirt_color.errors }}
                {{ form.shirt_color.label_tag }}{{ form.shirt_color }}<br><br>
            </div>

            <div id="blade-fields"{% if form.listing_type.value == 'Blades' %} style="display: block"{% endif %}>
                {{ form.blade_type.errors }}
                {{ form.blade_type.label_tag }}{{ form.blade_type }}<br><br>
                {{ form.blade_length.errors }}
                {{ form.blade_length.label_tag }}{{ form.blade_length }}<br><br>
                {{ form.blade_total_length.errors }}
                {{ form.blade_total_length.label_tag }}{{ form.blade_total_length }}<br><br>
                {{ form.blade_steel.errors }}
                {{ form.blade_steel.label_tag }}{{ form.blade_steel }}<br><br>
                {{ form.blade_handle_material.errors }}
                {{ form.blade_handle_material.label_tag }}{{ form.blade_handle_material }}<br><br>
                {{ form.weight.errors }}
                <label for="id_weight_blade">Weight:</label><input id="id_weight_blade" maxlength="55" name="weight" type="text"  value="{{ form.weight.value }}"/><br><br>
                {{ form.blade_edge.errors }}
                {{ form.blade_edge.label_tag }}{{ form.blade_edge }}<br><br>
            </div>
            {{ form.shipping_zip_code.errors }}
            {{ form.shipping_zip_code.label_tag }}{{ form.shipping_zip_code }}<br><br>
            {{ form.shipping_weight.errors }}
            {{ form.shipping_weight.label_tag }}{{ form.shipping_weight }}<br><br>
            {{ form.shipping_length.errors }}
            {{ form.shipping_length.label_tag }}{{ form.shipping_length }}<br><br>
            {{ form.shipping_width.errors }}
            {{ form.shipping_width.label_tag }}{{ form.shipping_width }}<br><br>
            {{ form.shipping_height.errors }}
            {{ form.shipping_height.label_tag }}{{ form.shipping_height }}<br><br>
            {{ form.tags.label_tag }}{{ form.tags }}<span class="desc left">10 left</span><br><br>
            <p class="tags-wrapper">must separate each tag by a comma</p><br>
            <p id="tag-list"></p>
            <br><br>
            <!--{{ photo_form.as_p }}-->
            <!--{{ photo_form.management_form }}-->
            <!--<img src="media/{{photo.image}}" alt="">-->
            <label>Listing Photos</label><br><br>
            <div class="photos">
                <div>
                    <select id="photo-option-selector">
                        <option value="extra">-----------Add new photo----------</option>
                    {% for photo in photos %}
                        <option value="{{forloop.counter0}}" {% if photo.primary %}selected{% endif %}>Photo {{forloop.counter}}: ...{{photo.image.name|slice:"-15:"}}</option>
                    {% endfor %}
                    </select>
                    {% for photo in photos %}
                    <p id="photo-primary-{{forloop.counter0}}" class="photo-primary {% if not photo.primary %}hidden{% endif %}"><input class="photo-primary-button" {% if photo.primary %}checked="checked"{% endif %} type="radio" name="photo_primary" value="{{photo.id}}"> Primary</p>
                    {% endfor %}
                    <p id="photo-primary-extra" class="photo-primary hidden"><input class="photo-primary-button" type="radio" name="photo_primary" value="0"> Primary</p>
                    <br>
                    {{ form.photo_primary.errors }}
                </div>
                <div>
                    {% for photo in photos %}
                    <div id="photo-option-{{forloop.counter0}}" class="photo-option {% if not photo.primary %}hidden{% endif %}">
                        <div class="photo-img">
                        <img id="photo_{{photo.id}}" height="130px" width="206px" src="/media/{{photo.image}}">
                        </div>
                        <ul class='photo-options'>
                            <li>
                                <input class='change-photo' type="file" name='photo_{{photo.id}}'>
                            </li>
                            <li>
                                <label for="photo_{{photo.id}}_delete"><input type="checkbox" name="photo_{{photo.id}}_delete"> Delete</label>
                            </li>
                        </ul>
                    </div>
                {% endfor %}
                    <div id="photo-option-extra" class="photo-option hidden">
                        <div class="photo-img">
                        <img id="photo_extra" height="37px" width="43px" src="{% static 'listing/images/add-photo.png' %}">
                        </div>
                        <ul class='photo-options'>
                            <li>
                                <input class='change-photo' type="file" name='photo_extra'>
                            </li>
                            <li><input id="clear-photo" type="button" value="Clear"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <input class="submit-btn" type="submit" value="Update" />
        </form>
    </div>
{% endblock %}
