{% extends 'dealerexchange/base.html' %}
{% load staticfiles %}
{% block head %}

    <title>Dealer Exchange by FFL Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'dealerexchange/css/listing.css' %}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static 'dealerexchange/js/listing.js' %}"></script>
    <!-- Start of ffldesign Zendesk Widget script -->
    <script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(c){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("https://assets.zendesk.com/embeddable_framework/main.js","ffldesign.zendesk.com");/*]]>*/</script>
    <!-- End of ffldesign Zendesk Widget script --> 

{% endblock %}
{% block body %}
    <div class="listing">
        <p class="ffl">Add a new listing</p>
        <form action="{% url 'listing_add' %}" method="post" enctype="multipart/form-data" class="listing-form">
            <div class="errors">{{ form.shipping_weight.errors }}</div>
            {% csrf_token %}
            <div class="photos">
                <p class="ffl-small">Photos</p>
                <p class="desc" id="photos-desc">Must add at least one photo.</p>
                <ul>
                    <li id="photo_0">
                        <div id="input_photo_0">
                            <img src="{% static 'dealerexchange/images/add-photo.png' %}" class="add-photo">
                            <p><button type="button" class="active-button">Add Photo</button></p>
                            {{ form.img_0 }}
                        </div>
                        <div id="display_photo_0" class="hidden">
                            <img src="" width="143" height="105" id="img_view_0" class="item-image">
                            <label class="default-img">Set default:<input type="radio" name="default_image" value="0" checked></label>
                            <a href="#wrapper-popup" class="magnify-a"><button type="button" class="remove-zoom active-button magnify"><img src="{% static 'dealerexchange/images/zoom.png' %}" width="18" height="18"></button></a><button type="button" class="remove-zoom active-button delete_photo"><img src="{% static 'dealerexchange/images/remove.png' %}"></button>
                        </div>
                    </li>
                    <li id="photo_1">
                        <div id="input_photo_1">
                            <img src="{% static 'dealerexchange/images/add-photo.png' %}" class="add-photo">
                            <p><button type="button" class="active-button">Add Photo</button></p>
                            {{ form.img_1 }}
                        </div>
                        <div id="display_photo_1" class="hidden">
                            <img src="" width="143" height="105" id="img_view_1" class="item-image">
                            <label class="default-img">Set default:<input type="radio" name="default_image" value="1"></label>
                            <button type="button" class="remove-zoom active-button magnify"><img src="{% static 'dealerexchange/images/zoom.png' %}" width="18" height="18"></button><button type="button" class="remove-zoom active-button delete_photo"><img src="{% static 'dealerexchange/images/remove.png' %}"></button>
                        </div>
                    </li>
                    <li id="photo_2">
                        <div id="input_photo_2">
                            <img src="{% static 'dealerexchange/images/add-photo.png' %}" class="add-photo">
                            <p><button type="button" class="active-button">Add Photo</button></p>
                            {{ form.img_2 }}
                        </div>
                        <div id="display_photo_2" class="hidden">
                            <img src="" width="143" height="105" id="img_view_2" class="item-image">
                            <label class="default-img">Set default:<input type="radio" name="default_image" value="2"></label>
                            <button type="button" class="remove-zoom active-button magnify"><img src="{% static 'dealerexchange/images/zoom.png' %}" width="18" height="18"></button><button type="button" class="remove-zoom active-button delete_photo"><img src="{% static 'dealerexchange/images/remove.png' %}"></button>
                        </div>
                    </li>
                    <li id="photo_3">
                        <div id="input_photo_3">
                            <img src="{% static 'dealerexchange/images/add-photo.png' %}" class="add-photo">
                            <p><button type="button" class="active-button">Add Photo</button></p>
                            {{ form.img_3 }}
                        </div>
                        <div id="display_photo_3" class="hidden">
                            <img src="" width="143" height="105" id="img_view_3" class="item-image">
                            <label class="default-img">Set default:<input type="radio" name="default_image" value="3"></label>
                            <button type="button" class="remove-zoom active-button magnify"><img src="{% static 'dealerexchange/images/zoom.png' %}" width="18" height="18"></button><button type="button" class="remove-zoom active-button delete_photo"><img src="{% static 'dealerexchange/images/remove.png' %}"></button>
                        </div>
                    </li>
                    <li id="photo_4">
                        <div id="input_photo_4">
                            <img src="{% static 'dealerexchange/images/add-photo.png' %}" class="add-photo">
                            <p><button type="button" class="active-button">Add Photo</button></p>
                            {{ form.img_4 }}
                        </div>
                        <div id="display_photo_4" class="hidden">
                            <img src="" width="143" height="105" id="img_view_4" class="item-image">
                            <label class="default-img">Set default:<input type="radio" name="default_image" value="4"></label>
                            <button type="button" class="remove-zoom active-button magnify"><img src="{% static 'dealerexchange/images/zoom.png' %}" width="18" height="18"></button><button type="button" class="remove-zoom active-button delete_photo"><img src="{% static 'dealerexchange/images/remove.png' %}"></button>
                        </div>
                    </li>
                    <li class="desc">
                        For best results, use high quality jpeg or gif files that are at least 570 px wide.
                    </li>
                </ul>
            </div>
            <div class="condition">
                <p class="ffl-small">Select Item Condition</p>
                <label for=""><input id="" name="listing_condition" value="New" type="radio" checked class="condition-new">New</label>
                <label for=""><input id="" name="listing_condition" value="Used" type="radio" class="condition-used">Used</label>
                <label><select name='condition_detail' class="item-state">
                    <option>Choose Condition</option>
                    <option>Like New</option>
                    <option>Very Good</option>
                    <option>Good</option>
                    <option>Acceptable</option>
                    <option>Refurbished</option>
                </select></label>
            </div>
            <div class="select-type" data-toggle="{{ toggle_type }}">
                <p class="ffl-small">Select Category</p>
                {% for radio in form.listing_type %}
                    {{ radio }}
                {% endfor %}
            </div>
            <div class="details">
                <p class="ffl-small">Listing Details</p>
                <p><label for="id_model">Title<span>&#42;</span></label>{{ form.model }}<span class="desc">Describe your item using words and phrases people would use in a search.</span>
                   <span class="title-error"></span>
                </p>
                <p><label for="id_upc">UPC</label>{{ form.upc }}</p>
                <p><label for="id_sku">SKU</label><input type="text" name="sku" id="id_sku" class="upc"></p>
                <p><label for="id_category">Category<span>&#42;</span></label>
                    {{form.listing_category}}
                </p>
                <p>
                    <label for="id_price">What we pay you:<span>&#42;</span></label>{{ form.price }}
                    <span class="list_price_text">List Price: $
                        <span id="list_price_value"></span><span class="question">?</span>{{ form.list_price }}</span>
                    <!--<span class="list_price_desc">The "List Price" is automatically calculated with Dealer Direct seller fees. This price is what the dealer will see.
                        The "Cost" field is the amount you will be paid.</span>-->
                </p>
                <p><label for="id_msrp">MSRP<span>&#42;</span></label>{{ form.msrp }}</p>
                <p><label for="id_map">MAP</label>{{ form.map }}</p>
                <p><label for="id_quantity">Quantity<span>&#42;</span></label>{{ form.quantity }}</p>
                <p><label for="id_minimum_order">Minimum Order<span>&#42;</span></label>{{ form.minimum_order }}</p>
                {{ form.description.errors }}
                <p><label for="id_description" class="textarea-label">Description<span>&#42;</span></label>{{ form.description }}</p>
                <p><label for="id_weight_pounds">Weight<span>&#42;</span></label>{{ form.weight_pounds }}<label for="id_weight_ounces" class="weight-label"></label>{{ form.weight_ounces }}</p>
                <p><label for="id_estimated_ship_days">Days to ship:<span>&#42;</span></label>{{ form.estimated_ship_days }}</p>
                <!-- <p><label for="id_video_url">YouTube Url:</label>{{ form.video_url }}<span class="desc">Enter a full YouTube web address to attach a video featuring this product</span></p> -->
                {% for field in form.hidden_fields %}
                    {{ field }}
                {% endfor %}
            </div>
            <div class="details ammo type-ammo">
                <p class="ffl-small">Ammo Details</p>
                <p><label for="id_rounds">Rounds per box</label>{{ form.rounds }}</p>
                <p><label for="id_caliber_ammo">Caliber/Gauge</label>{{ form.caliber_ammo }}</p>
                <!-- <p><label for="id_weight_pounds">Weight<span>&#42;</span></label>{{ form.weight_pounds }}<label for="id_weight_ounces" class="weight-label"></label>{{ form.weight_ounces }}</p> -->
                <p><label for="id_muzzle_velocity">Muzzle Velocity</label>{{ form.muzzle_velocity }}</p>
                <p><label for="id_ammo_type">Type</label>{{ form.ammo_type }}</p>
                <p><label for="id_overall_length_ammo">Overall Length<span>&#42;</span></label>{{ form.overall_length_ammo }}</p>
            </div>
            <div class="details ammo type-firearm">
                <p class="ffl-small">Firearm Details</p>
                <p><label for="id_caliber_firearm">Caliber<span>&#42;</span></label>{{ form.caliber_firearm }}</p>
                <p><label for="id_capacity">Capacity<span>&#42;</span></label>{{ form.capacity }}</p>
                <p><label for="id_length_barrel">Barrel Length<span>&#42;</span></label>{{ form.length_barrel }}</p>
                <p><label for="id_overall_length_firearm">Overall Length<span>&#42;</span></label>{{ form.overall_length_firearm }}</p>
                <p><label for="id_finish">Finish<span>&#42;</span></label>{{ form.finish }}</p>
            </div>
            <div class="details optics type-optics">
                <p class="ffl-small">Optics Details</p>
                <p><label for="id_magnification">Magnification</label>{{ form.magnification }}</p>
                <p><label for="id_field_of_view">Field of View</label>{{ form.field_of_view }}</p>
                <p><label for="id_reticle">Reticle</label>{{ form.reticle }}</p>
                <p><label for="id_objective_lens">Objective Lens</label>{{ form.objective_lens }}</p>
                <p><label for="id_eye_relief">Eye Relief</label>{{ form.eye_relief }}</p>
                <p><label for="id_max_elevation_adjustment">Max Elevation Adjustment</label>{{ form.max_elevation_adjustment }}</p>
                <p><label for="id_max_windage_adjustment">Max Windage<br/>Adjustment</label>{{ form.max_windage_adjustment }}</p>
                <p><label for="id_overall_length_optics">Length</label>{{ form.overall_length_optics}}</p>
                <p><label for="id_battery">Battery</label>{{ form.battery }}</p>
                <p><label for="id_dot_size">DOT Size</label>{{ form.dot_size }}</p>
                <p><label for="id_finish_optics">Finish</label>{{ form.finish_optics }}</p>
            </div>
            <div class="details type-blades">
                <p class="ffl-small">Blade Details</p>
                <p><label for="id_blade_type">Blade Type</label>{{ form.blade_type }}</p>
                <p><label for="id_blade_length">Blade Length</label>{{ form.blade_length }}</p>
                <p><label for="id_blade_total_length">Total Length</label>{{ form.blade_total_length }}</p>
                <p><label for="id_blade_steel">Steel</label>{{ form.blade_steel }}</p>
                <p><label for="id_blade_handle_material">Handle Material</label>{{ form.blade_handle_material }}</p>

                <p><label for="id_blade_edge">Edge Type</label>{{ form.blade_edge }}</p>
            </div>
            <div class="details apparel type-apparel">
                <p class="ffl-small">Apparel Details</p>
                <p><label for="id_shirt_size">Size</label>
                    {{ form.shirt_size }}
                </p>
                <p><label for="id_shirt_color">Color</label>{{ form.shirt_color }}</p>
            </div>

            <div class="search">
                <p class="ffl-small">Search Terms</p>
                <p class="desc">Help dealers find this product by using accurate and descriptive words or phrases.</p>
                <ul class="search-ul">
                    <li>
                        <span class="tags"><label for="id_tags">Tags</label></span>
                        <span class="desc">Optional</span>
                    </li>
                    <li> 
                    <label>{{form.tags}}<span class="desc left">10 left</span></label>
                        <p class="tags-wrapper">must separate each tag by a comma</p>
                        <p id="tag-list"></p>
                    </li>
                    <li>
                        <span class="desc">
                            We highly recommend using all 10 tags for<br />your listing to get
                            found. Use words you think<br />dealers would use to search for this product.
                        </span>
                    </li>
                </ul>
            </div>
            <div class="errors">{{ form.shipping_zip_code.errors }}{{ form.shipping_weight.errors }}</div>
            <div class=" details shipping">
                <p class="ffl-small">Shipping</p>
                <p class="desc">For realistic shipping expectations, please provide accurate product shipping information below.</p>                
                {% comment %}
                <p class="zip"><label for="">Zip Code</label><input name="" type="text" placeholder="Your shipping zip code"></p>
                <p class="shipping-weight"><label for="">Weight</label><input name="" type="text"><label for=""></label><input name="" type="text"></p>
                <p class="dimensions"><label for="">Dimensions</label><input name="" type="text"><label for=""></label><input name="" type="text"><label for=""></label><input name="" type="text"></p>
                {% endcomment %}
                <p class="zip">
                    <label for="id_shipping_zip_code">Zip Code</label>
                    <input class = "req" name="shipping_zip_code" id="shipping_zip_code" type="text" value={% if request.user.userprofile.premise_zip_code %}{{ request.user.userprofile.premise_zip_code }}{% else %}'Zip Code'{% endif %}>
                </p>
                <p class="shipping-weight">
                    <label for="id_shipping_weight">Weight</label>
                    {{form.shipping_weight}}
                </p>
                <p class="dimensions">
                    <label for="">Dimensions</label>
                    {{form.shipping_length}}
                    <label for=""></label>
                    {{form.shipping_width}}
                    <label for=""></label>
                    {{form.shipping_height}}
                    <span>The width and height value cannot exceed the length.</span>
                </p>
            </div>
            <button class="submit-btn active-button continue-btn">Submit Listing</button>
        </form>
        <div class="wrapper">
            <div class="">
                <button class="active-button">Close</button>
                <img src="{% static 'dealerexchange/images/example-img.png' %}">
            </div>
        </div>
        <div class="processing" id="processing-gif" style="opacity: 0.5">
            <style type='text/css'>@-webkit-keyframes uil-default-anim { 0% { opacity: 1} 100% {opacity: 0} }@keyframes uil-default-anim { 0% { opacity: 1} 100% {opacity: 0} }.uil-default-css > div:nth-of-type(1){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.5s;animation-delay: -0.5s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(2){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.4166666666666667s;animation-delay: -0.4166666666666667s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(3){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.33333333333333337s;animation-delay: -0.33333333333333337s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(4){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.25s;animation-delay: -0.25s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(5){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.16666666666666669s;animation-delay: -0.16666666666666669s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(6){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.08333333333333331s;animation-delay: -0.08333333333333331s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(7){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0s;animation-delay: 0s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(8){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.08333333333333337s;animation-delay: 0.08333333333333337s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(9){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.16666666666666663s;animation-delay: 0.16666666666666663s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(10){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.25s;animation-delay: 0.25s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(11){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.33333333333333337s;animation-delay: 0.33333333333333337s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(12){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.41666666666666663s;animation-delay: 0.41666666666666663s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}</style><div class='uil-default-css' style='transform:scale(1);'><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(0deg) translate(0,-60px);transform:rotate(0deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(30deg) translate(0,-60px);transform:rotate(30deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(60deg) translate(0,-60px);transform:rotate(60deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(90deg) translate(0,-60px);transform:rotate(90deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(120deg) translate(0,-60px);transform:rotate(120deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(150deg) translate(0,-60px);transform:rotate(150deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(180deg) translate(0,-60px);transform:rotate(180deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(210deg) translate(0,-60px);transform:rotate(210deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(240deg) translate(0,-60px);transform:rotate(240deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(270deg) translate(0,-60px);transform:rotate(270deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(300deg) translate(0,-60px);transform:rotate(300deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(330deg) translate(0,-60px);transform:rotate(330deg) translate(0,-60px);border-radius:10px;position:absolute;'></div></div>
            <p>Processing...Please Wait</p>
        </div>
    </div>

    <div id="spacer"></div>
{% endblock %}
