{% extends 'dealerexchange/base.html' %}
{% load staticfiles %}
{% block head %}

        <title>Dealer Exchange by FFL Design</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'dealerexchange/css/order.css' %}">

        <!-- Start of ffldesign Zendesk Widget script -->
        <script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(c){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("https://assets.zendesk.com/embeddable_framework/main.js","ffldesign.zendesk.com");/*]]>*/</script>
        <!-- End of ffldesign Zendesk Widget script --> 

{% endblock %}

{% block body %}
    <ul id="top_col">
        <li id="top_col_second_li">
            <p class="order_details">Order Details</p>
            <ul>
                <li>
                    <div class="customer_info">
                        <p class="top_p">Order Information</p>
                        <p class="first_p"><span>Order Number:</span>{{ order_details.order_number_c }}</p>
                        <p><span>Order Date:</span>{{ order_details.date|date:'m/d/Y' }}</p>
                        <p><span>Company Name:</span>{{ order_details.manufacturer }}</p>
                        <p><span>FFL Number:</span>{{ request.user.userprofile.ffl_number }}</p>
                    </div>
                    <div class="shipping_info">
                        <p class="top_p">Shipping Information</p>
                        <ul>
                            <li>
                                <p class="first_p"><span>Carrier:</span>FedEx</p>
                                <p><span>Carrier Type:</span>Ground</p>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="attachments">
                    <p class="top_p">Order Documents</p>
                   <ul>
                       <li><button class="doc-btn">Shipping Instructions</button></li>
                       <li><button class="doc-btn">Shipping Label</button></li>
                       <li><button class="doc-btn">Order details</button></li>
                       <li><a target="_blank" href="{{ ffl_url }}"><button class="doc-btn">FFL</button></a></li>
                       <li><button class="doc-btn">Packing Slip</button></li>
                       <li class="button-li"><button class="schedule print">Print All Documents</button></li>
                   </ul>
                </li>
            </ul>
        </li>
    </ul>
    <div id="item_details">
        <p class="top_p">Items Ordered</p>
        <ul class="item_labels f4">
            <li>Product Name</li>
            <li>UPC</li>
            <li>QTY</li>
            <li>Unit Price</li>
            <li>Total</li>
        </ul>
        {% for item in order_details.purchasehistory_set.all %}
        <ul class="f4">
            <li>{{ item.model }}</li>
            <li>{{ item.upc }}</li>
            <li>{{ item.qty }}</li>
            <li>${{ item.unit_price }}</li>
            <li>${{ item.total_price }}</li>
        </ul>
        {% endfor %}
    </div>
    <div id="order_total">
        <p class="top_p">Order Total</p>
        <p class="first_p"><span>Total:</span>${{ order_details.transaction_amount }}</p>
    </div>
    <div id="spacer"></div>
{% endblock %}
