{% extends 'dealerexchange/base.html' %}
{% load staticfiles %}
{% block head %}

    <title>Dealer Exchange by FFL Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'dealerexchange/css/ship.css' %}">

    <!-- Start of ffldesign Zendesk Widget script -->
    <script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(c){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("https://assets.zendesk.com/embeddable_framework/main.js","ffldesign.zendesk.com");/*]]>*/</script>
    <!-- End of ffldesign Zendesk Widget script --> 

{% endblock %}

{% block body %}
    <ul id="top_col">
        <li>
            <p class="order_details">Orders</p>
            <ul id="inventory">
                <li>
                    <ul id="product_name">
                        <li>Order Date</li>
                        <li>Order Number</li>
                        <li>Order Total</li>
                        <li>Shipping Status</li>
                    </ul>
                </li>
                <li>
                    {% for order in order_list %}
                    <ul class="items item_1">

                        <li>{{ order.date|date:'m/d/Y' }}</li>
                        <li class="order-no"><a href="{% url 'order_detail' order.id %}">{{ order.order_number_c }}</a></li>
                        <li>${{ order.transaction_amount }}</li>
                        <li class="shipped">Shipped</li>

                    </ul>
                    {% endfor %}
                </li>
            </ul>
        </li>
    </ul>
    <div id="spacer"></div>
{% endblock %}
