<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Dealer Exchange by FFL Design</title>
    <link href="{{ STATIC_URL }}dealerexchange/css/start.css" rel="stylesheet">
</head>

<body>
<div class="full-width-header-background">
    <ul id="header">
        <li class="arm"><img id="logo" src="{{ STATIC_URL }}dealerexchange/images/dealer-exchange-beta-logo.png" alt="logo" width="" height=""><em class="varm"></em></li>
    </ul>
</div>

<div id="start">
    <h1>Welcome to Dealer Exchange!</h1>
    <p class="desc">Sell your excess inventory, low inventory or hard to find inventory to other FFL Holders, at no cost to you.</p>
    <div class="promo">
        <img src="{{ STATIC_URL }}dealerexchange/images/video-placeholder.png">
    </div>
    <h2>How it works:</h2>
    <p class="points">
        1) Set up your Dealer Exchange account and start listing your products to become searchable on vArmory.
    </p>
    <p class="points">
        2) Dealers viewing your inventory aren't able to see who the listing dealer is until the point of sale happens
    for the transaction.
    </p>
    <p class="points">
        3) When a dealer purchases your product, FFL Design will handle all the logistics of the order including payment,
    shipping labels, invoices and packing slips.
    </p>
        <a href="/dealerexchange/shipping"><button class="get-started">Get Started</button></a>

</div>
</body>
<div class="full-width-footer">
    <ul id="footer">
        <li class="toc"><a href="http://ffldesign.com/terms-and-conditions/">Terms and Conditions</a> &middot; <a href="http://ffldesign.com/privacy-policy/">Privacy policy</a></li>
        <li class="copy">&copy; Copyright 2015 - FFL Design, LLC. All Rights Reserved.</li>
    </ul>
</div>
</html>
