{% extends 'dealerexchange/base.html' %}
{% load staticfiles %}

{% block head %}

        <title>Dealer Exchange by FFL Design</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'dealerexchange/css/store.css' %}">
        <script src="{% static 'dealerexchange/js/store.js' %}"></script>

        <!-- Start of ffldesign Zendesk Widget script -->
        <script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(c){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("https://assets.zendesk.com/embeddable_framework/main.js","ffldesign.zendesk.com");/*]]>*/</script>
        <!-- End of ffldesign Zendesk Widget script --> 

{% endblock %}

{% block body %}

    <div class="store">
        <p class="ffl">Your Store Listings</p>
        <p class="desc">Add as many listings as you can! The more listings you have, the more likely you'll be found!</p>
        <ul class="listings">
            <li class="add-item">
                <button type="button" class="active-button add-listing-btn"><span>+</span><br />Add a listing</button>
                <div></div>
            </li>
            {% if listings|length != 0 %}
                {% for listing in listings %}
                        <li class="item">

                            <a href="{% url "listing_detail" listing.pk %}">
                                <img src="{{ listing.get_de_image }}" width="257" height="181" class="item-img" >
                                <span class="edit-icon"></span>

                            </a>
                            <div>
                                <p><span class="nm">{{ listing.upc.model }}</span><span class="stock">In-Stock:<span>{{ listing.quantity }}</span></span></p>
                                <p><span class="price">${{ listing.price }}</span><span class="sold">Sold:<span>{{ listing.qty_sold }}</span></span></p>
                            </div>
                            <span>
                                <a href="{% url "copy" listing.pk %}"><button class="active-button">Copy</button></a>
                                <button class="active-button delete-button" data-pk="{{ listing.pk }}" data-title="{{ listing.upc.model }}">Delete</button>
                                <button class="active-button deactivate-button" data-is-active={{ listing.is_active }} data-pk="{{ listing.pk }}" data-title="{{ listing.upc.model }}">
                                    {% if listing.is_active %}Deactivate{% else %}Activate{% endif %}
                                </button><img src="{% static 'dealerexchange/images/loading-de.gif' %}" width="30px" height="30px" class="active-loading">
                            </span>
                        </li>
                {% endfor %}
        {% endif %}
        </ul>
        <div class="first-listing-popup" id="first-ppp">
            <p class="congs">Congratulations on your first listing!</p>
            <p>Now, upload your logo to help your business stand out to Dealers searching for your product!</p>
            <label><input type="file"></label>
            <button id="save_logo">Save</button>
            <p>not ready to upload it now? Do it later by visiting the <a href="/account/settings">User Settings</a> page in your Dealer Direct Account.</p>
            <button>Add another listing</button>
        </div>
    </div>
    <div id="spacer"></div>
    <div id="wrapper-delete-popup">
        <div id="delete-popup">
            <p class="last"></p>
            <p class="error"></p>
            <button class="confirm continue-btn">Confirm</button>
            <button class="cancel">Cancel</button>
            <div class="processing" id="processing-gif" style="opacity: 0.5">
                <style type='text/css'>@-webkit-keyframes uil-default-anim { 0% { opacity: 1} 100% {opacity: 0} }@keyframes uil-default-anim { 0% { opacity: 1} 100% {opacity: 0} }.uil-default-css > div:nth-of-type(1){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.5s;animation-delay: -0.5s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(2){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.4166666666666667s;animation-delay: -0.4166666666666667s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(3){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.33333333333333337s;animation-delay: -0.33333333333333337s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(4){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.25s;animation-delay: -0.25s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(5){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.16666666666666669s;animation-delay: -0.16666666666666669s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(6){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.08333333333333331s;animation-delay: -0.08333333333333331s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(7){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0s;animation-delay: 0s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(8){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.08333333333333337s;animation-delay: 0.08333333333333337s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(9){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.16666666666666663s;animation-delay: 0.16666666666666663s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(10){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.25s;animation-delay: 0.25s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(11){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.33333333333333337s;animation-delay: 0.33333333333333337s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(12){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.41666666666666663s;animation-delay: 0.41666666666666663s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}</style><div class='uil-default-css' style='transform:scale(1);'><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(0deg) translate(0,-60px);transform:rotate(0deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(30deg) translate(0,-60px);transform:rotate(30deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(60deg) translate(0,-60px);transform:rotate(60deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(90deg) translate(0,-60px);transform:rotate(90deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(120deg) translate(0,-60px);transform:rotate(120deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(150deg) translate(0,-60px);transform:rotate(150deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(180deg) translate(0,-60px);transform:rotate(180deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(210deg) translate(0,-60px);transform:rotate(210deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(240deg) translate(0,-60px);transform:rotate(240deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(270deg) translate(0,-60px);transform:rotate(270deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(300deg) translate(0,-60px);transform:rotate(300deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(330deg) translate(0,-60px);transform:rotate(330deg) translate(0,-60px);border-radius:10px;position:absolute;'></div></div>
                <p>Processing...Please Wait</p>
            </div>
        </div>
    </div>
        <!--<a href="#first-ppp" class="tt-btn" style="color: #1076bc">test button</a>-->

    {% if listing_added %}
<div id="wrapper">
    <div id="processing">
        <div id="listing-preview">
            <img src="{% static 'listing/images/varmory-preview.jpg' %}">
        </div>
        <p class="first_p">Your listing was a success!</p>
        <p class="last">Congratulations on adding your product. We will notify you<br />when your listing is approved.</p>
        <a href="{% url 'listing_add' %}"><button>Add another listing</button></a><button class="close-popup">Close</button>
        <p class="see-listing">Want to see what a listing looks like? <a href="#listing-preview" class="see">Click Here</a></p>
    </div>
</div>
    {% endif %}
{% endblock %}

