/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126 License: none (public domain)*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    /* border: 0; */
    font-size: 99%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
    min-width: 1155px;
}

/*Header starts here*/


.full-width-header-background {
    border: thin #0b0b79 solid;
    width: auto;
    height: 80px;
    background-color: #0b0b79;
}

.top-menu-full-width {
    /* border: thin #050450 solid; */
    width: auto;
    height: 55px;
    background-color: #050450;
}

.full-width-header-background ul, .top-menu-full-width ul {
    margin: 0 auto 0 auto;
    /* display: none; */
}

#container {
    width: 1155px;
    margin: 0 auto 0 auto;
    /* overflow: hidden; */
    position: relative;
}

#header {
    border: thin #0b0b79 solid;
    background-color: #0b0b79;
    color: #FFFFFF;
    min-width: 800px;
    width: 1150px;}

#logo {
    cursor: pointer;
}

#header .arm .varm {
    display: block;
    width: 220px;
    margin: -55px 0 0 90px;

}

#header .arm {
    font-family: league_gothicregular, sans-serif;
    font-size: 40px;
    background: #0b0b79;
}


#top_menu {
    width: 1155px;
    min-width: 800px;
    height: 55px;
    background-color: #050450;
    font-family: droid_sansregular, sans-serif;
    font-size: 15px;
    /* position: absolute; */
    /* top: 72px; */
}

#top_menu li {
    float: left;
    height: 35px;
    margin: 11px 10px 0 0;
    display: block;
    /* background-color: #C0C0C0; */
    padding: 0 10px;
    line-height: 35px;
    font-size: 14px;
}

#top_menu a {
    color: #fff;
}

#top_menu .search {
    margin-left: 30px;
}

#top_menu .pro {
    background-color: #FFFFFF;
}

/* Content styles starts here*/

#start {
    min-height: calc(100vh - 150px);
    font-family: Arial, sans-serif;
    width: 700px;
    margin: auto;
    font-size: 14px;
}

#start .desc {
    width: 661px;
    margin: auto;
    color: #5e5e5e;
}

#start h1 {
    font-size: 35px;
    display: block;
    text-align: center;
    margin: 53px auto 28px auto;
    color: #050450;
}

#start .promo{
    margin: 16px auto 16px auto;
    width: 661px;
    color: #5e5e5e;
}

#start h2 {
    width: 180px;
    font-size: 30px;
    color: #050450;
    margin: 0 0 25px 32px;
}

#start .points{
    font-size: 15px;
    width: 626px;
    line-height: 1.4;
    color: #696969;
    margin: 0 0 23px 32px;
}

#start .get-started {
    border: thin #050450 solid;
    width: 480px;
    height: 96px;
    display: block;
    border-radius: 8px;
    background: #050450;
    color: #fff;
    font-size: 35px;
    margin: 0 auto 50px auto;
    cursor: pointer;
}

button:focus {
    outline: none;
}





/* Footer starts here */

.full-width-footer {
    width: 100%;
    height: 30px;
    background-color: #0b0b79;
}

#spacer {
    height: 60px;
    width: 100%;
    clear: right;
}

#footer {
    background-color: #0b0b79;
    width: 1155px;
    margin: auto;
    font-family: droid_sansregular, sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    padding-top: 3px;
}

#footer li {
    width: 500px;
}

#footer .toc{
    margin: 5px 0 0 10px;
}

#footer .copy {
    text-align: right;
    float: right;
    margin: -11px 0 0 0;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}
